[2019-01-07 18:50] clauswilke commented on #3059
The `gp` object is simply handed through to a `circleGrob()`, which understands `lwd` and `lty` arguments.
https://github.com/tidyverse/ggplot2/blob/1c09bae2aa24320bcb4891c664cccc16efc86a8a/R/grob-dotstack.r#L42-L45

[code]

![](https://i.imgur.com/AVrWoku.png)

<sup>Created on 2019-01-07 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-07 19:05] clauswilke commented on #2534
Ah, yes, I know what is happening. The strange lines you see arise because I'm drawing the polygons only with fill and not with outline. If I draw with outline then this will look fine, but it'll break when you turn on alpha. We can have one or the other but not both. Maybe needs to be made configurable.

As a test, I have now committed a patch that draws polygon outlines. Try it out, your case sh

[2019-01-07 19:22] clauswilke commented on #2534
Here you go.

[code]

![](https://i.imgur.com/arcXxml.png)

[code]

![](https://i.imgur.com/NsdYnly.png)

[code]

![](https://i.imgur.com/BxpgOCZ.png)

<sup>Created on 2019-01-07 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-07 20:47] m-macaskill commented on #3059
Thanks all. Certainly agree with @batpigandme and @yutannihilation that one can just eliminate the border altogether but sometimes it is nice to have just for aesthetic reasons (although it could also be used semantically, e.g. being linked to a variable to allow highlighting of certain points). So the suggestions by @yutannihilation and @clauswilke sound very promising.

As requested, a reprex sh

[2019-01-07 22:20] brodieG commented on #2534
Looks great.  Also looks like adding the [lwd specification](https://github.com/clauswilke/isoband/commit/45bb18e312e8e65fc877dfae9d76bd5a8a3c2b89#diff-461f87c72911487b073656d3322173b8R137) greatly reduces the jaggedness even with the iso lines in.

You've probably noticed is that with `polygon_outline=FALSE` you trade one evil for another as you can still see the faded NA color borders.  Granted

[2019-01-07 22:36] clauswilke commented on #2534
Yes. The more transparent, the better it looks with `polygon_outline=FALSE` . Alternatively, you can set `color = NA` and then play around with `size` until things look just right. I had to do similar things when I implemented the ggridges geoms that draw color gradients along the x axis.

[code]

![](https://i.imgur.com/0aeQsND.png)

[code]

![](https://i.imgur.com/MnmOuhI.png)

<sup>Created on 2

[2019-01-07 23:35] yutannihilation commented on #3059
@clauswilke I was wondering if the thickness of the border should affect the location of dots. But, it seems I thought too much... Thanks!

[2019-01-08 00:07] mdsumner commented on #2534
This is great!  I was confusing myself with grid.raster, but I'll just avoid that and mix base and grid graphics for testing.

[2019-01-08 09:47] ptoche commented on #3059
While we're on this topic, I have wondered in the past how hard it would be to extend the function to accept shapes other than dots, e.g. triangles, pentagons, stickmen. I haven't looked at the code very closely. Does it sound like a lot of work?

[2019-01-08 15:46] ptoche commented on #3059
A workaround of sorts based on ``geom_point`` (which I have been using as a substitute for ``geom_dotplot``). Not very scaleable because you need to tweak the ``size`` parameter for each case. Rather than stripping to the bare essentials, below is a convenience function I've used recently:

    # Data
    df <- data.frame(x =  1:20, y = 80)

    # dotplot based on geom_point
    ggplot_dot <- func

[2019-01-08 21:21] m-macaskill commented on #3059
@ptoche: that sort of output is perfect (the low bitmap resolution of my images was just the default output of the reprex: agreed, it really is the vector quality output where this attention to line width shines, and what I'm after).

But it would be nice to have this folded into the convenience offered by `geom_dotplot`, where one doesn't have to do all of the manual tweaking required by a custom

[2019-01-08 22:35] touala opened #3061 "Strip aesthetics inconsistency with facet_grid using switch="y""
I have an issue with strip border aesthetics when using `facet_grid(..., switch="y")` in both ggplot2 version `2.2.1` and `3.1.0`. In the example below, border size is different between x and y strip.

[code]

The other `element_rect` parameters (fill, linetype, and color) do not display the same behavior and `facet_grid(..., switch="x")` work as expected.

[code]

In `3.1.0`, I can correct y stri

[2019-01-09 09:34] thomasp85 opened #3062 "Consider adding "static" parameter to geom/stat functions"
The current approach to repeating a layer across panels is to not have the layer data contain the variable needed for the faceting. This is an approach also implemented in gganimate when it comes to having layers be static across the animation. While this works intuitively, I feel it often requires some additional dataprep before the plotting code, and sometimes require that layers that otherwise

[2019-01-09 09:45] clauswilke commented on #3062
I think this is a good idea. I very much adhere to the philosophy that we should optimize the API so we don't usually have to provide the dataset more than once. This is in line with @yutannihilation's gghighlight and my ideas for in-layer sampling in the ungeviz package.

I'm just not fully convinced about `static`.  A good name would make sense in the context of facets first. I can't think of an

[2019-01-09 09:51] thomasp85 commented on #2933
Is there any reason for not using `facet_grid(. ~ <some_var>)` for these cases? it gives you all you want...

[2019-01-09 09:56] yutannihilation commented on #3062
I couldn't agree this more! Currently, gghighlight needs ugly colnames (you cannot always remove the column as it might be mapped to a necessary aes) to prevent the unhighlighted data from being facetted:

https://github.com/yutannihilation/gghighlight/blob/8dc648cedad2b0f6137a4440b9973e3f9d4c24a0/R/gghighlight.R#L275-L291

[2019-01-09 11:14] thomasp85 commented on #3062
completely open to another name... too deep in animation at the moment to be able to think of something better though (except for `repeat` which I don't particularly like)

[2019-01-09 11:35] ilarischeinin commented on #2933
Maybe I am misunderstanding something, but that gives a a one-row layout, not one-column? Below is a reprex showing first the two plots from the original post, and this as the third.

[code]

![](https://i.imgur.com/gvaMalf.png)

[code]

![](https://i.imgur.com/1RUzu7n.png)

[code]

![](https://i.imgur.com/ECHGtZA.png)

<sup>Created on 2019-01-09 by the [reprex package](https://reprex.tidyverse.or

[2019-01-09 11:44] ilarischeinin commented on #2933
The proportional panel sizes for the first plot above is maybe not that clear, so here's the same thing with a discrete `y` variable.

What me and @mkoohafkan are after is the first plot, but with the facet labels on top.

[code]

![](https://i.imgur.com/kt5u7AE.png)

[code]

![](https://i.imgur.com/e04Ov8n.png)

[code]

![](https://i.imgur.com/tofgw3l.png)

<sup>Created on 2019-01-09 by the [repr

[2019-01-09 13:12] smouksassi commented on #3062
How would we handle the repetition when user wants to repeat along rows only or columns only ?
below is an example to calrify why we might want to do this. I think of it as if it was a margin but instead of having it in a separate panel we want it to be in the background so each panel becomes a "highlighted layer"
[code]

![](https://i.imgur.com/OVEYFjo.png)

[code]

![](https://i.imgur.com/LtEyXx

[2019-01-09 13:14] thomasp85 commented on #3062
The old approach would still work, but this would solve 99% of the needs in a more elegant way

[2019-01-09 16:20] ptoche commented on #3059
@m-macaskill Oh yes Michael, I only meant this as a workaround in case you needed something quick. In addition to the ``stroke``, ``geom_point`` also gives you the ability to label the count axis (though arguably it sort of defeats the supposed simplicity of dot plots).

[2019-01-09 16:33] ptoche commented on #3062
``common = TRUE``?

[2019-01-09 17:10] karawoo commented on #3061
Adding a reprex to show the plots:

[code]

![](https://i.imgur.com/wyu06GI.png)

[code]

![](https://i.imgur.com/7rxI9yN.png)

<sup>Created on 2019-01-09 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

The last time I saw [something like this](https://github.com/tidyverse/ggplot2/pull/2232#issuecomment-320807751) it was due to clipping being turned off, and was fixed in [thi

[2019-01-09 20:47] thomasp85 commented on #3062
My brain woke up again... `fixed` is obviously the right argument name, and already part of the *lingua ggplot2a*

[2019-01-09 21:53] yutannihilation commented on #3062
I don't think the argument have to be as generic as one word, since this is probably for expert-use. What about something like `ignore_facet` or `allow_facet`, if we allow users to choose which variables the data is static on?

[code]

If this doesn't make sense, I'll vote for @thomasp85's `fixed`.

[2019-01-09 22:19] buggaby commented on #2516
For what it's worth, I am experiencing the same error with the following data.
[code]
Rounding the variables in the ggplot mapping, as mentioned here, works.

[2019-01-10 00:13] yutannihilation commented on #2516
@buggaby Thanks, but it seems your data is not suitable for `geom_raster()`, which expects

[2019-01-10 04:38] ptoche commented on #2516
A shot in the dark:

    integerate <- function(x) ifelse(x > .Machine$integer.max, round(x), as.integer(x))
   .Machine$integer.max
    ## [1] 2147483647
    integerate(2147483647)
    ## [1] 2147483647
    integerate(2147483648)
    ## [1] 2147483648
    integerate(2147483647.4)
    ## [1] 2147483647
    integerate(2147483647.5)
    ## [1] 2147483648

[2019-01-10 05:47] thomasp85 commented on #3062
I would really like something that doesn’t mention facet as I want to use it in gganimate as well

[2019-01-10 06:19] yutannihilation commented on #3062
Ah, sorry, my understanding was wrong the context and how it's going to be implemented. Is this about whether to respect `PANEL` or not around here? (I thought this is about the implementation of `Facet`) If so, I agree with `fixed`.

https://github.com/tidyverse/ggplot2/blob/9eae13b3d17bde26cf9df649887b4a6bb2ac92ce/R/layer.r#L244-L248

[2019-01-10 08:56] thomasp85 commented on #3062
I haven't done any POC yet, but in general this should be a way for layers to broadcast that they are part of the "background", and not to be split up. It will certainly require some changes to the different facet implementations...

I just had the bright idea of allowing this argument to be either a logical or character vector defining what type of fixed the layer it should be (it will be up to t

[2019-01-10 09:41] smouksassi commented on #3062
isn't rows/cols only meaningful for facet_grid as in the facet_wrap  above the "row" is two rows. User will still have to make sure he specifies the order of layers right and  maybe with the new custom aesthetics user might want to have specific separate scales for these "background"/"reference" visual elements so we can have a kind of a legend defining what they are e.g. above we would have a fil

[2019-01-10 10:00] yutannihilation commented on #3062
Thanks for clarification, it makes sense.

I feel `row` and `frame` are too specific then.

[2019-01-10 10:18] yutannihilation commented on #3062
The user might want to control whether the data is split over

* the type of split (facet, animation)
* the name of variable (I guess this is what @smouksassi claims)

This is pretty complicated if we discuss all of them at once...

[2019-01-10 10:30] thomasp85 commented on #3062
I don't think the name of the variable should be mixed into this... that is part of the facet spec.

I'm envisioning multiple valid strings to be used

- `facet` will fix it during faceting (but not in animation or whatever else gets implemented)
- `facet-row` will fix it over facet-rows in `facet_grid` but be ignored otherwise
- `facet-col` like above
- `frames` will fix it over the animation (gg

[2019-01-10 11:30] yutannihilation commented on #3062
Ah, that's convincing. Thanks!

I'm curious about this part. So, though `frame` is suggested in doc, ggplot2 doesn't need to know how and by who that keyword will be used, right? If so, I agree with your idea.

[2019-01-10 11:33] thomasp85 commented on #3062
I don’t think `frame` should be mentioned in the ggplot2 docs. I just included it to show a non-facet use

[2019-01-10 12:57] yutannihilation commented on #3062
OK, then it looks OK to me, I just worried that ggplot2 would have to know about the implementation of gganimate.

[2019-01-10 13:10] yutannihilation commented on #2516
It saves us from the errors, but the some part of the raster will get lost then...

We should not shave the raster, but lower the resolution instead. For example:

[code]

But, this is not nice. I believe the `cutoff`'s reslution should be `0.111111111111111`.

[2019-01-10 13:39] thomasp85 commented on #3062
Ah, no. There need to be a strict separation IMO

[2019-01-10 15:01] touala commented on #3061
Ok, I did not realize I could directly embed plots with `reprex`. I will do it next time.

Good luck fixing that.

[2019-01-10 15:22] clauswilke commented on #3061
Related? #2772

I agree this looks like a clipping issue. I had a look at the code when #2772 was filed and couldn‘t immediately figure out where clipping goes wrong. It‘s not obvious.

[2019-01-10 23:20] peterhurford opened #3063 "`inherit` must be a R6ClassGenerator in winbuilder for ggplot code"
I'm trying to build an R package vignette with a very simple call to ggplot2 (plotting an ROC curve):

`ggplot(ValidationRocPoints, aes(x = falsePositiveRate, y = truePositiveRate)) + geom_line()`

(`ValidationRocPoints` is a list containing ROC curve data.)

I can run this fine from my Mac, but when I use the [CRAN Win-Builder](https://win-builder.r-project.org), I get the following error:

[code

[2019-01-11 09:46] ptoche commented on #3063
something to do with package ``R6``? Have you contacted @wch ? he might know.

[2019-01-11 09:57] ptoche commented on #3039
I think we agree this is a bug. How can I add a "bug" label to this issue? Do I need special rights or I have missed the icon on which to click? Currently it says "Labels: 'None yet'". Thanks.

[2019-01-11 14:43] peterhurford commented on #3063
@ptoche Thanks! It looks to involve R6 in some way, maybe within ggplot2 internals. My code does not use R6 directly.

[2019-01-11 15:08] clauswilke commented on #3063
ggplot2 doesn't use R6. I doubt this is a ggplot2 issue. In any case, it's difficult to debug without a reproducible example.

[2019-01-11 15:16] peterhurford commented on #3063
@clauswilke Agreed. I wish I had something better for you... thanks anyway for commenting. When I remove the `ggplot2` call, my error goes away.

[2019-01-11 15:23] wch commented on #3063
@peterhurford I found your [SO post](https://stackoverflow.com/questions/54138329/ggplot2-claims-that-inherit-must-be-a-r6classgenerator) about this, and this gist from @andybega which is referenced in one of the comments: https://gist.github.com/andybega/abed6a8dc097f86d936f61b377480e63

Looking at the code In that gist, the problem seems to be related to the scales package. I think it was probab

[2019-01-11 18:36] wch commented on #3063
Is it possible they're using an ancient version of ggplot2? In 1.0.1, I see the `structure(...., range = DiscreteRange$new()`, but in 2.0.0 it changed to `ggproto(...., range = discrete_range()`.

https://github.com/tidyverse/ggplot2/blob/v1.0.1/R/scale-.r#L149-L167
https://github.com/tidyverse/ggplot2/blob/v2.0.0/R/scale-.r#L612-L629

[2019-01-11 19:41] clauswilke commented on #3063
To be absolutely safe, it would be good to add the code from the gist to a vignette, though I would expect it will work.

@peterhurford If you want to help debugging this further, the next step is to start stripping parts from your package until you have the absolute minimal variant that still breaks on winbuilder. It could be that the problem is triggered by some dependency or other aspect of the

[2019-01-11 19:44] peterhurford commented on #3063
Thanks 100x @clauswilke and @wch for taking this issue of mine seriously and providing such useful analysis. My ggplot2 code reliably breaks winbuilder, so I will take lead from here to identify a minimal version that can be shared publicly. 👍

[2019-01-11 19:57] clauswilke commented on #3063
Actually, maybe a good first step is to comment out the `ggplot()` call in the vignette and place `library(ggplot2); sessionInfo()` somewhere in the examples, to test the hypothesis that an old version of ggplot2 is pulled in.

[2019-01-11 20:21] wch commented on #3063
One possibility is that a package (other than ggplot2) imported by your package did something like this: It saved some objects from ggplot2 at build time (which is generally a bad idea), and it re-exported those objects. If that package was built with an old version of ggplot2, then it would make the old version of those objects available to your package.

Without seeing your package, or better, a

[2019-01-11 20:26] yutannihilation commented on #3063
@peterhurford Is this the vignette?
https://github.com/cran/datarobot/blob/62ef66b559b14f20565b95320d83a4d582ba292b/inst/doc/AdvancedVignette.Rmd#L218

[2019-01-11 20:38] peterhurford commented on #3063
@yutannihilation Yes, that is the vignette.

[2019-01-11 20:38] peterhurford commented on #3063
@wch Thanks! I'll try to find a minimally breaking package.

[2019-01-12 04:09] dongzhuoer opened #3064 "add `plot(last_plot())` in function examples to make pkgdown website more vivid"
pkgdown's biggest feature is including output of examples, which is especially useful for ggplot.

But only plots which are automatically printed can be displayed in the pkgdown website. For some cases, like https://ggplot2.tidyverse.org/reference/borders.html

[code]

only the last plot (returned by `if` statement) is displayed
![image](https://user-images.githubusercontent.com/15871952/51069083-

[2019-01-12 04:12] dongzhuoer commented on #3064
I suggest that in `@examples`, use

[code]

so that reader can see every output.

[2019-01-12 06:58] ptoche opened #3065 "Consistent values of default aes in stats and geoms"
Default aes, as defined inside ``default_aes`` is not entirely consistent across the different stats and geoms found In ``stat-*.r`` and ``geom-*.r``. For instance, ``geom-smooth`` uses ``alpha = 0.4`` while ``scale-viridis.r`` uses ``alpha = 1``.  Many other geoms, however, set a default ``alpha = NA``.

Examples: ``"geom-path.r"``, ``"geom-segment.r"``, ``"geom-curve.r"``, ``"geom-abline.r"`` se

[2019-01-12 08:34] thomasp85 commented on #3065
There is no intention in ggplot2 to keep the defaults consistent across geoms/stats. The defaults are chosen out of consideration for each geom and it makes little sense to make them all the same

[2019-01-12 09:39] ptoche commented on #3065
Thanks. So no guidelines or suggestions at all?

For instance, if I extend an existing geom that currently supports only ``colour`` (default ``colour = "black"``) with a ``fill`` and ``alpha``, which would you recommend I choose:

   ..., fill = "grey20", alpha = 0.4, ...

   ..., fill = "grey20", alpha = NA,...

   ..., fill = NA, alpha = NA,...

No preference at all?

Thanks.

[2019-01-12 09:57] yutannihilation commented on #3065
I too think it totally depends on the type of Geom/Stat what default values are visually sound. For example,

this depends on your preference to draw it untransparent, or half-transparent, or not to draw. We cannot recommend you any default values until we hear what geom you are to implement.

To be fair, I agree some of your examples might be actually inconsistent, and we might be able to make it

[2019-01-12 10:02] ptoche commented on #3065
Thanks Thomas, thanks Hiroaki.

Think of the geom as a special case of a ``GeomPolygon``, say.

My preference would be to set ``fill = "grey20", alpha = 0.5``, because then I can just call ``geom_*(fill = "red")`` to get a transparent fill, instead of needing to set ``alpha`` explicitly, as in ``geom_*(fill = "red", alpha = 0.5)``.  Reasonable?

Unless there is a discussion over the next couple of

[2019-01-12 10:08] andybega commented on #3063
This probably muddles things more, but the instance of this problem that I had (in the gist) with R-devel on win-builder was resolved when I re-ran the checks yesterday. As far as I can tell I made no changes that would have been related to this :man_shrugging:

[2019-01-12 18:18] clauswilke commented on #3065
I agree with Thomas that different geoms can have different defaults. At the same time, I'd like to point to PR #2749, which is an effort to set geom defaults more systematically as part of a theme.

[2019-01-12 20:47] dpseidel commented on #3065
Yes thanks Claus, I was going to mention 2749 as well. I'm hoping to make fresh progress on it next week in time for tidyverse dev day.

[2019-01-13 04:48] ptoche commented on #3065
I'm closing since #2749 addresses the problem. Thanks to all for your comments.

[2019-01-13 04:48] #3065 closed

[2019-01-13 14:02] yutannihilation commented on #3063
@andybega
Thanks for the information, then it seems a temporary problem in win-builder...

@peterhurford
Congratulations for the success of datarobot on CRAN! 🎉 Can we close this?

[2019-01-14 03:02] yutannihilation commented on #3063
Oh, sorry to hear that...

Could you try win-builder again with the same source code when you have time? If that was a temporary problem on win-builder's side, it might success now. If it still fails, [r-package-devel](https://stat.ethz.ch/mailman/listinfo/r-package-devel) might be a better place to ask because the maintainers of win-builder are there.

[2019-01-14 03:32] ran88dom99 commented on #2900
Please do not always normalize weights. I already have a graph that conveys more info without normalizing. I used absolute values so that I could compare between facets.

[2019-01-14 05:31] peterhurford commented on #3063
Hey guys, I resubmitted the package with ggplot2 code to winbuilder and it did spontaneously work again. I dunno what 👻 caused the problem, but I can agree this is resolved. I'll be uploading the v2.12 package of datarobot to CRAN in about a month, so I'll have another run then to be sure. In the meantime, I'll close this issue.

Thanks again for all the wonderful help and for not dismissing this

[2019-01-14 05:31] #3063 closed

[2019-01-14 11:56] yutannihilation commented on #3063
Oh, wow...👻

That's a pity you need to wait for 1 month just because of a temporary problem. Anyway, I'm glad that the problem has gone. Wish you a luck on the next CRAN submission!

[2019-01-14 14:24] Eisit opened #3066 "geom_density_2d reference example does not work"
When trying to redo the example laid out in the [reference document for geom_density_2d](https://ggplot2.tidyverse.org/reference/geom_density_2d.html), the following snippet, for the second (!) plot:
`m + geom_density_2d(aes(fill = stat(level)), geom = "polygon")`
yields:
`Error in stat(level) : could not find function "stat"`

[Another user](https://stackoverflow.com/questions/52639161/i-am-getti

[2019-01-14 14:48] Eisit commented on #3066
Thank you.
`m + stat_density_2d(aes(fill = ..level..), geom = "polygon")`
works ("geom" replaced by "stat" in the name, "stat" replaced by ".." in the variables).

I didn't expect such lag between the Anaconda-provided packages and the official repos. Updating via the console nor the RStudio interface does not install version 3.0.0.

[2019-01-14 14:48] #3066 closed

[2019-01-15 12:08] thomasp85 commented on #3037
The problem is that the rectangles gets converted to polygons in closed form (first point gets repeated in the end), whereas polygonGrob expect an open representation... should be fairly easy to fix here:

https://github.com/tidyverse/ggplot2/blob/9eae13b3d17bde26cf9df649887b4a6bb2ac92ce/R/geom-rect.r#L75-L80

Note that this line also need to be adapted
https://github.com/tidyverse/ggplot2/blob/9e

[2019-01-15 12:13] thomasp85 commented on #3037
On that note I don't think it makes sense to add a lineend parameter to the geoms as they should be closed, while adding linejoin is sensible...

@yutannihilation can you update #3050 to create the correct polygon spec and remove lineend? I'm pretty sure it will break some visual tests, but it'll be more correct

[2019-01-15 12:19] thomasp85 commented on #3025
`geom_raster` assumes evenly spaced points so it makes sense that it does what it does... I don't think this geom is provided for use with anything but true raster data as the requirements are quite strict. You should use `geom_tile` whenever you don't have a complete and even grid...

[2019-01-15 12:31] thomasp85 commented on #2964
This is better suited for an extension package. Currently grid does not accept multiple different curvature values in `curveGrob` so it would require a fair bit of work to support it along with a measurable hit in performance

[2019-01-15 12:36] thomasp85 commented on #2933
Thanks - makes sense... I think it would make sense to change this issue to something like: "Add facet_col/facet_row"

That being said, it may have a better chance at being posted in e.g. [ggforce](https://github.com/thomasp85/ggforce)

[2019-01-15 12:38] thomasp85 commented on #2932
I think it makes sense to throw better errors but not to make geom_raster handle bad input data...

An error directing the user at geom_tile should be enough

[2019-01-15 13:21] yutannihilation commented on #3037
Opps, I didn't notice... Thanks, it makes sense. I will update so.

[2019-01-15 13:22] thomasp85 commented on #3037
It's a weird bug... probably a leftover from when the other representation made sense... recall anything @hadley ?

[2019-01-15 13:24] yutannihilation commented on #2991
+1

[2019-01-15 13:37] yutannihilation commented on #3025
Honestly, I want to make geom_tile() throw errors for discrete data. But, I'm afraid the change would break many existing codes. So, if we keep allowing discrete values, I want to stop raster cells overflow to the neighbourings at least.

[2019-01-15 13:40] thomasp85 commented on #3025
Yeah - erring out would probably be most sensible... but in liue of that I can understand the motivation for #3028

[2019-01-15 15:48] karawoo commented on #3037
FYI it also seems to be inconsistent, I can't reproduce with the reprex provided

[code]

![](https://i.imgur.com/65quZMg.png)

<sup>Created on 2019-01-15 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-15 16:10] ptoche commented on #3037
I (too) get this:

<img width="1193" alt="plot" src="https://user-images.githubusercontent.com/6339274/51193078-f87c7800-1922-11e9-9286-cbe629b38d3b.png">

Specs summary:
ggplot2_3.1.0.9000
grid_3.5.2
gtable_0.2.0
R version 3.5.2 (2018-12-20) -- "Eggshell Igloo"
Platform: x86_64-apple-darwin15.6.0 (64-bit)

[2019-01-15 16:21] DanielReedOcean commented on #3037
In response to the original SO question, someone else commented that they couldn't reproduce the issue on macOS either. @karawoo are you running on macOS, too?

[2019-01-15 17:34] karawoo opened #3067 "data.frame override hinders local development"
One consequence of `data.frame()` being overridden to throw an error (#2994) is that if I've loaded ggplot2 with `devtools::load_all()` I can't run any reprexes that use `data.frame()`. So if I'm working on a bug and have been given the following reprex:

[code]

I can't check my bug fix by running the reprex without changing the call to `data.frame()` and rewriting the code to avoid recycling.

I

[2019-01-15 17:41] clauswilke commented on #3067
Does `base::data.frame()` work?

Or:
[code]
?

[2019-01-15 18:10] karawoo commented on #3067
oh duh 🤦‍♀️ yes it does

[2019-01-15 18:10] #3067 closed

[2019-01-16 17:25] lionel- opened #3070 "Should facet + empty spec be a noop?"
Should these be equivalent to `ggplot(mtcars)` instead of failing?

[code]

Allowing empty specs would make sense in functions:

[code]

Then both of these would work, instead of just the latter:

[code]

[2019-01-17 03:58] thomasp85 commented on #3070
I think the error messages should be better but I don’t think facet_wrap should change itself to facet_null if the input is lacking.

[2019-01-17 04:54] lionel- commented on #3070
Why is an error better? I think it makes sense not to error because NULL/empty facets should only occur in programmatic cases. Handling the empty case sensibly makes the layer more composable and generally useful.

[2019-01-17 05:46] yutannihilation commented on #3070
I think this makes sense, considering `facet_grid()` generates at least 1 row/col even when there are no variables for row/col.

[2019-01-17 05:50] yutannihilation commented on #3037
Curious. Visual tests pass even on my Windows, so I guess this is a problem on Windows' graphic device?

[2019-01-17 22:16] wrightaprilm opened #3071 "Broken bibtex on site"
I have a package in review at [JOSE](https://jose.theoj.org/). Editor @labarba caught during the final renders that it looks like the bibtex entry on the site should be

@Book{,
  author = {Hadley Wickham},
  title = {ggplot2: Elegant Graphics for Data Analysis},
  publisher = {Springer-Verlag New York},
  year = {2016},
  isbn = {978-3-319-24277-4},
  url = {https://ggplot2.tidyverse.org},
}

but

[2019-01-18 18:13] renanxcortes commented on #2945
Hello, guys,

Hello, is this issue going to be merged in master? I think I'm facing the same problem, but I'm not really sure how to deal with it (I even tried to declare the data, but it seems it didn't work):

[code]

Kind regards,
Renan

[2019-01-18 19:24] dpseidel commented on #3071
Oh great! Yes, we'd welcome a PR. I wonder however if, given this is a citation for the book not the package, perhaps the link should be to https://github.com/hadley/ggplot2-book? or perhaps https://www.springer.com/gp/book/9783319242750? @hadley, what do you think?

[2019-01-19 04:25] yosukefk opened #3072 "scale_color_distiller with divergent palette does not produce mid-color correct"
When scale color distiller is used with divergent color palette, color for mid point does not have the mid point specified by http://colorbrewer2.org.  For example, RdBu uses #f7f7f7 for mid color when number of divisions are odd.   But with distiller, I am getting #e9e0db which has slight pink shade.  I believe it should give neutral color for the mid point.  Fix is very easy, change the argument

[2019-01-19 12:31] ptoche commented on #2776
Help needed, if you have a moment anyone. I currently have several questions. Thanks.

**1**

Pretty basic question.

I've written a custom ``draw_key_custom``. If I add it to the file ``legend-draw.r``, I can call it from the geom with

    draw_key = draw_key_custom

But if I save it in a separate file, say, ``legend-draw-custom.r``, I get an "object not found" error. Do I need to export it or s

[2019-01-19 13:31] clauswilke commented on #3072
Yes, I agree. Diverging color scales need an uneven number of colors before interpolations. This may be a good issue for the dev day today.

[2019-01-19 14:04] hadley commented on #3071
I think the main website is probably best

[2019-01-19 14:04] hadley commented on #3071
Data comes from `inst/CITATION` IIRC

[2019-01-19 15:12] dariyasydykova commented on #3072
I am claiming it for tidyverse dev day.

[2019-01-19 15:15] sowla commented on #3064
I'd like to claim this :)

[2019-01-19 15:19] malcolmbarrett commented on #2818
I'll start with this one for dev day

[2019-01-19 15:36] JamesCuster commented on #3071
I will work on this for tidyverse dev day 2019

[2019-01-19 15:37] hlendway commented on #3053
I will work on this for dev day :-)

[2019-01-19 15:54] malcolmbarrett commented on #3029
I'll work on this

[2019-01-19 15:58] clairemcwhite commented on #3060
I'll work in this for dev-day

[2019-01-19 16:41] #2697 closed

[2019-01-19 16:54] #3071 closed

[2019-01-19 17:18] karawoo commented on #3072
@dariyasydykova I forgot to mention that when you do a PR for this you should add a bullet to NEWS.md describing the change. It's probably worth adding a test as well. Come find me if you want help with that.

[2019-01-19 17:30] #2818 closed

[2019-01-19 17:42] yosukefk commented on #3072
Ow...  this dev day was in my town should have known earlier!  Have fun, all!

[2019-01-19 17:56] #2772 closed

[2019-01-19 17:57] karawoo commented on #3061
Closed in #3068

[2019-01-19 17:57] #3061 closed

[2019-01-19 18:14] #3029 closed

[2019-01-19 19:03] clauswilke opened #3083 "not-run example in labeller() depends on unimported plyr"
When @thomasp85 removed plyr, an example was changed so it doesn't run anymore. Since the example is in `\donttest{}`, the problem doesn't get flagged in automated testing.

The problematic line is here:
https://github.com/tidyverse/ggplot2/blob/f0da3d0cb8d6859976339bdf245f21b48991d640/R/labeller.r#L401

The formatted code in the example looks like this:
[code]
I see three possible fixes. Not sure

[2019-01-19 19:36] #3042 closed

[2019-01-19 19:44] dariyasydykova commented on #3072
The issue has been fixed by changing the number of colors generated by `brewer_pal` from 6 to 7. The mid-point now has a color that matches the mid-point on the color scale. This change was implemented in `scale_color_distiller()`. The function `scale_fill_distiller()` also had this issue and was also fixed.

[code]

![](https://i.imgur.com/p6ES0Hn.png)

[code]

![](https://i.imgur.com/rLjwIhN.png

[2019-01-19 19:46] connorlewis commented on #3083
After speaking with @thomasp85, I will fix this issue by changing the example to use base R, instead of any dependency on plyr.

[2019-01-19 21:47] clauswilke opened #3088 "Break sf.R into logical pieces"
Currently all sf code lives in file `sf.R`. As per discussion with @hadley, we should break this into logical pieces, `coord-sf.R`, `geom-sf.R`, `stat-sf.R`, etc. as needed.

[2019-01-19 21:55] dariyasydykova opened #3090 "geom_hline() and geom_vline() overwrite provided data frame"
This comes from a discussion with @clauswilke. The issue here is related to #2950 but somewhat different.

When a data frame is provided to `geom_hline()`, it is overwritten. The problem seems to be in the following code chunk:
https://github.com/tidyverse/ggplot2/blob/3c3062d1a37a3ab3f26dc9d85904fc4d72acde8a/R/geom-hline.r#L12-L17

Here is a reprex to demonstrate this issue:

This works as expect

[2019-01-19 21:57] #3072 closed

[2019-01-19 22:05] #3064 closed

[2019-01-20 03:16] yutannihilation commented on #3018
After a short discussion with @thomasp85 and @hadley, and #3048 actually seems difficult, I'd concude that we cannot use tibble for internal uses; it's technically possible, but it requires a lot of work while the gain is small. So, if we agree with this argument by @clauswilke, I will close this issue.

For a side note, I think it's good if we describe a concrete spec for internal data.frame. It'

[2019-01-20 03:36] clauswilke commented on #3018
I agree.

[2019-01-20 04:17] #3018 closed

[2019-01-20 04:32] #3016 closed

[2019-01-20 19:36] eliocamp opened #3093 "Add position_voronoi"
I saw [this tweet](https://twitter.com/thosjleeper/status/1086763155164983298) about a clever algorithm for labeling points and agreed that an R implementation would be nice. I thought that a natural place to be would be in ggplot2 andcame up with this:

[code]

It computes the voronoi tessellation and for each group selects the point
associated with the biggest area.
As an example:

[code]

![](h

[2019-01-20 22:16] #3083 closed

[2019-01-21 01:01] #3059 closed

[2019-01-21 05:49] clauswilke commented on #3093
I think there's three possible places this could go:

1. ggplot2
2. ggforce
3. ggrepel

@hadley will have to make the decision regarding ggplot2.

[2019-01-21 15:04] clauswilke commented on #3053
Closed via #3079.

[2019-01-21 15:04] #3053 closed

[2019-01-21 17:01] hadley commented on #3093
I think ggrepel would be the best fit, because you could implement the full algorithm since ggrepel can do layout at draw time.

[2019-01-21 17:15] hadley commented on #2960
Not sure what I was thinking here

[2019-01-21 17:15] #2960 closed

[2019-01-21 23:37] eoppe1022 opened #3094 "Characters on x axis look weird and unaligned when angle > 0 & angle < 90"
Hi everyone,

I'm having a bit of weirdness when angling text on the x axis (at angles besides 0 and 90). It looks like the text itself is internally unaligned -- by that, I mean that the text itself isn't on a straight line. Check the pictures below if that's unclear.

Any ideas what's going on? I [think] I checked the closed and open issues pretty thoroughly, and I haven't seen anybody bring thi

[2019-01-22 03:06] clauswilke commented on #3094
This looks pretty bad. Unfortunately, there's not much we can do about it, because this is happening at a layer below ggplot2. One thing I notice is that the resolution of the image seems to be low. Could you try rendering a png at a higher dpi and see if it fixes things?

[2019-01-22 09:45] skinner33 commented on #2885
I'm experiencing this issue as well. Based on one of the examples from the documentation I've created the following examples:

This works as expected
[code]

![](https://i.imgur.com/njNzPtM.png)

<sup>Created on 2019-01-22 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

This does not:
[code]

<sup>Created on 2019-01-22 by the [reprex package](https://reprex.tidyverse.org) (v0

[2019-01-22 09:54] adrfantini commented on #2673
@thomasp85 have you managed to take a look at this? I cannot code, but I am more than willing to help with testing if that can be of any use.

[2019-01-22 12:39] ptoche commented on #3094
and if you output a PDF and zoom on it, does it still look bad?

[2019-01-22 13:07] osorensen opened #3095 "z aesthetic missing in geom_contour documentation?"
I wonder if the `z` aesthetic is missing in the documentation to `geom_contour`. `z` is not mentioned at all, but running `geom_contour` without `z` causes it to fail.

[code]

<sup>Created on 2019-01-25 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

https://github.com/tidyverse/ggplot2/blob/da6ea8df66c2f7bf2f690e887a9178e50c2aa872/man/geom_contour.Rd#L79-L93

[2019-01-22 13:42] hadley commented on #2885
Given this is a grid error, probably best for @thomasp85 to look into.

[2019-01-22 16:41] eoppe1022 commented on #3094
Wow, so I saved the image as a PDF (via clicking "Export" and clicking "Save as PDF") and everything looks totally fine! Very weird.

[Rplot05.pdf](https://github.com/tidyverse/ggplot2/files/2783708/Rplot05.pdf)

And it's fine here when I use ggsave and save it as a PNG (with dpi = 320)

![image](https://user-images.githubusercontent.com/24831598/51550509-74525500-1e3a-11e9-82ff-22ad09b2057b.png)

[2019-01-22 16:50] eoppe1022 commented on #3094
Also, here I used `ggsave` with dpi = 200, and the problems arise again. So it definitely might be a low resolution thing -- so weird!

![image](https://user-images.githubusercontent.com/24831598/51551167-e24b4c00-1e3b-11e9-8666-a55c9250b6cc.png)

[2019-01-22 17:14] karawoo commented on #3094
I'm going to close this as it's not specifically a ggplot2 problem, but hopefully saving images at higher resolution is a good solution for you.

[2019-01-22 17:14] #3094 closed

[2019-01-23 07:42] jtelleria opened #3097 "Feature Request: "facet_wrap" Argument which creates Multiple Plots (Instead of 1 with Subplots)"
If I want to divide a plot into subplots based on the values of one or more discrete values, the easiest way is through faceting:

[code]

But If I want to generate multiple plots at once, that is, divide previous subplots in plots by themselves, I would need to do the following:

[code]

Would it be possible that facet_wrap() function gains an argument that allows to generate easily multiple plot

[2019-01-23 08:38] yutannihilation commented on #3097
The idea might be interesting, so it can be an external package, but I think this is outside of the scope of ggplot2.

Creating multiple plots are not so difficult, you can split the data and apply functions. For example:

[code]

![](https://i.imgur.com/jheqKHf.png)

<sup>Created on 2019-01-23 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-23 08:39] thomasp85 commented on #3097
this is already available with `ggforce::facet_wrap_paginate()`

[2019-01-23 14:12] jtelleria commented on #3097
After checking ggforce package, `r ggforce::facet_wrap_paginate` does not do the same, as puts the plots within a single graphics device.

Instead, previous lapply code works:

[code]

[2019-01-23 14:16] thomasp85 commented on #3097
Unsure about what you mean regarding `facet_wrap_paginate()` as it allows you to put each page wherever you want (you are free to use whatever method you prefer of course)

I'm going to close, as it appears to be resolved

[2019-01-23 14:16] #3097 closed

[2019-01-23 14:17] jtelleria commented on #3097
Thank you for the answers

[2019-01-24 06:33] clauswilke commented on #2534
Since we don't currently have good support for polygons with holes in ggplot2, I decided to write some code that can convert isobands to sf objects. This means you can reproject your contour bands as desired. The conversion is quite a bit slower than the initial contouring, but still takes only about 2 seconds for a realistic dataset.

(My secret goal is to be able to animate contours. I think thi

[2019-01-24 12:08] thomasp85 commented on #3093
ggrepel is certainly an obvious choice, but I guess it would require a new dependency on deldir... ggforce already has this dependency so if @slowkow don't want to have it it will be natural there...

[2019-01-24 12:13] thomasp85 commented on #3070
But in `facet_grid` you ask for this explicitly by providing a `.` at either side of the formula...

I think my major gripe is that this can lead to situation where users mistype the name of the faceting variable and then get this single panel view without any errors or warnings... but @Hadley should be the judge of that...

[2019-01-24 12:31] thomasp85 commented on #3070
Ah - this is purely for `NULL`...

[2019-01-24 12:37] thomasp85 commented on #3070
I don't think

[code]

is too complicated, but of course accepting NULL will be more magical. I just tend to dislike objects changing class (FacetWrap -> FacetNull) based on the input data... ¯\_(o_O)_/¯

[2019-01-24 12:49] lionel- commented on #3070
I don't think it's changing class. An empty FacetWrap behaves as a FacetNull, which makes sense to me. Just like `character(0)` behaves as `NULL` in some contexts such as concatenation.

[2019-01-24 12:55] thomasp85 commented on #3070
For all intend and purpose it will change class as it will behave just like FacetNull... I'd expect FacetWrap to create panels with strips etc., which will not happen as there is not anything to put in them...

I dunno... I'm against, but not vehemently, so if anyone else weighs in in favour I'll concede...

[2019-01-24 13:07] yutannihilation commented on #3070
You know, it's "for compatibility with the classic interface" as the doc says. Now we have `rows` and `cols` and their defaults are `NULL`.

[2019-01-24 13:08] thomasp85 commented on #3070
fair point...

[2019-01-24 13:25] smouksassi opened #3099 "Error in scale_index[[i]]: subscript out of bounds when we have layers with different datasets and facets with free scales"
---
When having a composite ggplot with a data subset per layer setting scales = "free" gives an error.
What is fundamentally wrong with this approach ?
setting scales to fixed don't produce an error

[code]

![](https://i.imgur.com/jWAX8gI.png)

<sup>Created on 2019-01-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-24 14:44] clauswilke commented on #2534
Yes, non-overlapping. You can see this by calculating only every second band (see below).

I had to write code that looks at all polygon boundaries and figures out which are outer boundaries and which are holes, since sf wants polygons that way. By the way, I can speed up the conversion by assuming the polygon boundaries are never in an inconsistent internal state. I just committed that fix and no

[2019-01-24 15:02] mdsumner commented on #2534
You know I'm going to steal this and use it a lot everywhere

[2019-01-24 15:05] mdsumner commented on #2534
Oh, and this is perfect for chaining GG aes() calls to declare arrangements from raw data, that end in spatial objects, not just graphics - lines and points are trivial but you just completed the circle.

[2019-01-24 15:39] flying-sheep opened #3100 "Allow multiple functions in stat_summary_*"
I found myself needing this, as I wanted to use multiple aesthetics on a summarized value.

Generally I’d like to be able to do e.g.

[code]

Design considerations would be:

1. How to deal with `fun.args`? Do we simply throw an error if it’s specified and more than one function is passed?
2. How to do the `default_aes`? Should we simply use the first function’s return value as `stat(value)` if no

[2019-01-24 16:18] slowkow commented on #3093
I agree with @thomasp85:
- ggplot2 and ggrepel do not depend on deldir.
- ggforce depends on deldir, so it is a natural place to put more functions that depend on deldir.

---

I believe the feature we are discussing is **labeling groups of data points**.

It is already done in directlabels:

<details>
<summary>directlabels</summary>

<h2>directlabels</h2>

[directlabels] does this well with `geom

[2019-01-24 16:50] karawoo commented on #3099
What version of ggplot2 are you using? I can't reproduce this error with 3.1.0.

[2019-01-24 19:48] smouksassi commented on #3099
other attached packages:
[1] ggplot2_3.1.0.9000 usethis_1.4.0      devtools_2.0.1

[2019-01-24 20:46] hadley commented on #2896
This doesn't seem like a ggplot2 bug, so I'm going to close the issue.

[2019-01-24 20:46] #2896 closed

[2019-01-24 21:41] karawoo commented on #3099
Ah, looks like this was introduced in #3013. Having any one of the additional layers using subsetted data causes the error. The problem is here:
https://github.com/tidyverse/ggplot2/blob/1f259f489fa2c88d85812e6a14a24443c1aebd5c/R/layout.R#L275

Taking the following example:

[code]

<sup>Created on 2019-01-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Before the removal

[2019-01-24 21:45] thomasp85 commented on #3099
Thanks for dissecting that @karawoo — I’ll make sure to fix it

[2019-01-25 09:01] yutannihilation commented on #3037
It seems we still need `lineend` even after fixing the polygon representation. Here's the result after https://github.com/tidyverse/ggplot2/pull/3050/commits/43eafa85634156fe35901e5c732ee3900c5c0449:

[code]

![](https://i.imgur.com/91qTvaU.png)

<sup>Created on 2019-01-25 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-25 09:07] thomasp85 commented on #3037
o_O - that does not make any sense at all... maybe this is a windows issue (assuming that you're on windows...

what do you get if you run:

[code]

[2019-01-25 09:10] yutannihilation commented on #3037
Oh... Here's the result.

[code]

![](https://i.imgur.com/C4GPogi.png)

<sup>Created on 2019-01-25 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-25 09:14] thomasp85 commented on #3037
ok, that is not what I get (i.e. I get even corners all around)

This is a grid bug (or even a windows device bug) - @pmur002 do you have any idea where this comes from..?

[2019-01-25 09:21] yutannihilation commented on #3037
Hmm, thanks. Sorry that I haven't noticed this is the problem on Windows more earlier...

[2019-01-25 10:53] flying-sheep opened #3103 "Allow scale_alpha_continuous(guide = 'colourbar')"
Currently this raises an error, although I don’t see a reason why. A continuous alpha should by default be represented by a alpha gradient as legend, not sample swatches.

Maybe `guide_colourbar` should have been called `guide_gradientbar`, but that’s not a big problem.

[2019-01-25 11:01] thomasp85 commented on #3103
The reason is that it hasn't been implemented. My guess is the major stumbling block has been to figure out a correct way to merge alpha and colour guides in the same way as done for `guide_legend` as it is not always that alpha affects the same part of the geom (sometimes fill, sometimes colour)

[2019-01-25 13:19] katossky opened #3104 "Polygons covering each other in density_2d prevents from using alpha for layer"
In the following diagram, points are not uniformly masked by the new layer. Because each polygon has an alpha argument, the most central polygon is actually virtually opaque. I would expect on the contrary polygons not to overlap each other, so that the alpha parameter applies uniformly over the contour layer.

[code]
![rplot](https://user-images.githubusercontent.com/13658517/51747918-1c6e5500-20

[2019-01-25 14:43] clauswilke commented on #2534
The isoband package (https://github.com/clauswilke/isoband) now contains only the low-level code. I think I'll be able to submit a first version to CRAN soon.

The ggplot2 interface now lives at https://github.com/clauswilke/ggisoband. The intend is to eventually integrate this code into ggplot2 proper, but a few design decisions still need to be hashed out, and it may have to wait until better po

[2019-01-25 14:52] brodieG commented on #2534
Should we close this issue in favor of "integrate `ggisoband`"?  Or leave it open until that is actually done?

[2019-01-25 15:00] clauswilke commented on #2534
I think the right issue to keep open is #3044.

[2019-01-25 16:47] eliocamp commented on #3093
I also agree that directlabels seems like a better place, implemented as an alternative `method`. I still like the implementation as a positional function because it makes the method portable to any geom. I see no reason why don't have it both. [insert meme here]

If it's ok with everyone, after I return from vacation, I'll add something like `position_voronoi()` (name pending) to ggforce and also

[2019-01-25 20:06] #3099 closed

[2019-01-26 01:21] #3043 closed

[2019-01-26 10:41] x1o opened #3105 "Multipanel plots"
Would it be possible to add support for multipanel plots in ggplot2?

I have bar charts faceted by stock symbol name:

![barchart-faceted-by-symbol](https://i.stack.imgur.com/HYad8.png)

Now, I would like to be able to add a little "subplot" of an indicator below each plot, similar to how it is done in `quantmod` package (with base graphics, I believe):

![quantmod-subplot](https://i.stack.imgur.c

[2019-01-26 10:59] ptoche commented on #3105
Do you mean something like [this](https://stackoverflow.com/questions/14817006/ggplot-version-of-charts-performancesummary)?

[2019-01-26 11:05] x1o commented on #3105
@ptoche, yes, AND faceted by a variable (symbol name).

And in 5--10 lines, not 157.

[2019-01-26 11:30] thomasp85 commented on #3105
This is not something that will be added to ggplot2, but you could write your own faceting class or use one of the packages available for assembling plots, like patchwork or cowplots

[2019-01-26 11:30] #3105 closed

[2019-01-26 11:34] x1o commented on #3105
@thomasp85, why not?

[2019-01-26 15:30] thomasp85 commented on #3105
Being one of the developers I can attest that the cost of a new feature is much more driven by maintaining it than by doing the initial development — this is doubly true for facets due to their complexity

[2019-01-26 17:19] x1o commented on #3105
Thanks Thomas, I am happy using ggplot owing almost entirely to the effort and dedication of the dev team. ~~Despite the fact that it isn't really suitable for any serious finance as of now.~~

[2019-01-26 21:58] brodieG commented on #2534
I'll close this one then.

[2019-01-26 21:58] #2534 closed

[2019-01-27 03:39] cschwarz-stat-sfu-ca opened #3107 "geom_sf does not interact with scale_fill_gradient2 properly"
geom_sf doesn't deal with scale_fill_gradient2 properly. Rather than taking the "mean" or some other central value, it appears to assume that mid=0. For example, in the first example, there is no color spread. In the second example, I subtracted the approximate middle value and it works properly.

[code]

[2019-01-27 05:00] clauswilke commented on #3107
That is literally how the scale works, as described in the documentation:

The scale can't guess what you want the midpoint to be. You have to either tell it or transform the data so the midpoint lies at 0. Setting the midpoint to 0 is the only reasonable default assumption for a diverging scale.

[2019-01-27 05:00] #3107 closed

[2019-01-29 02:40] pmur002 commented on #3037
I see it (only on Windows).  This appears to be a bug (or at least a poor design choice) in *graphapp* (that underlies the Windows device).  graphapp's rectangle drawing draws a polyline, so what we are seeing is a line being drawn from the top-left corner around the perimeter of the rectangle.  So the rounded top-left corner is round because of the rounded line start and end.  You can work around

[2019-01-29 03:13] yutannihilation commented on #3037
Thanks!

I think it's possible, since we already specify `lineend` for rect (from [the very beginning](https://github.com/tidyverse/ggplot2/commit/a916e7d9fcd1e20234ccb1bc1012624d3fb72853#diff-5288042192750f1f50324d84423ac538R29)), we can just change this to `"square"`.

https://github.com/tidyverse/ggplot2/blob/256b26ab70c87d760d92ceadd67b549dae74a06a/R/geom-rect.r#L61

[2019-01-29 10:37] flying-sheep commented on #2751
this way one could also deal with a hybrid `facet_{grid,wrap}` I often want, i.e. `facet_grid` with additional per-facet titles. currently this is only hackable via

[code]

[2019-01-29 18:24] clauswilke commented on #2991
There's a somewhat related issue that could be fixed at the same time: #2525

[2019-01-29 22:06] wongjingping commented on #3021
sounds good, thanks!

[2019-01-29 22:06] #3021 closed

[2019-01-30 15:41] MaximOtt opened #3112 "Introduce new alpha parameter for lines of geom_density(), geom_bar(), and so on"
(It's my first time, and I am really sorry if I waste someones time to close and delete this, but I am kinda confident, that it is the right place.)

I open this issue (again), because as I read it, the last time no real solution was agreed upon, and the confusing behavior is not (easily) resolved. The issue in question can be found here:

https://github.com/tidyverse/ggplot2/issues/1371

The disc

[2019-01-30 16:03] batpigandme commented on #3112
If you want the border to have the same behaviour as the fill, you could just eliminate the border line:
[code]
![](https://i.imgur.com/xIk8vgO.png)
<sup>Created on 2019-01-30 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-30 16:08] MaximOtt commented on #3112
Goddamit, sometimes its just so easy. I spent a day on this, thanks a lot!

[2019-01-30 16:11] batpigandme commented on #3112
Happens to the best of us! I'm gonna go ahead and close this, since I think compelling arguments have already been made in the threads you cited. 🙂

[2019-01-30 16:11] #3112 closed

[2019-02-01 16:21] #3088 closed

[2019-02-02 20:20] rpruim commented on #2829
@clauswilke : One clue that someone is doing this would be if all of the aesthetics have the same value in each row.

Just as a reminder from #2790, setting `data = data.frame()` works (even though the data frame has 0 rows, you still get one copy of the geom), but setting`data = NULL` or `data = NA` does not work, although those would communicate more clearly that the user intends to use a geom o

[2019-02-03 06:35] ptoche commented on #2829
The problem comes up every once in a while. For reference:

https://stackoverflow.com/questions/14130943/ggplot-legend-showing-transparency-and-fill-color

https://github.com/tidyverse/ggplot2/issues/2529

[2019-02-03 14:20] billdenney opened #3115 "Feature Request: Allow reversing discrete scales"
In many scenarios across aesthetics (x, y, fill, colour, and probably anything discrete), it would help to have the option to reverse factor levels on a discrete axis.

What would you think of a PR for one of the options below?

However this is implemented, it would also propagate to a change in the scales package.  I think that the simplest change would be to make a `scales::reverse_trans_discret

[2019-02-03 16:44] clauswilke commented on #3115
Maybe one option would be to allow functions as limit arguments, just like we do for labels?

[code]

![](https://i.imgur.com/7lCVBaU.png)

[code]

![](https://i.imgur.com/rJTdCqv.png)

[code]

<sup>Created on 2019-02-03 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-03 16:47] clauswilke commented on #3115
There's an old (abandoned?) PR about a similar topic for continuous scales: #2334

[2019-02-03 16:58] billdenney commented on #3115
The PR seems like it would be a good fit if applied to discrete scales (and it would help to add that to the documentation with a reversing example, too).

[2019-02-03 21:02] paleolimbot opened #3116 "Feature request: allow access to the trained scales from the `layout` object"
This is a fairly easy (I think) feature to add that would help me implement lazy reading of huge raster files (a stars proxy object), such that they can be downsampled appropriately. To do this, I would need access to the trained scales (for the `fill` and `alpha` aesthetics at draw time. Right now there is no way to access the trained scales except limited information about them in the `panel_par

[2019-02-03 21:11] clauswilke commented on #3116
I think this feature would also help with generating filled contours at draw time from the new binning scale @thomasp85 is implementing. See #3044 and #3096.

[2019-02-03 21:18] clauswilke commented on #3044
Since we have closed #2534, I think filled contours are back on the table for this issue. A first release of the isoband package is on CRAN, so we have the underlying functionality to generate filled contour polygons: https://cran.r-project.org/web/packages/isoband/

Some additional thoughts:
1. An alternative ggplot2 interface to contour lines and areas is available here: https://github.com/claus

[2019-02-04 14:15] clauswilke commented on #3116
If you want to dig around some more in the ggplot2 code to develop potential strategies of how we can get scales info into the geom that would be helpful. Ideally, before we start coding, we'd have a list of potential approaches, each with pros and cons, and then we can make an informed decision about how to proceed.

[2019-02-05 06:52] clauswilke commented on #3044
Proof of concept for labeled contour lines.

[code]

![](https://i.imgur.com/TUInUkf.png)

<sup>Created on 2019-02-05 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-06 18:23] topepo opened #3117 "bad theme error message"
We issue a clear warning below but new users may not understand the severity. A better error message when rendering the plot would be an improvement

[code]

![](https://i.imgur.com/zzwX58v.png)

Created on 2019-02-06 by the [reprex
package](http://reprex.tidyverse.org) (v0.2.0).

[2019-02-06 18:35] clauswilke commented on #3117
I'm in the process of rewriting how themes are set, combined, and processed (#2784), so it'll probably make sense to fix this issue in that rewrite.

[2019-02-07 17:12] brfitzpatrick opened #3118 "geom_density displays a distribution with non-zero variance for a group containing only zeros"
`geom_density( )` appears to be estimating a variance for a group that contains only values of zero.

[code]

![2_densities](https://user-images.githubusercontent.com/6220438/52428274-ec3ea180-2b01-11e9-86f2-623997b62fcf.png)

However when supplied with just the data from the group that only contains entries of zeros `geom_density( )` displays a point mass at zero.

[code]

![1_density](https://us

[2019-02-07 17:30] clauswilke commented on #3118
That's because the default for `trim` is `FALSE`, which facilitates stacking of densities. For non-stacked densities, `trim = TRUE` is arguably better.

[code]

![](https://i.imgur.com/wXFq1nn.png)

<sup>Created on 2019-02-07 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-07 17:30] #3118 closed

[2019-02-07 17:49] brfitzpatrick commented on #3118
Thank you for your reply, it's good to know how to disable this behaviour.
Is it not of concern though that a group containing only repeats of a single unique value is displayed as having a distribution dispersed about this value?

[2019-02-07 19:32] karawoo commented on #3118
I don't think so? I think that is true whenever you calculate density beyond the exact range of the data. In ggplot2 the default is to use the range of the entire dataset (again to facilitate stacking), but the default behavior of `stats::density()`, which ggplot2 uses to calculate density, also does this:

[code]

![](https://i.imgur.com/C5v5OzA.png)

<sup>Created on 2019-02-07 by the [reprex pac

[2019-02-07 19:46] clauswilke commented on #3118
Yes, I agree. At some point, the onus is on the person preparing the plot to ensure the plot makes sense. We cannot protect against every possible way in which density plots may be misleading. If, say, we added a check for groups with zero variation, then the next question would be why we don't also check for groups with only two distinct values (see example below). Ultimately, these are known pot

[2019-02-08 09:44] brfitzpatrick commented on #3118
Ok, thank you both for taking the time to discuss this issue.  That's a good point about it being important to check that the output of `geom_density( )` makes sense. In the original example comparing boxplots produced for each group to density plots produced for each group would quickly highlight the group containing only zeros and a user could then make a decision about the use of the `trim` arg

[2019-02-08 20:31] bdschwartzkopf opened #3119 "How to have duplicate label for each row and column in facet_wrap"
Hi,
Is there a way to repeat both the x and y title in facet_wrap for each row and column?
This is the original plot

![test_facet](https://user-images.githubusercontent.com/34198424/52504446-61ab8000-2b9d-11e9-80ca-6eafcf126e82.jpeg)

And this is how I would like the plot to look (labels added manually with another program)
![test_facet copy](https://user-images.githubusercontent.com/34198424/525

[2019-02-09 06:17] ptoche commented on #3119
Would this question be suited for stackoverflow? In any case, make a minimal example with a dataset like ``mtcars`` and, on github, present it with the ``reprex()`` package.

[2019-02-09 21:04] Torvaney opened #3120 "Objects added by annotation_custom not shown after scale_*_reverse"
Custom grob objects are not scaled with `scale_*_reverse`, although standard annotations are.

Possibly a duplicate of #484 and #500.

[code]

![](https://i.imgur.com/BIfXsX2.png)

[code]

![](https://i.imgur.com/XtnuGnp.png)

Created on 2019-02-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2019-02-10 03:23] yutannihilation commented on #3120
Thanks. This seems because `annotation_custom()` contains locations not as `data` but as `params`, so the values of `xmin` etc won't get changed by scales. You are right this is the duplicate of #484 and #500.

https://github.com/tidyverse/ggplot2/blob/0e93806f8e9ccbb8ba026215d62b58e05e0398f6/R/annotation-custom.r#L45-L58

I'm not sure why this was designed so, but at least it should show warnings

[2019-02-10 03:33] clauswilke commented on #3120
Would it be possible to fix this properly, by making them aesthetics?

[2019-02-10 03:39] yutannihilation commented on #3120
Yes, probably.

[2019-02-10 08:08] yutannihilation commented on #3120
@clauswilke

I' trying this in #3121. Is this what you expect?

[2019-02-10 08:50] yutannihilation commented on #3119
No.

I take this issue as a feature request for a kind of per-facet labels, but I don't think ggplot2 will support it (except for the current "strip label"). Probably, you'll need to split data, and make one plot per one split, and combine them nicely, which I guess will be able to be done nicely with @thomasp85's [patchwork](https://github.com/thomasp85/patchwork) (someday).

At the moment, you w

[2019-02-10 13:10] gibran-ali opened #3122 "Inconsistencies in how -inf is handled on the log scale between geom_box and geom_point"
Hello,

I think ggplot is inconsistent in how it treats -inf in log scale. Below are two plots that display similar information. In the first case, I use a box plot to show the 25th, 50th, and 75th percentiles of the example dataset on a log scale. As you can see, it removes the 0 (or - inf values on the log scale) and creates the box plot from the remaining data points.

In the second example, I

[2019-02-11 00:28] yutannihilation commented on #3122
For record, this is cross posted here:
https://community.rstudio.com/t/ggplot-treatment-of-inf-on-log-scale-y-axis-inconsistent/23462

[2019-02-11 04:09] gophercall opened #3125 "GPL license clarification"
If I use this library in my code, does this mean my code also needs to be released under GPL?

I can see lots of people using ggplot2 but not releasing their code under GPL, so it would be good to have clarification.

[2019-02-11 09:18] moodymudskipper opened #3126 "do we really need to attach package maps to use `map_data` ?"
The package maps is loaded silently when using `ggplot2::map_data`.

It does message about the conflicts, but it's easy to miss it and  is especially annoying because it masks `purr::map`.

Is there a good reason why it needs to be attached ? In the current situation I think I'd rather have it fail and tell me to attach `maps` myself, so I can add the library call before attaching *purrr* and cont

[2019-02-11 10:56] SavasAli opened #3127 "Warning message when adding a manual scale in ggplot"
On [Stackoverflow](https://stackoverflow.com/questions/54580005/how-to-fix-an-error-when-adding-a-manual-scale-in-ggplot/54586124#54586124) they suggested to report my question as a bug, so here it is:

When I add a manual scale like in the example below. I get the following error message:
"Warning message: In if (self$guide == "none") return() : the condition has length > 1 and only the first ele

[2019-02-11 13:38] batpigandme commented on #3127
Would you mind turning this into a [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample)? It's especially helpful for ggplot2, since it automatically generates and uploads the plots (or lack thereof), which makes it much easier to go through at a glance.

If you've never heard of a reprex before, you might want to start by reading the tidyverse.org [help page](htt

[2019-02-11 13:41] batpigandme commented on #3127
You can take the comment above as a "for future reference", since I just ran your code through reprex (below)

[code]

![](https://i.imgur.com/ZrYCXaM.png)

<sup>Created on 2019-02-11 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-11 15:01] gibran-ali commented on #3122
Adding Reprex version:

[code]

![](https://i.imgur.com/G6NgCQd.png)

[code]

![](https://i.imgur.com/9852swH.png)

<sup>Created on 2019-02-11 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-11 15:41] JayVii opened #3129 "differing behaviour using "color = NA" in Linux and Windows"
During a project, I used following snippet to draw a completely transparent hexbin map:

[code]

Note the color argument in `stat_summary_hexbin()` is set to `NA`. This worked fine on Linux and produced a transparent hexbin layer. However on Windows the same script produced a completely black hexbin layer (eventhough `scale_fill_gradient()` is set to transparent colors). This persisted when trying

[2019-02-11 15:43] batpigandme commented on #3129
Could you please turn this into a self-contained [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample)? It will help us help you if we can be sure we're all working with/looking at the same stuff.

If you've never heard of a reprex before, you might want to start by reading the tidyverse.org [help page](https://www.tidyverse.org/help/).

You can install reprex by

[2019-02-11 15:57] clauswilke commented on #3129
Gradients with transparency were only recently introduced in the scales package. My hunch is that the scales package on the windows system is too old. Could you check which version you have there? Start a new R session, and then enter:
[code]

[2019-02-11 16:47] JayVii commented on #3129
@batpigandme

`reprex` seems not very helpful in this case, as the above code-snipped is part of a much more complicated function and a rather large dataset. But here is a simplified version as produced with `reprex()`:

[code]

![](https://i.imgur.com/fstbF4M.png)

<sup>Created on 2019-02-11 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

@clauswilke

Indeed, scales is at 1.

[2019-02-11 16:53] hyiltiz opened #3130 "feature: stat_summary_bin size argument should accept functions"
`stat_summary_bin` takes `size` as one of the function argument but its value can only be set to a fixed value. It should take functions for `size` as well just like `fun.y` could. A use case would be that, given continuous `x` and `y`, we'd like to bin and plot `geom_point` whose size scales linearly/logarithmicly as a function of who many points fell within a bin, `count()`. For a consistent API

[2019-02-11 17:02] clauswilke commented on #3129
Fixed in current release of scales.

[2019-02-11 17:02] #3129 closed

[2019-02-11 17:05] batpigandme commented on #3129
That's the very goal of a reprex, to make a minimal version of the issue you're encountering — the "minimal" part just isn't in the portmanteau. Glad to hear it's fixed in scales!

[2019-02-11 17:28] clauswilke commented on #3127
Code lines that need fixing:
https://github.com/tidyverse/ggplot2/blob/652a43189388d185a4d96c1f83cb6e06d00b8b06/R/scale-identity.r#L149
https://github.com/tidyverse/ggplot2/blob/652a43189388d185a4d96c1f83cb6e06d00b8b06/R/scale-identity.r#L170

`if (isTRUE(self$guide == "none")) return()` is probably better than the suggested fix on SO.

[2019-02-11 19:42] woodwards commented on #2775
It seems to be a display issue in RStudio. When I `ggsave("temp.pdf")` the bar appears, although it is very narrow.

[2019-02-11 19:46] woodwards commented on #2775
Because `datetime` is in seconds, the automatically calculated width extremely narrow when the x-axis has a scale of years, and the bar disappears.

[2019-02-11 22:19] clauswilke commented on #3126
The line that is responsible here is this one:
https://github.com/tidyverse/ggplot2/blob/9108d9bb4a1ef58e813dc59d3a383e7d7edae4c2/R/fortify-map.r#L78

@hadley I've seen the `try_require()` pattern in several places in the ggplot2 code base. Is there a reason we attach the respective packages instead of simply testing whether they exist? I think it would generally be preferable to not attach packag

[2019-02-11 22:25] clauswilke commented on #3126
In other words, would anything terrible happen if we removed line 47 here:
https://github.com/tidyverse/ggplot2/blob/e9d4e5dd599b9f058cbe9230a6517f85f3587567/R/utilities.r#L45-L49

[2019-02-11 23:14] hadley opened #3132 "Export predictdf"
Message from CRAN:

---

Package complmrob exports predictdf.complmrob.part with comment

Given that relying on finding S3 methods on the search path is not a
good thing: Hadley, perhaps you could export predictdf() (but show as
internal and hence keep uncodumented)?

[2019-02-12 09:36] yutannihilation commented on #3132
It seems we've been considering to export it at some point.

https://github.com/tidyverse/ggplot2/blob/344bfea39aaadbb90c455570f7fdf30d33a1a4fd/R/geom-smooth.r#L8-L9

But, as we don't export it yet, it sounds it's just complmrob relies on ggplot2's unofficial API. Do we need to support it?

[2019-02-12 13:13] hadley commented on #3126
I think you'd need to review on a case-by-case basis. I agree that it's undesirable to load packages, but I'm almost certain it was necessary for maps (but a recent release may have fixed the problem). I also have vague recollection that `stat_smooth()` may have some issues for mgcv — i.e. something like `y ~ mgcv::s(x)` doesn't work?

[2019-02-12 14:40] clauswilke commented on #3126
How about adding an argument `attach = FALSE` to `try_require()`, so we need to explicitly turn it on when we're sure we need attaching. Initially, all calls to `try_require()` would be changed so they say `attach = TRUE`, and then we can one-by-one remove those statements.

I'm pretty certain mgcv is fine without attaching now. I just used it in my ungeviz package.

[2019-02-12 15:58] hadley commented on #3126
There are only 5 uses of `try_require()` so I think someone could just remove the `library()` call, and then carefully check the code. I think `StatBinhex` and `StatSummaryHex` will need some `::`.  Looking at the code I now wonder if it was actually quantreg and/or MatrixModels in `stat_quantile()` caused problems. It's also quite possible the problems have been resolved since I wrote the code, o

[2019-02-12 18:34] #2991 closed

[2019-02-12 18:34] #2525 closed

[2019-02-12 20:57] brianwdavis opened #3133 "Transformed axes do not respect reversing transforms"
For a monotonic transformation that reverses the tonicity of the numbers (low-high -> high-low), secondary axes aren't rendering correctly.

You can see this with a reciprocal transform. The left-most break on top should be close to `1/min(mtcars$wt)` or ~0.65. The right-most break should be close to `1/max(mtcars$wt)` or ~0.20. For the right-hand transformed axis, the bottom-most break should be

[2019-02-12 21:05] #3127 closed

[2019-02-12 21:35] clauswilke commented on #3126
I'll take a look. The problem is that for some of the cases where we're using `try_require()` I have no idea what kind of code example would trigger the respective lines. That's why I think I'll have to follow the step-wise process of eliminating one case at a time.

@moodymudskipper Could you provide an example with `map_data`, ideally one that currently breaks something because the maps package

[2019-02-12 23:19] hadley commented on #3126
I can probably dredge my memory if you can point me to specific cases.

[2019-02-12 23:27] clauswilke commented on #3126
I just opened a PR. I have resolved hexbin, and I assume maps will be straightforward once @moodymudskipper provides a reprex. mgcv is imported, so we don't need to worry about it. This means the only two remaining cases are quantreg and MatrixModels in `stat_quantile()` here:
https://github.com/tidyverse/ggplot2/blob/c84d9a075280d374892e5a3e0e25dd0ba246caad/R/stat-quantile.r#L53-L60

I suspect I

[2019-02-12 23:44] clauswilke commented on #3126
The problem seems to be that we can't use `match.fun()` to get a function from a package that is not attached. Is there an alternative?

[code]

<sup>Created on 2019-02-12 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-13 00:01] hadley commented on #3126
Why we using `match.fun()` on strings? Can we just pass function objects instead?

[2019-02-13 00:19] clauswilke commented on #3126
That's how it's currently written, with the string coming in from the function arguments:
https://github.com/tidyverse/ggplot2/blob/43dcd632fe96d412c13689454ffee366aaa39ce3/R/stat-quantile.r#L13-L22

Would something like this work instead of `match.fun()`?

[code]

[2019-02-13 01:05] moodymudskipper commented on #3126
Here's a reprex :

[code]

![](https://i.imgur.com/uJLmDfh.png)

[code]

Created on 2019-02-13 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2019-02-13 01:10] clauswilke commented on #3126
Looks like my PR fixes this.

[code]

![](https://i.imgur.com/CL8i1W7.png)

[code]

<sup>Created on 2019-02-12 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-13 01:12] moodymudskipper commented on #3126
Amazing, thanks

[2019-02-13 03:15] clauswilke opened #3135 "Add regression tests for geom_quantile()/stat_quantile()"
There aren't any regression tests currently for `geom_quantile()` / `stat_quantile()` as far as I can tell.

[2019-02-13 09:14] fmmattioni opened #3136 "Add argument to coord_polar() to connect first and last dot"
This is related to https://github.com/tidyverse/ggplot2/issues/80. Any updates on that? It would be nice for coord_polar() to have an extra argument to let us connect the two ends of the line.

[code]

![](https://i.imgur.com/OZf5luT.png)

<sup>Created on 2019-02-13 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-13 10:06] thomasp85 commented on #3136
You can get this by using `geom_polygon` with `fill = NA` instead of `geom_point`

[2019-02-13 10:41] fmmattioni commented on #3136
That is true! Thank you!

[2019-02-13 10:41] #3136 closed

[2019-02-13 11:59] jsekamane opened #3137 "Feature request: Approximation for massive number of observations"
Hi. I regularly find myself working with huge datasets in R and in need of a "quick" way to visualise the data. In these instances it would be helpful with approximations that speed things up.

![Example](https://user-images.githubusercontent.com/1207156/52709506-348c1280-2f8d-11e9-988e-b6b5858f770e.png)
**Fig 1. – _[Strip plot](https://vega.github.io/vega-lite/examples/tick_strip.html)_ example s

[2019-02-13 12:16] moodymudskipper opened #3138 "Support formula notation in `data` argument ?"
The data argument can be used to pass a function to apply on the plot's data. It would be nice to be able to use the formula notation as well.

[code]

It should be a simple fix, either in `layer` with something like `if(inherits(data,"formula")) data <- rlang::as_function(data)` or in later in `ggproto` after defining `fortify.formula <- function(model, data, ...) model` to return the input as is

[2019-02-13 12:38] yutannihilation commented on #3138
I'm going to make this happen after https://github.com/tidyverse/ggplot2/pull/3038.

[2019-02-13 16:30] noahmotion opened #3139 "Default text size is too small"
The default size of axis, tick, and legend labels is too small. I expect the default size of these labels to be legible when figures are embedded in papers and presentations, but they almost never are.

Any ggplot figure with the default axis and tick label size can serve as a reprex, so:

[code]

In Rstudio, if I make a figure and then export it, it's slightly better, but it's still not particula

[2019-02-13 21:32] richierocks opened #3142 "geom_bar()/geom_col() erroneously warn that they ignore width aesthetic"
`geom_bar()` and `geom_col()` let you specify a `width` aesthetic to control the width of the bars.

The behavior is as expected, but it generates an erroneous warning "Warning: Ignoring unknown aesthetics: width".

`width` isn't listed in the aesthetics section of [`?geom_bar`](https://ggplot2.tidyverse.org/reference/geom_bar.html), so it appears that this is an unofficial behavior.

----

[code]

[2019-02-14 02:07] clauswilke commented on #3139
The size specifications are entirely meaningless unless you also specify a resolution at which you want to output your figure. Increase the resolution until you have output you're happy with. The following seems fine to me.

[code]
![test](https://user-images.githubusercontent.com/4210929/52757500-75564c80-2fca-11e9-840d-b6408bd6a80e.png)

You can also increase the font size within a theme, e.g. b

[2019-02-14 02:24] yutannihilation commented on #1904
This issue seems fixed already. Can we close this?

[code]

![](https://i.imgur.com/Ahrykzk.png)

<sup>Created on 2019-02-14 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-14 02:35] yutannihilation commented on #1904
Fixed by this commit: https://github.com/tidyverse/ggplot2/commit/a11f786d2728785c945f923beb40131dfff53e3d

[2019-02-14 02:35] #1904 closed

[2019-02-14 02:39] yutannihilation commented on #3142
Currently, `width` is recognized as a parameter in with a hack. Here's the comment written 4 years ago. Maybe it's worth trying to make `width` to proper aes?

https://github.com/tidyverse/ggplot2/blob/43dcd632fe96d412c13689454ffee366aaa39ce3/R/geom-bar.r#L130

[2019-02-14 03:53] clauswilke commented on #3116
The first option seems nicer and more general to me. Not sure if there are any major downsides we're overlooking, though. Usually, a main design principle of software engineering is to avoid circular dependencies, and it seems this introduces one, since layer knows of geom and geom will know of layer after the change.

[2019-02-14 12:13] thomasp85 commented on #3116
A general rule for most ggproto objects is that they should be stateless factories, so I would prefer a setup that keeps this

[2019-02-14 14:34] clauswilke commented on #3116
There's an additional complication: if we change the arguments of `draw_layer()` etc. then all the third-party geoms that have been released will break.

Is it possible to attach this information to either `panel_params` or `coord`? It doesn't belong into `data`.

[2019-02-14 15:37] noahmotion commented on #3139
Fair point, but what is the default resolution for functions like `png()`? Whatever it is, it doesn't work well with the default axis/tick text size, and in my experience, many people don't bother to specify either such that the axis, tick, or legend labels are legible. It seems to me that the default text size in ggplot should work well with the default figure size and resolution.

[2019-02-14 16:37] thomasp85 commented on #3116
“Just” overwriting `draw_layer` is not that simple as it needs to correctly split up and assemble everything efficiently. Pretty sure we could do this by adding a getter function to the param object we pass into the draw method

[2019-02-14 16:40] thomasp85 commented on #3139
Please see the documentation for png for further information about the device. The fact that the defaults doesn’t exactly suit your personal predominant usecase is not an argument for changing them - especially when it is so easy to change the relative font size on the fly with the theming system as well as define your own personal defaults

[2019-02-14 17:48] noahmotion commented on #3139
I have found that, easy or not, people _don't_ typically change tick/axis/legend label text size, and the majority of ggplot figures I see in papers, presentations, etc... have illegibly small tick/axis/legend labels. Given that ggplot has pretty good defaults for more or less everything else, I figured it might be better to lobby for this default to be changed rather than lobbying individual rese

[2019-02-14 17:48] #3139 closed

[2019-02-14 19:15] clauswilke commented on #3116
There's one other strategy for handing down information that we haven't considered yet: We can add new member functions that provide a geom or layer with whatever information it needs later, so that it can store it. This is less elegant than expanding the number of arguments in `draw_layer()`/`draw_panel()` but it has the advantage that it will work automatically with all existing extension packag

[2019-02-14 19:38] thomasp85 commented on #3116
Wouldn’t that still make the geoms stateful?

[2019-02-14 20:21] clauswilke commented on #3116
@thomasp85 Yes, you're right, that won't work.

I'm coming around to @paleolimbot's perspective that `Layout` may be the right place for this info. The `panel_params` object that is provided to `draw_layer()` etc. is probably misnamed, because it holds the geoms' own parameters. A better name would be `geom_params`, which immediately makes clear that this is not a place for the ggplot2 infrastruct

[2019-02-14 20:32] clauswilke commented on #3116
Ah, maybe that's a workable idea. I'm still worried about the `Layout` solution because the layer parameters could in principle be different for different layers within the same panel, but `Layout` is the same for all layers.

[2019-02-14 20:32] clauswilke commented on #3116
Is there an easy way to find out how many extension packages have redefined `draw_layer()`?

[2019-02-15 02:08] abl0719 opened #3143 "sec_axis changes with environmental variable"
When there are variables in the transformation function in sec_axis, the plot changes after the variable changes.

[code]

![](https://i.imgur.com/o4pryGS.png)

[code]

![](https://i.imgur.com/ZDuBSB3.png)

<sup>Created on 2019-02-14 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-15 02:14] #3126 closed

[2019-02-15 13:22] Henrik-P opened #3144 "Add trans "date" and "time" to ?continuous_scale"
Add `"date"` and `"time"` to the list of built-in transformations of the `trans` argument in `?continuous_scale` and in other relevant help pages with the `trans` argument.

Relevant closed issue where it was asked for an "exhaustive table of valid `trans`former names in the help text": [Documentation trans argument in continuous_scale](https://github.com/tidyverse/ggplot2/issues/1029). Apparently

[2019-02-15 13:55] yutannihilation commented on #3133
I'm closing this as a duplicate of #2978. This will be fixed by #3040. cc: @dpseidel

[code]

![](https://i.imgur.com/XP0Kouh.png)

[code]

![](https://i.imgur.com/JKKvDbp.png)

<sup>Created on 2019-02-15 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-15 13:55] #3133 closed

[2019-02-15 19:18] clauswilke commented on #3044
@yutannihilation, @thomasp85, and anybody else who would like to chime in: As I mentioned in the previous comment, I'm working on a grob that can draw labeled contour lines. I'm now at the point where the basic infrastructure is in place and the one remaining issue is the correct API, in particular with respect to specifying graphical parameters. I'd like to receive feedback on different options,

[2019-02-15 21:27] clauswilke opened #3145 "Make legend glyphs configurable"
Currently all geoms have a hard-coded legend glyph that can't be changed without some knowledge about the inner workings of ggplot2. It would be helpful if the glyphs could be configurable. Associated with such a change, we might want to provide a broader array of different glyphs. One example is the stylized time series glyph of PR #3124.

It seems to me the easiest way to achieve this modificati

[2019-02-15 21:34] clauswilke commented on #3145
One note: If we go this route, we may want to make the `draw_key_*()` functions more robust to missing aesthetics.

[code]

![](https://i.imgur.com/kr2Gh1m.png)

[code]

![](https://i.imgur.com/E25pUjx.png)

[code]

[2019-02-17 01:41] yutannihilation commented on #3144
Thanks. There are some more missing transformations. Would you like to submit a pull request?

[code]

<sup>Created on 2019-02-17 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

https://github.com/tidyverse/ggplot2/blob/5a37ae7dd590c045d8fe5d01ea66d4e733946713/R/scale-.r#L538-L541

[2019-02-17 05:12] ptoche commented on #3142
elsewhere (e.g. boxplot), ``width`` is added to the list of ``extra_params``:

https://github.com/tidyverse/ggplot2/blob/03bd9461fd0ae236d15be6d215a42911518b18ee/R/geom-boxplot.r#L162

[2019-02-17 05:22] clauswilke commented on #3142
`width` works just fine as a parameter in the way the code is currently written, and the "hack" is fine also. The question is whether `width` should be an aesthetic. I'm skeptical, because bars with varying widths are not normally meaningful. It's not that different a case from bars that start from a base value other than zero, which we also don't support. If people really want to do something lik

[2019-02-17 06:16] yutannihilation commented on #3142
Isn't `width` already an aes? At least, the plot above seems to have varying widths of bars.

[2019-02-17 09:28] ptoche opened #3147 "Feature Suggestion/Discussion for geom_histogram"
Does it make sense for the ``breaks`` option of ``geom_histogram()`` to not only set the bin limits but also set tick marks and labels?

The pros are that it's likely to be what a user wants.

The cons are that it may add some overhead to maintenance.

Putting it out there to see reactions.

[code]

![](https://i.imgur.com/ANLWumc.png)

Could geom_histogram do the work of scale_x_continuous?

[cod

[2019-02-17 12:29] yutannihilation commented on #3142
Sorry, I was confused. Now I come to think the varying widths of `geom_col()` is just a mistake. It uses `data$width`, but it should be really "ignored" as the warning says.

https://github.com/tidyverse/ggplot2/blob/43dcd632fe96d412c13689454ffee366aaa39ce3/R/geom-col.r#L40-L46

In `geom_bar()`'s case, `stat_count()` provides the `width`, so it should be used. But, `geom_col()` uses `stat_identity

[2019-02-17 12:43] yutannihilation commented on #3142
But, in terms of the interface (I don't mean the current behaviour is semantically correct), `width` is provided by a Stat via `data`. So, it is virtually an aes.

I'm wondering why `width` is not passed via `param`...

[2019-02-17 13:25] yutannihilation commented on #3142
Oh, this last example reminds me of the need for varying width.

https://ggplot2.tidyverse.org/reference/geom_histogram.html

[2019-02-17 13:42] yutannihilation commented on #3142
Here's my understanding. Is this correct?

* We want to enforce a constant bar width within a panel, so `width` cannot be an `aes`.
* Yet, the width can vary among panels, so we need to pass `width`s per bar via `data`, not a single value via `param`.
* `data$width` should be used only when the Stat provides it. But, `geom_col()` is not the case, it should ignore `data$width`.

[2019-02-18 05:32] ptoche commented on #3142
Just a comment in passing: If ``width`` were to be passed as an ``aes`` to capture the relative amounts of some variable in the dataset, the bar-chart would become a sort of rectangular-shaped pie-chart, where the area --- not the length --- becomes the relevant metric (I don't think that's "meaningless", but would suffer from most of the problems that pie-charts have). As far as I can tell, Hadle

[2019-02-18 09:37] thomasp85 commented on #3147
This will break a fundamental part of how ggplot2 works - geoms should not control scales. If you want this sort of behaviour with less typing the upcoming `scale_x_binned` will give you that

[2019-02-18 09:37] #3147 closed

[2019-02-18 09:39] thomasp85 commented on #3125
If you include code from ggplot2 (ie. copy code from the implementation into your code-base) you'll need to use a GPL compliant license - if you merely call functions from ggplot2, you have no obligations for that

[2019-02-18 09:39] #3125 closed

[2019-02-18 09:42] thomasp85 commented on #3137
This is in general a good idea, but not something ggplot2 controls... Once the plot reaches the graphic device, ggplot2's job is done and any response to resizing is purely grid.

It is possible to construct new grid grobs that do the same as mapbox (and it might be a good idea), but this is outside the scope of ggplot2

[2019-02-18 09:42] #3137 closed

[2019-02-18 09:43] #3143 closed

[2019-02-18 09:44] #3119 closed

[2019-02-18 09:48] #3045 closed

[2019-02-18 09:54] #3093 closed

[2019-02-18 12:36] Henrik-P commented on #3144
OK! I just submitted a PR.

[2019-02-18 14:32] dominicroye opened #3149 "world map with out axes"
---
I'm trying to plot a world map with geom_sf, but the axes are not showing up.

![rplot](https://user-images.githubusercontent.com/42300133/52957053-b82c7180-3388-11e9-85f1-4bdc7b653c6f.png)

[code]

Interesting is that with a country geom_sf does it well

![spain](https://user-images.githubusercontent.com/42300133/52957436-92ec3300-3389-11e9-9a5e-7535553fcf44.png)

[code]

[code]

[2019-02-18 14:45] yutannihilation commented on #3149
Thanks, this seems a duplicate of #2985. If you specify `expand = FALSE`, the axis labels should show up.

[code]

[2019-02-18 14:51] dominicroye commented on #3149
Ok. I didn't saw this issue! Perfect with expand=FALSE it is solved.  Thanks

[2019-02-18 14:51] #3149 closed

[2019-02-18 18:00] ptoche commented on #3147
That makes sense, thanks.

[2019-02-18 22:06] bjreisman opened #3150 "Feature Request: geom_points colored by density."
One geom/stat which would be very useful is a hybrid between geom_density_2d and geom_point, where points are colored by their density. This would help avoid overcome overplotting by mapping the density to the color aesthetic, while preserving the individual points in areas of low density. This type of visualization is very common in flow cytometry, but could be useful elsewhere as well.

@slowkow

[2019-02-18 22:13] thomasp85 commented on #3150
This kind of functionality is better suited in an extension package, eg ggforce or its own

[2019-02-18 22:16] bjreisman commented on #3150
Thanks for the quick reply! I was actually considering proposing it in ggforce, but wasn't sure which would be more appropriate. I'll propose it there. 👍

[2019-02-18 22:28] #3150 closed

[2019-02-19 14:51] shauyin520 opened #3152 "Hello, I am using stat_density2d top make a 2d density map, hopefully with 95% and 50% contour line(which indicate 95% and 50% data are within the map). People suggest to use package ks function. But it seems to require 3D(x, y, z) dataset, my data only include x and y. So how can I make it?"
Please briefly describe your problem and what output you expect. If you have a question, please don't use this form, but instead ask on the mailing list <https://groups.google.com/forum/#!forum/ggplot2> or stackoverflow <http://stackoverflow.com>.

Please include a minimal reprex. The goal of a reprex is to make it as easy as possible for me to recreate your problem so that I can fix it. If you've

[2019-02-19 15:03] thomasp85 commented on #3152
Please read the instructions before posting and follow the guidelines

[2019-02-19 15:03] #3152 closed

[2019-02-19 15:12] yutannihilation commented on #3144
Fixed by #3148

[2019-02-19 15:42] thomasp85 commented on #3116
I've lost track of what you want with layer? wasn't the intend to access scales within the `draw_*` methods, which you have handled by adding the `get_scale` method to layout

[2019-02-19 17:11] clauswilke commented on #3116
My concern was that `get_scale()` may not belong into the layout, since the layout doesn't know about layers. The best way we've so far come up with to implement layer-specific scales is to trick the geom into thinking it works with one aesthetic when it actually works with another. Something like `layout$get_scale("fill")` would circumvent that, because the layer wouldn't be able to intercept the

[2019-02-19 19:45] thomasp85 commented on #3116
I may have suggested it above at some point, but I don’t really think it belongs in something related to panels. Honestly I also don’t think it belong in Layout as the purpose of that object is orchestrating the positioning of stuff (mainly). It might pragmatically be the best place to put it, but I’m not happy about it 🙂

[2019-02-19 19:50] clauswilke commented on #3116
It needs to go through the layer. I'm certain about it. The question is just how to do it cleanly.

[2019-02-19 19:53] powerbilayeredmap opened #3153 "Running ggplot2 in webassembly - absurd?"
I am starting an application that needs to run entirely in the browser, without any server components, and I really want to use ggplot2, seems to be the most mature charting package out there. Is there any daylight in possibly compiling R and ggplot2 to webassembly?

[2019-02-19 20:13] thomasp85 commented on #3116
Positional scales are special

[2019-02-19 20:20] thomasp85 commented on #3116
I really don't like passing in the layer object as it makes it practically a public class, and people could begin doing all sorts of stuff that we would later break... If we are considering adding arguments to `draw_panels()` why not just pass in a `get_scale()` function? It could be layer aware and all that...

[2019-02-19 20:25] clauswilke commented on #3116
Thomas, I agree with your concerns about passing in layer, and I don't think we should do so. However, I also don't think we should just pass in a raw function, because that's not very extensible. I propose that we pass in a list `layer_params`, and the list can then contain the `get_scale()` function (and maybe the number of the layer). This keeps things extensible. If we need to have access to o

[2019-02-19 22:19] clauswilke commented on #3116
I'm not sure `Layer` needs to remain stateless. By my understanding, it already carries state, namely the geom, the stat, and their parameters. See also here:
https://github.com/tidyverse/ggplot2/blob/033fb521a084447c15178c591ab96a158f3b1e1e/R/layer.r#L335

Conceivably this line could read:
[code]
and you would just need a hook that generates the layer params for each layer when the plot is being

[2019-02-19 23:43] clauswilke commented on #3116
I'll let Thomas speak for himself, but I think the main difference is that layers are explicitly created as stateful instances:
https://github.com/tidyverse/ggplot2/blob/033fb521a084447c15178c591ab96a158f3b1e1e/R/layer.r#L135-L146

By contrast, geoms are not, and they are shared among all layers. You'd have to completely rewrite how geoms are created to make them stateful. By contrast, for layers

[2019-02-20 00:46] GBuchanon opened #3155 "Using coord_cartesian causing errors for the width of geom_bar"
The use of coord_cartesian causes the bin width of a bar to be miscalculated when the source data is contained in one bin.

The expected result is that coord_cartesian has no effect on the plot other than zooming.

[code]

![](https://i.imgur.com/llVx06R.png)

[code]

![](https://i.imgur.com/YYkgHgl.png)

[code]

![](https://i.imgur.com/rQShCb1.png)

<sup>Created on 2019-02-20 by the [reprex packa

[2019-02-20 01:22] yutannihilation commented on #3153
This is out of scope of the development of ggplot2 itself. This sort of question is a better fit for StackOverflow or RStudio Community.

[2019-02-20 01:22] #3153 closed

[2019-02-20 02:15] clauswilke commented on #3116
I think we should get @hadley's Ok on the proposed change.

[2019-02-20 05:33] karawoo commented on #3155
I believe this is the same issue as #2775

[2019-02-20 18:20] hadley commented on #3116
Could someone summarise the discussion for me please?

[2019-02-20 21:12] clauswilke commented on #3116
@hadley: We (@paleolimbot, @thomasp85, @clauswilke) all think that there is a need for some geoms to have access to trained scales, so the geoms can do certain data transformations at draw time. One example is downsampling of larger raster objects at draw time. Another example is turning raster images into contours at draw time. The main question is how to implement this so it is the least disrupt

[2019-02-20 23:42] hadley commented on #3116
Thanks for the summary. Stream of consciousness from reading your summary + the code:

* The overall motivation seems reasonable to me. But I wonder if we could maybe start simpler and just expose the x and y scales? That would allow @paleolimbot to solve the motivating problem, and seems reasonable given that it's only the x and y scales that might vary on a per-panel basis.

* Should we add `...

[2019-02-21 02:46] yutannihilation opened #3156 "Remove Stat$retransform?"
`retransform` parameter was introduced for `stat_spoke()`, which was deprecated by the commit https://github.com/tidyverse/ggplot2/commit/a9766e2d2b3a003e7ec5c1431ae3653f776087eb#diff-89dadd3560574103d05212e9d97a2634 4 years ago. But, it seems not used in ggplot2 (I don't check the extension packages yet). Can we remove this? Or, does it still useful?

https://github.com/tidyverse/ggplot2/blob/c84

[2019-02-21 02:53] yutannihilation commented on #3156
Sorry, forget this. I found this is used at least here.

https://github.com/cran/ggtern/blob/511fe8b22e48c8ea85e2a24d5d7e22749ea45f9b/R/stat-mean-ellipse.R#L44

[2019-02-21 02:53] #3156 closed

[2019-02-21 04:10] clauswilke commented on #3116
A couple of more thoughts from me, in no particular order:

- The index is probably not needed. It was required in an earlier version of the code.
- `layer_params` was modeled after the various other `*_params` objects used in ggplot2, which all generally are lists (e.g. `geom_params`, `stat_params`, `panel_params`, etc). However, here, `layer_params` doesn't actually hold parameters, so maybe tha

[2019-02-21 04:43] yutannihilation commented on #3116
Can we first implement the per-layer scale that belong to `Layer`, and then let the users to choose whether the scale is trained with the whole data or the layer data? If it is trained with the whole data, the per-layer scale would be the same as the plot scale.

[2019-02-21 05:52] yutannihilation commented on #3155
It seems so (about `resolution()`?). A simpler version of reprex:

[code]

![](https://i.imgur.com/36MTYyB.png)

[code]

![](https://i.imgur.com/KMdIf1A.png)

<sup>Created on 2019-02-21 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

[2019-02-21 08:42] ptoche opened #3157 "axis.ticks and axis.text inheritance problem"
Problem: ``axis.text`` and ``axis.ticks`` are not inherited.

[code]

  ![](https://i.imgur.com/sGIMe5F.png)

[code]

  ![](https://i.imgur.com/g5IJBqb.png)

  <sup>Created on 2019-02-21 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-21 15:41] hadley commented on #3116
It sounds like you've considered all the issues I've bought up, so I'm happy to return the reins back to y'all. (But feel free to ping me if you want more advice, regardless of my limit memory of this code)

[2019-02-21 17:10] karawoo commented on #3157
This is expected behavior. You're overriding the inheritance of `axis.text` and `axis.ticks` by directly setting the `axis.text.x` etc. elements in `theme_update()`.

[2019-02-21 17:32] batpigandme commented on #3157
To second what @karawoo's saying here, it works by specificity, not by sequential order.
[code]

![](https://i.imgur.com/JRRxnOA.png)

<sup>Created on 2019-02-21 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

[2019-02-21 23:35] yutannihilation commented on #3155
I'm closing this as a duplicate of #2775. Thanks, Kara.

[2019-02-21 23:35] #3155 closed

[2019-02-21 23:40] yutannihilation commented on #2775
I think your analysis is correct. Here's a simpler version of the reprex. When there are more than one value, bar width can be calculated from the data range nicely. But, when there's only one value, `resolution()` returns a fixed value 1, which is too small for date/datetime scale.

[code]

![](https://i.imgur.com/yfMG6Wu.png)

[code]

![](https://i.imgur.com/LTxImdH.png)

<sup>Created on 2019-02

[2019-02-22 02:35] clauswilke commented on #3116
I don't think we should export `Layer` at this point, because it may require substantial revisions in the future. Thus, we can't hand the layer to the geom. (And also, it wouldn't be a clean design, since it creates a circular dependency.)

Adding more things to `layer_params`, in case they may be useful in the future, is fine by me. Some of that information could be captured in this function:
htt

[2019-02-22 02:43] clauswilke commented on #3116
Actually, let me qualify my previous comment: I'm somewhat concerned about adding the aesthetic mapping to the `layer_params`, because at some point we may want to disentangle geom and stats mappings. At present that would be limited to changes in `Layer`, but if we expose this in `layer_params` then we're essentially locked in for all eternity. I think a more conservative approach is better. Let'

[2019-02-22 04:04] ptoche commented on #3157
Oh, I see. I had never noticed that. Thanks for your prompt reply!

[2019-02-22 04:07] #3157 closed

[2019-02-22 04:14] clauswilke commented on #3116
Does it work? I don't remember if the scales are available at that point in the plot build. In any case, I think you've mostly solved the issue. It's just details at this point.

@thomasp85 Do you have an opinion on whether the `layer_params` object should be a list or a ggproto object?

[2019-02-22 04:54] yutannihilation commented on #3116
Hmm, agreed. Even the per-layer scales were to be implemented as the one that belongs to `Layer`, we need some some interface/convention like `layer_params` between geom. Sorry for the noise....

[2019-02-22 05:00] ptoche commented on #3157
I see. So you need to know the sequence of theme updates (I noticed the behaviour above while I was updating a theme repeatedly while experimenting). And when you create a theme, you should not set a property twice in the same inheritance branch? (as in setting colour in both ``axis.text`` and ``axis.text.x``)

The reported behaviour, which is expected:

[code]

![](https://i.imgur.com/mkKnI0J.png

[2019-02-22 05:07] clauswilke commented on #3116
As an aside, this means we should probably remove this `@export` statement:
https://github.com/tidyverse/ggplot2/blob/033fb521a084447c15178c591ab96a158f3b1e1e/R/layer-sf.R#L3
(I introduced it after the last release, so it's not made it into any release yet.) @yutannihilation, do you have a sense of whether that will cause any problems for `LayerSf()`? Not exporting layers means that extension pack

[2019-02-22 05:29] yutannihilation commented on #3116
Oh, I was considering to use `LayerSf` in https://github.com/slowkow/ggrepel/issues/111. Not immediately sure I really need it or not, but I think I can live without it anyway... So, I agree we should remove that `@export`.

[2019-02-22 05:34] yutannihilation commented on #3116
@paleolimbot Have you ever felt you need to implement some sf-related geom that doesn't inherit `GeomSf` or `StatSf` in you ggspatial package?

[2019-02-22 05:59] clauswilke commented on #3116
We could provide a `layer_sf()` function that works just like `layer()` but uses the `LayerSf` class. That would be a clean solution that makes this type of layer broadly available without exporting layer internals we don't currently want to export.

[2019-02-22 06:03] yutannihilation commented on #3116
Thanks, `layer_sf()` sounds good. Let's consider when we find it's needed.

[2019-02-22 06:09] clauswilke opened #3158 "Don't export LayerSf"
When I implemented custom layers for sf objects, I exported the relevant layer object, `LayerSf()`:
https://github.com/tidyverse/ggplot2/blob/033fb521a084447c15178c591ab96a158f3b1e1e/R/layer-sf.R#L3-L8

This is bad, because we currently don't export its parent, `Layer()`, and we don't want to export it at this time.

The correct way to make the sf-specific layer available is to add a constructor f

[2019-02-22 06:10] clauswilke commented on #3116
I created an issue for the `LayerSf()` problem, so let's move any further discussion of that topic there: #3158

[2019-02-22 06:15] yutannihilation commented on #3158
Probably, we should not expose `layer_class` argument of `layer()` as well; the user cannot provide any `Layer` class as it's not exported.

https://github.com/tidyverse/ggplot2/blob/033fb521a084447c15178c591ab96a158f3b1e1e/R/layer.r#L66

[2019-02-22 16:48] karawoo commented on #3157
I do not think this is true. Inheritance lets you set some consistent defaults without having to repeat a bunch of code, and then make specific tweaks as needed. It's perfectly reasonable to set `axis.text` to whatever you _generally_ want the axis text to be, but change `axis.text.x` (or `axis.text.x.bottom` or whatever) to something else.

[2019-02-22 20:10] dkahle opened #3159 "Feature request: rlang/purrr-style anonymous functions in stat_function"
It'd be nice to be able to specify __rlang__/__purrr__ style anonymous functions in `stat_function()`:
[code]
Associated pull request forthcoming.

[2019-02-22 21:23] yutannihilation commented on #3159
@hadley @thomasp85 @clauswilke
Because of the popularity of rlang-style lambda notation among tidyverse packages, I think it's natural to accept this proposal. (I'm going to make similar changes all over the places in ggplot2 where the users can use functions). Any concerns?

[2019-02-22 21:28] clauswilke commented on #3159
Other than the comments I made, no concerns.

[2019-02-23 08:40] ptoche commented on #3157
Thanks Kara, the key idea is that setting ``axis.text`` in a ``theme_update()`` doesn't "spill" over to ``axis.text.x`` or ``axis.text.y`` if the latter have been set before, something I'll try to remember.

[2019-02-25 11:21] puhachov opened #3165 "Secondary axis would not revert in ggplot version 3.1"
I am trying to build a bar and line graphs on the same plot but with the different y-axis.  The y1 axis has limits 0 to 100 and y2 axis has limits from 4 to 1 (reversed). Hence, I am adding secondary axis for the line plot through scale_y_continuous(limits=c(0,100), sec.axis=(...)). I build a linear mapping from 0-100 to 4-1 through lm() and then fit the coefficients to the formula of sec.axis().

[2019-02-25 11:53] yutannihilation commented on #3165
Yes.

This is a duplicate of #2978. I confirmed #3040 will fix this issue.

[code]

![](https://i.imgur.com/Bo8UlWD.png)

<sup>Created on 2019-02-25 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

[2019-02-25 11:53] #3165 closed

[2019-02-25 18:18] anhttdang commented on #2882
Is there any update on this issue? Thank you!

[2019-02-26 01:20] jemus42 commented on #3145
I often find myself wanting to have the legend glyphs just solid colors, for example in cases where I'm plotting points with different colors and no other geoms – in that case I would prefer the legend to simply indicate the different colors instead of indicating colors *and* a geometric shape that is not required to be identifiable.

If this proposed change is implemented, would that mean I could

[2019-02-26 02:35] clauswilke commented on #3145
yes.

[2019-02-26 17:17] MCM-Math opened #3166 "Request: Convert ggplot to static image"
I'm wondering if there is anything that can be done to a ggplot in-code to convert it to a static image that doesn't rescale itself when put in a grid or anything like that.  Static image, fixed dimensions for everything.  If not, it would be helpful to me, and I'm sure many other people, to introduce such a feature.

[2019-02-26 17:25] clauswilke commented on #3166
I don't think this is a feature that makes sense in ggplot2. You can already do it with grid:
[code]

![](https://i.imgur.com/t2eCF72.png)

<sup>Created on 2019-02-26 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

It might conceptually make sense in [cowplot,](https://github.com/wilkelab/cowplot) which I think of as a library to draw with and on plots. Feel free to open a fe

[2019-02-26 17:25] #3166 closed

[2019-02-26 17:35] MCM-Math commented on #3166
This doesn't work:

`sampleSet <- head(mtcars)

img1 <- ggplot(sampleSet, aes(x=rownames(sampleSet), y=mpg,group=1))+
  geom_bar(stat='identity', aes(fill=mpg),position='dodge')+
  ggtitle("MPG graph") +
  xlab("Car Names") + ylab("mpg") +
  theme(plot.title = element_text(hjust = 0.5))

g <- ggplotGrob(img1)
img2 <- editGrob(g, vp = viewport(width = unit(2, "in"), height = unit(2, "in")))

grid.a

[2019-02-26 17:54] clauswilke commented on #3166
It works as expected if you use `cowplot::plot_grid()`. I don't know what `grid.arrange()` does. It may mess with the viewport, in which case you'd have to wrap the grob into another `grobTree()`.

[code]

![](https://i.imgur.com/xmrOLUM.png)

<sup>Created on 2019-02-26 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-26 18:46] MCM-Math commented on #3166
Again, the graph didn't maintain relative scales like a scaled screenshot: the font sizes are the same, and distances like the legend from the graph are the same.  I'm wondering if there is, or could be, a way to actually convert a ggplot to an image in-code for a table in R Markdown.

[2019-02-26 19:10] clauswilke commented on #3166
You can always save your graphic as a png and then read it back in if that's what you want.

[2019-02-26 22:31] fostvedt opened #3167 "geom_text puts "a" on labels"
---

When i try to use geom_text() with color, the label/legend/key shows the letter "a" unless I add the option "show.legend=F".

I am using R 3.4.1 and ggplot2_3.0.0

[code]

[2019-02-26 22:58] jemus42 commented on #3167
As far as I know, this is intended behavior – or at least behavior that's been around for so long that I have to assume that someone would have changed it if it was not intentional. See also the examples on https://ggplot2.tidyverse.org/reference/geom_text.html#examples (you'll need to scroll down a bit to see examples with legends)

The letter "a" in the legend key just indicates that there is a

[2019-02-26 23:07] clauswilke commented on #3167
Yes, I've never been a fan of the text legends, but that's how they currently are. I'm closing this since #3145 covers the same topic. You can also use the example code in #3145 to implement a version of `geom_text()` that uses a different legend glyph.

[2019-02-26 23:07] #3167 closed

[2019-02-27 15:30] ptoche commented on #3157
@karawoo ,

I just came across a possibly related issue. You write

I would expect that to be true of `strip.text` and `strip.text.x`, right? The manual explicitly states

So why is the following generating an error? What am I doing wrong? Thanks!

    library("ggplot2")
    theme_update(strip.text = element_blank())
    theme_update(strip.text.x = element_text(color = "red"))

    ggplot(mpg, aes

[2019-02-27 17:08] clauswilke commented on #3157
@ptoche Could you please file a separate issue for this latest case? Regardless of what we think the intended outcome from the `theme_update()` call should be, it should not error out. And is it possible to trigger the same error without any calls to `theme_update()`?

[2019-02-28 02:45] clauswilke commented on #3116
@paleolimbot Does the latest version of your code solve the problem you set out to solve? If yes, then I think you should open a PR and then we can resolve any remaining issues.

Note that the PR will require a news item, as described here: https://style.tidyverse.org/news.html#bullets

[2019-02-28 16:47] ptoche opened #3169 "theme inheritance problem, e.g. strip.text and strip.text.x"
Probably related to [https://github.com/tidyverse/ggplot2/issues/3157](https://github.com/tidyverse/ggplot2/issues/3157). Filed separately for clarity, as suggested by @clauswilke

The manual states:

But the following produces an error.

    library("ggplot2")
    theme_update(strip.text = element_blank())
    theme_update(strip.text.x = element_text(color = "red"))

    ggplot(mpg, aes(displ, hw

[2019-02-28 17:40] clauswilke commented on #3169
Does the same problem arise when you make these changes via `theme()` statements in the actual plot?

[2019-02-28 17:42] clauswilke commented on #3116
Good luck for your comps!

[2019-02-28 18:02] ptoche commented on #3169
Yes, the following produces the same error message:

    library("ggplot2")
    ggplot(mpg, aes(displ, hwy)) +
        geom_point() +
        facet_wrap(~class) +
        theme(strip.text = element_blank(),
             strip.text.x = element_text(color = "red"))

    Error in unit(rep(just$hjust, n), "npc") :
      'x' and 'units' must have length > 0

but each without the other does not.

[2019-03-01 16:49] cswhyte commented on #2885
I've encountered a similar issue, particularly when there is a large decimal outlier.
[code]

There is no error if The 0.05 and 0.95 quantiles are removed from geom_violin.

[2019-03-02 10:06] yutannihilation commented on #2885
The problem is `lty` has some `NA`s.

[code]

<sup>Created on 2019-03-02 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-03 16:28] maxheld83 opened #3171 "support sec.axis for scale_discrete"
`scale_y_discrete()` and `scale_x_discrete()` currently appear not to support the `sec.axis` argument of their `scale_continuous()` brethren.

`sec.axis` would be nice for discrete scales as well, such as when you have various ways to refer to factor levels (short and long) and the like.

[2019-03-04 18:21] ppanko commented on #2696
Seems like this is a case of an old behavior updated by #482 as `inherit.aes` is no longer passed to `layer` where it is hard-coded to `FALSE`. The documentation for `geom_*line` may need to be updated to reflect this.

[2019-03-04 22:46] yutannihilation commented on #2696
This is purely a documentation issue, and it seems fixed now; `inherit.aes` no more exists in the documentation of `geom_abline()` and the reason is explained clearly:

[2019-03-04 23:01] yutannihilation commented on #2696
Ah, true. Sorry...

[2019-03-05 02:50] sabahzero opened #3174 "Issue with span for geom_smooth() on ggplot2 v3.1.0.9000"
Hello,

I too am having issues with the span option of geom_smooth()

I've tried installing the older version, no dice
https://github.com/tidyverse/ggplot2/issues/1292

My data does default to gam, and have also tried setting the method to loess. Still no difference
https://github.com/tidyverse/ggplot2/issues/2870
https://ggplot2.tidyverse.org/reference/geom_smooth.html

Many thanks in advance!

[2019-03-05 03:13] clauswilke commented on #3174
Please provide a reproducible example following the guidelines laid out here:
https://reprex.tidyverse.org/articles/reprex-dos-and-donts.html

And please create it with the reprex package as explained here:
https://reprex.tidyverse.org/articles/articles/magic-reprex.html

[2019-03-05 05:49] #2696 closed

[2019-03-05 08:50] thomasp85 opened #3175 "Access to layer information during build stages"
I'm opening this issue as a more general discussion ground for the discussions going on in #3170 (which fixes #3116). The reason for this is that in my attempt to implement #3062 I've run into more or less the same issues but from the facet side, and I think the time is up for dealing without it in a more general way.

**The problem:** Throughout ggplot2's code base the layer data is the sole repr

[2019-03-05 17:53] clauswilke commented on #3175
I definitely don't like adding the `layer_param` as attribute to the data. The data gets handed back and forth to numerous functions, many of which get overwritten by extension packages, and you'd have to constantly check that the attribute wasn't removed. That just doesn't seem like a clean approach.

Also, it's not entirely clear to me where you would need this info. Can you provide some example

[2019-03-06 07:00] yutannihilation commented on #3175
Though `layer_param` attribute doesn't seem a good idea, I feel we might need a new class that contains `data` and `layer_param` together if they are so tightly paired. But, I don't know if this is even possible (probably not).

I too want to see some example scenario.

[2019-03-06 08:19] thomasp85 commented on #3175
Ok, the prime example that provoked the issue is the idea of allowing layers to state whether they are fixed (should appear on every panel). The current situation where we must modify the data to not contain the faceting variable is often cumbersome (see #3062 for more information).

In order to achieve this we'd need to pass a `fixed` parameter to the layer, but more than that, we'd need the face

[2019-03-06 10:28] moodymudskipper opened #3176 "`aes` doesn't support splicing"
This works  :

[code]

This doesn't :

[code]

[2019-03-06 10:39] yutannihilation commented on #2718
I believe this is closed by #3164 👍

[2019-03-06 10:39] #2718 closed

[2019-03-06 10:40] yutannihilation commented on #3176
Thanks, this is a duplicate of #2675.

[2019-03-06 10:40] #3176 closed

[2019-03-06 10:43] yutannihilation commented on #3176
As described in #2675, leaving `x` and `y` empty is a workaround:

[code]

<sup>Created on 2019-03-06 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

[2019-03-06 14:36] yutannihilation commented on #3175
Thanks, I agree that it's very likely for us to face the need for making the same change as #3170 on another function, and your example seems the case. But, I'm just not sure if we can generalise it to all functions that uses layer data (probably because I don't understand the whole picture of the building stages).

[2019-03-06 16:37] clauswilke commented on #3175
I think we need to be systematic and enumerate all the places where possibly layer parameters could be needed. I believe it's going to be geoms, facets, and stats. We have a solution for geoms that works and doesn't break any existing packages. I think the same solution could be implemented for stats. (And for stats, the `compute_panel()` function already has the `...` argument, so we could even h

[2019-03-06 18:13] lpantano opened #3178 "scale_color_grandient2 low option not working"
Hi,

I think I found a bug, I tried to find if this was already reported but couldn't find it, sorry if I am duplicating the issue.

I was using scale_color_grandient2 to set up low, mid and high colors, but I found that the low option is ignored. When used with high only, it will use white no matters what, when used with high and mid it will use mid as the low value in the plot.

Thanks for this

[2019-03-06 18:40] clauswilke commented on #3178
You need to set the `midpoint` parameter as appropriate for your data. By default `midpoint = 0`, and that's the lowest value you have in `z2`.

[2019-03-06 18:40] #3178 closed

[2019-03-06 23:56] lpantano commented on #3178
oh well, RTFM, sorry about wasting your time, I spent time reading the
other options and not that one... so used to have the work done for me with
scales.

sorry, and thanks for replying.

[2019-03-07 13:16] tungmilan opened #3180 "Vertical space between legend keys changed after switching theme?"
Hello,

I noticed there was difference in the vertical space between legend keys when switching between themes e.g. from `theme_grey` to `theme_bw` (see the reprex below). I wonder what was the cause of that?

Thanks!

[code]

![](https://i.imgur.com/EHyZvlW.png)

[code]

![](https://i.imgur.com/zi5Mphb.png)

[2019-03-08 01:16] #3159 closed

[2019-03-08 01:36] yutannihilation opened #3181 "Review duplicated examples about multiple notations"
Some functions accept multiple ways of specification. It's useful to show that the multiple notations can generate the same results, but it's not necessary to execute all the examples. In order to reduce the check time, we need to restructure these examples (e.g. commenting out the less promoted notations)

* anonymous functions (`function(x)` vs `~`)
    * `stat_function()`
* facet specs (`vars()

[2019-03-08 01:38] clauswilke commented on #3181
Let's enumerate the functions that this applies to. Of the top of my head, I can think of:

- `stat_function()`
- `facet_wrap()`
- `facet_grid()`

Something else?

[2019-03-08 01:44] yutannihilation commented on #3181
Thanks. At the moment, they are exactly what I'm thinking about.

[2019-03-08 11:35] ptoche commented on #3180
each theme defines/redefines various properties. You can see the defaults [here](https://github.com/tidyverse/ggplot2/blob/5f49fb4a7b5624f9cc5b8011fc98909d7dbb23fe/R/theme-defaults.r)

Possibly the reason for what you see is here: ``theme_bw`` is based on ``theme_gray``. The following is defined by ``theme_gray``:

    legend.key = element_rect(fill = "grey95", colour = "white")

and redefined by

[2019-03-08 17:27] jakehosen commented on #2514
This has been a routine problem for me when using macos. I've had this problem on a number of machines with a number of different version of macos (10.11-10.14), but it appears to have increased in frequency over the last couple months (currently occurs almost every time I call ggplot). As with other folks, the code executes properly the second time or if a quartz window is currently open.
Here's

[2019-03-10 07:46] sjackman opened #3182 "scale_colour_manual(palette=foo): cannot coerce type 'closure' to vector of type 'character'"
Using the `palette` argument of `scale_colour_manual` yields the error:
`Error in as.vector(x, "character"): cannot coerce type 'closure' to vector of type 'character'`

My apologies in advance if it's my error.

\@th4ckl on Twitter says…

https://twitter.com/th4ckl/status/1104207569034199040

### Reprex

[code]

![](https://i.imgur.com/ThetjcJ.png)

<sup>Created on 2019-03-09 by the [reprex packa

[2019-03-10 13:12] ttbek commented on #2239
... That last comment doesn't seem well reasoned to me.  HTML and CSS are literally for purposes of visualisation.  You could argue that they have wider scope for other reasons, but just being a visualisation system doesn't necessarily imply more specific needs than another visualisation system.  It's a bit of a nitpick though, as I agree that adding another layer of syntax is not probably not hel

[2019-03-10 18:17] clauswilke commented on #3182
I don't think `scale_colour_manual()` was ever meant to be used this way but I see that the documentation creates this impression. It would be fairly easy to fix this for the manual scales, but now I'm worrying that the problem exists for many other scales also. The fundamental problem is overly eager forwarding of arguments to `discrete_scale()`.

[code]
<sup>Created on 2019-03-10 by the [reprex

[2019-03-10 18:43] sjackman commented on #3182
Settings `values` rather than` `palette` works well enough for me. How is the `palette` argument meant to be used; is there an example in the documentation?

[2019-03-10 18:58] clauswilke commented on #3182
It's not meant to be used at all. The bug is that `palette` is accessible and mentioned in the documentation.

[2019-03-10 18:59] sjackman commented on #3182
Great. Thanks for the clarification. Feel free to close this issue if you like.

[2019-03-13 15:53] pachamaltese opened #3183 "gplot2 3.1.0 on a fresh setup does not install `hexbin` package"
gplot2 3.1.0 on a fresh setup does not install `hexbin` package

[code]

![](https://i.imgur.com/VeuS0Ki.png)

<sup>Created on 2019-03-13 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-13 15:57] clauswilke commented on #3183
This is on purpose. hexbin is listed as a "suggested" package, which means it's not required for ggplot2 to function but if you have it installed it unlocks additional features.

[2019-03-13 15:57] #3183 closed

[2019-03-13 19:15] smouksassi opened #3184 "when using annotation as first layer with x discrete and annotation xmin/xmax = -Inf/Inf error"
Hi developpers !
I posted first on Rstudio Community
https://community.rstudio.com/t/understanding-when-and-why-discrete-value-supplied-to-continuous-scale-happens/26011/5
but then it was thought of as a potential bug that is maybe related to
https://github.com/tidyverse/ggplot2/issues/3120
Basically when we want to annotate a plot with discrete x scale edge to edge it errors out unless we have a

[2019-03-14 04:06] yutannihilation commented on #3175
For completeness,

* `Scale` needs `layer_param`. For example, this is useful to create an option "to exempt annotation layers from the scale training" (https://github.com/tidyverse/ggplot2/pull/3121#issuecomment-465020093).
* `Layout` needs `layer_param` because it's the one that actually passes layer data to facets. (But, though `Layout` is exported, I don't think this is extended in other packa

[2019-03-14 04:20] clauswilke commented on #3175
However, all these objects are stateless, so I'm afraid we'd have to drill down to specific methods that will require layer_param.

[2019-03-14 04:31] yutannihilation commented on #3184
Here's a simpler reprex. This seems a possible bug (?) of guessing the type of scale. For a workaround, you can manually add `scale_x_discrete()` to explicitly specify the type of the X scale.

[code]

![](https://i.imgur.com/mnfrXw3.png)

[code]

![](https://i.imgur.com/JvzeInH.png)

<sup>Created on 2019-03-14 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

[2019-03-14 04:37] yutannihilation commented on #3175
I'm afraid so too...

[2019-03-14 06:56] smouksassi commented on #3184
I am using annotation as first layer in order for it to be first i.e. in the bacground,  repeated across facets and to avoid affecting scales.
here is few examples.
p1 workaround with geom_blank make scales reflect original data ( can be desirable in some settings)
p2 works as expected after adding scale_x_discrete() ( thanks @yutannihilation )
p3 explicitly stating xmin = "Fair" and xmax = "Ideal

[2019-03-14 07:25] yutannihilation commented on #3184
For this purpose, I recommend using `annotation_raster()`.

[code]

![](https://i.imgur.com/GccrDY2.png)

<sup>Created on 2019-03-14 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

[2019-03-14 08:06] linzi-sg opened #3185 "Secondary axis labels misaligned after coord_polar"
---

When converting a plot with secondary axis transformation from Cartesian to polar coordinates, I noticed two issues:

1. Label positions for the secondary axis become mis-aligned to match those of the primary axis;

2. When the secondary axis had fewer labels than the primary axis, the secondary axis label values are recycled to fill all the positions used by primary axis labels.

Reprex with

[2019-03-14 11:22] dirkschumacher opened #3186 "Backticks in labels when aesthetics are defined in a geom"
ggplot2 adds backticks around variable labels if those variables contain a space and the aesthetics are defined in the geom and not globally.

No backticks:
[code]

![](https://i.imgur.com/rtuakjv.png)

<sup>Created on 2019-03-14 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Backticks:
[code]

![](https://i.imgur.com/O0kp2XF.png)

<sup>Created on 2019-03-14 by the [reprex p

[2019-03-14 11:29] batpigandme commented on #3186
I'm not able to reproduce this with the development version of ggplot2. Is that what you're running as well? If so, could you append your session info?

Thanks

[code]

![](https://i.imgur.com/HGANgqc.png)

[code]

![](https://i.imgur.com/N5xxoWq.png)

<sup>Created on 2019-03-14 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

<details>

<summary>Session info</summary>

[code]

[2019-03-14 11:32] batpigandme commented on #3186
I think this was fixed by @yutannihilation  in https://github.com/tidyverse/ggplot2/pull/2981 !

[2019-03-14 11:33] dirkschumacher commented on #3186
[code]

![](https://i.imgur.com/OMymENr.png)

<sup>Created on 2019-03-14 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2019-03-14 14:01] dirkschumacher commented on #3186
@batpigandme I guess then we can close the issue

[2019-03-14 16:23] batpigandme commented on #3186
Sounds good!

[2019-03-14 16:23] #3186 closed

[2019-03-14 23:54] yutannihilation commented on #3186
Yes, this is already fixed in the dev version. Thanks, Mara!

[2019-03-15 13:37] ptoche commented on #3180
It's down to the difference between ``colour = "white"`` and ``colour = NA``:

[code]

![](https://i.imgur.com/Fg6YizU.png)

<sup>Created on 2019-03-15 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[code]

![](https://i.imgur.com/hNepRvJ.png)

<sup>Created on 2019-03-15 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-15 14:12] clauswilke commented on #3180
Setting the color to black makes it clearer what happens. The spacing doesn't change, but there's an additional border that is drawn and that covers some of the key parts. Maybe we should remove this border for `theme_bw()`?

[code]

![](https://i.imgur.com/ukZRF9x.png)

<sup>Created on 2019-03-15 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-15 16:27] LDalby opened #3187 "Changing the legend title changes the continuous scale to categorical."
Changing the legend title changes the continuous scale to categorical.
Wasn't it suppose to just stay the same, but with a new title?

[code]

![](https://i.imgur.com/10LHxld.png)

[code]

![](https://i.imgur.com/GZ0amgc.png)

<sup>Created on 2019-03-15 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2019-03-15 16:30] thomasp85 commented on #3187
The scale stays the same (as you can see on the plot) but you specifically ask for `guide_legend` instead of the default `guide_colourbar` so that is what you get

[2019-03-15 16:30] #3187 closed

[2019-03-15 16:39] LDalby commented on #3187
Ahh, of course!
Thanks and sorry about that one.

[2019-03-15 16:43] tungmilan commented on #3180
Thanks @ptoche & @clauswilke ! That makes sense. So is there a way to make the size of those legend boxes the same? The blue key box is noticeably larger than the others.

[2019-03-15 17:08] Dratt6 opened #3188 "ggplot match color code column to another column in R dataframe"
I have this simple dataframe in the form:

    x    y    tissue    color_code
    1    2    nerve     #EEEE00
    2    3    brain     #33CCCC

There are several thousands rows for each tissue. Each tissue will have the same color_code (e.g. all rows with nerve have a color code of #EEEE00, etc.)

I would like to make a simple line plot of y vs x and color by tissue using the corresponding color co

[2019-03-15 17:28] batpigandme commented on #3188
This sort of question is a better fit for https://community.rstudio.com. Do you mind asking it over there? (You might want to read https://www.tidyverse.org/help/ first to maximise your chances of getting a good answer.)

[2019-03-15 17:28] #3188 closed

[2019-03-15 17:37] Dratt6 commented on #3188
Sounds good! I just moved it over there.

[2019-03-15 18:34] clauswilke commented on #3180
I would recommend to just set `colour = NA` in the theme element. We should probably make that fix in the ggplot2 code base also.

[code]

![](https://i.imgur.com/QLD6smD.png)

<sup>Created on 2019-03-15 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-15 19:50] tungmilan commented on #3180
Thanks @clauswilke ! Now I understand. Would be great if this is fixed int the future release

[2019-03-16 22:31] baptiste commented on #3145
I've seen plots where the legend reproduced a miniature trace of the data it's referring to (e.g for time-series); it worked quite well.

Kind of related to this, I've come to believe that guides could be based on a trimmed down grammar of graphics. Basically, a guide would become a kind of mini ggplot itself.

https://gist.github.com/baptiste/960186a01ca3c48b112f4a15fe013884

It might be impracti

[2019-03-17 17:34] clauswilke commented on #3145
@baptiste I think what you're bringing up is a separate issue. This specific issue is meant to make a small modification to the existing guide code. What you're proposing would require a complete overhaul of that code. I'm not opposed to that in principle, but I think it deserves its own issue.

@hadley @thomasp85 @yutannihilation Could you take a quick look at my functions `set_draw_key()` and `g

[2019-03-18 00:44] yutannihilation commented on #3145
Looks OK.

But, I'm wondering if it is really what we want to specify `draw_key` on individual geoms. For example, do we really need different lines for different line geoms in the plot below?

<details>

[code]

</details>

[code]

![](https://i.imgur.com/4DUOXev.png)

<sup>Created on 2019-03-18 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

One idea is to have a list

[2019-03-18 00:44] yutannihilation commented on #3145
Sorry, I mistakenly closed the issue...

[2019-03-18 00:58] clauswilke commented on #3145
I am not too worried about having to specify a draw key multiple times if somebody uses the same geom  multiple times in a plot. That's not any different than, for example, setting the same scale name in all scales (e.g. color, fill, shape) to ensure the legends merge correctly.

We could talk about making draw keys globally configurable, but I feel that's a secondary issue that we can provide *in

[2019-03-18 01:06] clauswilke commented on #3145
Actually, changing draw keys globally is trivially possible by modifying the geom. We could add a convenience function that encapsulates this modification if we wanted to.

<details>

[code]
</details>

[code]

![](https://i.imgur.com/QUK7IOj.png)

<sup>Created on 2019-03-17 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-18 01:06] yutannihilation commented on #3180
@clauswilke

Sorry, I'm confused... Are you talking about `theme_gray()`? `theme_bw()` doesn't have borders, and `theme_gray()` does.

[code]

<sup>Created on 2019-03-18 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

[2019-03-18 01:21] yutannihilation commented on #3145
That's convincing, thanks. Then, I have no concern here.

One thing, to be clear, what I was trying to see was not to set the `draw_key` of individual Geoms, but to override `draw_key_*()` (e.g. `draw_key_line()`) globally, so that it might be possible for themes to provide custom legends globally.

[2019-03-18 01:23] clauswilke commented on #3145
Actually, now that I think about it, maybe starting with just the function that modifies geoms globally is the way to go. It would be minimally invasive. (I realize I use the same function name `set_draw_key()` for a different purpose now.)

[code]

![](https://i.imgur.com/vqVfCLB.png)

[code]

![](https://i.imgur.com/qQayx8f.png)

<sup>Created on 2019-03-17 by the [reprex package](https://reprex.

[2019-03-18 02:15] yutannihilation commented on #3145
Can we keep the default `draw_key` function so that we can reset by `set_draw_key("line", NULL)`?

[2019-03-18 03:00] clauswilke commented on #3145
Like so? Note that I changed the name of the function.

[code]

![](https://i.imgur.com/99ptjac.png)

[code]

![](https://i.imgur.com/n73mlJ5.png)

<sup>Created on 2019-03-17 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-18 03:10] clauswilke commented on #3180
I may have mixed them up. The borders seem to be causing trouble (uneven glyph size), so it may be better to remove them and to create spacing between the keys in a different manner.

[2019-03-18 03:14] clauswilke commented on #3145
I would be wary of that, due to potential unexpected side effects. Even with the system I just proposed you might run into trouble if you wanted to make a compound plot with patchwork and use different legend keys in the different component plots.

[2019-03-18 03:24] yutannihilation commented on #3145
Yes! Looks nice.

Agreed.

[2019-03-18 05:48] tungmilan commented on #3180
@clauswilke & @yutannihilation : is there any reason why `ggplot` doesn't have an option to manipulate vertical distance between legend key boxes? Thanks!

[2019-03-18 09:15] hadley opened #3189 "Better integrate extensions site with main site"
At a minimum, I think we should link to from the main navbar, and we should probably mention it in the readme.

@yutannihilation do you have other ideas?

[2019-03-18 10:13] hadley commented on #3145
I'd prefer not to have more functions that modify the state of ggplot2 objects, because I think it generally makes code harder to reason about. If you think this function is useful enough to override that consideration, it should invisibly return the previous value, as described in https://principles.tidyverse.org/side-effect-soup.html#make-easy-to-undo.

[2019-03-18 10:14] yutannihilation commented on #3189
http://www.ggplot2-exts.org/gallery/ is already mentioned in README! That's the reason why I became a maintainer of ggplot2-exts to keep it maintained to some extent because, at the time, the site was not well maintained (e.g. the metadata YAML had been broken for years...).

That said, I have no idea how to integrate. Better integration might require some changes on ggplot2-exts's side. Let me th

[2019-03-18 11:00] gdkrmr opened #3190 "geom_quantile does not have fullrange option"
`geom_quantile` does not have an option to plot the regression lines for the entire range of the x-axis as `geom_smooth` has.

[2019-03-18 11:54] yutannihilation opened #3191 "Rebuild the stable version of pkgdown site"
The dev version (https://ggplot2.tidyverse.org/dev/) of the site is fine, but it seems the stable version (https://ggplot2.tidyverse.org/) is based on this halfway commit: 2b00ea7 Probably, the stable version should be based on `v3.1.0` tag.

@hadley @batpigandme Do you know how to do this? We need to tag a new release to invoke a build?

[2019-03-18 12:07] yutannihilation commented on #3190
Comparing `stat_quantile()` and `stat_smooth()`, this feature request doesn't seem difficult to implement, though I don't have enough knowledge to tell if `fullrange` makes sense for `geom_quantile()`...

https://github.com/tidyverse/ggplot2/blob/ae1c8f0e9160ebdc6037273eb6366424009b4d1c/R/stat-quantile.r#L73-L77

https://github.com/tidyverse/ggplot2/blob/ae1c8f0e9160ebdc6037273eb6366424009b4d1c/R/

[2019-03-18 12:08] batpigandme commented on #3191
It looks to me like that was the last commit before Hadley ran a standard web site build in https://github.com/tidyverse/ggplot2/commit/9f1904df332096f9336c663c38980aa718c24a47

I'm not sure if we have a way of retroactively building off of a tag. I think it'd have to be a manual build off of `3.1.0`.

[2019-03-18 12:18] yutannihilation commented on #3191
Thanks. Then, I'll try to find a nicer way of manual build...

[2019-03-18 13:37] smouksassi commented on #3190
Not to hijack this thread I always found it strange as well that it does not support Standard errors. The quantreg package predict method can output se and the lattice implementation let us plot quantreg with se's.

[2019-03-18 15:17] hadley commented on #3191
@yutannihilation I _think_ it's possible to do by some how checking out an old version of the master branch, and a new version of the gh-pages branch. But I don't know exactly what that involves. If you figure it out, please let us know!

[2019-03-18 15:31] clauswilke commented on #3145
@hadley Your statement mirrors my initial concerns. Let's not go that route then. People can always directly modify the geoms if they want to. I've done that a couple of times in my own code and I've always found it dissatisfying, because inevitably the modification needs to be undone later on for a different plot.

I realized yesterday that it may also be possible to move the `draw_key` argument

[2019-03-18 15:39] gdkrmr commented on #3190
rename this thread to "feature parity `geom_quantile` and `geom_smooth`"?

[2019-03-18 15:57] yutannihilation commented on #3191
Travis let us deploy from other branch than `master` when we set a branch name on `on` condition in `.travis.yml` (c.f. https://docs.travis-ci.com/user/deployment/#conditional-releases-with-on)

So, I guess, something like this would work:

[code]

Anyway I'm experimenting on my forked repo, and will hopefully send a PR!

[2019-03-18 17:52] clauswilke commented on #3180
There's no good principled reason. It's just that the way legend drawing is currently implemented, adding variable vertical spacing between legend key boxes will not be trivial to implement.

[2019-03-18 23:10] sn248 opened #3193 "geom_jitter changes zero values to non-zero values"
`geom_jitter()` changes the `y` values when I think it should not.

[code]
`Y` values are all zero, but employing `geom_jitter()` introduces jitter in the `y` direction, I was only expecting points to be jittered to be along `x` axis.

![image](https://user-images.githubusercontent.com/15050584/54569429-3fcdc600-49b1-11e9-9b8d-427aad97c9a6.png)

`geom_boxplot()` or `geom_point()` do not change the

[2019-03-19 02:44] yutannihilation commented on #3191
I succeeded to rebuild v3.1.0 site on my repo by tweaking .travis.yml a bit.

diff: https://github.com/yutannihilation/ggplot2/compare/d2a5a8c...v3.1.0-rebuild-site

Would you like me to do the same thing on this repo? Or can I send a PR? I think the latter is safer, but probably you cannot review the whole change because the diff is massive...

https://github.com/tidyverse/ggplot2/compare/gh-page

[2019-03-19 02:52] yutannihilation commented on #3193
Jittering might be confusing when there's only one value (c.f. #3001), but this is what it is. If you need horizontal jitters only, you can set `height` to `0`.

[code]

![](https://i.imgur.com/AOwt7Zm.png)

<sup>Created on 2019-03-19 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

[2019-03-19 02:52] #3193 closed

[2019-03-19 07:39] hadley commented on #3191
I was thinking that you would build locally, and just push directly to the gh-pages branch.

[2019-03-19 07:58] yutannihilation commented on #3191
I'm afraid my Windows is not good at generating high-resolution plots... 🙄 But, OK, I'll do the former.

[2019-03-19 08:27] yutannihilation commented on #3191
Done! Thanks for the advices. If you find something wrong, please let me know.

Travis job: https://travis-ci.org/tidyverse/ggplot2/jobs/508262077
commit: https://github.com/tidyverse/ggplot2/commit/5ce070877e36d4325710f56a0e3bc08f707c3499

[2019-03-19 08:27] #3191 closed

[2019-03-19 11:50] yutannihilation opened #3195 "@import rlang?"
[Lionel said](https://github.com/tidyverse/ggplot2/pull/3161#pullrequestreview-215714849):

If it's a common practice among tidyverse, I think we should follow it. It is probably good for performance (though I'm not sure how much it matters).

[2019-03-20 04:53] #3184 closed

[2019-03-20 13:50] ColinFay opened #3196 "Checking `...`"
Following this [twitter thread](https://twitter.com/hadleywickham/status/1108363335395794949).

`labs()` uses `...`, but the name of the arguments are not checked, so this can lead to errors when passing `tile = ` instead of `title`, or any other typo.

It would be nice for the user to have at least a warning (or an error) here:

[code]

[2019-03-21 19:11] sctyner opened #3197 "Ordered factor levels are rearranged on axis when layers are rearranged"
## What I want to do

Draw vertical lines with x-intercepts where the x-axis is a factor *under* a `geom_line()` call with different data but identical ordered factor levels.

[code]

Per closed issue [#1780](https://github.com/tidyverse/ggplot2/issues/1780) `geom_vline()` must be numeric. (For my purposes, the variable must be an ordered factor because it's DNA data that needs to be drawn in the

[2019-03-21 20:01] hadley commented on #3195
Agreed

[2019-03-21 20:01] hadley commented on #3196
And in all other functions that use `...`

[2019-03-21 22:01] sctyner commented on #3197
Adding `scale_x_discrete(drop = FALSE)` did the trick. (See below.)

Thanks @hadley!

<blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden" data-partner="tweetdeck"><p lang="en" dir="ltr">I feel like the answer is drop = FALSE in the right place. Hopefully someone has more specific advice</p>&mdash; Hadley Wickham (@hadleywickham) <a href="https://twitter.com/hadleywickham

[2019-03-21 22:01] #3197 closed

[2019-03-21 22:13] hadley commented on #3197
This would make a great blog post 😉

[2019-03-22 08:45] zeehio opened #3198 "midpoint is not transformed in scale_color_gradient2"
When using `scale_color_gradient2` with `trans = "log10"`, I was expecting the `midpoint` to be transformed as well. The documentation does not specify how `midpoint` behaves under transformation.

# Reproducible example

## Without transformation:

[code]
![imatge](https://user-images.githubusercontent.com/75441/54810226-de924500-4c85-11e9-8062-a8c3ec97d36f.png)

## With transformation
[code]
![i

[2019-03-22 11:18] yutannihilation commented on #3195
OK, then I will do this after the existing big PRs are gets merged.

[2019-03-22 12:40] hoasxyz opened #3199 "Can ggplot2 connect scatter points as a fitted style just like excel?"
[code]
![excel](https://github.com/hoasxyz/mdphotos/raw/master/another/excelplot.png)

[2019-03-22 13:02] yutannihilation commented on #3199
You can use `geom_smooth()` or `ggalt::geom_xspline()`. For future reference, this sort of question is a better fit for StackOverflow or [RStudio Community](https://community.rstudio.com/).

[code]

![](https://i.imgur.com/Fh6FLRU.png)

<sup>Created on 2019-03-22 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-22 13:02] #3199 closed

[2019-03-22 13:09] hoasxyz commented on #3199
THX!

[2019-03-23 08:34] hoasxyz opened #3200 "Probability(% labels) x axis scale"
Can ggplot2 set its x-axis just like this?
![](https://github.com/hoasxyz/mdphotos/raw/master/another/grapher-p-xaxis.png)

[2019-03-23 09:21] yutannihilation commented on #3200
Please do not use here for questions, but instead ask on SO or on RStudio Community.

[2019-03-23 09:21] #3200 closed

[2019-03-24 00:51] coolbutuseless opened #3202 "Inconsistent formals for `StatIdentity$compute_layer`"
The formals for `compute_layer` in the majority of the Stats in ggplot2 are `c(self, data, params, layout)`

Two Stats are different from the others: `StatBindot` and `StatIdentity`.

Is there a reason for the different formals for these 2 stats?  Is this just a leftover from earlier version?

I'm certain the `StatIdentity$compute_layer` and `StatBindot$compute_layer` argument names don't matter (

[2019-03-24 01:29] yutannihilation commented on #3202
Thanks. I quickly checked the code.

* `StatIdentity` seems safe to fix because only `data` is used.
* `StatBindot` might needs some care, but it seems no CRAN packages use this (c.f. https://github.com/search?q=org%3Acran+%28StatBindot+OR+bindot%29+-repo%3Acran%2Fggplot2&type=Code). So I think this is also OK to fix.

Let me see if there are some historical reasons.

[2019-03-24 06:22] yutannihilation commented on #3196
Does this require us to replace all `list()` with `rlang::list2()`? Otherwise, `list()` actually uses `...`.

[code]

<sup>Created on 2019-03-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-24 06:43] yutannihilation commented on #3196
Hmm, I come to think we can do nothing for `labs()`; there's a chance `tile` is a valid aesthetic, and `labs()` takes arbitrary aesthetics, which means we cannot verify the arguments without annoying false positive warnings. For example:

[code]

<sup>Created on 2019-03-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-24 08:17] thomasp85 commented on #3196
We could do something at build time if we really wants to because all named aesthetics is known there. Not sure it is worth it, though

[2019-03-24 08:23] yutannihilation commented on #3196
Thanks. For this particular issue, I agree it's build time if we do some verification.

[2019-03-24 16:44] dan-reznik commented on #3025
i just spent 2hrs trying to figure out why geom_raster was filling blanks between unlisted pixels... i guess the above is the reason

[2019-03-24 17:33] thomasp85 commented on #3025
Just wondered whether it would make sense to make a fill_blanks stat for this..?

I generally think that the raster geom does the right thing. It is intended for fast plotting of larger raster data and should thus do minimal work on the data...

[2019-03-24 19:11] dan-reznik commented on #3025
thomas i think it would be more natural for geom_raster accept a logical parameter (full_grid) which would switch it into a mode that did not assume a full_grid is specified

[2019-03-24 23:11] behrman opened #3203 "default formula for geom_smooth(method = "gam")"
In observing students use `geom_smooth()`, I've seen a large proportion not use `method = "gam"` correctly. Students leave off the `formula` argument and get the equivalent of `method = "lm"`, which is probably not what they intended.

I'd consider having a default `formula` when users don't provide one and use `method = gam`, perhaps the same formula used by `"auto"` when there are more than 1000

[2019-03-24 23:28] yutannihilation commented on #3025
Sounds nice. Using Stats seems the right direction to me (though I'm not immediately sure if this is acceptable in terms of implementation).

[2019-03-24 23:34] clauswilke commented on #3203
This was previously discussed in #1931 and addressed via improvements in the documentation in #2681. If people use the `method` argument then at a minimum they should read the documentation for this argument, which now explicitly addresses this point.

[2019-03-24 23:34] #3203 closed

[2019-03-25 00:48] yutannihilation commented on #3132
@hadley Can we close this? I believe we don't want to let `predictdf()` be extended. Considering broom package (or parsnip, or whatever package for tidy prediction) now provides more standardised methods, I don't think `predictdf()` is the right place to be an interface between prediction methods.

(I expect tidymodels will provide some nice alternative to `geom_smooth()` eventually. https://githu

[2019-03-25 05:07] behrman commented on #3203
Those seeking to use `method = "gam"` may not have a good understanding of what formulas are available and be happy with the default used by `"auto"`. Is there any harm is using the same default as used by `"auto"` when the user does not specify a formula to `method = "gam"`? What they are currently getting is same as supplying `method = "lm"`, which is probably not what they intend.

[2019-03-25 05:24] clauswilke commented on #3203
Why are they specifying `method = "gam"` if they haven't read the documentation and don't understand how gams work?

The problem is that there is a default formula set, `formula = y ~ x`, as you can see in the documentation. So there's no good way to detect whether the user has provided a formula or not.

[2019-03-25 05:33] behrman commented on #3203
I wish I knew why students supply `method = "gam"` if they don't really understand how it works. I see your point for the current behavior. Thanks for the explanation.

The solution may be for me to better teach our students how `geom_smooth()` works.

[2019-03-25 12:15] hadley commented on #3132
Yeah, but we need to follow up with the complmrob telling them what they need to do.

[2019-03-25 12:41] yutannihilation commented on #3132
I have zero knowledge about the package. Maybe they need to implement `fortify()` and `autolayer()`?

[2019-03-25 13:31] jprice80 opened #3204 "Boxplot whiskers using plot vs ggplot2"
Hi All,

I was putting together some examples and ran across an interesting difference between plot and ggplot2 boxplot whiskers creation.  Please see the reproducible example below.  Results seem to be consistent between plot and ggplot2 for the "ctrl" and "trt2" but the whiskers are quite a bit different for "trt1".  Did I make a mistake?

library("ggplot2")
library("dplyr")
library("datasets")

[2019-03-25 15:17] ptoche commented on #3204
from ``?geom_boxplot``, you can see that there are subtle differences in the way the whiskers are computed. I'm guessing that's the cause. In addition, see below how to produce an example with ``reprex()``.

[code]

![](https://i.imgur.com/jeWVtEa.png)

[code]

![](https://i.imgur.com/1rlIIsw.png)

<sup>Created on 2019-03-25 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-25 15:25] clauswilke commented on #3132
I think most importantly, we need to tell them that `geom_smooth()` is not meant to be used the way they do. We have given the same answer to people who complained that their preferred model was not supported for some reason or another. They could copy the `geom_smooth()` code and implement their own version, e.g. `geom_complmrob_smooth()`. Alternatively, `autolayer()` would be an option also, tho

[2019-03-25 19:00] behrman opened #3205 "consider making geom_smooth() formula = "auto" the default"
In observing the code of my students, I can see that many have mental models of `geom_smooth()` that lead them to use it incorrectly. Their mental model is to use the `method` argument to specify the type of smoothing, and this is reasonable. It works fine for `method = "lm"` and `method = "loess"` but not `method = "gam"`, since the default `formula` works well with `"lm"` and `"loess"` but not `

[2019-03-25 23:57] yutannihilation commented on #3132
Agreed.

This seems the code in question:

[code]
https://github.com/cran/complmrob/blob/e968bd97eed171add28c7189da04e8379581df2a/R/plot-methods.R#L123-L127

They just use `stat_smooth()` internally, so it turns out `fortify()` and `autolayer()` are not needed. I think they can fortify the data by themselves and compose arbitrary geoms.

[2019-03-27 16:08] ptoche commented on #3180
Looking at it again, setting ``colour = NA`` looks like the correct thing to do: Had you noticed how the blue square in the legend appears taller than the other two squares? (I hadn't the first time around) It seems that the covering line (the black line in Claus's example) is not vertically centered, thus creating the undesired effect. Must be fixed.

[2019-03-27 18:01] thomasp85 opened #3207 "Release ggplot2 3.1.1"
Prepare for release:

* [x] `devtools::check()`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] `revdepcheck::revdep_check(num_workers = 4)`
* [x] [Polish NEWS](http://style.tidyverse.org/news.html#before-release)
* [x] Polish pkgdown reference index
* [x] Draft blog post

Submit to CRAN:

* [x] `usethis::use_version()`
* [x] Update `cran-comments.md`
* [x] `devtools::subm

[2019-03-27 18:04] thomasp85 commented on #3207
@Hadley @karawoo @clauswilke @yutannihilation we will make a minor release of the current master shortish, in order to make the integration of the new unit system in grid as smooth as possible so it can be part of the R 3.6 release... There are no breaks in reverse dependencies, so it should be smooth sailing

Please hold of on merging anything into master until the release process has ended

[2019-03-27 18:28] clauswilke commented on #3207
I think we should address #3158 before a 3.2.0 release, so we don't release a new API we immediately invalidate with the next release.

I would delete these five lines and not make any other changes:
https://github.com/tidyverse/ggplot2/blob/033fb521a084447c15178c591ab96a158f3b1e1e/R/layer-sf.R#L3-L7

@yutannihilation [suggested](https://github.com/tidyverse/ggplot2/issues/3158#issuecomment-466286

[2019-03-27 18:30] thomasp85 commented on #3207
I'll make sure to remove those lines

[2019-03-27 18:31] clauswilke commented on #3207
@thomasp85 Thanks! I'm traveling through the end of the week and won't have much time to look into anything before the weekend.

[2019-03-27 18:32] thomasp85 commented on #3207
No problem... there is not much to do as there is zero revdep problems :-)

[2019-03-27 19:14] #3158 closed

[2019-03-27 19:26] dpseidel commented on #3207
Great to see another release is coming together! Perhaps it's too late now with the already revdeps done, but is there any interest in merging #3040 to fix the sec.axis issues before release? It's been ready for review since February but we never got it merged.

[2019-03-27 19:34] thomasp85 commented on #3207
I’m afraid we’ll have to postpone it. The thing has gotten a little stressed due to syncing with grid and the next r release and we can’t really take bigger code changes in now. We’ll have it in the next release🙂

[2019-03-27 22:45] atusy opened #3210 "Let some wrapper functions not to use `...`"
Related to #3196, using `...` cannot check argument names, and cannot indicate candidate arguments in IDE.
For some wrappers like `scale_x_reverse`, I think user friendly implementations are functions modifying formals.
However, this may not be friendly for developers...
See below for an example.

[code]

![](https://i.imgur.com/ANpvXWT.png)

<sup>Created on 2019-03-28 by the [reprex package](http

[2019-03-28 05:23] yutannihilation commented on #3210
Could you join the discussion on #3196? I think this is a possible approach, though I'm not sure how feasible this is.

[2019-03-28 05:23] #3210 closed

[2019-03-28 05:27] yutannihilation commented on #3196
To clarify, this issue is a general discussion about checking `...`. It seems we need different approaches for different places. For example:

* use ellipsis package
* check parameters on build time
* modify formals instead of using `...` (#3210 by @atusy)

[2019-03-28 05:59] jugularvein opened #3212 "Set minimum pixel length for geom_line?"
Is there any way to add a minimum length (in pixels?) to geom_line so that values are always represented in a plot?

To expand on this, geom_point always plots. If the width of a plot is narrow, the points overlap and essentially get grouped because of the pixels. With geom_line, if a plot width is too narrow it can result in lost visualization because the line is not 'forced' to plot.

geom_point

[2019-03-28 07:25] #3212 closed

[2019-03-28 10:18] courtiol opened #3213 "error bars in x and y (feature request)"
Dear all,

Following a discussion at [community.rstudio](https://community.rstudio.com/t/using-stat-instead-of-dplyr-to-summarize-groups-in-a-ggplot/13916) with @eipi10 and @tp2750, I hereby file a feature request to help creating a double error bar (i.e. in x and y).

The idea could be to provide a new geom_* or stat_* that directly provide error bars in x and y, as it seems otherwise surprisingl

[2019-03-28 15:22] ptoche commented on #3213
reprex below for reference:

[code]

![](https://i.imgur.com/EnMPEXy.png)

[code]

![](https://i.imgur.com/rDyMOGA.png)

<sup>Created on 2019-03-28 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-28 15:25] courtiol commented on #3213
Thanks @ptoche... I should have done that.

[2019-03-28 20:03] baderstine opened #3214 "stat.smooth: Add se.type option for "prediction" interval"
https://github.com/tidyverse/ggplot2/blob/92d27779e210ce16f441eeec26926b8b045a47a8/R/stat-smooth-methods.r#L14

Suggest something like the following, where interval could take the value "confidence" or "prediction":

    predictdf.default <- function(model, xseq, se, level, se.type="confidence") {
        pred <- stats::predict(model, newdata = new_data_frame(list(x = xseq)), se.fit = se,
    leve

[2019-03-29 01:18] atusy commented on #3196
At least for `scale_x|y_*`,  modifying formals is a user friendly way.
However, I'm not sure for others.

For example, see `scale_alpha_continuous2` implemented by modifying formals of `continuous_scale`, which works in the same way as original `scale_alpha_continuous`.
This implementation enables checking arguments on run and suggesting arguments on IDE.
However, first 3 arguments of `scale_alpha

[2019-03-29 07:21] ahmohamed opened #3215 "Latest "grid" update (r76285) breaks ggplot2"
It seems that `ggplot2` stopped working with the latest R-devel version for some reason. Here is a reprex

[code]

Update details:

r76285 | murrell | 2019-03-28 16:37:47 -0500 (Thu, 28 Mar 2019) | 1 line
Changed paths:
   M /trunk/src/library/grid/NAMESPACE
   M /trunk/src/library/grid/R/unit.R
   M /trunk/src/library/grid/inst/doc/changes.txt
   M /trunk/src/library/grid/man/unit.c.Rd
   M /trun

[2019-03-29 07:27] yutannihilation commented on #3215
Could you try the dev version of ggplot2?

[2019-03-29 07:33] ahmohamed commented on #3215
Thanks. The dev version fixes the problem. Any idea when will it be pushed to CRAN. This is breaking my CI tests.

[2019-03-29 07:37] yutannihilation commented on #3215
Thanks for confirmation! We are planning to release soon. Stay tuned on #3207 :)

[2019-03-29 07:37] #3215 closed

[2019-03-29 08:29] codetrainee opened #3216 "Labels of axis and legend are misaligned using superscript in expression"
[code]
![Rplot09](https://user-images.githubusercontent.com/8357863/55218688-e4c08c80-5256-11e9-83d5-747f42f096e6.png)

The axis and legend texts are not aligned. The problem also occurred when using `expression` instead `bquote`. I tried `scale_x_discrete(label = c(bquote("engouh to overlap" ~T7^" "), bquote(T7^"-/-" ~ "test"))) ` but with no luck.

Do you have any idea to align the text?

[2019-03-29 13:30] adrfantini commented on #2673
By the way, the awesome package [metR](https://github.com/eliocamp/metR) includes a `scale_fill_divergent` function that does something similar to what's requested here:
![](https://github.com/eliocamp/metR/raw/master/man/figures/field-1.png)

[2019-03-29 14:24] hadley commented on #3196
I do not think modifying formals is the right way to approach this problem.

[2019-03-29 14:57] yutannihilation commented on #3196
I too feel modifying formals might not be the direct answer here, but I think the point is that in some cases we don't really need `...` just to create the variations of functions with different defaults. I don't think we have any nice way to do this (especially, in terms of roxygen's support), but, to me, it seems interesting to generate functions programmatically.

[2019-03-29 18:02] karawoo commented on #3216
The axis text is aligned, just to the top rather than the bottom. The legend text is aligned in the center -- the superscript adds to the overall height of the text, so the top is higher and the bottom is lower than the other legend label. Turning on debugging makes it a little clearer what is going on:

I'm guessing you are looking for the bottom of the text to be in alignment. You can do this by

[2019-03-29 18:54] HenrikBengtsson opened #3217 "R-devel: Error in grid.Call.graphics(C_setviewport, vp, TRUE) : VECTOR_ELT() can only be applied to a 'list', not a 'double'"
Disclaimer: This might be related to recent R-devel updates, e.g. [r76285](https://github.com/wch/r-source/commit/b22d111f63314b749cb82fb0540bd095e6f10995), or not.  It looks related to the 'grid' package but could be ggplot2 specific too - I don't have time to troubleshoot this further.  I could not reproduce it running a few of grid's examples but I only tried so many.  I discovered it downstrea

[2019-03-29 18:56] HenrikBengtsson commented on #3217
Argh... forgot to look at Closed Issues.  Already answered/addresses in Issue #3215.  Sorry for the noise.

[2019-03-29 18:56] #3217 closed

[2019-03-30 00:35] codetrainee commented on #3216
Thanks for your help.

The `vjust` can just solve the problem when there is a superscript or subscript in only one axis label. However, if we mix the two kinds of expression in different label position. `vjust` won't help.

[code]

![](https://i.imgur.com/PyyoEoN.png)

[code]

![](https://i.imgur.com/KturJhW.png)

[code]

![](https://i.imgur.com/5ij9vYt.png)

<sup>Created on 2019-03-30 by the [rep

[2019-03-30 01:07] dongzhuoer opened #3219 "add link to `stat()` in pkgdown website"
ggplot2 introduces `stat(x)` to replace `..x..` for using [calculated aesthetics](https://ggplot2.tidyverse.org/reference/stat.html). But it such a pity that the pkgdown website, especially [Reference](https://ggplot2.tidyverse.org/reference/index.html) page doesn't include a link to that function.

One day I can't remember the function's name, thus want to check it on pkgdown website. I look arou

[2019-03-30 01:52] yutannihilation commented on #3219
Oh, good catch. Thanks. It seems some more topics are missing from `_pkgdown.yml`...

(https://travis-ci.org/tidyverse/ggplot2/jobs/512667960#L2175)

[2019-03-30 02:01] yutannihilation commented on #3204
Thanks @ptoche.

[2019-03-30 02:01] #3204 closed

[2019-03-30 02:13] yutannihilation commented on #3216
I understand it's nice if we can do this, but I'm afraid grid doesn't provide such options.

[2019-03-30 10:13] yutannihilation commented on #3217
Thanks for the notice anyway!

[2019-03-30 13:55] codetrainee commented on #3216
I've got a solution from [Joel](https://community.rstudio.com/u/joels/) in [Rstudio community](https://community.rstudio.com/t/ggplot2-axis-and-legend-text-misalignment/27347/2) and here is the reply:

[code]

![](https://i.imgur.com/BlPhgnj.png)

<sup>Created on 2019-03-31 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-30 16:48] Atomizer15 opened #3220 "GGPlot2 Failing Silently in Windows 10"
When I use GGPlot2 in Windows 10, I get the standard grey screen for "ggplot" in the plot console. But when i use geom_* I get no plot and just a list of parameters in the regular console. Also, I should note that if I use the old "plot" function, it works as expected.

mapping: x = ~speed, y = ~dist
geom_point: na.rm = FALSE
stat_identity: na.rm = FALSE
position_identity

The plot console stays g

[2019-03-30 16:52] batpigandme commented on #3220
If this is the exact code you are running, then you're missing the `+` that connects your data and geom (after the ggplot line). Also note that R is case-sensitive, so GGPlot2 and ggplot2 are not equivalent.

This sort of question is a better fit for https://community.rstudio.com. Do you mind asking it over there? (You might want to read https://www.tidyverse.org/help/ first to maximise your chanc

[2019-03-30 16:53] Atomizer15 commented on #3220
No problem. Thank you.

[2019-03-30 16:53] #3220 closed

[2019-03-31 02:51] yutannihilation commented on #3202
* `StatIdentity$compute_layer()` was added by this commit: https://github.com/tidyverse/ggplot2/commit/66b9df75f79f3a8f62c9683982a96b5a6d7bea38
* `StatBindot$compute_layer()` was added by this commit: https://github.com/tidyverse/ggplot2/commit/09faf058d789632974ffeb8da8c1a7ac91c3a91a

I found no special reason to keep them as is. It seems just because the common set of formals was `data, scales,

[2019-04-01 14:56] BobMuenchen commented on #3204
I ran this data through SAS and SPSS and the boxplots they created match the one created by R's plot function. Has something changed recently in how ggplot creates boxplots?

[2019-04-01 15:24] clauswilke commented on #3204
One data point is right at the boundary of the upper fence so minor differences in computation can cause the point to be included or excluded. In any case, by my calculation ggplot2 gets it right, at least assuming `quantile()` and `IQR()` are correct.

[code]

<sup>Created on 2019-04-01 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-01 16:04] jprice80 commented on #3204
Thank you for this insight.  Indeed, if one changes the value from 5.87 to 5.85, the plot becomes nearly identical to that of R's inherent plot function, SAS, and SPSS. It is interesting to see the results swing that much between different software implementations due to change at the hundredths decimal place but this looks to be one of those rare examples.

[2019-04-02 04:51] ptoche opened #3222 "breaks for integer data"
Any support for the idea that ggplot should only show integer breaks if the data type is ``integer``? If none, please close this issue.

Current default:

[code]

![](https://i.imgur.com/nRFD4vp.png)

The suggestion is that if the data is of integer type, ``ggplot`` would restrict breaks to be at integer values only, e.g..

[code]

![](https://i.imgur.com/99QJ852.png)

<sup>Created on 2019-04-02 b

[2019-04-02 15:15] flying-sheep commented on #3103
Until then: How can I fake it and create a custom colourbar legend manually?

[2019-04-04 14:46] matthewParksViome opened #3224 "transformation formulas give incorrect values for exponents"
I noticed that the values calculated by the `trans` formula for `sec_axis` are incorrect.

In particular, I want to give the log values and have a `sec_axis` that plots both the log and non-log values.

It seems to be a problem when the `trans` formula has an exponential form other than `exp`.

**Minimal reproducible example:**

[code]

Since all `x` values are in `[0,1]`, then by definition, the

[2019-04-04 15:05] batpigandme commented on #3224
I think this is the same bug as https://github.com/tidyverse/ggplot2/issues/2978 [Ticks misaligned for sec_axis with some scale transformations and data](https://github.com/tidyverse/ggplot2/issues/2978 )

[2019-04-04 15:11] matthewParksViome commented on #3224
@batpigandme  , so it is still unresolved? i.e. the bug remains in the latest version of  ggplot 3.1.0 ?

[2019-04-04 15:12] batpigandme commented on #3224
Correct. When it's resolved, the issue will be closed.

[2019-04-04 17:11] dpseidel commented on #3224
If you install PR #3040's branch, this has been patched there. We hope to merge it soon.

[2019-04-04 17:18] batpigandme commented on #3224
Great. Since This is a dupe for #2978, I'm going to close this as a duplicate issue.

[2019-04-04 17:18] #3224 closed

[2019-04-05 16:12] Katiedaisey opened #3225 "geom_rect problem with size"
`geom_rect()` does not seem to respect the `size` parameter for drawing borders.  Any declaration of `size`, including negative numbers and characters causes borders to increase to a much larger value.

I suspect `size` is defaulting to expecting a variable here.  I also suspect the problem is repeated in `geom_tile()`.

-----

[code]
![image](https://user-images.githubusercontent.com/10160679/556

[2019-04-05 16:48] thomasp85 commented on #3225
You need to set size outside of `aes()` in order for the value to be taken literally. As you do now, it will get scaled

[2019-04-05 16:48] #3225 closed

[2019-04-05 22:04] Katiedaisey commented on #3225
It's been a very long day.  Thanks

[2019-04-06 13:41] yutannihilation commented on #3207
@thomasp85 Do you know why ggplot2 stays in the CRAN pending queue? Are there anything we can do if there's some issue?

ftp://cran.r-project.org/incoming/pending/

[2019-04-06 14:08] thomasp85 commented on #3207
My guess is that they are busy with the 3.6 release process

[2019-04-06 14:11] yutannihilation commented on #3207
Aw..., OK, let's just wait.

[2019-04-07 18:39] thomasp85 commented on #3207
Ok, quick update on this. The first release (current master) had a surprising number of breaking reverse dependencies so we decided to make a hotfix 3.1.1 release instead, only including the changes necessary to play nice with the updated grid. It is now on CRAN 🎉

This gives us some more time to make a proper 3.2.0 release and I’ll create a milestone soon where we can begin to attach issues/PRs w

[2019-04-07 19:05] clauswilke commented on #3207
Thanks for the update. I think a proper release cycle with a set cutoff date for new features, then a few weeks later a cutoff date for bugfixes, then release is the way to go.

[2019-04-08 01:05] yutannihilation commented on #3207
Cool. Thanks for handling the process!

[2019-04-08 20:31] dipterix opened #3227 "Fail to install on AWS EC2"
[code]

[2019-04-08 20:37] batpigandme commented on #3227
This sort of question is a better fit for https://community.rstudio.com. Do you mind asking it over there? (You might want to read https://www.tidyverse.org/help/ first to maximise your chances of getting a good answer.)

[2019-04-08 20:37] #3227 closed

[2019-04-08 20:57] dipterix commented on #3227
nvm, figured it by myself. I installed two other packages and it passed (`scales` and `plyr`)

I though it was some package missing from `DESCRIPTION` so I posted it here.

[2019-04-09 14:04] agila5 opened #3228 "Parse problem for label axis"
I want to create a plot with col and axis labels that need to be firstly parsed. I read [here](https://github.com/tidyverse/ggplot2/issues/311) that I have to use scales::parse_format and, while it works for the fill legend, it does not seem to work for the x axis since it shows only the ticks . Am I doing something wrong?

[code]

![](https://i.imgur.com/DTwvupv.png)

<sup>Created on 2019-04-09 b

[2019-04-09 16:39] clauswilke commented on #3228
This looks like a bug in scales rather than in ggplot2. Would you mind [reporting it there](https://github.com/r-lib/scales/issues)? If I use ggplot2's internal parse function (which is not meant for public use, I'm just testing here) things work fine, so the problem lies with `scales::parse_format()`.

[code]

![](https://i.imgur.com/Eqzq7aI.png)

<sup>Created on 2019-04-09 by the [reprex package

[2019-04-09 16:39] #3228 closed

[2019-04-09 16:39] gdkrmr commented on #3190
I found it strange that there is a separate `geom_quantile` and not simply `geom_smooth(method = "qr")`.

[2019-04-09 17:15] agila5 commented on #3228
Thank you very much for your help! I just reported the same issue [there](https://github.com/r-lib/scales/issues/203).

[2019-04-11 03:42] lionel- commented on #3207
Just FYI, on R 3.6, CRAN ggplot2 produces messages at load-time because it overwrites quosure methods in rlang: https://github.com/r-lib/rlang/issues/669

[2019-04-11 07:29] #3207 closed

[2019-04-11 08:00] #2986 closed

[2019-04-11 08:00] #3070 closed

[2019-04-11 09:11] #2978 closed

[2019-04-11 09:34] thomasp85 commented on #3222
I think the fact that few users are aware of integer/numeric difference and whether their data is one or the other will make adding this a source of confusion...

[2019-04-11 09:34] #3222 closed

[2019-04-11 09:38] thomasp85 commented on #3216
I think this is a nice workaround, but not something that should be build into ggplot2... you could consider submitting it to one of the general-purpose extension packages such as ggforce or ggalt

[2019-04-11 09:40] thomasp85 commented on #3202
@yutannihilation can you make a PR for this?

[2019-04-11 09:53] thomasp85 commented on #3195
@yutannihilation which PRs were you referencing? Can this be done now?

[2019-04-11 10:02] thomasp85 commented on #3185
@dpseidel you are the latest one to look at secondary axes - can you have a look?

[2019-04-11 10:02] #3182 closed

[2019-04-11 10:16] thomasp85 commented on #3169
The problem is that the `strip.text.x` specification is incomplete... as you have removed the ancestor element the `element_text()` must create a complete specifications including size, margin, etc...

[2019-04-11 10:16] #3169 closed

[2019-04-11 11:40] thomasp85 commented on #3132
@hadley can you reach out to the maintainer and ask them to change practice? or close if this is already fixed...

[2019-04-11 12:25] thomasp85 commented on #3103
you could fake an alpha scale by passing transparent colour into a colour scale:

[code]

[2019-04-11 12:25] #3103 closed

[2019-04-11 12:27] thomasp85 commented on #3100
I think this sort of functionality is better suited for an extension package. You could open a PR in an existing one or consider creating one yourself

[2019-04-11 12:27] #3100 closed

[2019-04-11 12:35] thomasp85 commented on #3055
tidy verse dev day has come and gone so this is up for grabs... @cderv do you want in?

[2019-04-11 12:47] cderv commented on #3055
Yep I can jump in on this. Count me in !

[2019-04-11 12:51] thomasp85 commented on #2990
@dpseidel do you have any idea how to handle this most gracefully?

[2019-04-11 12:51] flying-sheep commented on #3100
Are you sure? This could be implemented in a backwards-compatible way.

[2019-04-11 12:52] flying-sheep commented on #3103
Why did you close this? This is not fixed.

[2019-04-11 12:55] thomasp85 commented on #3103
because there are many technical reason to why this cannot be done as it currently stand and we are trying to prune out in the issues to better focus development

[2019-04-11 12:58] thomasp85 commented on #3100
It is not about backwards compatibility... every new feature adds a burden of maintenance, so new features have to be weighed by that. There is no reason why this couldn't exist in an extension package, which would solve all your needs

[2019-04-11 13:02] flying-sheep commented on #3100
OK!

[2019-04-11 13:02] thomasp85 commented on #2985
projection could also result in some weird placements for highly non-linear graticules... and alternative could be to provide an annotation function for adding graticule labels for the cases where they are not drawn by the axes

[2019-04-11 13:05] flying-sheep commented on #3103
This is still a valid issue, and closing it makes it impossible to find later.

Why not add a backlog label or milestone and put it in there? Then you can hide it from sight but it’s still tracked as “not solved”.

[2019-04-11 13:09] thomasp85 commented on #3103
any feature request is valid even if we decide to not implement it... that doesn't mean it should stay in the issue list in perpetuity. Closing it marks it as a *won't-fix*

[2019-04-11 13:14] #2964 closed

[2019-04-11 13:17] flying-sheep commented on #3103
Then I misunderstood you.

I thought you meant “won’t fix until we’ve cleared our technical debt and there’s no longer anything preventing it”

[2019-04-11 13:20] thomasp85 commented on #2947
You may have luck with the ggridges package... @clauswilke is this something that is possible?

[2019-04-11 13:24] #2933 closed

[2019-04-11 13:27] thomasp85 commented on #2918
This may be better suited for the vizdat package as it deals specifically with visualising "missing-ness"

[2019-04-11 13:27] #2918 closed

[2019-04-11 13:28] #2909 closed

[2019-04-11 13:29] clauswilke commented on #2947
Not sure it can be done right now, but I agree ggridges is the right place. @mkoohafkan, please file an issue there. https://github.com/clauswilke/ggridges And please use the reprex package to produce your reproducible example. Thanks!

[2019-04-11 13:29] #2947 closed

[2019-04-11 13:34] thomasp85 commented on #2906
wouldn't you simply set the limits in the coord instead to avoid removing anything?

[2019-04-11 13:51] clauswilke opened #3232 "add layer_sf() constructor"
Issue #3158 was closed, but only half of it was done. We still need a `layer_sf()` constructor that can be used by 3rd parties to create sf layers.

[2019-04-11 13:52] thomasp85 commented on #2882
you can use the margin argument in `element_text()` for this:

[code]

[2019-04-11 13:52] #2882 closed

[2019-04-11 15:14] hadley commented on #3132
Emailed the maintainer.

[2019-04-11 15:14] #3132 closed

[2019-04-11 15:27] dpseidel commented on #2990
I'll need to look back into it. I'll plan my own private dev day this weekend to dig into this and other open axis/scale issues :+1:

[2019-04-11 15:28] dpseidel commented on #3185
Yep. I'll take a look asap.

[2019-04-11 16:37] clauswilke commented on #3145
I'll try to get this done for the 3.2.0 release.

In addition to making the key glyph configurable, I'll also have to add meaningful aesthetics default settings to all the key drawing functions, in case they are used for geoms that don't provide some of the aesthetics. @dpseidel, at some point you did a survey of all the default settings the various geoms currently use. Could you remind me where I

[2019-04-11 16:45] dpseidel commented on #3145
here you go! 👉 https://gist.github.com/dpseidel/57f28ccc034ccfdd0cf25b6c6c82a635

[2019-04-11 17:56] thomasp85 opened #3233 "Remove build time code execution"
One example:

https://github.com/tidyverse/ggplot2/blob/47d65ddbb92066513578846512f98355d9b5e0d9/R/theme-current.R#L3

but we need to scour the code base for others

[2019-04-12 04:46] clauswilke commented on #3233
I was planning to rewrite how themes work. This line would be part of that. But I'm not sure I can do it before April 30. May have to wait until after ggplot2 3.2.0.

[2019-04-12 05:38] clauswilke commented on #3145
Thanks Dana!

[2019-04-12 07:14] #3189 closed

[2019-04-12 07:16] thomasp85 commented on #3233
yeah... I don't think we can get a whole new theme infrastructure in on this release... The above was just an example — we need to go through it all

[2019-04-12 07:18] #3055 closed

[2019-04-12 07:57] smouksassi commented on #3190
predict.rqss or predict.qss  don't allow extrapolation , it incroporate se though:

[code]
let me know if you would like a PR with se ( no fullrange though)

[2019-04-12 15:00] clauswilke commented on #3233
However, I do have a half-finished PR (#2784). I'll spend a few hours to see if it can be brought into a mergeable state.

[2019-04-12 23:43] yutannihilation commented on #3132
Thanks Hadley!

[2019-04-12 23:48] yutannihilation commented on #2906
Aw, thanks. I thought `oob` would fix the problem, but it seems it doesn't help much, sorry.

[code]

![](https://i.imgur.com/QnvINOz.png)

<sup>Created on 2019-04-13 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-12 23:48] #2906 closed

[2019-04-13 00:35] yutannihilation commented on #3195
Will do. But, I'm sure the PR will conflict with others, and I'm afraid I won't have much time for fixing it immediately this month. Feel free to take over if you feel I'm not responsive!

[2019-04-13 01:40] #3031 closed

[2019-04-13 02:26] yutannihilation commented on #3219
Since this is about the pkgdown site, I don't think this is a milestone for the next release. Anyway I'll do this.

[2019-04-14 00:10] sahilseth opened #3247 "rbind on two ggplot objects"
`rbind` on two plots fails when one of them has a legend. This creates issues with several functions related to rbind in downstream packages as well.

[code]

![](https://i.imgur.com/Jrq959U.png)

[code]

<sup>Created on 2019-04-13 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Incase it helps, here are the widths from the two objects:

[code]

[code]

[2019-04-14 00:13] sahilseth commented on #3247
This relates to other issues as well: https://github.com/tidyverse/ggplot2/issues/2795. However, the proposed solution from cowplot does not seem to align plots with/without legends as intended.

[2019-04-14 00:26] clauswilke commented on #3247
`rbind`ing plots is not a supported feature. If you want to align multiple plots and cowplot doesn't fit your bill, you can try the egg or patchwork packages.

[2019-04-14 00:26] #3247 closed

[2019-04-14 21:56] npjc opened #3248 "geom_rect() aesthetics need to be explicitly named or warnings & errors?"
`geom_rect()` aesthetics need to be explicitly named or warnings & errors?

[code]

![](https://i.imgur.com/bwBzs01.png)

[code]

![](https://i.imgur.com/c4SYwvy.png)

-----

<sup>Created on 2019-04-14 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

[2019-04-14 22:42] clauswilke commented on #3248
Yes, **all** aesthetics except `x` and `y` must be explicitly named, and it is best to explicitly name `x` and `y` also.

[2019-04-14 22:42] #3248 closed

[2019-04-15 12:36] HaoLi111 opened #3249 "Using too much memory,(and not returning) with large gg objects ()"
ggplot does not support really big data?

## 1.Problem

I got a large DF with

[1] 30001500        3

and

[1] 16245

R version 3.5.1 (2018-07-02)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=Chinese (Simplified)_China.936
[2] LC_CTYPE=Chinese (Simplified)_China.936
[3] LC_MONETARY=Chinese (Simplified)_Chin

[2019-04-15 12:43] HaoLi111 commented on #3249
There is a very UGLY function to plot data in this scale directly with R.(from my repo

HaoLi111/BigDFnMPlot
)

[code]
And after this use
tiff::writeTIFF()

[2019-04-15 17:27] thomasp85 commented on #3249
No, ggplot2 does not support really big data. It has never been written with the intend to support multimillion datapoints, and some of the operations it performs are optimised for speed and not memory usage. I suggest you take a look at specialised frameworks such as the Datashader python library instead.

[2019-04-15 17:27] #3249 closed

[2019-04-17 00:05] hadley commented on #3205
I think it would make sense to default `formula` to `NULL`, and then fill later on where the `method = "auto"` work is done. This would be a great contribution for someone who wanted to contribute to ggplot2 for the first time 😄

[2019-04-17 08:41] #2935 closed

[2019-04-17 14:40] clauswilke commented on #2935
Closed via #2934.

[2019-04-17 15:38] sahilseth commented on #3247
Thanks Claus.
For others trying to find an answer. `egg::ggarrange` seems to be best in terms of handling edge cases.

[2019-04-17 18:09] clauswilke opened #3250 "Unexpected failure of density plot without any error or warning"
I encountered the following example when teaching density plots. If a discrete variable is encoded as numerical (e.g., 0/1), and that variable is mapped onto `fill`, the variable values get replaced with `NA` and no fill is applied/no grouping is calculated. Importantly, this happens without any kind of error or warning message, so students get no indication of what they have done wrong, or that s

[2019-04-17 18:27] clauswilke commented on #3250
I believe the problematic code lives here:
https://github.com/tidyverse/ggplot2/blob/83598069217e704fdc94c4593f9556cbbf90f61b/R/stat-.r#L109-L110
Non-unique data columns are silently dropped. We could issue a warning for non-unique missing columns. I just don't know how often such a warning might flag cases that are actually correct.

[2019-04-20 14:41] dempseynoel opened #3252 "Title default alignment to plot not panel (feature request)"
Currently, the default alignment for titles and subtitles is against the panel of a plot but not the plot itself. In most cases this is absolutely fine, however, where a plot has very long labels on the y axis (x axis if you have done coord-flip) titles will appear quite some way away from the left hand-side of the plot - see the two example plots below.

We can adjust the positioning of titles wi

[2019-04-21 10:21] teunbrand commented on #3062
I'm sorry for commenting on an issue last discussed here in january, but wouldn't a simple data subsetting wrapper produce the desired behaviour? Something along the lines of:

[code]
Wherein `rowtest` is a logical expression of which rows to keep (e.g. `Species == "setosa"` in the iris dataset) and `omit` is a column name you want to exclude for facetting purposes. It wouldn't store a complete `d

[2019-04-21 19:57] zuccaval opened #3253 "Permutated colors in ggplot geom_line"
---

The colors are permutated

- [ ] Szenario 1 should be red
- [x] Szenario 2 is ok and green
- [ ] Szenario 3 should be blue

[code]
<img width="501" alt="Unbenannt" src="https://user-images.githubusercontent.com/49843967/56474918-0ccf9400-6481-11e9-9d19-1c362dc4223b.PNG">

[2019-04-21 21:19] clauswilke commented on #3253
This type of question is better suited for the RStudio forums or for Stackoverflow. I would also recommend you read an introductory text into how ggplot2 works, e.g. [R for Data Science](https://r4ds.had.co.nz/) or [Data Visualization: A Practical Introduction.](http://socviz.co/)

[2019-04-21 21:19] #3253 closed

[2019-04-23 09:18] thomasp85 commented on #2887
Can we agree that a fix for this will be a better documentation of the `limits` argument with a clear statement that setting limits on positional scales *can* remove data, sometimes unpredictably, and if the purpose is to zoom, one should use the limit argument in the coordinate system?

[2019-04-23 09:48] thomasp85 commented on #2943
My feeling is that it would be better to make it dependent on the legend text size rather than the legend title... that would probably slightly change a lot of visualisations... @clauswilke what is your feeling about the best fix? I personally don't think we should be too afraid of slight visual changes for the greater good

[2019-04-23 11:45] thomasp85 commented on #3219
You are technically correct :-) I just wanted to make sure this was prioritised... Thanks for making the PR

[2019-04-23 12:21] hadley commented on #2887
Yes, agreed. This would be a good TDD activity.

[2019-04-23 12:22] flying-sheep opened #3259 "Get computed statistic from ggplot_build()"
`ggplot_build()` performs many steps, and the result doesn’t contain the steps between computing and mapping the statistics.

If I do `aes(..., alpha = stat(something))`, I’d like to be able to get e.g. `range(stat(something))`.

[2019-04-23 12:33] thomasp85 commented on #2887
Great - I’ll remove it from the milestone then

[2019-04-23 12:35] #2983 closed

[2019-04-23 13:35] thomasp85 commented on #3252
The short answer is "No - this is not possible"... one workaround would be to add the title using cowplot or patchwork to get the behaviour you want, though I understand why that may feel suboptimal... This is, however, not something we plan to fix anytime soon if ever, as it would require a lot of rethinking about how the plot grid gets constructed and result in possibly breaking changes

[2019-04-23 13:51] clauswilke commented on #2943
I wouldn't object to minor visual changes, however I think your proposed solution doesn't get to the heart of the problem, and similar issues could continue to pop up (e.g., if somebody sets the legend text to `element_blank()`).

The problem is that `element_blank()` doesn't define a font size and the legend drawing code doesn't realize that. A proper fix would address that issue. I'll take a loo

[2019-04-23 13:55] thomasp85 commented on #2943
I think setting legend text to element_blank would be a non-issue as the spacing would then be invisible (the reason for proposing that approach)

[2019-04-23 15:30] lz1nwm opened #3260 "Unicode text is misaligned in the legend"
I've noticed there is difference between rendering latin and unicode characters in the legend. It seems that unicode characters create additional spaces after the labels. I wonder is it a bug and is there a workaround?

Thanks!

[code]

![](https://i.imgur.com/DPUgHpB.png)

[code]

![](https://imgur.com/mFNJS6K.png)

[2019-04-23 16:12] clauswilke commented on #2943
No, it's a little more complicated here, because we need to guess the title font size to calculate the default legend spacing:
https://github.com/tidyverse/ggplot2/blob/f79712f0dd733cbcec63d609859eca1e6da46fe8/R/guide-legend.r#L330-L336

One simple option would be to replace the 0 at the end of this line with some positive value, e.g. the legend title font size in `theme_grey()`:
https://github.co

[2019-04-23 16:48] thomasp85 commented on #2943
I may be getting tired, but I still don’t see the benefit of using the title size as opposed to the label size

[2019-04-23 18:09] clauswilke commented on #2943
My point was that we're dealing with two separate issues. One is which theme element to draw the font size from. It's currently the legend title, but it could also be the legend text. I have no strong opinion about that. The other is what happens if that element is blank. We still need a default then either way. Currently the default is 0, and that was probably a bad choice when I made it.

[2019-04-23 18:37] thomasp85 commented on #2943
Ok, then my original point was that the default value is ok to be zero if we rely on the legend text, because any spacing will be invisible no matter what (as the text is not there to mark the other side of the spacing)

[2019-04-23 18:57] clauswilke commented on #2943
Unfortunately the spacing variables are used in a couple of different contexts (this really needs to be disentangled at some point) and I don't think we can rely on this assumption. See also this comment:

https://github.com/tidyverse/ggplot2/blob/f79712f0dd733cbcec63d609859eca1e6da46fe8/R/guide-legend.r#L333-L334

I think using a non-zero hardcoded default value is likely going to be the safest o

[2019-04-23 18:58] thomasp85 commented on #2943
ok, I trust you on this (and most other things tbf :-) )

[2019-04-23 22:45] yutannihilation commented on #2887
I don't agree it's the "fix" (at least before knowing the technical details why this is wontfix), but I do agree we can close this issue by making documentation better because I feel I can never come up with the real fix to this problem... Thanks for the suggestion!

[2019-04-23 22:47] #3195 closed

[2019-04-23 23:44] #3232 closed

[2019-04-24 00:31] yutannihilation opened #3262 "scale_{colour,fill}_manual(limits = ...) doesn't limit the scale"
(I found this during looking at the examples on [`scale_manual`](https://ggplot2.tidyverse.org/reference/scale_manual.html#examples).)

It seems `scale_{colour,fill}_manual(limits = ...)` doesn't limit the scale actually (but limit the legend).

[code]

![](https://i.imgur.com/C1x2RgM.png)

<sup>Created on 2019-04-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-24 00:34] yutannihilation commented on #3259
For debugging layer data, use `layer_data()`.

[code]

<sup>Created on 2019-04-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-24 00:34] #3259 closed

[2019-04-24 00:36] #3219 closed

[2019-04-24 00:39] #3202 closed

[2019-04-24 03:29] dannykwells commented on #3136
Just fyi, geom_polygon and geom_line plot differently, so this is not really a replacement. It would be nice to have this option.

[2019-04-24 07:57] #3095 closed

[2019-04-24 07:57] #2914 closed

[2019-04-24 08:18] jmarshallnz opened #3265 "Adding limits that contain all data to a histogram generates incorrect missing values warning (due to #2719)"
This seems to have been introduced in 3.1.1 - it does not occur in 3.0.0. I haven't verified completely but I believe it's due to #2719.

Adding scale_x_continuous/xlim to specify limits where all data are contained results in a warning that is incorrect (as no data are missing). The problem is the *transformed* data (i.e. the bars, xmin/xmax etc) are outside the specified limits, as they are comp

[2019-04-24 08:30] thomasp85 commented on #3136
if that work-around doesn't work for various reasons you should consider subclassing either geom_path or geom_polygon to behave as you need. It is not the responsibility of the coordinate system to change the semantics of geoms

[2019-04-24 08:42] thomasp85 commented on #3262
Do you think we can fix this for 3.2.0?

[2019-04-24 09:17] thomasp85 commented on #3265
@clauswilke this seem to be an unforeseen consequence of your fix. The only way I can see this being fixed is by having `StatBin` remove zero-count bins, and I think that will have a lot of unforeseen consequences... alternatively we'd need to subclass `GeomBar` for `geom_histogram()` to do some extra work... Thoughts..?

[2019-04-24 09:36] flying-sheep opened #3266 "Implement a better way to get the colours or range from a scale"
`scale_(colour|fill)_gradient`, `scale_(colour|fill)_gradientn`, `scale_(colour|fill)_grey`, `scale_alpha_continuous`, and so on all use opaque functions from the `scales` package instead of some structure that holds their palette/colours.

It would be useful to have a standard way of getting the full input palette/range instead of something like this:

[code]

[2019-04-24 09:37] flying-sheep commented on #3259
Thank you!

[2019-04-24 12:40] hadley opened #3267 "Create documentation issues for TDD"
The top 20 most popular pages in the last month:

[code]

Need to take a look at each file, noting major deficiencies (i.e. needs proofreading, needs more description, needs more arguments, needs more examples) in a new issue.

[2019-04-24 13:42] clauswilke commented on #3265
I have a number of thoughts:

1. This is broadly related to #2887, which we just decided we won't fix at this time.

2. Not sure what the use case is here, but I assume setting limits via `coord()` would be more appropriate here. Also, it's generally a good idea to set `binwidth` and `center` manually for `geom_histogram()`. We may need to write a tutorial to explain how to get histograms behave n