[2018-04-10 21:25] andbarker opened #2518 "facet_wrap not working in dev version"
Ive just installed the dev version of ggplot (2.2.1.9000), and facet_wrap now returns an error:

---

Here's an example where facet_grid works, but facet_wrap fails:

[code]

[2018-04-10 21:32] batpigandme commented on #2518
Thanks. I'm closing, since this is a duplicate of https://github.com/tidyverse/ggplot2/issues/2497

[2018-04-10 21:32] #2518 closed

[2018-04-11 12:36] baffelli opened #2519 "Allow `fun` in stat_summary_2d to return `data.frame`"
I'm working with very dense timeseries (indeed very dense series of images), where I want to plot the spatial/temporal variability of certain parameters in a 2D histogram-like object. Since I have too many points, I do not want to simply use `geom_raster` or `geom_tile`, but I'd like to bin them into larger units first.
Of course, this is possible with `stat_summary_2d`; however I'd like to have m

[2018-04-11 13:18] batpigandme commented on #2519
Hi @baffelli,

Would you mind turning this into a [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample)? It's especially helpful for ggplot2, since it automatically generates and uploads the plots (or lack thereof), which makes it much easier to go through at a glance.

If you've never heard of a reprex before, you might want to start by reading the tidyverse.org

[2018-04-11 13:33] baffelli commented on #2519
Hi, I think reprex cannot upload the plots to imgur...I run into https://github.com/tidyverse/reprex/issues/168

[2018-04-11 13:38] batpigandme commented on #2519
Is your xml2 updated?

[2018-04-11 14:09] baffelli commented on #2519
I did update it, it works now

[2018-04-11 14:12] batpigandme commented on #2519
Great, thanks – makes for easier triage etc.!

[2018-04-11 17:23] qinzhu opened #2520 "The new 'exprs' function has conflicts with some bioconductor packages"
I noticed in version 2.2.1.9000 there is a new "exprs" fucntion. This cause some bioconductor packages not function properly because "exprs" is also exported from Biobase and is very widely used. I'm wondering if the name of the function can be changed to some less common name in future releases? Otherwise I may have to wait for the bioconductor package authors to add "Biobase::" to every "expr" o

[2018-04-12 07:31] renozao commented on #2520
Duplicate issue of #2509.
I agree this is extremely disruptive and hope it will be fixed quickly.

[2018-04-12 21:52] etiennebr commented on #2494
I can replicate this with `tidyverse/ggplot2@3c9c504`. The CRAN version works fine.

[2018-04-14 12:50] pschloss opened #2522 "Possible to get coef to behave in geom_boxplot like range behaves in boxplot?"
The `coef` argument in `geom_boxplot` doesn't behave like the `range` argument like `boxplot`. It seems that these two arguments are meant to be the same thing. I would like the whiskers to extend to the extremes of the distribution. With base `boxplot` setting `range=0` will do this, but `range` won't work with `geom_boxplot`. Setting `coef` to 0 in `geom_boxplot` gets you no whiskers at all. One

[2018-04-14 13:43] batpigandme commented on #2522
Would you mind turning this into a [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample)? It's especially helpful for ggplot2, since it automatically generates and uploads the plots (or lack thereof), which makes it much easier to go through at a glance.

If you've never heard of a reprex before, you might want to start by reading the tidyverse.org [help page](htt

[2018-04-14 16:10] pschloss commented on #2522
Seems I'll need to file a `reprex` bug report.

[code]

[2018-04-14 18:15] wxlu718 opened #2523 "install still fails after trying reinstalling R/load from local"
Hi I have issue installing ggplot2 for multiple tries. Was having version 3.4.3, it gave a warning message ---

package ‘ggplot2’ is not available (for R version 3.4.3)

or

package ‘tidyverse’ is not available (for R version 3.4.4)

I also tried downloading the ggplot zip file from CRAN and loading package from my local directory. Then it gave the following messages ---

ERROR: dependencies 'dige

[2018-04-14 18:28] batpigandme commented on #2523
How are you installing ggplot2 initially?
[code]
or

[code]
If the first, try adding the `dependencies = TRUE` argument.

[2018-04-14 18:58] pschloss commented on #2522
[code]

![](https://i.imgur.com/AMTGQcD.png)

[code]

![](https://i.imgur.com/wTlkfB7.png)

[code]

![](https://i.imgur.com/9Kxcglt.png)

[code]

![](https://i.imgur.com/hlxpGzY.png)

[code]

![](https://i.imgur.com/4oxnVjU.png)

[code]

![](https://i.imgur.com/TvamXP1.png)

Created on 2018-04-14 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-15 02:43] wxlu718 commented on #2523
@batpigandme Tried that too. Also tried install from local path (download ggplot2 tar file separately). Both give the following messages ---

Installing package into ‘C:/Users/Wenxiao/Documents/R/win-library/3.4’
(as ‘lib’ is unspecified)
Warning: unable to access index for repository https://cran.wu.ac.at/src/contrib:
  cannot open URL 'https://cran.wu.ac.at/src/contrib/PACKAGES'
Warning: unable

[2018-04-15 20:14] Robinlovelace commented on #2060
Bump: the issue is not fixed so not sure why it was closed. Reproducible example showing the work-around:

[code]

Can print the result of reprexing that but to save internet bandwidth, it's sufficient to say that I get the following error message on the first `ggplot2(nc2) ...` call:

[code]

@karawoo or @hadley please could you try to reproduce this issue and re-open the issue if you can.

Many

[2018-04-15 22:38] karawoo commented on #2060
I can confirm the issue is still present. As @hadley said originally, `geom_sf()` doesn't have access to the plot data. Supplying the data with `ggplot(nc2) + geom_sf(data = nc2, aes(fill = BIR79))` works, so I'll leave it to Hadley on whether or not to reopen.

[2018-04-15 23:14] Robinlovelace commented on #2060
Many thanks for the quick reply. Just tested and this also works:

[code]

I just took a look at `?geom_sf` (probably should have done that before bumping this issue, apologies) and see it's well-documented:

[2018-04-16 03:05] karldw opened #2525 "sf graticules are drawn even if relevant theme elements are set to element_blank()"
`theme_void()` is a great way to clear out all the extra lines in a chart.  My intuition was that this theme would remove to graticules from `geom_sf()` as well, but it doesn't.  Do you think it should?

[code]

Here's a `theme_void` map of North Carolina:
![North Carolina with graticule](https://user-images.githubusercontent.com/12504708/38788362-1e0d215a-40e8-11e8-8d17-3b2ed8959d00.png)

And her

[2018-04-16 15:44] mmrinconh commented on #187
This can be easily done using patchwork library, you just have to add the plots customized as you required: https://github.com/thomasp85/patchwork

[2018-04-16 16:22] francoisturcot opened #2526 "Error message with any use of ggplot"
Hi,

With any use of ggplot, whatever the data and with the simplest of codes, I invariably get this error message:

Error in UseMethod("length.unit") :
  no applicable method for 'length.unit' applied to an object of class "unit"

Ideas?

Thanks

[2018-04-16 16:35] #2526 closed

[2018-04-17 12:27] moritzphilipph commented on #1048
I have a similar problem:

Fehler während wrapup: Objekt 'comments_raw' nicht gefunden

Fehler in ggplot(aes(datetime, weighted_sentiment), data = comments) :
  Objekt 'comments' nicht gefunden

Could anybody help me pls.

[2018-04-17 12:36] batpigandme commented on #1048
Since this is a known and closed issue, this isn't the best place for you to get help.

Your question is probably a better fit for https://community.rstudio.com. Do you mind asking it over there? You'll definitely want to make a [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample), since It will help others help you if we can be sure we're all working with/lookin

[2018-04-17 19:20] thomasp85 opened #2527 "Export Layout or create_layout"
As part of the rewrite of `gganimate` I'll need to reimplement `ggplot_build()` in order to insert additional steps. Apart from the call to `create_layout()`

https://github.com/tidyverse/ggplot2/blob/3c9c504fdb2f2c6b70a98d5a02f6cdf2c8cc62c9/R/plot-build.r#L44

everything else can be reimplemented with the current exports. `create_layout()` is a rather simple subclassing of the `Layout` class, so

[2018-04-17 23:26] rohan-shah commented on #2515
Thanks, makes sense.

[2018-04-17 23:26] #2515 closed

[2018-04-18 16:00] kylebmetrum commented on #2498
Also ... the function `s` in the formula `y ~ s(x, bs = "cs")` is (I believe) `mgcv::s`, but that function isn't imported (mgcv is a Suggests).  The way this is set up, when there is a namespace conflict, no warning is issued (as expected) and `stat_smooth` fails.

This seems close enough to post here, but happy to start a new issue if that's appropriate.

[code]

![](https://i.imgur.com/egLomak.p

[2018-04-19 00:22] hadley opened #2528 "Export generics"
From Kurt Hornik:

---

You may have seen that from R 3.5.0 onwards searching for S3 methods
uses the registry after hitting topenv and before the search path, and
there is also a way of not using the search path at all, which can be
achieved by setting R_S3_METHOD_LOOKUP_BASEENV_AFTER_GLOBALENV_=true in
the environment.  The Debian regular checks are currently performed with
this setting.

This s

[2018-04-19 02:39] kippjohnson commented on #1613
Please implement!

[2018-04-19 03:51] zeehio commented on #1613
No, it can not. `scales= "free"` gives the option to have different scale **limits** per facet, not different scales in general.

Read for instance my first example in the issue where I want one facet with percentages and another with scientific notation. I even took the time to put a screenshot.

[2018-04-19 06:48] student-t commented on #2514
I also have the same problem. New bugs in ggplot?

[2018-04-19 07:59] batpigandme commented on #2506
Please see Hadley's explanation here:
https://community.rstudio.com/t/why-cant-ggplot2-use/4372/7

[2018-04-19 07:59] #2506 closed

[2018-04-19 10:05] alexgenin commented on #2516
Hello, no problem. Below is the output from `reprex()`.

Thanks

[code]

![](https://i.imgur.com/Ao7XpXG.png)

[code]

![](https://i.imgur.com/YKcDr63.png)

[2018-04-19 20:19] AaronRendahl commented on #2135
It seems you can do this only by editing the underlying grid system (the first link in ptoche's response), or by separating the legends (the second link); I've looked on stackoverflow elsewhere and haven't found other solutions. The OP tried `override.aes`, and the trouble is that both the point and the line respond to the `size` argument, you can't set them separately.

[2018-04-19 22:14] ben519 commented on #2252
I'm also fighting with this error and would love to see it fixed.  Here's my reproducible example

[code]

[2018-04-20 20:54] ptoche opened #2529 "inconsistency of color's alpha in plot and legend for geom_ribbon and geom_rect"
I have struggled to use transparent colors with ``geom_rect`` and ``geom_ribbon``. I haven't been able to find a consistent way to get the legend colors match the fill color in the plot. I haven't measured the inconsistency though, it's based on my visual impression, but let me know if you notice the problem too. My workaround has been to tweak the value of alpha with ``override.aes`` inside ``gui

[2018-04-23 07:01] lionel- commented on #2497
rlang is in Remotes so if you install the dev version of `ggplot2` with its dependencies it should work out of the box. How did you install it?

[2018-04-23 12:25] tbradley1013 commented on #2497
I installed it using the current CRAN release of devtools. In addition, I always have to first install `rlang` and then` ggplot2` because I get an error about not being able to replace the current version of `rlang` when I install via `ggplot2` dependency.

[2018-04-23 12:43] lionel- commented on #2497
Does it work after restarting the session?

[2018-04-23 13:26] SomeUser999 opened #2530 ""Scales" argument on facet_grid does not have any effect"
Despite the following example in the "facet_grid" documentation, the "Scales" argument has no effect, regardless of it being "free" or "free_y/x".

# Free scales -------------------------------------------------------
     # You can also choose whether the scales should be constant
     # across all panels (the default), or whether they should be allowed
     # to vary
     mt <- ggplot(mtcars, ae

[2018-04-23 16:12] tbradley1013 commented on #2497
I created a new packrat project and installed the CRAN version of `devtools` followed by the dev version of `ggplot2` (with dependencies) and the `facet_wrap` issue is not happening for me anymore.

As for installing of `rlang` via `ggplot2`, it worked in the packrat environment. But I normally restart my R sessions when I install packages so I would imagine I tried that when I got that error but

[2018-04-23 17:16] VectorPosse opened #2531 "Error in grDevices::col2rgb(colour, TRUE) : invalid color name"
This is very strange:

`Error in grDevices::col2rgb(colour, TRUE) : invalid color name 'male'`

Similar errors found on StackOverflow seemed to be resolved by restarting R, but that did not work for me. I've been able to reproduce this error on multiple computers using both RStudio and RStudio server.

[2018-04-23 18:29] VectorPosse commented on #2531
Good catch! Thanks for the insight.

[2018-04-23 18:29] #2531 closed

[2018-04-23 19:37] jnaber opened #2532 "Moving the y-axis to the right breaks the margin argument in element_text"
---
When I move the y-axis over to the right hand side of the plot, I lose the ability to adjust the margins on the axis text through a theme.

[code]
Which gives me two identical graphs. Leaving the axis on the left hand side results in the margin growing, as expected.

[2018-04-24 03:25] karawoo commented on #2532
Something weird is going on with theme inheritance. A workaround is to specify `axis.text.y.right` instead of `axis.text.y`:

[code]

![](https://i.imgur.com/3qRZQvJ.png)

Created on 2018-04-23 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-24 04:00] #2532 closed

[2018-04-24 17:08] hadley commented on #2528
Hadley to notify maintainers.

[2018-04-24 17:50] eknud commented on #1745
Has a solution been presented here? Unclear if we've solved for this yet.

[2018-04-24 18:25] ptoche commented on #2530
1. You have not explained the problem clearly. 2. If you run the example on the line immediately below at http://ggplot2.tidyverse.org/reference/facet_grid.html, you will see that ``free`` and ``fixed`` have very different output. 3. If you still want to pursue this issue, you should give a full ``reprex`` example and explain clearly what you expect and what you see, together with info about packa

[2018-04-24 18:26] ptoche commented on #2523
This seems very localized. I suggest you close this issue.

[2018-04-24 18:42] thomasp85 commented on #2527
Thinking about this some more, I think it would probably be best to simply export the `Layout` class rather than `create_layout()` as users are much more unlikely to begin messing around with bare ggproto objects than with a function that has a somewhat alluring name...

[2018-04-24 19:43] ptoche commented on #2522
I understand your question. I was just looking for differences in the code to see if it would be easy/desirable to implement. In base R, the key lines of code are inside ``boxplot.stats`` (you can inspect the code by typing just that in the console). There, there is the conditional

    if (coef == 0)
            do.out <- FALSE

where ``do.out`` is used to return ``out``, as in this line in the r

[2018-04-25 09:54] pscheid92 opened #2533 "geom_label hjust/vjust pulls text out of box"
## Problem description

For two plots on an automatic report, we try to add labels with standard quality information (like RMSE) to the upper left corner. We use `geom_label` to display the multi-line text with a box around it.

The label with `x = -Inf, y = Inf` is aligned in the upper left corner without any space between the border of the plot and the border of the box (see `plot_functional`).

[2018-04-25 10:45] pscheid92 commented on #2533
It seems in the case of `hjust` the longest line is correct and the length of the other lines decide the displacement.

**Plot 1: Longest is first line**
![plot_longest_fst](https://user-images.githubusercontent.com/7292949/39241192-54294822-4886-11e8-853d-b33ec65712eb.png)

**Plot 2: Longest is second line**
![plot_longest_snd](https://user-images.githubusercontent.com/7292949/39241193-5445bab6-4

[2018-04-25 17:41] karawoo commented on #2533
`hjust` and `vjust` are intended to be between 0 and 1 as they control the justification of the label relative to the point where it is placed (in this case the the top left). They're not designed to add additional space between the x/y location of the label and where it actually appears, which if I'm understanding correctly is what you want.

Instead of placing the label at `-Inf, Inf` I think yo

[2018-04-26 12:53] brodieG opened #2534 "Close Contours Correctly for `geom='polygon'` in stat_contour"
Currently contours that end at the edges of the domain are not closed as one would expect, e.g.:

[code]
Produces:
![screen shot 2018-04-26 at 8 37 40 am](https://user-images.githubusercontent.com/6105908/39306085-244fcc82-492d-11e8-8636-c69676219fa1.png)

Closed issue #1066 is related.

@eliocamp has a [potential fix](https://github.com/eliocamp/metR/blob/master/R/stat_contour_fill.R#L36) that in

[2018-04-26 13:17] mdsumner commented on #2534
(The description of my approach is accurate, and I still have use for it in other contexts - lossless filled contour reprojection being the obvious one, and I can make it more efficient - but I agree the solution here is a much better fit for the problem as it stands.  Thanks!)

[2018-04-26 13:27] eliocamp commented on #2534
It would be nice to actually benchmark @mdsumner's solution against mine, because I've just tried it with a single field and is not much slower (admitedly, is a rather low resolution field).
My solution has to do a lot of work to get things right. In addition to extend the values at the edges, it needs to assign the "inner value" of the contours, order them by area and then also fix a nasty proble

[2018-04-26 13:41] ptoche commented on #2505
Here's the reprex of the OP, in case it's needed:

[code]

![](https://i.imgur.com/3o9aYO6.png)

Created on 2018-04-26 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-26 13:47] mdsumner commented on #2534
I intend to do all that exploration, it's been a very rich area of learning for me and I'm not done 😀  - I also wanted to show some detailed examples with @eliocamp's approach, because it produced a good result on a lot of complicated raster data (volcano is a very simple boundary scenario, though it's a nice test of nested polygons in holes with the crater).

For ggplot2 I'd expect this is best s

[2018-04-26 14:16] eliocamp commented on #2534
If your solution has some use cases that mine does not work with (for example, your approach is compatible with transparency), I don't see why both cannot be added in some way (as separate stats/geoms or as parameters in the same geom). Although I still don't understand why your polygons can be reprojected and mine don't.

I think before I can submit a PR I need to polish the code, translate it fr

[2018-04-26 14:16] #2401 closed

[2018-04-26 14:27] hadley commented on #2404
Unfortunately there's no way to adjust the default size of a boxplot without changing a huge number of existing plots which will make many people unhappy.

[2018-04-26 14:27] #2404 closed

[2018-04-26 14:31] hadley commented on #2373
More minimal reprex:

[code]

Breaking it and looking at a traceback reveals:

[code]

So this is likely to be a bug in `C_stringMetric`.

Someone needs to make a simpler reprex (i.e. no use of ggplot2) and send to @pmur002

[2018-04-26 14:37] ptoche commented on #2505
The point sizes I observe can ranked from lowest to highest as follows:

    'outlier.size = 0'   < 'outlier.size = NULL'  <  'outlier.size = NA'

You can get rid of them (in this example at least for me) with

    'outlier.size=-1'

or some other negative number. Looking at the code now, if I see something I'll post back.

[2018-04-26 14:42] lionel- commented on #2412
I don't think so, would you like me to?

[2018-04-26 15:49] hadley commented on #2412
Yeah, it’d be helpful to spend an hour or two on, in total.

[2018-04-26 15:56] lionel- commented on #2412
Sure thing, will do tomorrow morning.

[2018-04-26 17:14] ptoche commented on #2505
An example of ``outlier.size = 0`` in the ``position-jitterdodge.r`` code, **lines 15-17**, suggests to me that the problem is a regression bug (assuming the example was tested and had the expected output at the time). Below a reprex() using that example.

[code]

![](https://i.imgur.com/opAkD9M.png)

[code]

![](https://i.imgur.com/ng2tKlb.png)

Created on 2018-04-27 by the [reprex package](http:

[2018-04-26 17:45] ptoche commented on #2505
Inspecting the screenshot from [this question](https://stackoverflow.com/questions/25124895/no-outliers-in-ggplot-boxplot-with-facet-wrap) and comparing it to the plots below confirms beyond a reasonable doubt that this is a regression bug.

**WAS:**
![](https://i.stack.imgur.com/vGzZB.png)

**HAS BECOME:**

[code]

![](https://i.imgur.com/WnWpVR5.png)

Created on 2018-04-27 by the [reprex package

[2018-04-26 18:17] ptoche commented on #2505
Problem exists as far back as version ``2.0.0.`` I didn't manage to install earlier version to check.

[2018-04-26 18:43] karawoo commented on #2505
Thanks for looking into this @ptoche. The `NA` behavior is being controlled by grid. Outliers in ggplot2 are created with `geom_point()`, which creates a `pointsGrob()`. Here is how `pointsGrob()` appears with settings that match what's being used for the outliers if `outlier.size = NA`:

[code]

![](https://i.imgur.com/hKxGbMO.png)

Created on 2018-04-26 by the [reprex package](http://reprex.tidy

[2018-04-26 21:41] mdsumner commented on #2534
Ah I'd forgotten about the data.table dependency and so on. there's no urgency to get this into ggplot2 from my perspective.

The only thing about reprojection is that given the gg pipeline there's no way to reproject *after* the contouring and fill is done for this (is there?), and the input has to be a regular matrix (with expanded coordinates) - so improvements could be i) allow the contouring

[2018-04-26 23:05] eliocamp commented on #2534
`coord_map()` can apply a variety of projections (supported by the mapproject package). Alternatively, Bob Rudis made [this](https://rud.is/b/2015/07/24/a-path-towards-easier-map-projection-machinations-with-ggplot2/) `coord_project()` that uses the proj4 system. According to his post, it has some limitations, but seems workable.

The rest of your explanation really went over my head. I'm afraid I

[2018-04-27 00:26] brodieG commented on #2534
I would probably hold off on waiting to see what @hadley is amenable to before you put any work into polishing things though.  I imagine that's your plan, but just in case, would be a shame to do a bunch of work that ends up not meeting his requirements.

[2018-04-27 00:37] eliocamp commented on #2534
The polish is needed whether or not Hadley wants to incorporate it into ggplot2 proper instead of as an extension, though. :laughing:

[2018-04-27 06:00] ptoche commented on #2505
Thanks Kara. I see it now. Incidentally, do you have tips (a url will be enough) on how to hack a function like ``geom_boxplot()`` for the purpose of testing. It used to be enough to copy the code and prefix functions with their package names (such as ``scales:::``), but it seems harder now. For instance, how do I get this pipe operator ``%||%`` to be understood after I copy the function code? Tha

[2018-04-27 13:12] hadley commented on #2426
Even better is to draw them in one plot with labels:

[code]

It is utterly mystifying to me why these should be returning different results.

[2018-04-27 13:16] hadley commented on #2426
If I instrument the code to print the model, I see:

[code]

So it certainly looks like the fitted model is identical.

[2018-04-27 13:25] hadley commented on #2426
This doesn't seem to be a bug in ggplot2, and I've posted to r-devel to see if we can learn more.

[2018-04-27 13:25] #2426 closed

[2018-04-27 13:30] hadley commented on #2429
Minimal reprex:

[code]

[2018-04-27 13:30] hadley commented on #2432
Still interested?

[2018-04-27 13:32] hadley commented on #2435
You points are well made, but at this point any change to key scales is not tenable because it will cause many people to be unhappy.

[2018-04-27 13:32] #2435 closed

[2018-04-27 13:33] hadley commented on #2438
Could you please rework your reproducible example to use the [reprex package](http://reprex.tidyverse.org) ? That makes it easier to see both the input and the output, formatted in such a way that I can easily re-run in a local session.

[2018-04-27 13:34] hadley commented on #2438
Currently I can not copy and paste your code (because it doesn't include a call to `library(ggplot2)`) and rather than a text explanation of the errors it would be better to simply show them.

[2018-04-27 13:35] #2439 closed

[2018-04-27 13:36] hadley commented on #2440
It doesn't crash, it just takes a long time to render because you're requesting 7 second binwidths, which yields 3542400 bins.

[2018-04-27 13:36] #2440 closed

[2018-04-27 13:39] #2443 closed

[2018-04-27 13:43] lionel- commented on #2412
The `tryapply()` seems to have been there from the start of revision history:
https://github.com/tidyverse/ggplot2/commit/6198457400c66d0774006c75353a1e7f1dd2806a#diff-70a17f07da991e42a800284db537be0aR106. You probably used it just to be on the safe side? It seems to make sense to just evaluate plainly though.

`subset` appears to have stopped working with the 2.0 rewrite: https://stackoverflow.co

[2018-04-27 13:43] thomasp85 commented on #2432
Yes. I simpelt forgot abort it. Ill do a PR

[2018-04-27 13:44] hadley commented on #2489
It's not possible to change how these aesthetics work without creating many more problems that it would solve. Unfortunately we just have to live with this behaviour.

[2018-04-27 13:44] #2489 closed

[2018-04-27 13:45] hadley commented on #2484
This would be much better in an extension package.

[2018-04-27 13:45] #2484 closed

[2018-04-27 13:46] hadley commented on #2483
Duplicate of #2492

[2018-04-27 13:46] #2483 closed

[2018-04-27 13:51] hadley commented on #2482
@rmatev I currently have ~700 issues open across >100 repositories. You have been asked politely to provide a reprex created with the reprex package, which makes it easier for me to see the results at a glance and to rerun the code in my local R session. You have failed to do so, and so I am closing this issue. If you would like me to look at this problem, I'd recommend opening a new issue with a

[2018-04-27 13:51] #2482 closed

[2018-04-27 13:53] hadley commented on #2479
Those are just aliases for the size aesthetic.

[2018-04-27 13:53] #2479 closed

[2018-04-27 13:55] hadley commented on #2476
Duplicate of #2288

[2018-04-27 13:55] #2476 closed

[2018-04-27 13:55] hadley commented on #2474
Could you please rework your reproducible example to use the [reprex package](http://reprex.tidyverse.org) ? That makes it easier to see both the input and the output, formatted in such a way that I can easily re-run in a local session.

[2018-04-27 13:57] hadley commented on #2470
They are not mistakes unfortunately; and it's now too hard to change these mistakes.

[2018-04-27 13:57] #2470 closed

[2018-04-27 13:57] hadley commented on #2468
(Please don't include session info unless it's explicitly asked for, or you've used `reprex::reprex(..., si = TRUE)` to hide it away. I've deleted it from your issue to avoid cluttering up the discussion)

[2018-04-27 14:01] hadley commented on #2468
Moved to https://github.com/hadley/scales/issues/113

[2018-04-27 14:01] #2468 closed

[2018-04-27 14:05] hadley commented on #2464
You also need to set the margins:

[code]

[2018-04-27 14:05] #2464 closed

[2018-04-27 14:06] hadley commented on #2463
I'd accept a PR that added this to the documentation, but I'm unlikely to do it myself, since styling computed variables is a general principle that applies across all stats.

[2018-04-27 14:06] #2463 closed

[2018-04-27 14:08] #2459 closed

[2018-04-27 14:09] hadley commented on #2456
This function is for advanced use only, and generally I don't think it's a good idea to rely on it. For this reason, the current behaviour will stay, even though I agree that it's suboptimal.

[2018-04-27 14:09] #2456 closed

[2018-04-27 14:10] hadley commented on #2453
Yes, `geom_jitter` has to guess the default amounts and you will often need to override.

[2018-04-27 14:10] #2453 closed

[2018-04-27 14:11] rmatev commented on #2482
@hadley I'm sorry, I thought I had added one. I think you're right, I'll get back to this and submit a PR.

[2018-04-27 14:11] #2520 closed

[2018-04-27 14:13] hadley commented on #2509
`exprs()` is part of the standard suite of tidyeval functions we are exporting in every tidyverse package. I'm not sure how we are going to resolve this.

[2018-04-27 14:14] hadley commented on #2519
Unfortunately this is out of scope for ggplot2 - the `stat_summary` functions provide the tooling for basic summaries, but generally I believe it is better to do complex data manipulation outside of ggplot2.

[2018-04-27 14:14] #2519 closed

[2018-04-27 14:17] #2514 closed, assigned to nobody

[2018-04-27 14:20] #2511 closed, assigned to nobody

[2018-04-27 14:29] hadley commented on #2505
I think this is probably a bug in grid.

[2018-04-27 14:30] hadley commented on #2502
See the broader problem in #2534 — the contouring algorithm we used was not designed to draw polygons.

[2018-04-27 14:30] #2502 closed

[2018-04-27 14:31] hadley commented on #2499
That is because the y-axis is a density (the area integrates to 1), not a percentage (the heights sum to 1)

[2018-04-27 14:31] #2499 closed

[2018-04-27 14:36] JoFAM commented on #2479
Thanks for the info. I did spend quite some time trying to locate that information though. Wouldn't it make more sense to use the appropriate aesthetic in the examples instead of undocumented aliases? That could save the next one stumbling upon that a wild goosehunt for more information.

[2018-04-27 14:37] hadley commented on #2498
@kylebmetrum please file a new issue - one issue per issue makes life easier for package maintainers

[2018-04-27 14:41] hadley commented on #2498
I think it is better to be explicit here; for every case apart from `method = "auto"` you need to supply the correct formula.

[2018-04-27 14:41] #2498 closed

[2018-04-27 14:48] Henrik-P commented on #2438
With all respect to your desire to promote `reprex` package, I feel obliged to repeat my previous comment:

"The issue is self-contained though - it uses the built-in iris data. In addition, there are no plots to show - the issue is about code which errors (included in post) and thus no plots are generated."

Indeed, I failed to include `library(ggplot2)`... Hilarious.

[2018-04-27 14:54] kylebmetrum opened #2535 "Name conflict causes stat_smooth to fail when method = "auto""
The function `s` in the formula `y ~ s(x, bs = "cs")` is (I believe) `mgcv::s`, but that function isn't imported (mgcv is a Suggests).  The way this is set up, when there is a namespace conflict, no warning is issued (as expected) and `stat_smooth` fails.

[code]

![](https://i.imgur.com/egLomak.png)

[code]

![](https://i.imgur.com/bNFBXmM.png)

[code]

![](https://i.imgur.com/b1bX6mi.png)

Creat

[2018-04-27 15:04] hadley commented on #2522
I don't think setting `coef = 1` is a good idea in any circumstances, so I'm not motivated to make `stat_boxplot()` more complicated to handle this scenario.

[2018-04-27 15:04] #2522 closed

[2018-04-27 15:04] #2523 closed

[2018-04-27 15:05] hadley commented on #2525
Duplicate of #2389

[2018-04-27 15:06] hadley commented on #2527
Want to do this too?

[2018-04-27 15:08] hadley commented on #2529
Every layer gets an entry in the legend, so you need to turn some off:

[code]

[2018-04-27 15:08] #2529 closed

[2018-04-27 15:10] #2497 closed

[2018-04-27 15:12] hadley commented on #2496
There are three lines, not one, because using a discrete aesthetic automatically groups the data.

[2018-04-27 15:12] #2496 closed

[2018-04-27 15:12] #2495 closed

[2018-04-27 15:13] thomasp85 commented on #2527
Absolutely

[2018-04-27 15:16] hadley commented on #2479
Oh, if you want to fix those examples, that would be great!

[2018-04-27 15:31] karawoo commented on #2505
@ptoche I clone the project locally and run `devtools::load_all()`

[2018-04-27 15:32] hadley commented on #2534
To get into ggplot2, I need an implementation that is clean (i.e. I can actually understand it) and at least reasonably performant (so it doesn't affect existing plot speed). I suspect the fix is sufficiently complicated that it's better to put it in a separate package (maybe `contourPolys` or similar), which ggplot2 can then depend on.

An ideal fix would be to reimplement the contouring from scr

[2018-04-27 15:32] #2530 closed

[2018-04-27 15:33] hadley commented on #2505
Equally, it might be worth having an `outliers = FALSE` argument to provide an official way to suppress outliers, since it does seem to be a common need.

[2018-04-27 15:38] hadley commented on #2384
Mention in context of development status

[2018-04-27 16:18] JoFAM commented on #2479
I wanted to (forked), but apparently width is not an alias of size, only lwd. If you tell me where to document width, I'll add it.
[code]

[2018-04-27 18:07] clauswilke opened #2536 "Feature request: make clipping configurable"
I frequently would like to be able to draw things that fall outside of the plot panel. This is currently not possible, as clipping is strictly enforced and not configurable. I think it would be nice if this could be switched on or off. First, as motivation, an example where it would be useful. Then my proposal of how it could be implemented.

Consider this plot:
[code]
<img width="711" alt="screen

[2018-04-27 18:31] thomasp85 commented on #2432
Weird - I made the fix on the 1st of February but forgot to submit the PR... Oh well...

[2018-04-27 18:59] hadley commented on #2479
Rather than documenting the rarely use aliases, I think it would be better to just eliminate their use in the examples.

[2018-04-27 20:33] hadley commented on #2536
This might require a few more downstream changes to make sure things are drawn in the correct order (i.e. labels go on top of the plot etc), but seems reasonable.

[2018-04-27 20:38] #2290 closed

[2018-04-27 20:40] #2417 closed

[2018-04-27 20:48] #2110 closed

[2018-04-27 20:53] #2527 closed

[2018-04-27 21:04] nhamilton1980 opened #2540 "Enable User Defined Theme Elements"
This issue is at the suggestion of Hadley, based on the following:

https://github.com/tidyverse/ggplot2/pull/2305

I am the author of the [ggtern](http://ggtern.com) package, which requires a whole bunch (50+) of new theme elements outside of the standard ggplot2 themes defined in the non-exported `.element_tree` object.

In this issue I will speak of my experience with ggtern, however, it is pos

[2018-04-27 21:37] clauswilke commented on #2536
Not sure how realistic it is to change drawing order without causing all sorts of headaches. My vote would be to not touch that issue at this time but provide the clipping function for advanced users who can make use of it. Below, I'll mention some issues about drawing order for single-panel plots and multi-panel plots. In all cases, it comes down to the fact that panels are completely assembled b

[2018-04-28 00:46] glennstone commented on #2426
Thanks for your efforts!

[2018-04-28 01:03] cooknl commented on #2470
No worries, just surprised since the other conventions in the tidyverse are so consistent. We all have things that are "beyond fixing," though. :smile:

[2018-04-28 09:56] MichaelChirico commented on #2474
@hadley sorry I don't understand what exactly you're after... I updated my comment so that all of the relevant code is in a single code block, and copy-pasted the error message, in case that helps.

[2018-04-28 12:38] joojala commented on #2534
Its not actually very hard, or slow what you do is after you've done traverse all of the lines and group each line with same value into one compound path. It is at most a O(n) operation more but since the n is much smaller than the original algorithm its pretty fast.

[2018-04-28 16:50] joojala commented on #2502
Its not the same problem. So what your saying is that yiu arent interested in a fix?

[2018-04-28 17:52] JoFAM commented on #2479
@hadley But `width` and `size` do not do the same thing. I agree on `lwd`, that shouldn't be used instead of `size`. Yet, in `geom_errorbar()` size defines the line width and `width` defines the width of the whiskers. So one can't really replace it, unless there's another documented aesthetic that controls the whisker width.

That's why I proposed adding it to the documentation. Which I'm still wi

[2018-04-28 19:36] hadley commented on #2502
Why do you think it’s not the same problem?

[2018-04-28 20:53] joojala commented on #2502
I dont think, i know. Because it isn't, holes in polygons are a separate problem from bounding the polygons. The bounding problem is just the fact that you leave the shape **open**. Holes problem is that you do not tell the rendering engine that the separate **closed** shapes are in fact one shape.

Both of these are very easy to fix the open shape just need to get edge vectors added, since you kn

[2018-04-29 08:03] aphalo commented on #2484
o.k., thanks! Just wanted to make sure.

[2018-04-29 10:30] renozao commented on #2509
Ouch. How recent is the introduction/export of `exprs()` ?
Could a possible solution be to export the function with a different name and make the packages that already use it to define a local alias to it, named `exprs`?
Might also be worth getting in touch with Bioconductor core team.

[2018-04-29 14:03] wxlu718 commented on #1453
Hey @snafu123 , I had the same problem. How did you solve it at last?

[2018-04-29 14:25] Henrik-P opened #2544 "No default angle in element_text when using label.theme and title.theme in guide_legend leads to error when setting other parameters"
When using `guide = guide_legend(...)` to change non-`angle` parameters of `label.theme` or `title.theme`, an error is generated due to non-`NULL` value for `angle`.

Here are examples trying to set `face`, without setting `angle`:

[code]

(`reprex` inserts an 'empty plot placeholder' here, despite the code above errors...)
![](https://i.imgur.com/uPzwuEC.png)

Trying to set `size`, `hjust` or `v

[2018-04-29 14:43] joojala commented on #2502
Well every vector engine does need to tackle this problem so this one is the fundamental. The other one is just your algorithm being a bit weak. Fixing the other wont fix this one.

[2018-04-30 07:57] AdeelH commented on #2497
This issue is still happening.

The culprit is the following call to `rlang::flatten_if`added in (https://github.com/tidyverse/ggplot2/commit/3c9c504fdb2f2c6b70a98d5a02f6cdf2c8cc62c9#diff-8b0f5dd209eb5cd8b4184145460503f6R117) in the definition of facet_wrap():
`facets <- rlang::flatten_if(facets_list, is.list)`

`facet_grid()` works as normal because it does not call `faltten_if()`.

The error
[co

[2018-04-30 11:45] Demetrio92 opened #2547 "Relative positioning of `annotate` -- extend the documentation"
I think the documentation of `ggplot2::annotate` should be extended with explanation of how to use `hjust` and `vjust` to position the output **relatively** to the plot boundaries.
At least one example should be added as well.

-----
Background:

In the usual scenario where I use `ggplot2::annotate` I do not want to position the text at the exact XY location. I rather care about something like "to

[2018-04-30 14:46] hadley commented on #2412
Ok, I'll remove `subset` argument since it's clearly been broken for a while, and `tryapply()` since it no longer seems necessary.

[2018-04-30 14:50] hadley commented on #2547
Those are both properties of `geom_text()`

I don't think it's possible to describe how to do a large set of annotations in the documentation for `annotate()`. A vignette would be more suitable, but I am unlikely to have time to write it.

[2018-04-30 14:50] #2547 closed

[2018-04-30 14:53] #2412 closed

[2018-05-01 00:21] hadley opened #2550 "Review visual tests"
* guides
* coord-polar

Make sure they're as minimal as possible.

[2018-05-01 13:42] #2432 closed

[2018-05-01 14:40] Demetrio92 commented on #2547
@hadley right not the docstring to the function has

[code]
in it, which in my freshly github-installed version of ggplot2 results in:
[code]

Which is probably correct, but I'd prefer if it pointed out to `geom_text` which in great details explains how alignment works.
Do you think it would be a good idea to swap `layer` for `geom_text`?, i.e.
[code]

Otherwise, I would add it just as a text into

[2018-05-01 15:01] hadley commented on #2547
You can use `annotate()` with any geom, not just text.

[2018-05-01 15:58] gwarnes-mdsol opened #2551 "qplot() ignores xlab and ylab arguments"
For example:
[code]
yields:
![image](https://user-images.githubusercontent.com/22243578/39480231-910a9a3a-4d35-11e8-904d-72dc86b810f6.png)
instead of:
![image](https://user-images.githubusercontent.com/22243578/39480273-b41b50fa-4d35-11e8-9e72-86e5083347d1.png)

A pair of minor changes to https://github.com/tidyverse/ggplot2/blob/master/R/quick-plot.r will resolve this issue.  At [line 86](https:/

[2018-05-01 15:59] hadley commented on #2551
Would you like to do a PR?

[2018-05-01 16:11] Demetrio92 commented on #2547
I see.

[2018-05-01 16:46] hadley commented on #2505
I checked with Paul - this is not a great feature, but it is by design, so ggplot2 probably should work around it.

[2018-05-01 17:06] hadley commented on #2426
To close this out, it's definitely a bug in `glm()`, and it'll be fixed in the next version of R.

[2018-05-01 17:18] huftis commented on #2426
And for anyone’s interested, here’s the thread on r-devel where the bug is discussed: https://stat.ethz.ch/pipermail/r-devel/2018-April/075889.html

[2018-05-01 17:34] gwarnes-mdsol commented on #2551
Normally, I would be glad to do so, but I'm deep in another project right
now.

On Tue, May 1, 2018 at 11:59 AM Hadley Wickham <notifications@github.com>
wrote:

--
If this message is urgent please contact me via Hangouts or by phone:
585-678-6661.

[2018-05-01 19:51] #2407 closed

[2018-05-01 19:53] hadley commented on #2374
This is deliberate as ggplot2 now uses `as.data.frame(tibble::as_tibble(evaled))` to construct data frames internally - this ensures that we use a consistent (and safe) of creating data frames, and avoids a set of bugs that kept arising in various forms. I think the best resolution is to advertise this in the news.

[2018-05-01 19:58] #2374 closed

[2018-05-01 19:58] hadley commented on #2374
Exploring a bit more - more precisely this enables ggplot2 to support list-cols at the expense of matrix-cols.

[2018-05-01 19:59] hadley commented on #2494
Fixed in 79757ee84bb42f39044d409ce886708c8a910ca3

[2018-05-01 19:59] #2494 closed

[2018-05-01 20:15] #2528 closed

[2018-05-01 20:16] hadley commented on #2528
@wmurphyrd @thomasp85 @phylopath @haleyjeppson: please note than in the next release of ggplot2 you'll be able to properly provide `S3method` declarations in your `NAMESPACE`.

[2018-05-01 20:25] clauswilke commented on #2507
I agree that `position = "jitter"` should call `position_jitter()`.

In any case, I'm pretty certain the same problem arises with geoms and stats, because I've run into it repeatedly. For example, all the `if (is.null(...))` lines [here](https://github.com/clauswilke/ggridges/blob/9a29ec4deb7ae7d1e14517e6774ba96c5036ea77/R/stats.R#L122) in ggridges are needed to make `stat_density_ridges()` have r

[2018-05-01 20:45] clauswilke commented on #2507
Never mind, things seems to be working fine for geoms and stats. Not sure why it doesn't (or didn't) work with my code, but I can't reproduce the problem with `StatDensity`, for example. It always behaves correctly as far as I can tell.

[2018-05-01 22:16] hadley commented on #2466
Is only used for ordered factors, as documented.

[2018-05-01 22:16] #2466 closed

[2018-05-01 22:17] #2384 closed

[2018-05-01 22:32] hadley commented on #2465
@clauswilke have you seen this too? I quickly skimmed through your PRs but I didn't see anything that addressed this explicitly

[2018-05-01 22:53] clauswilke commented on #2465
I haven't addressed or modified this in any way. What is happening is that the title is centered relative to the entire legend:

[code]
<img width="580" alt="screen shot 2018-05-01 at 5 49 25 pm" src="https://user-images.githubusercontent.com/4210929/39497334-7267c3cc-4d68-11e8-9761-5ce18a673fc1.png">

[2018-05-01 22:57] clauswilke commented on #2465
Note that `guide_legend()` behaves exactly the same:
[code]
<img width="580" alt="screen shot 2018-05-01 at 5 56 08 pm" src="https://user-images.githubusercontent.com/4210929/39497446-ff881e5a-4d68-11e8-88bc-567959ffabc2.png">

[2018-05-01 22:58] hadley commented on #2465
Oh so this probably isn't a regression

[2018-05-01 23:02] #2536 closed

[2018-05-01 23:10] hadley opened #2552 "Review all error messages"
Using tidyverse style guidelines

[2018-05-01 23:12] hadley opened #2553 "Review documentation of most visited webpages"
* [x] Find out top 20 pages from google analytics

[2018-05-01 23:54] #2389 closed

[2018-05-01 23:54] #2460 closed

[2018-05-01 23:56] hadley commented on #2507
I think the difference is that the params for stats and geoms are stored in the layer; the params for the position adjustment are stored in the position object. It's a weird design.

I'm pretty sure this is not a regression, so I'm going to remove it from the 2.3.0 milestone.

[2018-05-02 02:16] clauswilke commented on #2550
This visual test could use some simplification:
https://github.com/tidyverse/ggplot2/blob/4635bbb1e50d94e8d2017f084f75e2f709daeb18/tests/testthat/test-scales-breaks-labels.r#L292
It uses 10,000 data points and takes a long time to render, at least on my machine.

[2018-05-02 13:46] hadley commented on #2550
Oh, I should also just look at the file sizes - here's everything over 50k:

[code]

[2018-05-02 15:56] #2397 closed

[2018-05-02 15:56] #2398 closed

[2018-05-02 23:01] karawoo commented on #2252
I just tried @chris-prener's reprex in both RStudio and ESS and got the error in RStudio but not ESS.

[2018-05-02 23:33] #2550 closed

[2018-05-02 23:36] #2551 closed

[2018-05-03 06:07] slagtermaarten commented on #2252
I have seen it many times running R in the terminal.

Op do 3 mei 2018 00:23 schreef Hadley Wickham <notifications@github.com>:

[2018-05-03 10:42] batpigandme commented on #2252
@slagtermaarten could you provide a reprex, or is it intermittent?

[2018-05-03 13:01] slagtermaarten commented on #2252
It seems to happen randomly indeed, I had a reprex somewhere but can't find it right now. Will try again tonight!

[2018-05-03 13:06] praveenkumarpgiindia commented on #2252
Yes, it happens in random.

On Thu 3 May, 2018, 6:31 PM Maarten Slagter, <notifications@github.com>
wrote:

[2018-05-03 17:00] hadley commented on #2517
What do you think of this?

[code]

[2018-05-03 17:13] jennybc commented on #2517
Much better!

[2018-05-03 17:15] #2517 closed

[2018-05-03 20:30] kmace opened #2554 "Feature Request: allow for scales = "free" to apply to colors in addition to x and y axis"
It would be really nice to have a free scale for colors, the same way we allow for free x and y axis.

See below how variables have different scales, and therefore coloring is uninformative.

[code]

![](https://i.imgur.com/TSKT7Ne.png)

Created on 2018-05-03 by the [reprex
package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-03 20:39] batpigandme commented on #2554
For clarity: in that case would you want four legends indicating the different colour-value mappings?

[2018-05-04 01:01] daniel-barnett commented on #2544
https://github.com/tidyverse/ggplot2/blob/9034d535f06f0437bb1ad8fdda2c47a8a743bcf7/R/guide-legend.r#L330
https://github.com/tidyverse/ggplot2/blob/9034d535f06f0437bb1ad8fdda2c47a8a743bcf7/R/guide-legend.r#L358

These two lines seem to be the problem. Once you change at least one parameter, `guide$title.theme` isn't `NULL` anymore so `guide$title.theme$angle` will still be `NULL` when it is used as

[2018-05-04 22:28] joey711 commented on #1619
In this combination of parameters one would want the vertical axis to be redundant with the number of dots stacked. Then the y-axis would not be meaningless (just redundant) and the limits/scaling would have some assurances of showing all the data.

I was just working through a pretty small/simple example where the dots ran off the top of the chart. It's a wonderful use-case for this geom category

[2018-05-06 20:19] clauswilke commented on #2465
The bigger issue, in my mind, is that there is no simple workaround, because the `vjust` setting is ignored. I'm showing this here with both a discrete and a continuous scale, to show that they behave the same:

[code]
<img width="647" alt="screen shot 2018-05-06 at 3 14 39 pm" src="https://user-images.githubusercontent.com/4210929/39677440-636d62f6-5140-11e8-9102-67aa50f2a27b.png">

[code]
<img w

[2018-05-06 21:03] ptoche commented on #2465
Workaround of sorts:

[code]

![](https://i.imgur.com/QT2BcPC.png)

Created on 2018-05-07 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-06 23:01] clauswilke commented on #2465
I now see that there are (at least) two separate issues. One is that `vjust` and `hjust` can't be set in the theme but can be set via the guide function. It is a simple fix to allow setting via the theme as well. The second is that the margin settings in `legend.title` are ignored. This is a problem because if we set `vjust` to a number other than 1 then the text is moved different amounts for gro

[2018-05-07 00:54] karawoo commented on #2465
The latter issue about the margins for legend text/titles has been raised in #1502. I tried to tackle that after reworking `titleGrob()` last year, but wasn't able to wrap my head around the legend code enough to make any headway at the time.

[2018-05-07 02:55] clauswilke commented on #2465
@karawoo I just opened a pull request (https://github.com/tidyverse/ggplot2/pull/2556) that provides a partial fix for this issue. I hadn't seen https://github.com/tidyverse/ggplot2/issues/1502 previously and will take a look. My fix for legend titles would likely work for legend text as well.

[2018-05-07 05:35] clauswilke commented on #1502
I think I've got this working now (see: https://github.com/tidyverse/ggplot2/pull/2556), except for a minor problem with the default `hjust` setting.

[code]
<img width="487" alt="screen shot 2018-05-07 at 12 32 17 am" src="https://user-images.githubusercontent.com/4210929/39686420-8131263a-518e-11e8-8f2c-793f9c84408c.png">

[2018-05-07 08:45] ptoche commented on #2465
@clauswilke ,

    packageDescription("ggplot2")
    Package: ggplot2
    Version: 2.2.1
    Title: Create Elegant Data Visualisations Using the
          Grammar of Graphics
    Description: A system for 'declaratively' creating
          graphics, based on "The Grammar of Graphics".
          You provide the data, tell 'ggplot2' how to map
          variables to aesthetics, what graphical

[2018-05-07 14:00] clauswilke commented on #2544
I think the correct fix is to replace lines 206-209 in `theme-elements.r` with:

[code]
It's reasonable to always assume that if no angle is given then it's zero.

[2018-05-07 16:00] hadley commented on #2544
@clauswilke's sounds like the right fix to me. Would anyone like to do a PR?

[2018-05-07 17:25] clauswilke commented on #2544
Done.

[2018-05-07 17:27] #2544 closed

[2018-05-07 19:57] thomasp85 opened #2558 "Default values for alpha"
Working on gganimate I came upon a little problem. For GeomPolygon and related geoms the alpha value is set to `NA` rather than 1, which is in practice the same. This results in bad transitions as transitioning into NA is ill-defined.

I could hack around this in tweenr/gganimate, but wondered whether you would be interested in a fix here instead.

[2018-05-07 19:58] hadley commented on #2558
Seems reasonable to fix here

[2018-05-07 20:07] thomasp85 commented on #2558
Is the visual tests up and running now? I think this is one of the places where they will be nice to have even though I don't expect any problems `scales::alpha()` treats `NA` as 1

[2018-05-07 22:25] hadley commented on #2558
Yup visual tests are up and running.

[2018-05-07 22:26] #2558 closed

[2018-05-08 19:06] #1502 closed

[2018-05-08 20:54] #2420 closed

[2018-05-09 00:55] hadley commented on #2121
Now back! 🎉 📈

[2018-05-09 00:55] #2121 closed

[2018-05-09 02:14] clauswilke commented on #2437
As far as I can tell, this problem has been fixed (except the authors of viridisLite can't count):
https://github.com/tidyverse/ggplot2/blob/d3bd92e8002672a016038e8ca3f5588f80a796d8/man/scale_viridis.Rd#L42-L44

[2018-05-09 02:41] clauswilke commented on #2472
The `bins`, `binwidth`, `breaks`, and `complete` parameters are parameters of `stat_contour()`:
https://github.com/tidyverse/ggplot2/blob/d3bd92e8002672a016038e8ca3f5588f80a796d8/R/stat-contour.r#L37-L38
(`complete` has no effect, though, as far as I can tell.)

They should be documented just like the comparable parameters in `stat_bin()`, and they should probably also be added to the `stat_contou

[2018-05-09 02:56] clauswilke commented on #2373
More basic reprex, using only grid. Problem still exists in R 3.5.0.
cc @pmur002

[code]

Traceback:
[code]

[2018-05-09 14:40] clauswilke commented on #2540
I have reviewed your pull request. If I understand correctly what you need for ggtern, your proposed solution seems way overengineered. In particular, adding a whole new class model (R6) to ggplot2 doesn't seem warranted. I'd also like to point out that your code doesn't follow the tidyverse style guide (http://style.tidyverse.org/), in particular with respect to spaces around `if`, `else`, `{`, a

[2018-05-09 19:46] hadley commented on #2331
Reprex with simpler data, although it needs a bigger width before the problem becomes apparent:

[code]

![](https://i.imgur.com/BeDaCEe.png)

[code]

![](https://i.imgur.com/rGShhmA.png)

[code]

![](https://i.imgur.com/PdV3Z7F.png)

I bet this is because boxplots now are wide enough that they overlap, and hence the new dodging algorithm combines into a single group.

@karawoo maybe this is corre

[2018-05-09 19:54] hadley commented on #2480
Slightly more minimal reprex:

[code]

![](https://i.imgur.com/u7bMseh.png)

[code]

![](https://i.imgur.com/oU11PT8.png)

Created on 2018-05-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-09 19:59] hadley commented on #2493
Somewhat more minimal reprex:

[code]

![](https://i.imgur.com/1cm9YcO.png)

[code]

![](https://i.imgur.com/bX638nx.png)

Created on 2018-05-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-09 20:59] karawoo commented on #2331
`position_dodge2()` actually considers both the second and third overlapping. I _think_ the reason that the third plot looks messed up but the second doesn't is these lines:

https://github.com/tidyverse/ggplot2/blob/064873910b164ebab555990343859db1044b7d64/R/position-dodge2.r#L83-L86

In the third width is 3 and number of elements is 2, so after this calculation the width is still greater than 1,

[2018-05-09 22:10] hadley commented on #2480
I think the key problem is that `position_dodge2()` does not handle point geoms, where grouping is determined based on the `group`, not the position.

[2018-05-09 22:17] hadley opened #2563 "Incorrect width in position_dodge(preserve = "single")"
[code]

![](https://i.imgur.com/zKE7Mo4.png)

Created on 2018-05-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-09 22:26] hadley commented on #2331
I agree - I think this is correct behaviour.

I'm not sure how we should document since width could be greater than one if the boxplots are spread further apart (i.e. numeric x rather than categorical x). So I think we're ok here.

[2018-05-09 22:26] #2331 closed

[2018-05-09 22:50] hadley commented on #2480
This is going to require more thinking about how dodging works, and it's technically a feature not a bug, so I'm going to move to a future ggplot2 release.

[2018-05-09 22:51] colinbrislawn commented on #1244
I agree!

That solution will place a annotation into every facet, where `legend.placement` places a single annotation based on the relative position in the graph, regardless of the other geoms or facets being used.

I would like to see something like `annotate_relative` or `annotate_global` to provide this functionality.

[2018-05-09 22:53] hadley commented on #2540
Is this the same as #1730?

[2018-05-09 22:55] hadley commented on #1994
Fixed in #2541

[2018-05-09 22:55] #1994 closed

[2018-05-09 22:56] nhamilton1980 commented on #2540
Yes, seems so.
--
Nicholas Hamilton, PhD
School of Materials Science and Engineering
University of New South Wales (Australia)
--
www.ggtern.com<http://www.ggtern.com>

On 10 May 2018, at 8:53 am, Hadley Wickham <notifications@github.com<mailto:notifications@github.com>> wrote:

Is this the same as #1730<https://github.com/tidyverse/ggplot2/issues/1730>?

—
You are receiving this because you autho

[2018-05-09 22:58] nhamilton1980 commented on #2540
Claus,

Thanks, sure perhaps my proposed solution was a bit over the top, I am really not too fussed how the end goal is achieved. Your solution seems simpler, I agree, however I wanted to make sure the base set of theme elements couldn’t get messed around with, whist still providing the ability for users to add new elements.

--
Nicholas Hamilton, PhD
School of Materials Science and Engineering
U

[2018-05-09 23:01] hadley commented on #2047
Minimal reprex:

[code]

![](https://i.imgur.com/kqMYlst.png)

[code]

![](https://i.imgur.com/aN8AV4G.png)

I think the root cause is that `stat_count()` is computing the width based on the resolution of an individual group rather than the full dataset.

[2018-05-09 23:03] hadley commented on #2044
I'm going to close this for now - we'll tackle in a tidyverse wide way later in the year.

[2018-05-09 23:03] #2044 closed

[2018-05-09 23:06] baptiste commented on #1244
`annotation_custom` provides a way by wrapping an arbitrary grob in a gTree that spans the full panel. The syntax is not super convenient, especially since one has to load grid to use `unit` and `gTree`, but there could be a convenience function around this.
[code]

To specify specific facets, one would need a `geom_custom`, which exists as proof-of-principle in `egg`, but not on CRAN because ggpl

[2018-05-09 23:07] hadley commented on #2474
The problem is that you're supplying the data to the individual layer - facetting data typically needs to go to the plot.

[code]

![](https://i.imgur.com/AYr3KEh.png)

Created on 2018-05-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-09 23:07] #2474 closed

[2018-05-09 23:08] #1730 closed

[2018-05-09 23:12] hadley commented on #2378
Yeah, this has a much bigger impact that I had thought. I like @mjskay's suggestion to make it more opt-in.

[2018-05-09 23:27] frostell commented on #2480
probably wise! (for anyone in need of an ad hoc solution, see #2481)

[2018-05-09 23:42] yutannihilation commented on #2378
I like the idea! For the notation, I feel it's good if more explicit one like `calc()` is introduced. `.group` seems a new `...var...`, I'm a bit afraid it would be hard to find what it is and how it is special.

[2018-05-09 23:52] yutannihilation commented on #2378
But, it's far better than the status quo. I'm OK with explicit `.group` (at least, for now).

[2018-05-10 03:55] clauswilke commented on #2540
Nicholas,

That would be the case with my proposed approach, since theme elements can be added but only if the name isn't taken yet. Is this sufficient for you, or do you need additional features?

[2018-05-10 04:17] nhamilton1980 commented on #2540
Yes that would be fine.

Sent from my iPhone

On 10 May 2018, at 1:55 pm, Claus Wilke <notifications@github.com<mailto:notifications@github.com>> wrote:

Nicholas,

I wanted to make sure the base set of theme elements couldn’t get messed around with, whist still providing the ability for users to add new elements.

That would be the case with my proposed approach, since theme elements can be added

[2018-05-10 14:40] clauswilke commented on #2345
I'm closing this because main primary issues have been addressed with https://github.com/tidyverse/ggplot2/pull/2555. I'll open a new issue to collect thoughts for future directions.

[2018-05-10 14:40] #2345 closed

[2018-05-10 14:46] clauswilke commented on #2540
I think a solution along those lines can be found. However, unfortunately I think it's too late for 2.3.0. I think a reasonable goal would be to try to add the extension functionality ggtern needs into the next version after 2.3.0, so that bug reports such as https://github.com/nicholasehamilton/ggtern/issues/16 and https://github.com/wilkelab/cowplot/issues/88 can be closed.

[2018-05-10 15:26] clauswilke commented on #2406
As far as I can tell, this is a general problem whenever a stat defines a default aesthetic that the user hasn't mapped but does so in a later layer. This is not specific to `geom_density2d()`.

Alternative reprex, with `geom_density()`, which calls `stat_density()`, which creates a `fill` aesthetic:
[code]

![](https://i.imgur.com/7xRqRSG.png)

[2018-05-10 15:34] clauswilke commented on #2406
See also:
[code]
Note that `geom_density()` also overwrites the y axis label, and we probably want that to be the case even when we add points with a `y` aesthetic, so it's not immediately clear what the correct behavior is.

[2018-05-10 15:41] #2563 closed

[2018-05-10 15:41] #2378 closed

[2018-05-10 16:45] #2457 closed

[2018-05-10 17:31] clauswilke commented on #1546
Slightly simpler reprex:

[code]

![](https://i.imgur.com/iE4ouP7.png)

[code]

![](https://i.imgur.com/m2pJDMt.png)

[2018-05-10 21:56] clauswilke commented on #1903
This SO answer provides a way to center the legend box underneath the title:
https://stackoverflow.com/a/48011882/4975218
The code is general and could be integrated into the legend drawing code. I might tackle it, but not for 2.3.0.

One downside to this approach is that if there are multiple legends then they will be centered relative to each other but not overall. A better solution would fix th

[2018-05-10 22:11] #1546 closed

[2018-05-10 22:43] #2493 closed

[2018-05-10 22:47] hadley commented on #2509
I think the simplest fix is to just not re-export `exprs()`.

We did also re-export in dplyr 0.7.5 (which just went to CRAN) so we have a natural experiment to see if that causes a bunch of problems.

[2018-05-10 22:48] #2509 closed

[2018-05-10 22:48] hadley opened #2568 "Release ggplot2 3.0.0"
* [x] `devtools::check_win_devel()` — needs dev rlang
* [x] `rhub::check_for_cran()`
* [x] `revdepcheck::revdep_check(num_workers = 4)`
* [x] [Polish NEWS](http://style.tidyverse.org/news.html#before-release)
* [x] `revdepcheck::revdep_check(num_workers = 4)`
* [x] Inform revdep maintainers
* [x] Advertise upcoming release on blog/twitter
* [x] Create release branch
* [x] Bump version (in DESCRIPT

[2018-05-11 00:39] nhamilton1980 commented on #2540
Fantastic. This will be extremely beneficial to me.

[2018-05-11 03:37] clauswilke opened #2570 "Grammar of aesthetics"
As the types of plots people make with ggplot get ever more complex, it is becoming increasingly clear that having exactly one aesthetic mapping for each type of aesthetic (color, size, shape, etc.) for the entire plot is too limiting. There are good reasons why one might want, for example, two different color mappings in different layers (e.g., think about a map with a road layer and a city layer

[2018-05-11 08:26] thomasp85 commented on #2570
One thing to keep in mind is that it is not only geoms that rely on standardised names but stats as well. Basically the data get normalised at the start of the build process and both stats and geoms expect this. If this were to be made we would need some outside housekeeping of which aes in which layer would be connected instead of relying on column renaming as this would require a full rewrite of

[2018-05-11 12:44] hadley commented on #2568
I have experimentally enabled branch protection so during the release process (i.e. until accepted onto CRAN) every change requires a review.

cc @tidyverse/ggplot2

[2018-05-11 12:55] hadley commented on #2570
FWIW this is basically dual y-axes for all scales 😉  (But I think it's a good generalisations — breaking the connection between aesthetic and scale is useful and powerful, and is one of the insights in vega)

[2018-05-11 14:55] clauswilke commented on #2570
@thomasp85 Yes, I realized the stats problem after I typed this out. However, I think `aes_equal()` and `aes_inherit()` could be implemented with the current setup of geoms and stats, only `aes_distinct()` would create problems. Also, the primary use for these `aes_*()` functions would be with color aesthetics and stats work primarily with position aesthetics, so a large fraction of geoms and stat

[2018-05-11 15:47] thomasp85 commented on #2570
I think we should open another issue to discus the later part of your reply - it’s no small feature🙂

As for the original feature, I’m pretty sure something that works with current implementations can be found. I’m just advocating very very hard to maintain the predictable data representation as it is one of the key things that makes extensions such as gganimate possible and generally simplified d

[2018-05-11 17:07] hadley opened #2573 "Legend label alignment weirdness"
[code]

![](https://i.imgur.com/BoR4OBh.png)

Created on 2018-05-11 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

`hjust` and `vjust` seem to interact in weird ways here so I couldn't get them looking correctly (i.e. centered and top-aligned). @clauswilke would you mind taking a look?

[2018-05-11 17:57] jnolis opened #2574 "legend.title = element_blank() in complete theme gives base_family error"
I'm trying to create a new theme based on the default, and I found a strange error. If I take the theme_gray function and edit a single component:

[code]

I get this error:
[code]

This only happens with legend.title, I've had no trouble editing other attributes.

Thank you!

[2018-05-11 18:00] batpigandme commented on #2574
Hi @jnolis,

Could you please give a full self-contained reprex [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample) for this?

Thanks

[2018-05-11 18:30] clauswilke commented on #2573
Rotated text is going to be the end of me. I'll take a look.

[2018-05-11 18:35] clauswilke commented on #2574
Cannot reproduce on current github master.
[code]

![](https://i.imgur.com/zovqOIN.png)

Created on 2018-05-11 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-11 18:36] jnolis commented on #2574
Hi Mara!

This is kind of weird in that the steps to reproduce the example are much simpler than the actual code.

The steps to reproduce it are straight forward:

  1. Get a copy of the text of theme_grey(), which is 50 lines of code
  2. Edit the legend.title argument of theme() command to be element_blank()

In practice that looks like this (which is ugly):

[code]

[2018-05-11 18:36] jnolis commented on #2574
@clauswilke, this doesn't happen when you apply a +theme(), but rather when you edit a complete theme, and in particular the default grey one.

[2018-05-11 18:37] jnolis commented on #2574
Imagine the use case where I was making a theme for all of my work (say, theme_jnolis()) and I never wanted plots to have legend titles.

[2018-05-11 18:50] karawoo commented on #2574
@jnolis you can update the theme without copying the entire function:

[code]

![](https://i.imgur.com/z1KNt8k.png)

Created on 2018-05-11 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-11 19:46] clauswilke commented on #2574
I'm happy to dig into this further, but I still don't have a complete reproducible example. Could you please make one with the reprex package? Also, the example provided doesn't use the latest code from github master. For which version of ggplot2 are you reporting this issue?

[2018-05-11 19:50] jnolis commented on #2574
I am using version 2.2.1.

I just started a new session to try and make a more concrete example and it's no longer having the issue. I have no idea what that was all about... sorry!

[2018-05-11 19:50] #2574 closed

[2018-05-11 19:58] clauswilke commented on #2573
There's two separate issues here:

1. When using the `justify_grob()` function, I must not also set `hjust` and `vjust` inside the text grob. Makes sense but didn't come up until you tried rotated text.

2. Should the meaning of `hjust` and `vjust` be flipped when text is rotated? For the `justify_grobs()` function I opted for no, since that function should be general and cannot figure out in what

[2018-05-11 20:16] karawoo commented on #2573
On point 2, I think the answer should be yes, `hjust` and `vjust` should be interpreted relative to the direction of the text because that's how axis titles, facet strip labels, etc. already behave.

[2018-05-11 20:56] clauswilke opened #2576 "font size in legend title theme is not inherited"
When setting the title theme via `guide_legend()` the fontsize is not inherited. This causes weird spacing issues because the fontsize is used for spacing calculations if `legend.spacing.x` and `legend.spacing.y` are not set (the default). Reprex:

[code]

![](https://i.imgur.com/fgOBWUy.png)

[code]

![](https://i.imgur.com/4uF5bER.png)

The fix is to replace this line:
[code]
with this line:
[co

[2018-05-11 21:02] hadley commented on #2576
Is this a regression?

[2018-05-11 21:05] clauswilke commented on #2576
I think so. Version 2.2.1 used a hard-coded length as default unit for the spacing, and I thought it would make more sense to tie the default spacing to the font size. But that means I need to do everything I can to retrieve a meaningful font size. The fix is trivial, and I'll do it while figuring out the rotated text issue.

[2018-05-11 21:07] hadley commented on #2576
Ok, thanks!

[2018-05-11 21:08] clauswilke commented on #2573
@karawoo I think you're right, though it's confusing because margins do not behave this way. Overall, I think the entire text handling is still not quite right and overly complex, but that's beyond the scope of what can be done for this release.

[2018-05-12 01:45] baptiste commented on #2573
These issues have come up over and over again (suggesting some design flaws in grid and elsewhere). Could it be discussed within the broader scope of grid, or at least gtable? titleGrob, justify_grobs, etc. really belong in the broader ecosystem.

It's good if ggplot2 defines a robust and consistent way to handle margins/padding, justification, and rotation, but it would be _so much better_ if suc

[2018-05-12 02:36] yutannihilation opened #2578 "Simplify the usage of fortify() in ggplot()"
`ggplot.grouped_df()` was implemented in response to #2351. I feet, this is a kind of "fortifying" and at first thought implementing this was enough

[code]

so that the `ggplot.default()` calls this:

https://github.com/tidyverse/ggplot2/blob/4463da6abc9b8ff7a2451686b9685de36933b358/R/plot.r#L80

But, my guess was wrong. Since a `grouped_df` is also a `data.frame`, `ggplot.data.frame()` is actual

[2018-05-12 03:49] clauswilke opened #2579 "Separate aesthetic mappings for geoms and for stats"
This issue was first brought up in #2570 but it's really a separate issue: In the current ggplot2, mappings for geoms and stats are muddled together. This works great 90% of the time and causes big frustrations the other 10%. The most obvious case is that we need separate stats in a horizontal and vertical context. They are identical except with `x` and `y` flipped. For example, this works:
[code]

[2018-05-12 03:52] clauswilke commented on #2570
I've created a separate issue for the stat-to-geom mapping problem.

[2018-05-12 03:55] clauswilke commented on #2492
Closing this by way of #2570. This is a worthwhile feature to have. Implementing it will be somewhat tricky.

[2018-05-12 03:56] #2492 closed

[2018-05-12 04:01] clauswilke commented on #2344
I think this is the wrong approach to the problem. The right approach would be to add frame and background stylings to `element_text()`, or maybe add a new element type (e.g. `element_textbox()`) that draws text inside a (colored) box.

[2018-05-12 05:35] hadley commented on #2075
Oops yes

[2018-05-12 05:35] #2075 closed

[2018-05-12 19:04] berkorbay commented on #2514
A small update. I can bypass the error by assigning the plot to an object and then running the object on the console instead of running the plot directly. Unfortunately, I still cannot provide a healthy reproducible example.

[code]

[2018-05-12 19:27] clauswilke commented on #2429
Not sure this is a bug, since it behaves exactly as documented:

Importantly, the documentation also explains how to make this work, by using a named vector:
[code]

![](https://i.imgur.com/Dbgsvni.png)

However, there is a small modification one could make to make the scale behavior more intuitive: Check if `values` is a named vector, and if not *and* `breaks` are provided, use the breaks as name

[2018-05-12 19:47] clauswilke commented on #2514
`depth` is a grid function. I wonder whether this is related to #2252. I've seen both problems randomly pop up when using R Studio. If I repeat what I just did the problem always goes away.

[2018-05-12 19:48] clauswilke commented on #2252
Possibly related: #2514

[2018-05-13 03:57] kmace commented on #2444
This solved my issue: https://github.com/tidyverse/ggplot2/wiki/Share-a-legend-between-two-ggplot2-graphs

[2018-05-13 14:26] stephankraut opened #2581 "the comman ggplot under ggplot2 package doesn#t work any more"
This is my error message:
library(ggplot2)

In addition: Warning message:
Paket ‘ggplot2’ wurde unter R Version 3.4.4 erstellt

Error in ggplot(teachingMethodData) : **# could not find function **"ggplot"****
Could anybody help?

[2018-05-13 14:34] batpigandme commented on #2581
This sort of question is a better fit for https://community.rstudio.com. Do you mind asking it over there? (You might want to read https://www.tidyverse.org/help/ first to maximise your chances of getting a good answer.)

[2018-05-13 14:34] #2581 closed

[2018-05-14 02:25] vnijs opened #2582 "feature request: remove layers using -"
@yonicd's idea in ggedit to remove layers from existing plots using - is quite convenient. Is this a feature that could be added to ggplot2 as well?

See [example](https://github.com/metrumresearchgroup/ggedit/issues/21#issuecomment-354387117) and [code](https://github.com/metrumresearchgroup/ggedit/commit/35b9bb58c40274fd06df989523a7ae9fa4a71a63)

[2018-05-14 03:14] clauswilke commented on #2570
I think inheriting aesthetics might be better left to geoms at this time, without special infrastructure from ggplot. If geoms set the default of the child aesthetic to `NULL`, then it's trivial to check for that at drawing time and substitute the parent aesthetic. In fact, it's so little work that it's unclear we would ever need `aes_inherit()`. After all, inheriting aesthetics only makes sense i

[2018-05-14 03:19] toouggy opened #2583 "Symbol Issue ggplot2"
---

I am trying to generate a box plot and when I add different symbols everything works except in some of the groups I get a symbol duplication with a solid symbol rather than the assigned symbol to most of the data.  The output PDF files are attached.  I can also submit the R and csv files if needed.

[code]
[BoxPlot_Issue.pdf](https://github.com/tidyverse/ggplot2/files/1999269/BoxPlot_Issue.pd

[2018-05-14 05:29] clauswilke commented on #2570
Here is a proof-of-concept implementation of aesthetic remapping within an individual layer. It's a simple function `remap_geom_aes()` that takes a layer, name of the old aesthetic, and name of the new aesthetic, and remaps right before drawing, as in `remap_geom_aes(geom_point(), "colour", "colour2")`. Except for a warning that isn't true, this seems to work and can be used to experiment.

[code]

[2018-05-14 07:13] thomasp85 commented on #2582
Is there any reason why you can’t use the implementation provided in ggedit?

In general I think there should be very strong reasons for porting functionality already available in extension packages into ggplot2

[2018-05-14 07:15] thomasp85 commented on #2583
You’ll probably need to set `useDingbats = TRUE` in the pdf device

[2018-05-14 07:42] ptoche commented on #2570
and combining dots and underscores will be a source of confusion ``scale_size.vline_manual()``, ``scale_size_vline_manual()``, ``scale.size.vline.manual()``, ``scale_size_vline.manual()`` ... just too many possibilities...

[2018-05-14 10:34] batpigandme commented on #2582
Since @hadley's been quite clear on this (e.g. https://community.rstudio.com/t/why-cant-ggplot2-use/4372/10), I'm going to close. If I've erred in the wrong direction, we can reopen.

[2018-05-14 10:34] #2582 closed

[2018-05-14 10:36] batpigandme commented on #2583
In addition to trying @thomasp85's suggestion, it would be best if you could provide us with a self-contained [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample).

If you've never heard of a reprex before, you might want to start by reading the tidyverse.org [help page](https://www.tidyverse.org/help/). The [reprex dos and don'ts](http://reprex.tidyverse.org/art

[2018-05-14 14:36] hadley opened #2584 "Identify revdep issues"
There are 229 new failures, listed below. This is too many, and suggests that we've accidentally broken something important (hopefully we've only broken 1 or 2 things that are used heavily not a bunch of small things). The first step is to find the common themes in the failures.

@tidyverse/ggplot2 can you please let me know if you have time this week to read some fraction of the failure reports (

[2018-05-14 14:46] batpigandme commented on #2584
I can read. At the very least, I can do some winnowing down before more expert eyes are needed. 🙂

[2018-05-14 14:49] thomasp85 commented on #2584
I can put in some time

[2018-05-14 15:10] yutannihilation commented on #2584
FWIW, my package (gghighlight) fails because it assumes an aes mapping consists of symbols, not quosures. (But, I'm OK because I plan to overhaul the implementation after the release of this ggplot2 2.3.0.)

[2018-05-14 15:17] has2k1 commented on #2570
For such use cases is using `coord_flip` not enough?

[2018-05-14 15:48] thomasp85 commented on #2570
Coordinates affect all layers, which is not always what you want - this is the primary reason for ggstance

[2018-05-14 15:49] karawoo commented on #2584
I can read some as well.

[2018-05-14 15:51] thomasp85 commented on #2584
Maybe a google sheet where people can group issues into possible duplicates and others can begin tackling them...

[2018-05-14 16:01] hadley commented on #2584
Duh, yes, googlesheet is perfect

[2018-05-14 16:26] hadley commented on #2584
Googlesheet at https://docs.google.com/spreadsheets/d/1UZIFwt3j3XjnRGOMNJZvpal_CAj7Hz8aNXJt41m3JjM/edit#gid=0 — when you start exploring a failure, first put your name in the "who" column to make sure multiple people don't try understanding the same package at the same time.

@batpigandme can you please work on marking the packages with the "dplyr-ggplot2 vars clash"?

[2018-05-14 16:29] hadley opened #2585 "Resolve dplyr::vars + ggplot2::vars clash"
@lionel- can you think of some hack to avoid the dplyr::vars() + ggplot2::vars() namespace clash? (In an ideal world people wouldn't @import dplyr and @import ggplot2 but clearly there are ~100 packages that do this, and getting them all to change is going to be too much work)

[2018-05-14 16:29] hadley commented on #2585
Part of #2584

[2018-05-14 16:30] hadley commented on #2584
@lionel- @batpigandme Now tracking potential fix ideas for vars clash at #2585

[2018-05-14 16:36] hadley opened #2586 "qplot looks for geoms in wrong environment"
[code]

Created on 2018-05-14 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-14 16:45] hadley commented on #2584
Another common problem: looks like we accidental broke geom look up in `qplot()`. So any issue with `could not find function "geom_text"` (or similarly) is likely to be #2586

[2018-05-14 16:50] clauswilke commented on #2584
I see several warnings about an openMP clash, e.g.:
[code]
This seems to happen with packages that work with images, and it may be a problem with the testing environment rather than indicating a real problem?

[2018-05-14 17:01] hadley commented on #2584
@clauswilke Yeah, I think it's safe to ignore those

[2018-05-14 17:12] hadley commented on #2584
Maybe we need a column "can ignore" or similar?

[2018-05-14 19:31] oneilsh opened #2587 "docs.ggplot2.org redirect?"
This may not be the best place to post this, but: It seems that http://ggplot2.org now redirects to http://ggplot2.tidyverse.org/

Could a similar redirect be added for http://docs.ggplot2.org? I think lots of things link there (and some are in print, and so harder to adjust links for).

[2018-05-14 19:42] batpigandme commented on #2584
Seeing quite a few (38 based on just a simple raw count):
[code]

[2018-05-14 19:51] hadley commented on #2587
Oops I think I somehow broke that redirect when adding ggplot2.org

[2018-05-14 20:02] hadley commented on #2584
@batpigandme Is it possible all those errors come downstream from GGally? Would you mind trying to reproduce one or two more and seeing if `make_ggmatrix_plot_obj()` is in the traceback?

[2018-05-14 20:03] batpigandme commented on #2584
On it.

[2018-05-14 20:12] batpigandme commented on #2584
Nailed it!

At least 12 have `make_ggmatrix_plot_obj()` directly in their error reports https://raw.githubusercontent.com/tidyverse/ggplot2/master/revdep/problems.md
and then I found a few others in their vignettes and examples, and so far they've all traced to `make_ggmatrix_plot_obj()`. And, it looks like that's ~ the same thing when there are [`ggpairs()`](https://github.com/ggobi/ggally/blob/0

[2018-05-14 22:16] hadley commented on #2587
And it's back 😄

[2018-05-14 22:16] #2587 closed

[2018-05-15 13:42] thomasp85 commented on #2584
There's a bunch of errors that happens because `eval_tidy` doesn't allow duplicate column names. I would argue that this is fair and it is up to the package developers to clean their data, so I won't open an issue here. I'll mark the relevant package in the sheet

[2018-05-15 14:01] #2573 closed

[2018-05-15 14:01] #2576 closed

[2018-05-15 14:05] hadley commented on #2584
@thomasp85 would you mind writing a paragraph for inclusion in the news?

[2018-05-15 14:08] thomasp85 commented on #2584
Sure

[2018-05-15 14:08] hadley commented on #2584
@lionel- We also need a paragraph for the breaking changes section describing how the internal structure of `aes()` has changed.

[2018-05-15 15:46] batpigandme commented on #2584
Do we have an issue going for the `forecast::autolayer()` `ggplot2::autolayer()` namespace collision?

[2018-05-15 16:02] karawoo commented on #2584
I don't think so. There are also a number of `ggplot2::calc()`/`raster::calc()` issues.

[2018-05-15 16:09] batpigandme commented on #2584
There are also seven packages with `undefined columns selected` errors — is that due to a change in tidyselect?

[2018-05-15 16:25] hadley commented on #2584
`forecast::autolayer()` will be resolved by forecast developers since @mitchelloharawild requested it

How many `raster::calc()` conflicts are there? If there's a lot we might need to change `calc()` to something else.

Can someone give me a traceback for 2-3 `undefined columns selected` errors?

[2018-05-15 16:32] batpigandme commented on #2584
From plotROC
[code]
Where `basicplot` is
[code]

![](https://i.imgur.com/BdYj8UX.png)

Created on 2018-05-15 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-15 16:33] karawoo commented on #2584
I count 10 packages with `raster::calc()` conflicts: biomod2, bossMaps, diffeR, dtwSat, EcoGenetics, esmisc, paleofire, prism, rsMove, and zonator.

[2018-05-15 16:41] hadley commented on #2584
@batpigandme hmmmm, the first case is because we've changed the structure of `aes()`: `paste()`ing it (which was never a good idea), no longer yields useful strings. It's hard to see what the problem is in the second case. Maybe we need another issue to track this? Would you mind creating?

@karawoo hmmmmm, I'll ask on twitter

[2018-05-15 16:42] hadley commented on #2585
This hack appears to work 🙀

[code]

[2018-05-15 16:47] batpigandme opened #2591 "Undefined columns selected error"
As discussed in https://github.com/tidyverse/ggplot2/issues/2584, this is an issue for seven revdeps.

**Reprex from [ggseas](https://github.com/ellisp/ggseas) package**
[code]
**Traceback**
[code]
Same basic structure for scatterpie:
[code]

[2018-05-15 16:50] hadley commented on #2591
Scatterpie has the same root cause: https://github.com/GuangchuangYu/scatterpie/blob/master/R/geom_scatterpie.R#L33

[2018-05-15 16:59] batpigandme commented on #2591
Looks like that's the same as what's in gggenes, too
[code]

[2018-05-15 17:00] hadley commented on #2591
Here that involves using `rlang::quo_name()` instead of `as.character()` (which I'm pretty sure wouldn't have work before with expressions like `x + y`).  And in general (except in very special circumstances), you shouldn't be looking for aesthetics in the data — typically you should be implementing a layer function where the aesthetics have already been mapped.

[2018-05-15 17:07] hadley opened #2594 "Improve implementation of check_coord_freedom"
Causes check failure of lemon

https://github.com/tidyverse/ggplot2/blob/4463da6abc9b8ff7a2451686b9685de36933b358/R/facet-.r#L642-L655

Better implementation would be to create new `supports_free_scales()` (or similar) method that returns `FALSE` in `Coord` but `TRUE` in `CoordCartesian` and `CoordFlip`

@thomasp85 do you have time to have a go at this?

[2018-05-15 17:10] toouggy commented on #2583
I run a reprex and the output is below:

BoxPlot_Issue_Reprex_20180515.R
FJL

Tue May 15 10:01:14 2018

require(ggplot2)
## Loading required package: ggplot2
require(tidyverse)
## Loading required package: tidyverse
## ── Attaching packages ──────────────────────────────────────────────────────── tidyverse 1.2.1 ──
## ✔ tibble  1.4.2     ✔ purrr   0.2.4
## ✔ tidyr   0.8.0     ✔ dplyr   0.7.4
## ✔

[2018-05-15 17:10] hadley opened #2595 "Fail cleanly if theme$plot.tag.position absent"
e.g. in esmisc

[code]

By handling `NULL` case more elegantly.

[2018-05-15 17:14] hadley opened #2596 "Unused argument range = limits"
From cellWise and chromstaR

@batpigandme could you please create a reprex for me?

[2018-05-15 17:17] hadley opened #2597 "unused argument (output)"
Revdeps fail for clustree, colorplaner, fiftystater, ggraph

[2018-05-15 17:19] hadley commented on #2597
@thomasp85 you noted that you fixed this for ggraph. Can you explain the root cause? (This might just need a paragraph in NEWS)

[2018-05-15 17:23] hadley opened #2598 "`expr` must quote a symbol, scalar, or call"
brms, ChIPQC, soGGi, VWPre, zoo

@batpigandme can you make a minimal reprex here too please? soGGi looks like the easiest to start

[2018-05-15 17:35] hadley commented on #2584
@thomasp85 can you please take a look at BloodCancerMultiOmics2017? It fails with `"plot.tag" is not a valid theme element name.`

[2018-05-15 17:36] batpigandme commented on #2596
cellWise traceback
[code]
<details>
<summary>Will pare down the reprex, ignore for now</summary>
[code]
![](https://i.imgur.com/Y1yVEsx.png)
Created on 2018-05-15 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).
</details>

[2018-05-15 17:37] clauswilke commented on #2597
I think this is my fault, see this comment: https://github.com/tidyverse/ggplot2/pull/2555#issuecomment-386741688

It's already listed under the breaking changes:

Should I expand that bullet point and explain how to do the fix?

[2018-05-15 17:49] hadley opened #2599 "Don't know how to automatically pick scale for object of type NULL"
cutpointr, drugCombo, ggeffects, HMP16SData, jtools, mousetrap, OutbreakTools, stormwindmodel, useful

[code]

[2018-05-15 18:19] hadley commented on #2584
Phew, looks like we've done them all! Thanks for all your help! If you spotted an issue that affected multiple (i.e. >3 packages) can you please make sure it's tracked in an issue?

I think the next deadline is to try and get all issues fixed by Friday so we can kick off another round of revdeps this weekend.

[2018-05-15 18:28] hadley commented on #2596
Ah yes probably something to do with `self$oob`

[2018-05-15 18:58] clauswilke commented on #2597
How about:

The function `guide_train()` now defines an optional parameter `aesthetic` that can override the aesthetic setting in the scale. This change affects code that implements custom guides, which usually reimplement `guide_train()`. Code that doesn't have the required change will create an error in function `guide_train()` stating: `unused argument (output)`.

To make the required fix, you

[2018-05-15 18:58] batpigandme commented on #2598
### soGGi

Traceback
[code]
reprex
n.b. deleted most warnings, but left namespace collision with ggplot2 in.
[code]

Created on 2018-05-15 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-15 19:01] batpigandme commented on #2598
Possibly related? https://github.com/tidyverse/ggplot2/issues/2509

[2018-05-15 19:10] batpigandme commented on #2598
**zoo**

traceback
[code]

reprex
[code]
Created on 2018-05-15 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-15 19:59] thomasp85 commented on #2584
ggmosaic fails due to changes made in the last version. Specifically it passes a list into x and y, which throws an error because x and y are checked for finite values during transformations.

I'm unsure whether why should even allow positional data to be lists..?

[2018-05-15 20:11] thomasp85 commented on #2584
I'm clocking out and won't have as much time to go bug hunting in the coming days - feel free to tag me into issues that you think makes sense and I'll try to create the fixes, but I won't be filling in empty cells in the sheet for a couple of days

[2018-05-15 20:12] batpigandme commented on #2584
It appears that there are five cases of `theme$panel.ontop) { : argument is of length zero`.

[2018-05-15 20:16] karawoo commented on #2584
A lot of packages have defined themes with `complete = TRUE` that are not actually complete, and since the last release we've gotten stricter about making sure that complete themes don't ever inherit defaults. I think these packages will need to fix their themes.

[2018-05-15 21:04] hadley opened #2607 "Better test for if (label.size == 0)"
In `geom_label()`

Breaks evaluator and quanteda

[2018-05-15 21:07] hadley commented on #2584
I see quite a few `Error in min(c(x, xmin), na.rm = TRUE) :  invalid 'type' (list) of argument`. @karawoo would you have time to look into? I think it's likely to be related to something we did to scales, and will probably need some digging in the other package source.

[2018-05-15 21:07] batpigandme opened #2608 "GGally non-standard format w/ make_ggmatrix_plot_obj()"
From #2584
[code]

[2018-05-15 21:09] #2594 closed

[2018-05-15 21:16] #2595 closed

[2018-05-15 21:19] hadley commented on #2608
@schloerke can you please let us know when GGally is on its way to cran? Thanks!

[2018-05-15 21:25] hadley commented on #2597
Thanks!

[2018-05-15 21:31] hadley opened #2609 "Relax 1d atomic vectors or lists requirement"
As it's breaking many revdeps so will likely have deleterious impact on user code

[2018-05-15 21:55] karawoo commented on #2584
I will try to look into it (maybe not today)

[2018-05-15 22:02] karawoo opened #2610 "Error in min(c(x, xmin), na.rm = TRUE) : invalid 'type' (list) of argument"
#2584

Problem occurs in: FourCSeq, Rariant, RiboProfiling, Single.mTEC.Transcriptomes

From a quick look it seems that some interaction with ggbio might be the cause

[2018-05-15 22:17] hadley commented on #2584
@karawoo I'll create an issue to track.

Unfortunately I'm teaching a workshop Thursday and Friday, so I'm trying to front-load as much work as possible. I'll try and review PRs during the breaks.

[2018-05-15 22:28] hadley commented on #2584
Ok, I think the majority of packages are now actually triaged, and we can now concentrate on diagnosing and fixing the issues under https://github.com/tidyverse/ggplot2/milestone/16

[2018-05-15 22:33] #2591 closed

[2018-05-15 22:33] #2597 closed

[2018-05-15 22:36] hadley commented on #2598
Minimal reprex:

[code]

[2018-05-15 22:37] hadley commented on #2598
Likely to be same root cause as #2599

Thanks for helping me to quickly narrow this down @batpigandme !

[2018-05-15 22:38] hadley commented on #2596
Root cause: https://github.com/cran/cellWise/blob/692d188530d525a5bf027cc93cd08dee585d4414/R/cellMap.R#L278

Now to figure out why this didn't previously fail

[2018-05-15 22:41] hadley commented on #2596
I can't figure it out - there are no mentions of `oob` in scales or ggplot2 READMEs. Given that it affects only two packages, I think the right thing is to add to breaking changes in NEWS and move on.

[2018-05-16 00:31] karawoo commented on #2610
I believe this is coming up in ggbio's autoplot method. A reprex from ggbio docs, unfortunately not that minimal:

[code]

Created on 2018-05-15 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

I think this is a tidyeval side effect, but I'm coming up against the limits of my ability to figure it out. I'm hoping I've narrowed it down enough that @hadley or @lionel- can point me in t

[2018-05-16 00:43] hadley commented on #2610
Yes, that's a tidy eval issue, so we can just describe in a bit more detail in the breaking changes. I'll do that tomorrow — thanks for the exploration!

[2018-05-16 16:15] karawoo opened #2614 "Resolve raster::calc + ggplot2::calc clash"
Decide how to proceed based on responses to [Hadley's tweet](https://twitter.com/hadleywickham/status/996430251499536385)

[2018-05-16 17:37] clauswilke commented on #2614
I'd be in favor of renaming if a good alternative can be found, because I find `calc()` not that informative. What is it calculating? From where? I like things to be more explicit, such as `calc_from_stat()`, but that's long. The best thing I could think of is `stat()`, which I don't think conflicts with anything.

So something like this:
[code]
would become this:
[code]
The downside is that "stat

[2018-05-16 17:40] hadley commented on #2614
Ooh I like `stat()` a lot better.  I'll work on this STAT 😉

[2018-05-16 17:42] hadley commented on #2614
Or if someone else had time, this should be a fairly simple PR. (I'm teaching a workshop Thursday & Friday)

[2018-05-16 17:44] karawoo commented on #2614
@hadley I can do it this evening, is that too late?

[2018-05-16 17:57] hadley commented on #2614
That would be perfect

[2018-05-16 19:10] cpsievert opened #2615 "Setting axis limits now errors when they are a subset of the full set"
[code]

<img width="607" alt="screen shot 2018-05-16 at 3 10 07 pm" src="https://user-images.githubusercontent.com/1365941/40138634-3f440d70-591b-11e8-9ef8-7168b6068608.png">

[code]

[code]

Note that this example works (with a warning) on the current CRAN version:

<img width="604" alt="screen shot 2018-05-16 at 3 09 42 pm" src="https://user-images.githubusercontent.com/1365941/40138611-30f47e1c

[2018-05-16 19:33] clauswilke commented on #2492
I think for now this should be developed as an extension package. Proof of concept is [here.](https://github.com/clauswilke/relayer)

[code]

![](https://i.imgur.com/wI3jI98.png)

Created on 2018-05-16 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-16 20:19] #2599 closed

[2018-05-16 20:29] hadley commented on #2578
@yutannihilation any chance you'd have time to do a PR on this today? (if not, no problem, I'll do it later)

[2018-05-16 20:31] hadley commented on #2584
I'm going to close this issue because I think we've successfully identified all the revdep issues for this round. All going well we'll have another much smaller round on Monday, and I'll open a new issue for that.

[2018-05-16 20:31] #2584 closed

[2018-05-16 20:32] hadley commented on #2610
@karawoo do you have time to finish this off today? It just needs a PR to docs mention this error under the tidy eval bullet.  (No worries if not, I'll try and do later this afternoon).

[2018-05-16 20:52] karawoo commented on #2610
Yeah I can do it this evening

[2018-05-16 23:09] #2607 closed

[2018-05-17 00:03] brodieG opened #2618 "Documentation typos/inconsistencies in Geom and Stat"
Looks like some paragraphs got moved around, some extra words here and there, and a reference to the seemingly deprecated `reparameterise` method.

PR will follow shortly to address and the diff will highlight the issues.

[2018-05-17 00:37] #2585 closed

[2018-05-17 01:13] hadley commented on #2609
@lionel- can you take on this one? I'm not going to have time since I'm teaching Thursday and Friday.

The problem arises from the use of `as_tibble()` in three places. On the whole, I think the increased strictness of tibble is a good thing but it causes problems with some base R functions which 1d arrays like (like `scale()`, as in #2374). I think the simplest solution probably to switch to `tib

[2018-05-17 09:59] yutannihilation commented on #2578
@hadley Thanks, I will!

[2018-05-17 10:04] thomasp85 opened #2621 "geom_smooth throws error with diamonds dataset"
This is a weird error I ran into:

[code]

At first I thought it was because `diamonds` were a nibble but converting to a data.frame preserves the error...

This works on the CRAN version so it is a regression introduced somewhere. Strangely enough, it is tied to something in the diamonds dataset as geom_smooth works fine with e.g. mtcars

[2018-05-17 10:07] zz77zz opened #2622 "Strip placement (bottom, outside) and empty slots"
---

[issue raised at https://stackoverflow.com/questions/50385053/ggplot2-unexpected-vapply-error]

In some situations, empty slots in a row together with the "bottom" parameter lead to the following error:

"Error in vapply(row_axes, is.zero, logical(length(row_axes))) : values must be length 3, but FUN(X[[1]]) result is length 1"

[code]

[2018-05-17 10:44] batpigandme commented on #2622
reprex with working example without `strip.position = "bottom"` and one with `strip.position = "left"` (works with others as well):
[code]

![](https://i.imgur.com/pxBOsVn.png)

[code]
[code]
![](https://i.imgur.com/RQ7O61J.png)

Created on 2018-05-17 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-17 10:46] CharlotteWoolley commented on #2096
To follow up on this (in case anyone else is looking for the answer), the reason why the code has stopped working is due to changes in g$layout$name.

It appears that the top rectangles and righthand rectangles now have separate 'names' within this variable. Therefore, they need to be obtained separately.

To colour in just the TOP rectangles, use...
strip_t <- which(grepl('strip-t', g$layout$name

[2018-05-17 10:47] batpigandme commented on #2622
n.b. also works when total number of facets is divisible by the row number
[code]

![](https://i.imgur.com/t3bgec6.png)

Created on 2018-05-17 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-17 13:47] #2578 closed

[2018-05-17 13:47] #2614 closed

[2018-05-17 13:48] #2610 closed

[2018-05-17 13:51] hadley commented on #2621
It seems to be the namespace that causes the problem: this is ok

[code]

[2018-05-17 13:54] hadley commented on #2621
Minimal reprex

[code]

This was introduced in #2535, cc @bfgray3.

[2018-05-17 14:12] clauswilke commented on #2621
Yes, correct. Reprex outside of ggplot2:
[code]

Created on 2018-05-17 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-17 14:14] hadley commented on #2621
So we just need to revert that change including the news bullet, and add a test.

I have a dim recollection that we've done this dance before.

[2018-05-17 14:18] clauswilke commented on #2621
I think this raises two questions, though: 1. Why did it work when @bfgray3 proposed the change originally? 2. Is there a reliable way to fix #2535?

[2018-05-17 15:19] clauswilke commented on #2621
I did some more digging. `gam()` looks specifically for a term called `s` (as well as `te`, `ti`, and a few others), so it doesn't recognize `mgcv::s`:

[code]

Created on 2018-05-17 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

One solution might be to create a custom environment in which `s <- mgcv::s` and make sure the `gam` expression is evaluated in that environment. That ex

[2018-05-17 15:35] schloerke commented on #2608
Just received email...
[code]

Waiting for approval

[2018-05-17 18:46] hadley commented on #2621
For now I think we should forward to gam maintainer.

[2018-05-17 18:47] #2618 closed

[2018-05-17 22:54] Freguglia opened #2627 "Manual scales for specific levels only"
As an example:
[code]
This piece of code works fine, but let's say I want to have `pink` color for `versicolor` and I really don't care what color is picked for the others. There could be some kind of "auto-completion" for manual scales so that when I try something like the code below, the levels I don't care about have their color value automatically picked (possibly with a warning). Right now an

[2018-05-17 23:13] clauswilke commented on #2627
I would speak out against this proposal. It will lead to some really ugly plots. Picking colors that work well with an existing color scale is even more difficult than just creating an entire color scale from scratch, so whoever would use this functionality would unlikely have the skills to actually pick appropriate colors.

If somebody wants to implement this in an extension package they are free

[2018-05-18 01:12] pmur002 commented on #2373
These are now running for me in r-devel (r74740) - can anyone else confirm that ?

[2018-05-18 04:05] clauswilke commented on #2373
Thanks @pmur002! Unfortunately I don't have a working r-devel setup right now and don't have the bandwidth to set one up. Maybe somebody else can check?

[2018-05-18 04:45] clauswilke commented on #2622
I can't say I understand the code in question, but one way or another this line looks suspicious:
https://github.com/tidyverse/ggplot2/blob/4b609fb22215ce497d22df9d4fd9c70b47d01bdc/R/facet-wrap.r#L300

There's a similar line a little further down, though I wasn't able to create a crash at that position:
https://github.com/tidyverse/ggplot2/blob/4b609fb22215ce497d22df9d4fd9c70b47d01bdc/R/facet-wrap

[2018-05-18 06:02] clauswilke commented on #2621
I have contacted the gam maintainer.

[2018-05-18 07:49] thomasp85 commented on #2622
It seems to be a simple matter of me messing up the the apply call...

The reason @clauswilke can't provoke an error on the second instance is that it is not possible to have more than a single unfinished row

[2018-05-18 13:49] #2622 closed

[2018-05-18 13:59] #2598 closed

[2018-05-18 14:32] #2615 closed

[2018-05-18 14:33] #2621 closed

[2018-05-18 14:33] clauswilke opened #2630 "Change the default estimation method for gam in geom_smooth()"
As recommended by the maintainer of the mgcv package, Simon Wood, it might be better to set `method = "REML"` in the `gam()` call for `geom_smooth()`. I quote:

[2018-05-18 18:05] lionel- commented on #2373
Confirmed that both the grid and ggplot reprexes work well with r-devel.

[2018-05-18 21:18] clauswilke commented on #2630
One more comment from Simon Wood:

The Reiss and Ogden paper is available here: http://www.jstor.org/stable/40247585

`gam(..., method = "REML")` will work for mgcv versions >=1.5-0, March 2009.

[2018-05-19 00:33] hadley commented on #2373
Thanks @pmur002!

[2018-05-19 00:33] #2373 closed

[2018-05-19 12:03] diplodata opened #2636 "ggsave: option to open on complete"
It would be nice if an `open = FALSE` option could be added to ggsave, just wrapping `browseURL(filename)` as an extra call on-complete.  Big plots are often much quicker to render to file than in the R console, so my scripts end up with lots of lines like:

    fn = "plotx.png"; ggsave(x, filename = fn, w=w, h=h); browseURL(fn)

It would be nice if they could just be:

    ggsave(x, filename = "p

[2018-05-19 13:18] #2609 closed

[2018-05-19 13:32] hadley commented on #2636
This feels out of scope to me; you can always write your own wrapper function.

[2018-05-19 13:32] #2636 closed

[2018-05-19 19:12] brodieG opened #2637 "Cryptic errors because `Geom*$setup_data` runs before `check_required_aes`"
Failure to check aesthetics for geoms that use `setup_data` can cause cryptic error messages:
[code]
Compare to:
[code]
This is because in [`Layer$compute_geom_1`](https://github.com/tidyverse/ggplot2/blob/a7b31356ef1de985fc23e3fee14ef5d2afd20c85/R/layer.r#L286) we `setup_data` before we `check_required_aesthetics`.

I can definitely see the rationale for this if it is the case that some required

[2018-05-20 22:03] jacobgrasmick commented on #1992
I also am observing this bug. Has it been fixed? I'm using version 2.2.1
Thanks!

[2018-05-20 22:16] clauswilke commented on #1992
This seems to work as expected in the development version, which is currently being prepared for release as 2.3.0.

[code]

![](https://i.imgur.com/WO9E2Fd.png)

[code]

![](https://i.imgur.com/kk8Pce7.png)

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2018-05-21 00:58] hadley opened #2640 "Error in if (position != "none") { : argument is of length zero"
Need to switch to use identical

[2018-05-21 00:59] hadley opened #2641 "Error: `data` must be uniquely named but has duplicate elements"
We need a simple reprex for this just to double check it's revealing real problems. Looks like ggforce might be simplest?

[2018-05-21 01:01] hadley commented on #2641
I thought it might be related to using same facet name as aesthetic, but that doesn't appear to be the case:

[code]

![](https://i.imgur.com/Uozy8kq.png)

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-21 01:01] hadley commented on #2608
Thanks Barret! I'm going to close this since it looks like it's on CRAN now 😄

[2018-05-21 01:01] #2608 closed

[2018-05-21 05:35] karawoo commented on #2641
Whatever it is it's already fixed in the dev version of ggforce. I looked at svdvis and there they're passing a data frame that has two different columns called `group` to `geom_point()`. Here's a reprex:

[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

In preparing data for plotting sometimes ggplot creates a `group` column. I have some suspicion that

[2018-05-21 21:51] elbamos opened #2646 "Request for Additional Documentation: Creating new coords"
There is currently extensive documentation on using the proto system to create new geoms, facets, and scales.  However, there isn't for creating new coordinate systems.  I'm trying to extend/modify Coord_Polar, and its quite challenging trying to determine what needs to be implemented and what does not.  Some documentation would be greatly appreciated.

[2018-05-21 23:37] Maschette opened #2647 "Add ability for multiple independent axis"
Within a number of sciences there are world standards on how to plot data such as Conductivity Temperature and Depth (CTD) data in oceanography or rainfall with elevation in hydrology. The biggest barrier for using ggplot2 is the inability to make plots with multiple independent axis.

Is this a feature that can be added/is there a way to do this that is just not obvious from the documentation?

I

[2018-05-21 23:45] batpigandme commented on #2647
This sort of question might be a better fit for https://community.rstudio.com to crowdsource some options. Do you mind asking it over there? (You might want to read https://www.tidyverse.org/help/ first to maximise your chances of getting a good answer.)

[2018-05-21 23:53] Maschette commented on #2647
I will, but I still think it should be an option in ggplot, base has it, lattice has it ggplot doesn't (and base and lattice are ugly).

[2018-05-22 00:13] #2647 closed

[2018-05-22 02:44] dpastoor opened #2648 "propose new ggplot version be released as 3.0 rather than 2.3.0"
I'd like to propose incrementing the ggplot2 version number to 3.0 rather than 2.3.0. Though semantic versioning is not "officially" followed, it does provide a helpful facility for communication, especially after the 1.0 release.

Given the extent of the internal refactor to rlang+other changes, it is clear that there are breaking changes. I applaud the team for such diligent engagement with the

[2018-05-22 03:42] clauswilke commented on #2648
It depends on whether we allow breaking changes with minor version increases or not. If any breaking changes are allowed at all with a minor version increases, then I think this is 2.3.0, because the vast majority of code will work just fine. Most breaking changes in this release relate to things that were already bad practice, such as having two data columns with the same name. While there are a

[2018-05-22 04:04] clauswilke opened #2649 "Improved support for aesthetic aliases"
The current ggplot2 has support for aesthetic aliases, such as `color` instead of `colour`. However, there are two places where this support could be improved, and they should be tackled at the same time, I think.

## 1. Make aliases configurable

Currently the available aliases are hardcoded here:
https://github.com/tidyverse/ggplot2/blob/eecc450f7f13c5144069705ef22feefe0b8f53f7/R/aes.r#L10-L23
I

[2018-05-22 04:05] clauswilke commented on #2570
Close by way of #2649.

[2018-05-22 04:05] #2570 closed

[2018-05-22 04:06] clauswilke commented on #2540
See also #2649 for a different problem that requires a similar technical fix: a currently hard-coded list needs to become user-configurable.

[2018-05-22 04:09] dpastoor commented on #2648
The problem with "kept at a minimum" is ambiguous. Likewise patch versions are really for just that - fixes or refactoring. Additions still warrant minor bumps. There's nothing stopping versions at single digits.

Again this is based around following semantic versioning. If there is no interest in following that then the discussion is somewhat moot. To me version number should be seen as a form if

[2018-05-22 08:22] Henrik-P opened #2650 "Legend colorbar is truncated and limits not respected with continuous scales"
Sometimes the legend is not showing the entire range of colours when using a continuous `fill` or `color` scale, e.g `scale_fill_continuous`, `scale_fill_gradient`, `scale_fill_gradientn` (and corresponding `color` scales).

Specifically the upper range of the colorbar legend is truncated, i.e. it doesn't extend all the way to the upper limit of the colour palette.

Furthermore, the title of the l

[2018-05-22 08:27] adrfantini opened #2651 "geom_sf() and facet_*(..., scales="free")"
Setting `scales="free"` in `facet_*` resets `geom_sf` coordinates handling, even if not necessary. See reprex below.

[code]
Without `scales="free"`:
![spectacle twz916](https://user-images.githubusercontent.com/12826141/40350553-6ed0d404-5daa-11e8-92de-e5ca2dd28e10.png)
With `scales="free"`:
![spectacle hcf916](https://user-images.githubusercontent.com/12826141/40350583-859cfc8a-5daa-11e8-8813-c5

[2018-05-22 11:29] thibautjombart commented on #2047
For what it is worth, this bugs results in issues with the RECON package [incidence](http://www.repidemicsconsortium.org/incidence/):

[code]

![](https://i.imgur.com/NH0N2xP.png)

[code]

![](https://i.imgur.com/ZsyEVWn.png)

[2018-05-22 12:43] clauswilke commented on #2650
All these examples seem to work with the current codebase. @Henrik-P, could you check whether you can produce the problem at all with the current development version?

[code]

![](https://i.imgur.com/py0U8fc.png)

[code]

![](https://i.imgur.com/CLL7lP0.png)

[code]

![](https://i.imgur.com/zFE36q8.png)

[code]

![](https://i.imgur.com/2vjBCl4.png)

[code]

![](https://i.imgur.com/svmq1wP.png)

Cr

[2018-05-22 13:03] has2k1 commented on #2650
Fixed in #2346.

[2018-05-22 13:07] #2650 closed

[2018-05-22 13:16] adrfantini commented on #2651
What if I want to show some data over USA and Canada, in two different facets? Currently,  (without `scales = "free"`) I'll have two big facets spanning the whole of North America (One with Canada data, one with USA data), instead (using `scales = "free"`) of two smaller facets spanning USA and Canada separately. Why shouldn't this be allowed?

[2018-05-22 14:29] clauswilke commented on #2651
The problem is that throughout the ggplot2 code base, the assumption is made that axes can be trained independently of other axes. To implement what you're requesting, one would have to write a training algorithm that trains x and y axes simultaneously while producing a targeted aspect ratio. This is possible in principle, but it's not immediately obvious how to do it in the current code base, at

[2018-05-22 14:29] batpigandme commented on #2651
There are ggplot2 extensions <http://www.ggplot2-exts.org/gallery/> that should allow you to arrange two maps side by side as such, e.g. [patchwork](https://github.com/thomasp85/patchwork#patchwork-), and (@clauswilke, correct me if I'm wrong) [cowplots](https://github.com/wilkelab/cowplot).

[2018-05-22 14:34] clauswilke commented on #2651
@batpigandme Yes, that's the other possible approach, make the plots separately and then arrange side-by-side. But then we don't get the power of faceting.

[2018-05-22 14:35] batpigandme commented on #2651
Oh yeah, of course, I was just offering a workaround!

[2018-05-22 16:42] hadley commented on #2648
I don't find semantic versioning particularly useful because it doesn't precisely define what a breaking change is, or even exactly what an API is (this is particularly tricky for ggplot2 which does not have a clear specification of behaviour independent on the current independent). Additionally, the way in which versions are specified in R packages are very different to other programming language

[2018-05-22 17:14] hadley commented on #2651
Yes, this is a bug - this plot should throw an error message.

[2018-05-22 17:14] hadley commented on #2047
To be clear, are you stating that this is not a problem with the released version of ggplot2?

[2018-05-22 18:02] #2641 closed

[2018-05-22 19:59] dpastoor commented on #2648
Thanks. To your question about breaking change - my understanding, per https://semver.org/ is that the public api denotes the interface at which the communication hinges upon, so to me this is any exported function, method, etc.

 I also agree that R sits in an interesting space with the combination of interactive utilization + more and more software engineering making it harder to reason about wh

[2018-05-23 04:15] clauswilke commented on #2583
The duplicated points are outliers generated by `geom_boxplot()`. This report highlights how important it is to generate a *minimal* reprex. There's so much going on in the original example that it's hard to find the root issue.

A minimal reprex follows, plus a possible workaround (`outlier.colour = "transparent"`), though I would argue the original code works as expected.

[code]

![](https://i.

[2018-05-23 04:15] #2583 closed

[2018-05-23 04:31] clauswilke commented on #2505
I agree that having an `outliers = FALSE` argument might be useful, simply for its visibility, though I'd like to point out that `outlier.colour = "transparent"` does the same trick. Maybe it would be sufficient to just add that to the docs somewhere? See also https://github.com/tidyverse/ggplot2/issues/2583#issuecomment-391214863.

[2018-05-23 08:05] adrfantini commented on #2651
Thanks for the bugfix. I do not know the internals of `ggplot` so my request for clarification might seem trivial (and maybe already answered by @clauswilke ), but if the following works, why can't the same be made working with `coord_sf`?

[code]

[2018-05-23 11:48] ptoche commented on #2505
One would expect ``outliers = FALSE`` to discard the data and recompute the axis limits, something that ``outlier.colour = "transparent"`` wouldn't be expected to do, right?

[2018-05-23 13:38] clauswilke commented on #2651
`coord_sf` has a fixed aspect ratio. The appropriate comparison would be something like this:
[code]

![](https://i.imgur.com/p4ajqZq.png)

Created on 2018-05-23 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-23 16:01] karawoo commented on #2505
I think a lot of people would expect that, yeah, and that behavior was decided against in #2026. Maybe `hide_outliers = TRUE`?

[2018-05-23 17:23] zlskidmore opened #2653 "Unexpected behavior in element_text() horizontal justification"
In the upcoming release of ggplot2 (2.3.0) the behavior of element_text() has changed. Specifically it looks like the justification anchors have changed in relation to the text. For Example:

In the current release:
![ggplot_2 2 1](https://user-images.githubusercontent.com/6145692/40440459-bdd8d95a-5e83-11e8-8ea7-0c9cb3b00cfb.png)

In the development version:
![ggplot2_2 3 0](https://user-images.g

[2018-05-23 17:35] karawoo commented on #2653
Thanks for reporting this. I believe this bug is due to the change in how `xp` and `yp` are calculated in #2577.

[2018-05-23 17:41] karawoo commented on #2653
@hadley @clauswilke I think we should revert [this change](https://github.com/tidyverse/ggplot2/pull/2577/commits/963b551a3d23198163a910ca8a9b169dbf0a2a36), it's going to break a lot of users' plots.

[2018-05-23 17:54] clauswilke commented on #2653
@karawoo I'll look into it. However, I'm not yet convinced about the cause of this problem, because I checked for this particular issue when I made the patch, if I remember correctly. I think this has actually to do with changed grob heights due to fixed descenders.

A workaround exists, but I agree it's not intuitive (why `vjust = 0.65`?)
[code]

![](https://i.imgur.com/cp3dRcC.png)

Created on 2

[2018-05-23 18:06] clauswilke commented on #2653
When looking at this in debug mode, we see that for axis tick labels along the x axis the reference point travels vertically for different `vjust` values rather than orthogonally to the direction of the text. As far as I recall, this behavior is identical to the currently released ggplot2 version, but it's different from the behavior for `hjust` (which is along the text direction) and it's also di

[2018-05-23 22:57] clauswilke commented on #2653
I've been pondering this issue the whole afternoon and I'm not sure how to fix this. (We can revert, of course.) The bigger problem I'm seeing is that we are using two different justification systems throughout ggplot, and things break one way or another when we mix them (as is the case for axis tick labels): One system uses a fixed reference point and moves the text relative to that point. E.g.,

[2018-05-24 09:48] adrfantini commented on #2651
@clauswilke Thanks for the explanation! I believe this can be closed, right?

[2018-05-24 10:18] ptoche commented on #2505
``outlier.shape = NA``, ``outlier.colour = NA``, ``outlier.colour = "transparent"``, ``outlier.shape = ""``, ``outlier.size = -1`` appear to give similar output. Something like the output below.

Could an ``outliers = FALSE`` be part of the ``scales`` package instead of ``ggplot2``, since  it would involve a recomputation of the scales?

[code]

![](https://i.imgur.com/xZAWYuC.png)

Created on 201

[2018-05-24 13:49] clauswilke commented on #2651
The issue will be automatically closed once the pull request is integrated into the main code base. That hasn’t happened yet.

[2018-05-24 17:54] thk686 opened #2655 "geom_sf is appallingly slow in some cases"
Literally getting questions like "why should I use this software" from students when it takes 5 minutes to draw a map. Here's a specific example from a lesson. While it is always a bit slow, some plots take forever. Could it be because of the 'fill' argument?

[code]

[2018-05-24 18:01] batpigandme commented on #2655
Could you please turn this into a self-contained [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample)?

If you've never heard of a reprex before, you might want to start by reading the tidyverse.org [help page](https://www.tidyverse.org/help/).

Thanks

[2018-05-24 18:30] thk686 commented on #2655
[code]

[2018-05-24 18:46] batpigandme commented on #2655
Hmm – I just took the elapsed time from before and after actually calling ggplot and it was < 4 seconds…
[code]

![](https://i.imgur.com/OXFLDB9.png)

[code]

[2018-05-24 19:05] clauswilke commented on #2655
It takes about 90 seconds to render this on my system. `fill` is not at fault. And when I try to display the result in the RStudio plot window things seem even slower. In fact, this crashed my RStudio session when I first tried to run it.

[code]

![](https://i.imgur.com/Mujfqal.png)![](https://i.imgur.com/E44nDew.png)

    #> Unit: seconds
    #>       expr      min       lq     mean   median

[2018-05-24 19:56] thomasp85 commented on #2655
While your issue may be valid, may I suggest you don’t word your next issue in ways that seem to insult the developers

[2018-05-24 20:37] clauswilke commented on #2252
I seem to have stumbled across a minimal ggplot2 example to generate this problem. The following code causes this error for me every time:

[code]

Traceback:
[code]

The error arises in `widthDetails()`, but curiously I can call `widthDetails()` on a text grob with `fontfamily = 0` without this error:
[code]

[2018-05-24 21:33] hadley commented on #2655
[code]

I don't know of a good way to figure out the total number of points, but I think there are a lot

[2018-05-24 21:36] hadley commented on #2655
@edzer is there a simple way to total number of vertices in a multipolygon geometry?

[2018-05-24 21:53] ldecicco-USGS opened #2656 "Facet + axis labels"
This could easily be "won't fix" and I totally understand, but I was wondering if this is the expected behavior:

[code]
![image](https://user-images.githubusercontent.com/1105215/40515485-9f35d7c4-5f72-11e8-83ef-803c2d500033.png)

I would like to see the `skin_color` "fair" label red and the rest black. I see what's happening: for each `eye_color`, it uses the vector c("black","red","black","blac

[2018-05-24 22:17] botanize opened #2657 "Unable to plot objects of type ITime"
Data of class "ITime" cause ggplot error. Previously this worked fine, ggplot would default to a continuous scale and you could apply a label function to get reasonable axis labels. Now it warns and the errors with a missing aesthetic.

I dug around a little in the debugger and the data I pass in looks like this:

x| y
-|-
12:00:00|  3

But the data ggplot checks for aesthetics looks like this:

V

[2018-05-24 23:29] #2653 closed

[2018-05-24 23:36] clauswilke commented on #2656
This trick of coloring axis tick labels is floating around on stackoverflow, and I've used it myself, but it's an accident that it works I think. Technically, the reason that it works is that all the axis tick labels are generated as one single grob. If instead each were its separate grob this wouldn't work. In fact, if you try the same on a legend generated with `guide_legend()` (not `guide_color

[2018-05-25 04:30] ldecicco-USGS commented on #2656
Thanks for the explanation! I did see the stackoverflow post:
https://stackoverflow.com/questions/45843759/ggplot2-coloring-axis-text-on-a-faceted-plot
(very schnazzy!)
So as near as I can tell, this is the current solution:
[code]
which gives:
![image](https://user-images.githubusercontent.com/1105215/40526038-760ce158-5fa9-11e8-833a-9293253c97a7.png)

Not terrible, but it would be nice if Aldera

[2018-05-25 04:59] clauswilke commented on #2656
The about-to-be-released ggplot 2.3.0 allows you to draw outside the plot area by switching off clipping. So the following might be a viable workaround for now. It requires a bit of fiddling with the `x` coordinate of the text relative to the overall width of the plot, but otherwise it works.

[code]

<img width="845" alt="screen shot 2018-05-24 at 11 55 16 pm" src="https://user-images.githubuserc

[2018-05-25 05:18] clauswilke commented on #2656
I'm going to close the issue because I don't think there's any concrete action to be taken at this time.

[2018-05-25 05:18] #2656 closed

[2018-05-25 05:29] clauswilke commented on #2657
I cannot reproduce your problem with the current development version. Which version of ggplot2 are you using?

[code]

![](https://i.imgur.com/63qbUlc.png)

[code]

![](https://i.imgur.com/tQpcvcZ.png)

Created on 2018-05-25 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-25 05:46] clauswilke commented on #2505
`outlier.shape = ""` will not work in ggplot2 2.3.0. (But `outlier.shape = " "` does work.) This may be an unintended consequence of this merge: https://github.com/tidyverse/ggplot2/pull/2338

[code]
Created on 2018-05-25 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-25 14:11] ldecicco-USGS commented on #2656
Gah, how could I forget my favorite new upgrade! Thanks so much for the help.

[2018-05-25 14:49] hadley commented on #2656
I can now image how this _might_ work: you could provide a data frame to `labels`, where the columns were aesthetics.

[2018-05-25 16:28] botanize commented on #2657
ggplot2: 2.2.1
data.table: 1.11.2
R: 3.5.0

[2018-05-25 17:08] clauswilke commented on #2657
Then this should be fixed once ggplot2 2.3.0 is released. Would you mind verifying that things work for you as expected with the development version of ggplot2?

[2018-05-25 17:10] Freguglia commented on #2627
I built an extension package as @clauswilke suggested. In case someone else is interested: https://github.com/Freguglia/ggfocus

[2018-05-25 17:16] clauswilke commented on #2627
@Freguglia I think this is a good idea. I would encourage you, however, to think whether you can implement this within the regular grammar rather than providing a special function that wraps the entire plot. Is there any reason why you can't simply write a `scale_focus()` scale that takes a list of aesthetics as an argument?

[2018-05-25 17:22] botanize commented on #2657
It works as expected in the development version. Any idea when 2.3.0 will be released?

[2018-05-25 17:29] clauswilke commented on #2657
Current plan is end of June.

[2018-05-25 17:29] #2657 closed

[2018-05-25 17:49] Freguglia commented on #2627
Yes, I do agree that the regular grammar would be a better option. I was first trying to implement `color_scale_focus()` for example until I realized that in order to create the appropriate color scale I would need to access the data. The idea was requiring the typing for levels of interested only, but the other levels names are necessary to create the appropriate color scale.

In short, the funct

[2018-05-25 19:07] clauswilke commented on #2656
@hadley I'd like to propose a completely different perspective: What if formatting code could travel with the text labels, so we could specify in the label itself what color (for example) it should have? This would solve all sorts of formatting problems that people run into all the time.

I think the correct framework is to think of html/css, and to implement some subset of these languages that co

[2018-05-25 19:14] clauswilke commented on #2627
You may have to reimplement the `train_df()` or `train()` functions for your scale.
https://github.com/tidyverse/ggplot2/blob/1f9ef732d766583c4a0d3ddf035ba0c0333ae00e/R/scale-.r#L44-L57

[2018-05-25 19:56] hadley commented on #2656
Hmmm, interesting idea. My approach feels more “tidy” but is obviously limited compared to inline styles. I don’t any strong objections to your approach except for a vague feeling that ggplot2 might be nicer on the whole if it exposed/required more tidy data frames for internals (dplyr is also moving in this direction)

[2018-05-25 20:32] clauswilke commented on #2656
Most importantly, these ideas are not mutually exclusive. I'd like to have the option for inline styling, but the default styling for a given element could be generated in all sorts of ways.

Also, I agree with your perspective of using tidy data frames. I found for this project that assembling all the individual pieces [in a table](https://github.com/clauswilke/gridtext/blob/master/R/make-.R) tha

[2018-05-25 22:03] gmbecker opened #2659 "Labels field in (unweighted) histogram ggplot object incorrectly includes 'weight'"
Weight appears to be incorrectly (I think?) included in the `labels` element of a ggplot object when geom_histogram is used with no weight specified. This does not happen in the (largely) equivalent geom_dotplot call.

I would expect these to agree. In particular, given my basic understanding of what `labels` means, I would expect weight to be excluded in both cases unweighted cases.  I understand

[2018-05-25 23:38] tungmilan commented on #2655
I tried @clauswilke 's code and it took ~ 2s on my Win 10 laptop (core i5, 16GB RAM). So problem might be OS dependent?

[code]

[2018-05-25 23:55] clauswilke commented on #2655
I guess we can blame the OS X Quartz device. Unfortunately it's used by R Studio and hence what people experience in interactive work. Rendering to pdf and opening in Preview takes ~2s total on the same machine.

[code]

Created on 2018-05-25 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-25 23:56] clauswilke commented on #2655
The upside is there's nothing fundamentally wrong with ggplot's approach to rendering maps.

[2018-05-26 00:34] rmheiberger opened #2660 "change in names(object$facet$params$cols)"
Brief description of the problem

There are changes in ggplot2_2.2.1.9000 that make the
microplot/demo/latex-ggplot.r file generate an error.

[code]
The last item in the demo

latex(ggv, height.panel=.41,
      height.x.axis=.2, ## inch
      width.y.axis=.3,  ## inch
      rowlabel="group",
      vectorgraph.colname="Graph Panels")

does not complete.  I traced it to my function
microplot.ggplot

[2018-05-26 16:14] thk686 commented on #2655
That's good to know. I wonder what's up with Quartz?

THK

On Fri, May 25, 2018 at 6:56 PM, Claus Wilke <notifications@github.com>
wrote:

[2018-05-26 17:45] clauswilke commented on #2660
Thanks for your report. Would you mind providing a minimal [reprex](http://reprex.tidyverse.org/) using only ggplot2 code? We don't know what's happening in lines 78 and 79 of your code.

[2018-05-26 19:09] rmheiberger commented on #2660
Run the demo as before.  When it stops with an error, go back to the top
frame and look at dd and ggv

[1] ‘2.2.1’

[1] "data.frame"

[1] "gg"     "ggplot"

NULL

[1] ‘2.2.1.9000’

character(0)

This is the relevant ggplot code from the demo

ggv <- ggplot(dd, aes(x, y)) +
  scale_x_continuous(limits = c(-120, 120)) +
  scale_y_continuous(limits = c( -20, 220)) +
  theme(axis.text=element_text(siz

[2018-05-27 05:57] yutannihilation opened #2662 "The pkgdown page for `geom_sf()` shows only the last plot"
The Examples section of `geom_sf()` has many plots, but only the last one gets plotted.

http://ggplot2.tidyverse.org/reference/ggsf.html#examples

I guess this is because the code is wrapped with `if (requireNamespace("sf", quietly = TRUE)) { ... }` so some tweak is needed here.

[2018-05-27 08:41] edzer commented on #2655
These are great insights!

@hadley to compute # vertices, the simplest I can think of is
[code]

[2018-05-27 10:15] statkclee opened #2665 "Korean variable name is not working with ggplot2"
## Korean variable name is not working

The dataframe has some Korean variable names. The variable name can be used normally with dplyr verbs, but variable name can not be recognized on the `ggplot`.

Whenever I version up(eg, 3.4.4 &rarr; 3.5.0 and previous versions), I experienced similar problems.

[code]

![](https://i.imgur.com/I0sVlML.png)

Created on 2018-05-27 by the [reprex package](http:

[2018-05-27 10:37] yutannihilation commented on #2665
Hi, I feel this part is not really reproducible:

So, all I can is only to guess, but the names of your data.frame are encoded in `UTF-8`, right? (e.g. `readr::read_csv()` encodes the names as `UTF-8`) Could you show the result of `Encoding(names(sido_cl_df))`?

If it is `UTF-8`, probably this is the minimal reprex:

[code]

![](https://i.imgur.com/38VRlnr.png)

[code]

![](https://i.imgur.com/7s0

[2018-05-27 10:53] statkclee commented on #2665
Encoding info and mac_sido_cl_df.rds data is as follows; only 10 records.

[code]

[2018-05-27 11:12] statkclee commented on #2665
thank you @yutannihilation

Now it works...

[code]
![](https://i.imgur.com/4gIJw7b.png)

Created on 2018-05-27 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-27 11:17] yutannihilation commented on #2665
@statkclee
Thanks for confirming! 👍  For now, it seems safer to use `enc2native()`...

But, I feel this is a bug and should be fixed on rlang's side.

[2018-05-27 16:01] mikmart opened #2666 "`limits` are not used for the domain of manual scales with named `values`"
Currently, the `limits` argument to manual scales is not used to define the domain of the scale when a named `values` vector is provided. Take the example from `?scale_colour_manual`:

[code]

![](https://i.imgur.com/4zBROow.png)

Specifying `limits` will *not* change the domain of the scale---below, `cyl == 6` values are still mapped to a colour and plotted---but *will* alter the legend (as the `

[2018-05-27 16:17] clauswilke commented on #2429
I was proposing to implement this *only* for manual scales.

[2018-05-27 17:17] thk686 commented on #2655
The general strategy used by many GIS is to not plot features smaller than
a single pixel and simplify on-the-fly to screen resolution when necessary
to avoid repeatedly painting the same pixel. I don't know if there is an
easy way to do this with ggplot et al. but it would certainly make things
fast for large coverages. Perhaps the QGIS codebase has some examples?

On Sun, May 27, 2018 at 3:41 AM

[2018-05-27 21:02] clauswilke commented on #2429
This is object-oriented programming, so what you'd want to do is make a ggproto object that derives from `ScaleDiscrete()` and then reimplements `map()`, just like `ScaleDiscretePosition()` is implemented: https://github.com/tidyverse/ggplot2/blob/1f9ef732d766583c4a0d3ddf035ba0c0333ae00e/R/scale-discrete-.r#L79

I'll let @hadley chime in whether the feature would be welcome or not. In my own use o

[2018-05-27 22:05] yutannihilation opened #2668 "ggplot2 fails to find UTF-8 variable names on non-UTF-8 Windows"
(Originally reported on #2665)

This works with CRAN version of ggplot2, but won't with GitHub version. This seems a regression introduced by tidyeval (https://github.com/r-lib/rlang/issues/538).

`readr::read_*()` encode the colnames as UTF-8, so I'm afraid there will be quite a few Windows users that see this problem. Could you consider fixing this on rlang's side before the release of ggplot2 2

[2018-05-28 08:51] xiaojunwang195 commented on #2523
@wxlu718 Hello, I also met the same question, please ask how you solved this in the end.

[2018-05-28 09:09] mikmart commented on #2429
Okay, I see! A new class for manual scales would also mean that the `map()` method in `ScaleDiscrete` could be cleaned up a bit, as it would no longer have to deal with named palettes, right?

Regarding the feature itself, I was just recently reading the ggplot2 book, and this quote from the scales chapter came to mind:

on the axes and legends, while limits affect what appears on the plot.

Using

[2018-05-28 14:07] hadley commented on #2659
It is weird that a default aesthetic should appear in the labels. I'm not sure we'll change anything, but we should take a look just to make sure.

[2018-05-28 14:11] hadley commented on #2660
Recreating @rmheiberger's email response with markdown to improve readability:

[code]

This is the relevant ggplot code from the demo

[code]

[2018-05-28 14:12] hadley commented on #2660
Could you please rework your reproducible example to use the [reprex package](http://reprex.tidyverse.org) ? That makes it easier to see both the input and the output, formatted in such a way that I can easily re-run in a local session.

[2018-05-28 14:17] hadley commented on #2662
There's no known work around for this unfortunately.

[2018-05-28 14:17] #2662 closed

[2018-05-28 14:20] yutannihilation commented on #2662
😢

[2018-05-28 14:21] hadley commented on #2665
@lionel- can you please look into for ggplot2 release?

[2018-05-28 14:27] hadley commented on #2668
Closing, since I continued the conversation in the original issue; sorry!

[2018-05-28 14:27] #2668 closed

[2018-05-28 14:42] clauswilke commented on #2655
@hadley I agree it’s out of scope for ggplot2. Do you know how to best report a bug for the quartz device? I think the performance is seriously off, if I can render to pdf and then pdf to screen in ~2s total but rendering to png via quartz takes ~100s.

[2018-05-28 14:51] hadley commented on #2655
Probably best to email the maintainer directly (I'm pretty sure it's Simon Urbanek)

[2018-05-28 15:48] rmheiberger commented on #2660
Totally simplified

[code]

[code]

[code]

In my code, if there is no name for the column of panels in the graphics window, then I assign one.
The change in value for
[code]
breaks my test for the existence of a name.  Obviously I can test for the new value.
The issue is whether this change is intentional or an accidental byproduct.
Please let me know whether I should change my code.

[2018-05-28 15:56] ateucher commented on #2655
Just FYI, this was also discussed in the [rstudio community forum](https://community.rstudio.com/t/ggplot2-geom-sf-performance/3251)

[2018-05-28 16:04] clauswilke commented on #2659
I believe this is the same issue as #2406. When stats define default aesthetics those make it into the labels. The relevant code is here:
https://github.com/tidyverse/ggplot2/blob/86c41aca8829289305fd737707b2b9bfbd56ce70/R/plot-construction.r#L159-L162

And here are some of the affected stats:

- `stat_bin`:
https://github.com/tidyverse/ggplot2/blob/429991746ef69d7d66b1b33bb4c24e89b521907f/R/stat-

[2018-05-28 16:19] clauswilke commented on #2660
When rows or columns are not specified in `facet_grid()` their names are now generated with `quos()`, which generates an empty named list:
https://github.com/tidyverse/ggplot2/blob/5e9b6889ef7f7d0ec87c7a22708d9f2f3c03b343/R/facet-grid-.r#L189-L190

[code]

So going forward, you should expect the result of `names(ggv$facet$params$cols)` to be `character(0)`.

More importantly, though, `geom_point(s

[2018-05-28 16:38] hadley commented on #2406
Is this a long standing issue, or did it get introduced in 2.3?

[2018-05-28 16:59] clauswilke commented on #2406
Something seems to have changed. Output with ggplot2 2.2.1:
[code]

Created on 2018-05-28 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

In ggplot2 2.2.1:
[code]
instead of ggplot2 2.3.0
[code]

[2018-05-28 17:01] clauswilke commented on #2406
However, the resulting 2.2.1 behavior wasn't necessarily better:

[code]

![](https://i.imgur.com/dNfmnJb.png)

Created on 2018-05-28 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2018-05-28 17:17] hadley commented on #2406
Ah ok, let's consider for the next release then. I think the change is correct, but we need better behaviour when combining labels across multiple layers.

[2018-05-28 20:09] clauswilke commented on #2659
Closed via #2406.

[2018-05-28 20:09] #2659 closed

[2018-05-28 20:11] clauswilke commented on #2406
For future reference, this is the code that makes labels for default aesthetics of stats:
https://github.com/tidyverse/ggplot2/blob/86c41aca8829289305fd737707b2b9bfbd56ce70/R/plot-construction.r#L159-L162

[2018-05-28 21:54] clauswilke commented on #2655
I have contacted the R Core team, which is listed as official maintainer of the quartz device.

[2018-05-29 08:08] #2665 closed

[2018-05-29 08:08] lionel- commented on #2665
I think that should do it, could you please try with dev rlang?

[2018-05-29 10:34] yutannihilation commented on #2665
Thanks! I confirmed this code works now w/ dev rlang: https://github.com/tidyverse/ggplot2/issues/2665#issuecomment-392321151

@statkclee Could you confirm your code works as well?

[2018-05-29 16:36] jeroen commented on #2655
XQuartz is a mess, put this in your onload to default to cairo instead:

[code]

[2018-05-30 00:37] kent37 opened #2671 "qplot ignores binwidth parameter"
With ggplot2 2.2.1.9000, the `binwidth` parameter to `qplot` has no effect:

[code]

![](https://i.imgur.com/GWZvjVg.png)

[2018-05-30 02:17] karawoo commented on #2671
In `qplot()` when you set aesthetics they need to be wrapped in `I()`:

[code]

![](https://i.imgur.com/Hn9zpxR.png)

Created on 2018-05-29 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-30 02:48] yutannihilation commented on #2665
:tada:

[2018-05-30 03:55] clauswilke commented on #2671
Parameters and aesthetics are treated the same in `qplot`. And it seems the requirement for `I(...)` was introduced with the move to tidy eval:
https://github.com/tidyverse/ggplot2/commit/84a354431465c08dd87a08bb93b9cab3fb6005a3

At a minimum, this needs to be listed as a breaking change in NEWS.md. Though requiring `I(...)` for parameters seems unelegant. It should be possible to figure out wheth

[2018-05-30 05:03] clauswilke commented on #2671
I just opened a PR that I think fixes this problem. I never use `qplot()`, though, so if somebody could carefully test this fix that would be great.

[code]

![](https://i.imgur.com/5zzqyqW.png)

[code]

![](https://i.imgur.com/KW68cLx.png)

[code]

![](https://i.imgur.com/1BfvwW0.png)

[code]

![](https://i.imgur.com/94kXiLe.png)

Created on 2018-05-30 by the [reprex package](http://reprex.tidyve

[2018-05-30 05:09] clauswilke commented on #2671
Install my branch with:
[code]

[2018-05-30 10:42] jeroen commented on #2655
@clauswilke I think it does? Rstudio uses the default png device.

[2018-05-30 11:56] kent37 commented on #2671
@clauswilke's PR fixes this use of `binwidth` for me and works correctly for `bins`, `na.rm` and `show.legend`.

Using `tidyverse/ggplot2` I have to write e.g.
`qplot(my_data, bins=I(100), na.rm=I(TRUE))`
or
`qplot(Sepal.Width, Sepal.Length, data=iris, color=Species, show.legend=I(FALSE))`
which is pretty awkward and unintuitive.

[2018-05-30 12:42] adrfantini opened #2673 "Provide a guide that has discrete colors, but labels shifted between them to highlight intervals"
This is a feature request.
`ggplot2` does not provide a way to use discrete color scales in which the labels are staggered compared to the colors. In my opinion, this kind of color bars is more intuitive than color bars where each color is assigned an explicit interval (usually in a form like `[2,5)`).

Using only base `ggplot`, this is the best that I could come up with ([SO question link](https:

[2018-05-30 12:47] thomasp85 commented on #2673
Can you clarify whether merely the guide should be discrete while the scale itself is continuous such as in your lattice example, or if it is intended for discrete scales?

It is possible to write your own guides - ggraph does so - so it is not necessary that this has to be put into ggplot2 proper, but could also reside in an extension package. If @hadley don’t want it in ggplot2 you’re welcome to

[2018-05-30 12:51] adrfantini commented on #2673
Thanks for the reply. I think this should be implemented for discrete data, for continuous data imho it is factually incorrect to have a scale that does not represent all the colors in the plot. Sorry if that example was a bit misleading.

[2018-05-30 13:27] jvcasillas opened #2674 "scale_colour/fill aesthetic only works for British spelling"
The latest addition of `aesthetics` to `scale_fill_*` and `scale_colour_*` are fantastic, but the colour geom only works with the British spelling.

[code]

Produces...

<img width="856" alt="screen shot 2018-05-30 at 09 26 06" src="https://user-images.githubusercontent.com/1747068/40722887-8589fbf2-63eb-11e8-924e-f2cafa737997.png">

When the desired output is...

<img width="860" alt="screen shot

[2018-05-30 14:30] clauswilke commented on #2674
Yes, that's a limitation of the current code. The required changes are a bit more involved and won't make it into 2.3.0. I already opened an issue about this: #2649, so I'll close this one.

[2018-05-30 14:37] clauswilke commented on #2673
I think the exact desired behavior needs to be thought through more carefully. It seems to me that what is wanted is a function that takes a continuous range, splits it into bins, and then colors the data points within each bin uniformly. To do this properly, you'd need both a new scale and an accompanying guide.

If it's just about using discrete colors for already discrete data, I don't see why

[2018-05-30 15:13] adrfantini commented on #2673
Not knowing the internal design of `ggplot` I'm not sure I can comment as to what would be more appropriate.
But yes, the idea is to take continuous data and split them into bins, as you said. If taking categorical data as input, then it's unclear to me what the "intervals" (and thus the labels) could be, since not all categorical data is the result of a `cut()` operation on numerics (with `labels

[2018-05-30 15:20] thomasp85 commented on #2673
I generally think there is a case to be made for a `ScaleBin` family of scales - @hadley would you be interested in this in ggplot2 or should it go in ggforce?

[2018-05-30 15:57] yutannihilation opened #2675 "aes() should accept `!!!` at its first and second argument"
I feel this is a bit counter-intuitive. Is it possible to introduce some tweak to enable this?

[code]

Created on 2018-05-31 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-30 21:07] hadley commented on #2673
I think this would be fine in ggplot2

[2018-05-30 21:08] hadley commented on #2675
@lionel- can you please take a look/think about this? (The problem is that `aes()` has `x` and `y` arguments)

[2018-05-30 21:27] thomasp85 commented on #2673
Ok - I’ll look into it after this release

[2018-05-30 23:40] rpruim opened #2676 "Not all items in the list aes() produces are quosures"
https://github.com/tidyverse/ggplot2/blob/master/NEWS.md#ggplot2-2219000 claims

But not all elements are quosures:

[code]

[2018-05-31 00:35] yutannihilation commented on #2676
It seems this is the intended behaviour as the code introduced by https://github.com/tidyverse/ggplot2/commit/1f39e138391259ebef95e35e39fa1d3579f1984c says:

https://github.com/tidyverse/ggplot2/blob/0c7eda0af0723b3d0856fe012c393515a51c51bf/R/aes.r#L100-L101

This seems somehow consistent with the behaviour of the CRAN version where constants are not quoted (because simply they cannot be quoted (e

[2018-05-31 05:40] adrfantini commented on #2673
Awesome, thanks!

[2018-05-31 18:30] #2505 closed

[2018-06-01 03:44] eliocamp opened #2678 "`mblm()` (Theil-Sen estimator) fails as method for `geom_smooth()`"
The function mblm from the package of the same name fits a linear model based on the Theil-Sen estimator but it fails in `geom_smooth()`
[code]

![](https://i.imgur.com/iHeeThX.png)

The problem is that `mblm` doesn't have a `weights` argument. But if one bypass it, it works perfectly.

[code]

![](https://i.imgur.com/Smk9fYY.png)
I believe that an easy solution is to modify this line:
https://git

[2018-06-01 13:07] hadley commented on #2678
Rather than tweaking `geom_smooth()` (which might require any number of changes to support other modelling functions), I think you should just provide your own wrapper that ignores weights.

[2018-06-01 13:07] #2678 closed

[2018-06-01 13:28] #2676 closed

[2018-06-01 13:50] eliocamp commented on #2678
OK, I think that's sensible, since making a wrapper function is easy enough.
Would you consider expanding the documentation or the error message so it is clear to the user which arguments the function is expected to take?

[2018-06-01 13:58] hadley commented on #2678
No because I think `geom_smooth()` is just a simple helper, it's not designed to work with every type of model.

[2018-06-01 14:18] bjreisman opened #2679 "Feature request: Scaled densities/counts in 2d density/bins plots."
2d density plots are one of the most common data-visualizations used to display flow cytometry data, and the `geom_bin2d` and `geom_hex` and `geom_density_2d` geoms are excellent for making these plots. However, when facetting 2d density plots, there isn't a straightforward way to set the scale such that the highest point of each plot is the same -  the convention in my field.

geom_density (the 1

[2018-06-01 15:44] tjmahr commented on #1931
This particular issue still happens.

[code]

![image](https://user-images.githubusercontent.com/1890315/40849841-9a48311e-6588-11e8-91a9-438866363b28.png)

![image](https://user-images.githubusercontent.com/1890315/40849827-926c4ca0-6588-11e8-8944-a763a803afce.png)

![image](https://user-images.githubusercontent.com/1890315/40849809-881d959c-6588-11e8-883b-7975a06bf7e0.png)

[code]

[2018-06-01 15:56] batpigandme commented on #1931
Isn't it applying the same formula?
[code]

![](https://i.imgur.com/jpA8LO0.png)

[code]

![](https://i.imgur.com/PGrVzCz.png)

[code]

![](https://i.imgur.com/pmVayyK.png)

Created on 2018-06-01 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-06-01 16:35] batpigandme commented on #1931
Oh, I see what you're saying. I thought the problem was that the first and last were the same – what you're saying is that the behaviour that occurs when _no_ method is specified should occur when "gam" is given, and it's currently happening when either _no method_ is given or gam and formula are given.

[code]

![](https://i.imgur.com/ARdWZuN.png)

[code]

![](https://i.imgur.com/8B6Xtvx.png)

[c

[2018-06-01 16:39] hadley commented on #1931
This behaviour is correct; we report the formula but do not automatically change it. That's up to you.

[2018-06-01 18:55] clauswilke commented on #1931
Maybe it would help to be a bit more explicit in the documentation about how to manually switch to gam for arbitrary sample sizes. E.g.:

I also noticed that the documentation still says `formula = y ~ mgcv::s(x, bs = "cs")` and that needs to be modified to  `formula = y ~ s(x, bs = "cs")`.

[2018-06-03 02:24] RoelVerbelen opened #2682 "Using offset variable in geom_smooth"
Poisson regression models often incorporate an exposure variable as an offset term in the model. As a reference, see [here on wikipedia](https://en.wikipedia.org/wiki/Poisson_regression#%22Exposure%22_and_offset). It would therefore be interesting if `geom_smooth` could take an offset into account. I tried in several ways to pass the offset variable to the underlying `glm` fit, without success.

[

[2018-06-03 03:09] clauswilke commented on #2682
The problem seems to be that the standard `predict()` function can't handle models with offset. Not sure this is ggplot2's fault.

[code]

Created on 2018-06-02 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-06-03 04:27] RoelVerbelen commented on #2682
Thanks for the input, Claus! In your code above though, the error is due to not specifying `covariate_offset`. If you do, the `predict()` function works as expected:

[code]

I also want to point out that using `method = "gam"` in `geom_smooth` also results in errors. `predict.glm` and `predict.gam` (from `mgcv`) are slightly different when it comes to offsets. As written on `?predict.gam` help pa

[2018-06-03 05:18] hadley commented on #2682
I think this is fairly clearly outside of the scope of geom_smooth — you can always fit and predict outside of ggplot2 (see eg modelr)

[2018-06-03 05:18] #2682 closed

[2018-06-03 18:00] rmheiberger commented on #2660
Thank you. I have changed the code to check on `character(0)`.

Your suggestion about `geom_point` does not agree with `?aes_linetype_size_shape` which includes examples without `aes()`, for example `geom_point(shape=5)`.

[code]

`ggsh` does what I want.  `ggaes` gives an error.
[code]

[2018-06-03 22:44] clauswilke commented on #2660
@rmheiberger Your code is simply not valid ggplot2 and is not guaranteed to work. See example below.

@hadley I feel this needs to be documented better. I see people making this mistake all the time, and usually all I can say is "don't do this" but I can't point to an article explaining why this is a problem. Can you think of a good place where this could go? Maybe a ggplot2 vignette? Or a blogpos

[2018-06-04 01:44] rmheiberger commented on #2660
Thank you for writing back.

This example doesn't show how to produce in valid `ggplot2` code what I have successfully
produced in both `ggplot2_2.2.1.9000` and `ggplot2_2.2.1`.  I specifically want the 12 characters
`c("1","2","3","4","5","6","7","8","9","A","B","C")` as my plotting characters.

`ggsh` in my previous posting does exactly what I want. Please show me how to do that in valid `ggplot

[2018-06-04 02:36] clauswilke commented on #2660
@rmheiberger I recommend you read up on how scales work, and then specifically `scale_shape_identity()` and `scale_shape_manual()`. If you have further questions, please direct them to https://community.rstudio.com or https://stackoverflow.com/. The issue system is meant for bugs or feature requests.

[2018-06-04 04:53] rmheiberger commented on #2660
perfect. thank you.

this does what I want.
[code]

As far as I am concerned you may close this issue.

Rich

[2018-06-04 17:18] afflorezr commented on #1902
Nice !! work to me.

[2018-06-05 13:13] mtmorgan commented on #2509
https://support.bioconductor.org/p/109716/
https://support.bioconductor.org/p/109408/
and the multiple upvotes on https://support.bioconductor.org/p/109128/
suggest this is relatively widespread; there's also lots of enthusiasm for the conflicted package amongst more experienced users, but the the first two posts are from relatively inexperienced users who would not know about it; maybe conflicted

[2018-06-05 13:40] hadley commented on #2509
That's on the to do list (now tracked at https://github.com/tidyverse/tidyverse/issues/135), and we're planning to un-re-export in the next version of dplyr (https://github.com/tidyverse/dplyr/issues/3638)

[2018-06-05 19:18] lionel- opened #2684 "sf visual tests are unstable"
Probably because of the sf dependencies:

[code]

[2018-06-06 13:11] klmr commented on #1937
`stat_summary` (and similar functions that accept functions as arguments) should probably perform disambiguation internally using `match.fun` to avoid this issue.

[2018-06-06 13:31] m-saenger commented on #2673
Hi all,

I would very much welcome the feature proposed by Adriano. Atmospheric and earth scientists tend to discretise continuous variables for a more readable plot display. I built a framework to plot meteorological variables on a map. Currently, I use Adriano's workaround to produce an appropriate scale. I added two plots to illustrate how useful such a feature is. The plots are based on ggplot

[2018-06-06 17:12] adrfantini commented on #2673
@m-saenger those are some awesome plots. Would you be able to share the source code?

[2018-06-07 04:22] clauswilke opened #2687 "Descent heights still not right"
An issue to be considered after 2.3.0: I have noticed that descent heights are still not correct. The fault lies in this line: https://github.com/tidyverse/ggplot2/blob/4db5122f59920eae59a87abf84c6ac1bbd9f719c/R/margins.R#L67

It looks like a reasonable line, but it turns out that the function `descentDetails()` ignores the font settings of the grob it is given:
[code]

Instead it takes the font s

[2018-06-07 09:54] m-saenger commented on #2673
@adrfantini Thanks. Will do so. Need to tidy up things first.

[2018-06-07 14:52] hadley commented on #2687
We should also engage with @pmur002 and see if we can make this better in grid itself.

[2018-06-07 15:06] clauswilke commented on #2687
Indeed, @pmur002, regardless of whether `descentDetails()` should or should not be modified, it would be tremendously helpful if a function could be added to grid that simply returns relevant font metrics for a given font. Something like this:
https://github.com/clauswilke/gridtext/blob/ac404acd3a3a28f1b78fddf288478b82a0e3423c/R/grob-descent.R#L17-L21

We would like the same descent height for any

[2018-06-07 15:24] ThierryO opened #2688 "scale error when setting aes(colour = NULL)"
_Originally filed as hadley/scales#125. File again here as requested by @hadley._

The code below used to work. Now it returns the error `Error: Discrete value supplied to continuous scale`. Is this a bug or a feature?
[code]
I know it can write the same plot as below. But the code above is more succinct.

[code]

<details>
I'm using a development version of `ggplot2` and `scales`

[code]
</detail

[2018-06-07 15:29] hadley commented on #2688
Likely related to #2599

@lionel- can you please take a quick look? (sometime during WW is fine)

[2018-06-07 15:46] mundl opened #2689 "Facetting with complex expressions does not skip layers with missing data"
[code]

Works as expected, points and polygons (same across facets) are drawn.

[code]

![](https://i.imgur.com/00ydECJ.png)

Using any function inside `vars()` or simply `vars((class))` gives an error.

[code]

Using the same code from above but not specifying a `data` argument in `geom_polygon()` works.

[code]

![](https://i.imgur.com/S0ia3L1.png)

<details><summary>Session info</summary>

[cod

[2018-06-07 16:18] hadley commented on #2689
@lionel- can you take a look at this one too please?

[2018-06-07 19:49] baptiste commented on #2687
cf also https://github.com/tidyverse/ggplot2/pull/1882
(this part of the issue got overlooked)

[2018-06-07 19:56] clauswilke commented on #2687
@baptiste Thanks for the link. The gap between legend title and legend should be fine now either way, because I added code to calculate it based on font size:
https://github.com/tidyverse/ggplot2/blob/4db5122f59920eae59a87abf84c6ac1bbd9f719c/R/guide-legend.r#L336

[code]

![](https://i.imgur.com/NWk6OCb.png)

(The code based on grob height did cause weird alignment issues with multiple legends for

[2018-06-07 21:16] baptiste commented on #2687
@clauswilke indeed, this particular issue got fixed; I just wanted to point out that the descenders issue has been recurring (and closed issues generally disappear from sight).

How does "grid2" sound? IMO it'd be nice to sit down and think of a long-term rewrite of grid, learning from current feature requests, evolving needs and technologies (modern devices, for instance, notably bypassing grDevi

[2018-06-08 01:28] pmur002 commented on #2687
@clauswilke, an R-level function that returns metric info sounds reasonable, but my first thought is that this should be something in 'grDevices' rather than 'grid'.  I will take a look.

[2018-06-08 03:47] clauswilke commented on #2687
@pmur002 Sure, grDevices instead of grid would be fine.

While we're at it, I have noticed that the value returned by `grobAscent()` can exceed the value returned by `grobHeight()`. Is this correct? I thought the grob height was the maximum ascent at the given font settings.

[code]

![](https://i.imgur.com/VsBcAqt.png)

Created on 2018-06-07 by the [reprex package](http://reprex.tidyverse.org) (v

[2018-06-08 06:35] EdwinTh opened #2690 "Label y-axis geom_bar() when position is 'fill'"
The label on the y-axis for `geom_bar()`, when not specified, is *count*.

[code]

Which is sensible, except when `position = fill`.

[code]
Now proportions are shown, not counts. I think the default label should be changed to *prop* or *proportion* under these settings .

[2018-06-08 15:03] hadley commented on #2690
Yes, that would definitely be nice, but unfortunately due to the design of ggplot2, it's basically impossible.

[2018-06-08 15:03] #2690 closed

[2018-06-08 23:17] hadley commented on #2239
@clauswilke would you mind moving the discussion of associating default scales with a theme to another issue? I think it might be a good idea, but it is largely orthogonal to this issue.

[2018-06-09 00:35] clauswilke opened #2691 "Register default scales via themes"
As previously mentioned in the discussion of #2239: It would be nice if default scales could be set via themes.

Currently, default scales are defined as functions that are named `scale_`*`aesthetic`*`_`*`data-type`*`()`, where *`aesthetic`* is the name of the aesthetic and *`data-type`* represents the data type, i.e., continuous, discrete, date, etc. For example, `scale_colour_discrete()` is the

[2018-06-09 00:36] clauswilke commented on #2239
I've filed a new issue specifically about default scales in themes (#2691).

[2018-06-09 00:41] clauswilke commented on #2691
This function would also have to be modified:
https://github.com/tidyverse/ggplot2/blob/bcc3ae59f7f5257fdfce5314a71ae255e4a3f12a/R/scales-.r#L110-L121

It is similarly called from `plot_build()`, so this shouldn't create any new complications.

[2018-06-09 02:02] baptiste commented on #2691
Just for completeness I'll re-iterate my personal preference for a revised scale_colour|fill_xx interface.
Currently we have this situation,

[code]

where besides the distinction discrete/continuous I would argue that the essential difference is the palette. An alternative description might be  a generic `scale_colour_discrete/continuous(palette = "grey")`, and in this form I would rather agree t

[2018-06-09 09:48] yutannihilation opened #2692 "geom_sf() won't work if some package defines fortify.sf()"
(Originally reported on https://github.com/paleolimbot/ggspatial/issues/5#issuecomment-395931826)

The development version of ggspatial defines `fortify.sf()` so that it works for sf without making much changes on the current codes mainly implemented for sp. Though it seems a reasonable choice, this is a kind of what I was a bit anxious about when I sent https://github.com/tidyverse/ggplot2/pull/2

[2018-06-09 13:44] hadley commented on #2692
I think this is pretty clearly a ggspatial issue — you should never provide a method unless you “own” either the generic or the class.

[2018-06-09 13:48] hadley opened #2693 "Warn about use of $ in aes()"
Quite a few people seem to do this, and it introduces potentially subtle bad behaviour when you start facetting. I think we now have sufficient understanding to detect this correctly, although we’ll need to carefully consider how to override `$` so ok usage is not caught.

[2018-06-09 15:10] clauswilke commented on #2693
I think what needs to be caught are vectors of constants in `aes()`. The same problem exists for parameters, but it may be more difficult to check systematically. (Maybe there is a geom somewhere that uses vectors of constants as parameters for valid reasons.)

Here is a slightly modified reprex from the off-topic discussion in #2660, to highlight the issues:

[code]

![](https://i.imgur.com/pWm7F

[2018-06-09 20:07] baptiste commented on #2693
On StackOverflow I used to refer to [this example](https://stackoverflow.com/a/32543753/471093)

[2018-06-10 14:35] hadley commented on #2693
Possible implementations:

* In `aes()`, inspect the AST for uses of `$`. This is simple, but there are legitimate uses of `$` not related to retrieving a column from a data frame. However, we'd probably catch 90% of bad usage only by looking for top-level usage of `$`, i.e. `aes(df$x)` not `aes(df$x + 2)`. Hopefully that would be enough of a hint to steer people in the right direction generally.

[2018-06-10 17:03] clauswilke commented on #2693
The problem arises with the reordering of the data frame on this line:
https://github.com/tidyverse/ggplot2/blob/5e9b6889ef7f7d0ec87c7a22708d9f2f3c03b343/R/facet-wrap.r#L202

It's not immediately clear to me that the reordering does anything other than make the created data frame look nice. When I replace that line with just `data` things seem to work. Only two regression tests fail, and those exp

[2018-06-10 17:45] thomasp85 commented on #2693
FWIW I think it is a simple design mistake (can't remember if I introduced it during the rewrite, but it doesn't matter anyway). `map_data ` should just add a `PANEL` column to the data - nothing else

[2018-06-10 22:31] hadley commented on #2693
It's been there a long time, at least since https://github.com/tidyverse/ggplot2/commit/687ba6ef8a42b136fdb73cb5690b93cf272568ec.

Let's remove in the next version, and then think about how to make a warning message steering people away from `$` usage.

[2018-06-10 22:48] clauswilke commented on #2693
I just made a pull request, so the required changes are recorded. I didn't encounter any problems with `geom_point()`, but more extensive testing would be good.

[2018-06-11 15:19] lionel- commented on #2688
@ThierryO I can't reproduce this, how recent is your dev ggplot2? Could you try on a fresh master please?

[2018-06-11 15:55] lionel- commented on #2689
@hadley What are the semantics for layers with data? should we have the ggplot data as an intermediate mask, so that `class` (from the tibble passed to `ggplot()`) would be available in the layer evaluation in all circumstances?

[2018-06-11 16:27] dpseidel commented on #2553
Top 20 most visited ggplot2 pages as of 6/11/18.

- [ ] [Create Elegant Data Visualisations Using the Grammar of Graphics • ggplot2](ggplot2.tidyverse.org)
- [ ] [Function reference • ggplot2](http://ggplot2.tidyverse.org/reference/index.html)
- [ ] [Bar charts — geom_bar • ggplot](http://ggplot2.tidyverse.org/reference/geom_bar.html)
- [ ] [Modify axis, legend, and plot labels — labs • ggplot2](h

[2018-06-11 16:30] clauswilke commented on #2688
This also works fine for me.
[code]

![](https://i.imgur.com/zquV9rp.png)

Created on 2018-06-11 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2018-06-11 17:12] ThierryO commented on #2688
I've run the example with both the CRAN version and the current master. It works with those versions.

[code]

[2018-06-11 17:12] #2688 closed

[2018-06-11 17:36] lionel- commented on #2688
Great thanks.

[2018-06-12 13:01] yutannihilation commented on #2692
Thanks, I 99% agree with you! The remaining 1% is that, there can be the exceptions where the owner of the class may not be interested to provide the method yet the users want it (e.g. ggfortify). But, this seems not the case, so I think I can close this :)

[2018-06-12 13:01] #2692 closed

[2018-06-12 13:22] hadley commented on #2689
Hmmm, I think that's right — although to preserve the existing semantics that environment would binding every existing variable to `NULL`

[2018-06-12 13:47] taraskaduk opened #2695 "Error in calc() : could not find function "calc" (ggplot2_2.2.1.9000)"
Loading the latest version of ggplot2, it doesn't seem to find the `calc()` function

Taking an example from http://ggplot2.tidyverse.org/reference/calc.html

[code]

Returns this:
`Error in calc(count/max(count)) : could not find function "calc"`

A call without `calc()` runs fine:

[code]

Lookups such as `?calc` `?ggplot2::calc` return no results

---
ggplot2 version is installed from GitHub an

[2018-06-12 13:54] thomasp85 commented on #2695
`calc()` was renamed to `stat()` in #2620 in order to avoid a nameclash

[2018-06-12 13:54] #2695 closed

[2018-06-12 14:08] taraskaduk commented on #2695
OK, that's great. Feels like updating the ggplot pages would be helpful: http://ggplot2.tidyverse.org/reference/calc.html and others on http://ggplot2.tidyverse.org/

Looks like the source files already reflect the change, but it is not published.

[2018-06-12 15:06] batpigandme commented on #2695
That's because it's not yet on CRAN. The source files in your install reflect your installation (the dev version).

[2018-06-12 15:50] karawoo commented on #2695
I agree it's confusing that the docs site currently doesn't reflect either the dev or CRAN versions of ggplot2, since it was updated a month ago and a few things like `calc()`/`stat()` have changed since then. But as we're actively working on the next release it should all get cleared up soon.

[2018-06-12 19:02] batpigandme commented on #2695
@karawoo yep, we're also working on a better system for having CRAN and dev pkgdown sites in simultaneous existence in a way that is clear to the user! 🙏

[2018-06-12 23:03] map2085 commented on #187
+1

[2018-06-13 09:00] adrfantini opened #2696 "inherit.aes ignored in geom_{ab,h,v}line"
The documentation for [geom_abline](http://ggplot2.tidyverse.org/reference/geom_abline.html) says that `inherit.aes` is a valid parameter for this geom: ` If specified and inherit.aes = TRUE (the default)...`, but it seems not: `Warning: Ignoring unknown parameters: inherit.aes`:

Example:
[code]

[2018-06-13 13:49] adrfantini opened #2697 "geom_spoke documentation lacks information"
As per title, `geom_spoke` documentation lacks information about where the angles start from (towards East) and which direction they go (counterclockwise).

[2018-06-13 17:00] taraskaduk commented on #2695
@batpigandme, thank you! By "source files" I meant the alleged source for http://ggplot2.tidyverse.org/. Like, the source for http://ggplot2.tidyverse.org/reference/calc.html is https://github.com/tidyverse/ggplot2/blob/master/R/aes-calculated.r

The latter link reflects `stat()` while the former still says `calc()`. My guess is that some has already update the source file for this `calc()`/`stat(

[2018-06-14 07:54] thomasp85 commented on #2687
Maybe only tangentially related, but something to keep in mind. Experimentation with profiling gganimate code have shown that not rendering labels more than doubles the rendering speed of ggplot objects and the lion share of that falls into the call to `descentDetails` in titleGrob. If it is not possible to improve calculation of font metrics dramatically we should consider some sort of memoisatio

[2018-06-14 09:38] everydayduffy opened #2698 "Increasing the margin/whitespace within facet panel borders"
When exporting this plot, the x-axis labels are cut-off by the borders of the individual facet panels. The only way I can currently see to solve this is to reduce the text size, but that makes it unreadable. Is there a way to use `margin` to add margins/whitespace to the plotting area in each panel within a facet plot? If not, is there a case for a feature request here?

[code]

[2018-06-14 14:35] clauswilke commented on #2687
@thomasp85 I was hinting at this issue in my comment above about the lookup table that caches descent values. It gives a 100x speed increase on average, though you wouldn't see the whole effect in ggplot2 because my function also pushes and pops viewports to get the descent details right and ggplot2 currently doesn't do that.

[code]
    #> Unit: microseconds
    #>

[2018-06-14 14:51] clauswilke commented on #2687
To elaborate on the code complexity issue: To get descent heights right, we need to place each individual piece of text into a separate grob and create a viewport that includes a gap for the descent height. For rotated text, we then rotate the entire viewport. This works beautifully, as shown above, and removes the need for the awkward trigonometry in the current code, which isn't correct for all

[2018-06-14 14:59] clauswilke commented on #2687
One more example, how things like x and y axes could be generated. All of this works in principle. The challenge will be to integrate into ggplot2 without breaking currently existing themes.

[code]

![](https://i.imgur.com/0lzfqog.png)

Created on 2018-06-14 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-06-14 15:11] clauswilke commented on #2687
One more comment about speed. For any somewhat complex rendering task, I think it makes sense to do all internal calculation in a fixed unit and convert to grid units only once, rather than doing calculations in grid units. The grid units are elegant but not that efficient, due to all the overhead they carry.

A very simple example follows, and things will only get worse the more unit calculations

[2018-06-14 15:12] thomasp85 commented on #2687
I think with a proper coaching mechanism it doesn’t matter much if your implementation is a bit slower as it will only impact the first plot (most font settings are reused across plots and can thus be fetched from the cache)

[2018-06-14 15:18] clauswilke commented on #2698
I'm not entirely sure what the desired result is. In any case, your example does not run with the latest ggplot2, because `coord_polar()` doesn't support free scales:

[code]
For more sophisticated plots in polar coordinates, I recommend drawing them in cartesian coordinates using the appropriate geoms from ggforce, as described in [this SO answer.](
https://stackoverflow.com/a/47645727/4975218)

[2018-06-14 15:19] thomasp85 commented on #2687
Agree on the units - I’ve long wanted something more performant. There might be instances where it is not possible to get the dimension before render time, but it should be possible to abstract that away and do as much work unit-less

[2018-06-14 15:27] everydayduffy commented on #2698
@clauswilke - strange that free scales have been deprecated. I'm using version 2.2.1. Anyway, my initial question still stands as it is an issue regardless of the scales chosen. How can you increase the whitespace in the plotting area, so that labels do not get cut off by the borders?

[2018-06-14 15:38] clauswilke commented on #2698
@everydayduffy I understand. And the second part of the SO answer I linked to addresses that exact question. Whether the same effect can be achieved in polar coordinates I don't know, but I think not. Maybe @hadley or @thomasp85 know the answer.

Also, @hadley, should `coord_polar` allow for free scales? It seems that the relevant argument for the other fixed-aspect-ratio coordinate systems doesn'

[2018-06-14 15:40] clauswilke commented on #2687
@thomasp85 Yes, it caches across plots. What I was trying to say was that the realized speed gain in ggplot2 will be less than the benchmark indicates, because the current, buggy code in ggplot2 is faster than the correct but uncached code would be.

[2018-06-14 15:51] thomasp85 commented on #2698
I would personally be against free scales in coord_polar - it’s a mapping of x and y values to radii and angle, which will be violated if the aspect ratio is not kept at 1:1

As for the other, I’ll have to be in front of a computer to understand what the actual issue are, unless someone can show some plots illustrating it

[2018-06-14 15:53] everydayduffy commented on #2698
![roses](https://user-images.githubusercontent.com/15983662/41423534-7ac48d04-6ff3-11e8-8675-45e8eeadeab3.PNG)

[2018-06-14 15:56] thomasp85 commented on #2687
Sure, but only for the first plot (unless you change theme)

[2018-06-14 17:05] dpseidel opened #2699 "Support tidy_eval in benchplot"
Currently `benchplot` function must be passed an expression directly to correctly estimate construction time for ggplot objects.

[2018-06-14 17:35] thomasp85 commented on #2698
Ah - I see. There’s unfortunately no way to do this automatically. I think it would make sense to add arguments comparable to xlim/ylim in the other coords, so that users can zoom out and in in a polar coordinate system, but for this to work here it shouldn’t affect the relative placement of x-axis labels...

[2018-06-14 17:59] dpseidel opened #2700 "Complete badging process for CII Best Practices"
https://bestpractices.coreinfrastructure.org/en/projects/1927/

Updates required for passing badge:
- [ ] update documentation with minimal security language
- [ ] update contributing.md with policy indicating tests policy for new features.
- [x] provide reference documentation that describes the external interface (both input and output) of ggplot2
- [x] HTTPS for ggplot2.tidyverse.org
- [x] Revi

[2018-06-14 18:02] dpseidel opened #2701 "Profile ggplot2 and grid performance"

[2018-06-15 00:34] pmur002 commented on #2687
@clauswilke Regarding the difference between grobHeight() and grobAscent(), they can differ for rotated text because grobHeight() is based on the bounding box whereas grobAscent() is just the metric info (though both are ultimately based on the same GEMetricInfo() function).  Your examples all produce the same result for me - can you provide more system context (or, better, an example that fails o

[2018-06-15 00:40] pmur002 commented on #2687
In defense of the units concept (there is no defence for their performance), staying in units (and viewports) can make it easier to post-modify 'ggplot2' output (modify things and query where things are and add new things).

[2018-06-15 00:47] pmur002 commented on #2687
@clauswilke  Not sure if this is still an issue, but with regard to the descentDetails() "problem", I think the issue is that you are calling descentDetails() directly.  You should not do that.  If you use "grobDescent" units (the grobDescent() function) things work better ...

    [1] 1.50799606299213pt

    [1] 2.26199409448819pt

    [1] 4.52398818897638pt

[2018-06-15 01:48] clauswilke commented on #2687
@pmur002 I like the unit concept and I don't advocate for getting rid of it throughout ggplot2. However, for certain grobs we write it may make sense to not use units internally. This is particularly the case for grobs that render text, put margins around it, etc. For example, for my crazy idea of writing [an html renderer in grid,](https://github.com/tidyverse/ggplot2/issues/2656#issuecomment-392

[2018-06-15 14:26] mwaldstein opened #2702 "Proposal: Warning when using density2d + coord_map"
## Problem

stat_density_2d does not account for non-euclidean coordinates, such as when using Latitude / Longitude. As a result, when densities are incorrect for densities near the poles and 180 Longitude.

*note* This may apply for any non-cartesian coordinates (e.g. polar), but I have not tested it.

## Options

 * **Swap in a spherical density function** (e.g. from the Density package) when us

[2018-06-15 14:31] hadley commented on #2702
This problem happens for basically any stat and a non-Cartesian coordinate system so I don’t think singling out one combination is the right approach.

[2018-06-15 14:42] mwaldstein commented on #2702
Generally agree.

Part of the difficulty is that there are a lot of examples in the wild of using these functions for map heatmaps, particularly at the city level. A novice (read: me) with low understanding of how the densities are calculated would readily assume that since the functions work together, you can apply them to global data.

Another option could be to just add an explicit message to t

[2018-06-15 14:55] mwaldstein commented on #2702
One more data point in the discussion - blocking geom_density_2d on non-Cartesian coordinates would break many [ggmap](https://github.com/dkahle/ggmap) examples, which likes to show off density plots.

[2018-06-15 19:55] dpseidel commented on #2252
@clauswilke I wonder if the inability to reproduce the "polygon edge not found" with `widthDetails` and `textGrob` is related to the fact the `grid.text` calls `C_text` not `C_textBounds`(see warnings upon drawing with `grid.text` below). Is there a way to build a minimum grob that calls `C_textBounds`?

[code]
Created on 2018-06-15 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

I

[2018-06-15 20:01] dpseidel opened #2703 "annotation-logticks documentation contains errors, no plots"
example plots are not drawn due to "polygon edge not found" error.
http://ggplot2.tidyverse.org/reference/annotation_logticks.html

[2018-06-15 20:19] clauswilke commented on #2252
I've never dug this deep into grid code and I don't know. Maybe @pmur002 has an idea?

[2018-06-15 22:39] clauswilke commented on #2361
This has now been fixed in scales.
https://github.com/r-lib/scales/commit/98bbd09e8f57aa6b2a8581828f0bfbe9500f2146

[2018-06-15 22:39] #2361 closed

[2018-06-17 21:44] pmur002 commented on #2687
Yep, units are not performance oriented :)  But neither is much of that stack.  It was very much written for static output.  However, happy to hear about areas where performance could be gained, without loss of features or unacceptable increase in complexity.  I know that some of the 'grid' stuff that I wrote almost 20 years ago is embarrassingly awful, so there may be some stuff that is just "dum

[2018-06-17 22:33] pmur002 commented on #2252
Just some info:  I think this is a Quartz-specific bug (that's where the "no font could be found for family" warning comes from), which is not helping me to replicate it (not having a mac).  If anyone could produce this on a non-Quartz device (ideally a linux-Cairo device) that would be helpful.

[2018-06-18 05:30] hadley commented on #2252
I now think this is only incidentally related to sf data - I think the source of the problem is the labels which use the degree symbol. That should make it easier to generate a simple reprex, which @dpsiedel is working on.

[2018-06-18 09:58] lionel- commented on #2689
@mundl Are you sure this used to work? I get the same results with CRAN ggplot2.

@hadley We want the same evaluation semantics as in the last version right?

It doesn't seem merging the layer data frames would be much of an improvement since it only makes sense in the particular case where they have the same number of rows.

[2018-06-18 10:09] lionel- commented on #2689
Ah I get it now, this is about ignoring facet specifications that refer to variables that do not exist in the current layer.

I think we can pull this off by defining active bindings for all variables in the `ggplot()` layer that are missing in the current layer. These active bindings would send a condition that'd be picked up by the facet evaluation, signalling that facetting should be skipped fo

[2018-06-18 11:07] hadley commented on #2689
I think if they’re bound to NULL that will achieve the same effect. But if this isn’t a regression, there’s no need to work on now.

[2018-06-18 11:09] lionel- commented on #2689
Simple variables already work, this is about giving complex expressions the same semantics.

[2018-06-19 03:56] slyrus commented on #2514
I see this problem too when I resize the window in which my plots appear.

[2018-06-19 04:11] clauswilke commented on #2252
@pmur002 I think you're right. I only see the error when using the quartz device. It would be good to know if anybody has seen the error on a different device.

[code]

[2018-06-20 00:37] dpseidel commented on #2252
So, I'm still digging this one out - I don't yet have a true reprex but I've gathered additional data on this issue that may be helpful:
-  I can confirm that the `polygon edge` error (separate from font family warnings) can be caused by axis tick labels alone and thus, as suspected, is likely only incidental to `geom_sf` which by default sets the labels to include the degree symbol using the `deg

[2018-06-20 08:00] DarioS opened #2705 "coord_flip Discards Axis Limits"
Is it by design that `coord_flip` discards already set axis limits? It's probably not what the user would expect before they saw the Usage section of the documentation.

[code]

It's also unclear from the parameter descriptions if `xlim` and `ylim` refer to the axes before or after flipping is completed. It turns out they are applied to the axes before they are flipped, so `ylim`actually controls

[2018-06-20 08:13] hadley commented on #2705
You have completely replaced the coordinate system; the new coordinate system knows nothing about the old one.

[2018-06-20 08:13] #2705 closed

[2018-06-20 12:58] billdenney opened #2706 "Feature Request: Make Missing mapping Errors More Informative"
When generating a plot recently, I accidentally left out the mapping.  When running the code, I got an uninformative error indicating that the mapping was missing.  Can the errors for missing mappings be improved to indicate something similar to "No mapping provided for required aesthetic 'x'" (and similar)?

[code]

[2018-06-20 13:12] rpruim opened #2707 "Filling density histograms with multiple colors"
It doesn't appear to be possible to create a density histogram with multiple colors (say to indicate a tail of the distribution).  `stat(density)` seems to be computing densities separately for each fill rather than once for all.  `group = 1` doesn't seem to change that behavior.

Is there any way to achieve the desired plot?  Is it possible to create a custom use of `stat()` to do this, or will t

[2018-06-20 15:20] clauswilke commented on #2707
This is maybe a bit counter-intuitive when you see it for the first time. You'll have to fill based on the x value calculated by the stat rather than the original variable mapped along the x axis.
[code]

![](https://i.imgur.com/mTARJy4.png)

Created on 2018-06-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-06-20 16:09] chris-prener commented on #2252
Just wanted to thank @dpseidel @clauswilke and @hadley for continuing to try and sort this out - I wish I could be more help!

[2018-06-20 18:06] rpruim commented on #2707
Thanks.

Is `stat(x)` the center of each bin?

[2018-06-20 18:26] bbolker opened #2708 "odd interaction with car::Anova?"
This is not terribly important, but it worries me that I have no idea what is going on.

Calling `car::Anova()` (the CRAN version 3.0.0, *not* the 3.0.1 development version) with an `lme` model that uses a data set whose name collides with a built-in R function causes an error. That's fine -- it's `car`'s problem. What's weird is that I see a **different error** depending on whether the developmen

[2018-06-20 18:43] clauswilke commented on #2707
Yes. You can use `xmin` or `xmax` to get the left or right edge of the bins, respectively.

[2018-06-20 18:46] rpruim commented on #2707
Is there a way to get the statified data returned (as  data frame) or any other way to inspect what is going on and what things are called?

[2018-06-20 19:12] clauswilke commented on #2707
Yes. Look into the `layer_data()` function.

[2018-06-21 15:14] aosmith16 opened #2709 "Using position_stack() with text geom in stat_summary()"
Should it be possible to "stack" text when calculating the labels and the y axis with `stat_summary()`?  I'm getting an error using either `position = "stack"` or `position = position_stack()`.

[code]

Things work as I expect when doing the calculation outside of **ggplot2**.

[code]

![](https://i.imgur.com/VUa2klE.png)

Created on 2018-06-21 by the [reprex package](http://reprex.tidyverse.org)

[2018-06-22 05:06] clauswilke opened #2710 "Range functions should be exported"
I think the functions in https://github.com/tidyverse/ggplot2/blob/master/R/range.r should be exported. They are needed by anybody who wants to write their own scale functions from scratch.

Possibly they would fit better into the scales package, but since they depend on ggproto there's a dependency problem.

[2018-06-22 14:43] hadley commented on #2710
I think we could easily rewrite to remove the dependency issue.

[2018-06-22 20:01] #2707 closed

[2018-06-23 13:25] petersorensen opened #2711 "geom_histogram skips drawing with narrow log-bins"
geom_histogram does not draw all bars when log bins are narrow. See this example:

### Code
library('ggplot2')
library('tidyr')
histdata <- read.csv(file="C:/Users/Peter/Documents/histerr.csv",quote='"', header=TRUE,dec=".", sep=" ")
names(histdata) = "x"
p1 <- histdata %>%
  ggplot(aes(x)) +
  geom_histogram(bins = 1000, fill = "red") +
  scale_x_log10()
p1

### With full drawing width:
![histogr

[2018-06-23 14:28] batpigandme commented on #2711
Could you please turn this into a self-contained [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample)? You're almost there – it's just a matter of putting the data in the example, and then reprex will do the rest. It will help us help you if we can be sure we're all working with/looking at the same stuff.

If you've never heard of a reprex before, you might want

[2018-06-24 01:09] AnishXavier commented on #1465
@risved7 Was the data summarized?

[2018-06-24 08:41] petersorensen commented on #2711
library('ggplot2')
library('tidyr')

histdata <- c(38000000.00,  600000.00,10000000.00, 2000000.00,14400000.00, 2800000.00,  164000.00,  600000.00,  979000.00,  460000.00,
       1100000.00,16000000.00,  354000.00, 7000000.00,  100000.00,  800000.00,  200000.00, 3600000.00, 2786000.00,   40000.00,
       1600000.00, 3266666.66, 6140000.00,14886000.00,  833333.34,  400000.00, 6500000.00, 1700000.00

[2018-06-24 08:51] petersorensen commented on #2711
Or even simpler where the same phenomenon can also be seen:
library('ggplot2')
library('tidyr')

histdata <- c(38000000.00,  600000.00,10000000.00, 2000000.00,14400000.00, 2800000.00,  164000.00,  600000.00,  979000.00,  460000.00,
              1100000.00,16000000.00,  354000.00, 7000000.00,  100000.00,  800000.00,  200000.00, 3600000.00, 2786000.00,   40000.00,
              1600000.00, 3266666.

[2018-06-24 09:14] ptoche commented on #2711
You'll be asked to produce an example using the ``reprex`` library. Something like the following:

Please explain what you expect to see and how it differs from what you see. (I rounded your numbers to make the example clearer)

[code]

![](https://i.imgur.com/AbB8ZMx.png)

Created on 2018-06-24 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-06-24 09:15] ptoche commented on #2711
To make it easier to read this thread, you may consider deleting some of your longer examples above.

[2018-06-24 12:48] Ax3man opened #2712 "Aligning geoms with preserve = "single" appears impossible"
I want to plot a geom without with together with a geom that does have width, e.g. points and boxplots.

Not all factor combinations are present.

The default of adjusting the width (`preserve = 'total'`) works fine. But when maintaining the box widths with `preserve = 'single'` I can no longer do the same for the points.

[code]

![](https://i.imgur.com/TJWY0Kl.png)

[code]

![](https://i.imgur.c

[2018-06-24 14:14] batpigandme commented on #2712
I don't think this (below) is what you're going for, but you might want to try playing around with [`position_dodge2()`](https://ggplot2.tidyverse.org/reference/position_dodge.html).
[code]

![](https://i.imgur.com/qLod72Y.png)

Created on 2018-06-24 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-06-24 17:40] petersorensen commented on #2711
I was not aware that I could edit my previous comments, sorry.

I tried to follow the reprex instructions, but could not make them work in my setup. The reprex would not pick up from the clipboard. I don't know why. I figured that my example was simple enough to work even without the reprex test, and I see that I was correct.

In the small example I (as in the larger example) expect to see a diffe

[2018-06-24 17:50] clauswilke commented on #2711
I can't reproduce this. In any case, it's unlikely to be caused by ggplot2. It's probably somewhere further down in the graphics pipeline. Maybe some graphics device drops bars that become too thin?

<img width="780" alt="screen shot 2018-06-24 at 12 48 06 pm" src="https://user-images.githubusercontent.com/4210929/41821892-f9683546-77ac-11e8-9159-147963d57366.png">
<img width="525" alt="screen sho

[2018-06-24 18:33] petersorensen commented on #2711
Sure, the error can be anywhere. I don't know. My machine runs a standard Win10 on an Intel processor with Intel(R) HD Graphics 4000.

[2018-06-25 04:59] petersorensen commented on #2711
****Actually,** your graph does have the problem**.
Look at the **number of 5 counts**:

2 bars in your high-resolution pictures, but only one bar in the low-resolution picture.

(By the way, your low-resolution bin-area still has about twice the number of pixels (appr. 390) as my example (appr. 190 pixels).

[2018-06-25 09:12] batpigandme commented on #2711
It's still a graphics rendering issue, though. So I don't think it's one that can actually be fixed from within the ggplot2 code.

[2018-06-25 10:51] Ax3man commented on #2712
Yes ok, this solves it:
[code]
![rplot08](https://user-images.githubusercontent.com/15309336/41846280-7e407a02-7876-11e8-8ce9-137d9eb3aa76.png)

I didn't expect that one needs to pass different positions to the two geoms for them to line up, but I guess it makes sense to always use dodge2 for geoms that have width and dodge for geoms that don't.

[2018-06-25 10:51] #2712 closed

[2018-06-25 10:53] batpigandme opened #2713 "setLockReason for lockbot 🤖"
I'll do this once we've settled wording, etc in https://github.com/tidyverse/dplyr/pull/3697

[2018-06-25 10:58] Ax3man commented on #2706
This error is specific to `geom_line` it seems.

[2018-06-25 12:20] petersorensen commented on #2711
I wouldn't know. I guess it depends on the graphics library. In general, the window size in hardware pixels is available in Windows. Perhaps, it is not safe to draw with a pen when the transformed pen width calculates to less than 1 pixel.  What do you do when drawing axis and ticks? They don't seem to disappear.

[2018-06-25 12:51] hadley commented on #2711
This isn't a ggplot2 issue, so I'm going to close.

[2018-06-25 12:51] #2711 closed

[2018-06-25 13:39] hadley commented on #2706
Yes, this is already done in general; but `geom_line()` seems to have slipped through the cracks.

[2018-06-25 15:31] clauswilke commented on #2711
@petersorensen I think bars seem to go away because you're drawing only the interior (with `fill`), not the outline (with `color`). If you draw an outline it'll remain visible regardless of resolution.

[code]
<img width="302" alt="screen shot 2018-06-25 at 10 30 39 am" src="https://user-images.githubusercontent.com/4210929/41859891-d543e3f2-7862-11e8-9016-3c20caadab09.png">

[2018-06-25 20:57] hadley commented on #2648
I have decided to make it a 3.0.0 release. While the introduction of tidy eval should affect very little user code, it does affect quite a few package developers.

[2018-06-25 20:57] #2648 closed

[2018-06-26 00:31] igordot opened #2715 "scale_*_continuous trans and limits combination leading to blank plot"
I noticed an odd behavior for `scale_*_continuous` `limits` parameter. I think it would be easiest to show an example rather than try to explain.

Set up the plot.

[code]

Start adjusting `scale_y_continuous()`.

[code]
![image](https://user-images.githubusercontent.com/6363505/41882288-211ce302-78b6-11e8-919b-ae41aeaf3d0c.png)

[code]
![image](https://user-images.githubusercontent.com/6363505/41

[2018-06-26 00:39] clauswilke commented on #2715
Bars are not shown unless they fit entirely within the specified limits. This is expected behavior. However, I agree that there probably should be a warning.

Simpler reprex (the transformation is irrelevant):
[code]

![](https://i.imgur.com/xenQwUq.png)

Created on 2018-06-25 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-06-26 01:07] igordot commented on #2715
@clauswilke Isn't the transformation still relevant? My first two examples have the same limits, but only one is visible.

[2018-06-26 03:28] clauswilke commented on #2715
I think the question is why are bars shown in the first plot, not why are they absent in the second. `log(0)=-Inf`, so the bars should extend to minus infinity (and hence outside the set limits).

[2018-06-26 08:06] petersorensen commented on #2711
Dear Claus,

That is really good thinking! I am impressed.

Nice, nice and it works :-)

I work on a standard laptop with R-Studio and have the graphs in the lower left corner.
I must admit my confidence in the system was not exactly boosted when I read that the error report was closed without any real explanation.

It makes perfect sense that the graphical system can/will set a minimum drawing wi

[2018-06-26 08:54] FelixMailoa opened #2716 "Error in classify_emotion"
help me to get a  solution..

Error in classify_emotion(clean_tweets, algorithm = "bayes") :
  could not find function "classify_emotion"

[2018-06-26 09:34] batpigandme commented on #2716
Looks like you haven't loaded whatever package `classify_emotion()` is in. Definitely not a ggplot2 function, though!

[2018-06-26 09:34] #2716 closed

[2018-06-26 12:34] AstreChen commented on #1613
I hope developers can add functions that support manipulate scales of each facet, sometimes we only need a sub-range of y to enlarge the visualization of variance, but plot like geom_area doesn't support change the y label of  one of the facets .

[2018-06-26 12:52] hadley commented on #2568
Submitted to CRAN yesterday (2018-07-25), Uwe has responded that it will take a couple of days to review.

[2018-06-26 12:59] batpigandme opened #2717 "Match error formatting to style guide?"
Moving from https://github.com/tidyverse/style/issues/80#issuecomment-388809007

(@hadley I think the new error message is actually more informative, but maybe a reordering of statements is in order?)

[code]

[code]
Created on 2018-05-14 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-06-26 15:43] igordot commented on #2715
@clauswilke Good point. I guess what I really meant is there is a discrepancy between the first and second.

Regardless, there should probably be a warning if the data is outside the limits on either end. For example, there is a warning if the upper bound is lowered:
[code]

[2018-06-26 19:13] clauswilke commented on #2715
I understand what is happening now. First the data are transformed using the transformation provided to the scale, and then `geom_col()` draws a column from 0 in the transformed space to whatever value is given in the transformed space. This explains why the bars start at 1 in the case of the log transform and at 0 in the case of the log1p transform, and this behavior is correct. (In log space, ba