[2016-09-21 08:23] Ax3man commented on #1745
A more minimal reprex:
[code]
It seems to me that when `stackgroups = TRUE` the stacking is done for all points together, without separation by the grouping on the x-axis. This can cause dots to 'float away' from the center.

When using `stackdir = 'up'` it is fine for the first cloud, but gets progressively worse towards the right.
[code]

[2016-09-21 08:32] thomasp85 commented on #1766
The theme settings has no effect on the layer (geom) style - only how the decoration is styled (axes, labels, grids etc). `geom_contour` has a default color that can be overwritten e.g.

[code]

[2016-09-21 08:32] #1766 closed

[2016-09-21 10:36] aliarsalankazmi opened #1768 "Error in zero_range() when running ggrepel with Github version of ggplot2"
I recently upgraded my `R` version to `3.2.3`, and updated my packages. I then installed the `Github` version of `ggplot2` and CRAN version of `ggrepel`.

The versions for the packages in use are:

    ggplot2: 2.1.0.9000
    ggrepel: 0.5
    scales: 0.4.0

But after loading these packages, I cannot even run the example script provided for ggrepel:

    library(ggrepel)
    p <- ggplot(mtcars, aes

[2016-09-21 11:32] trittweiler opened #1770 "wanted: breaks function to be able to punt"
It would be nice if I could write a function (passed as breaks= in the scale_* functions) in a way that for some of the input limits, ggplot would resort to the default breaking behavior. For example, this could be accomplished in case the function returns waiver().

[2016-09-21 13:12] hadley commented on #1770
Please provide a reproducible example describing what currently happens and what you want to work.

[2016-09-22 00:17] charlesmcbrearty opened #1771 "Too many annotations on a plot causes an error"
The following snippet is causing R to error for me.

[code]

This gives me the following error

Error: evaluation nested too deeply: infinite recursion / options(expressions=)?
Error during wrapup: evaluation nested too deeply: infinite recursion / options(expressions=)?

I am using R 3.3.1, RStudio 0.99.1290, and ggplot2 2.1.0 on a 64-bit linux machine.  Please let me know if you need any other i

[2016-09-22 09:10] thomasp85 commented on #1771
I don't know whether this is a toy-example or something you need, but there is no need for the loop:

[code]
 works fine...

As for the error I simply think it is because you're adding 1000(!) annotation layers - you can change the maximum number of nested calls using `options(expressions=)` but you really should be questioning your approach at this point as that many layers are going to affect pe

[2016-09-22 09:10] #1771 closed

[2016-09-22 11:38] pmBarlev commented on #86
facet_multiple() works well, thanks!

[2016-09-22 11:40] thomasp85 commented on #86
ggforce will also have `facet_wrap_paginate()` and `facet_grid_paginate()` once the next version of ggplot2 is released...

[2016-09-22 14:10] victorn1 opened #1772 "Wanted: prediction intervals in stat_smooth()"
I need prediction intervals to be plotted in geom_smooth() instead of confidence ones. Slight modification of predictf() can do it. Can I create a pull request with a modified predictf() ?

[2016-09-22 14:34] hadley commented on #1772
That's outside the scope of ggplot2 for now. You might want to make an extension package instead.

[2016-09-22 14:34] #1772 closed

[2016-09-23 08:16] #1744 closed

[2016-09-23 19:06] hadley commented on #1768
@slowkow any ideas?

[2016-09-23 19:20] #1587 closed

[2016-09-23 19:22] hadley commented on #1312
It should really become the `ggproto()` class name, not a separate attribute.

[2016-09-23 19:23] hadley commented on #1312
But this doesn't seem super important, so lets not worry about for this release

[2016-09-23 20:17] slowkow commented on #1768
Nothing comes to mind immediately, but I'll look at the code when I get a chance.

I might suggest trying the github master version of ggrepel, but my expectation is that this will not help.

[2016-09-23 20:30] hadley commented on #1753
https://twitter.com/hadleywickham/status/779402291577171968

[2016-09-23 20:30] #1753 closed

[2016-09-23 20:40] hadley commented on #1585
In an ideal world, ggplot2 would have throw errors to avoid these problems from the get go. But it seems like throwing errors now is a bit too harsh — I don't think warnings are as good, but they're a reasonable compromise given code in the wild.

I'll have a go at making the change.

[2016-09-23 20:57] #1585 closed

[2016-09-23 21:04] hadley commented on #1568
@thomasp85 can you please take a look at this one?

[2016-09-23 21:04] hadley commented on #1584
Is it clear what's needed?

[2016-09-23 21:05] hadley commented on #1603
Yeah, but it's a common pattern in examples, so maybe staticdocs should handle it?

[2016-09-23 21:10] krlmlr commented on #1603
@mmaechler posted a [message](https://stat.ethz.ch/pipermail/r-devel/2016-September/073045.html) to R-devel suggesting a base solution for this problem; I'm not sure what the outcome was.

[2016-09-23 21:22] hadley commented on #1669
@huftis are you still interested? We'll be making a release candidate of ggplot2 in one week, so it'll need to be done by then if you want it in the next version of ggplot2.

[2016-09-23 21:22] hadley commented on #1700
@wch do you know what caused the change?

[2016-09-23 21:22] #1714 closed

[2016-09-23 21:23] hadley commented on #1745
@wch any ideas?

[2016-09-23 21:23] hadley commented on #1546
@thomasp85 if you have time, could you please take a look at this too?

[2016-09-23 21:25] wch commented on #1700
Nope, sorry. It looks like the y-range is now determined by the raw data instead of the transformed data.

[2016-09-23 21:25] #1629 closed

[2016-09-23 21:28] hadley commented on #1700
I guess someone will have to git bisect this

[2016-09-23 21:30] wch commented on #1700
@hadley it's your fault: d58b00a58691e1b3753525759535d8abe942e304

[2016-09-23 21:31] hadley commented on #1700
The reason I have an intern is to fix my mistakes...

[2016-09-23 21:33] hadley commented on #1694
Well, the good news is that you'll no longer get an error, but you'll now get a warning for both the aesthetic and the parameter.

Can you remind me why you don't want to provide your own geom functions with extra parameters?

[2016-09-23 21:43] huftis commented on #1669
Yes, still interested. Been a bit busy lately, but I’ll *try* to find time to get it done in the coming week.

[2016-09-23 23:07] thomasp85 commented on #1700
You're going to be in so mush trouble in 7 days

[2016-09-24 00:17] nbafrank commented on #1700
@hadley @thomasp85 @wch thanks for your help guys. Looking forward to the new version. Maybe make it an option for both styles?

[2016-09-24 00:32] daattali commented on #86
@thomasp85 would be useful if you provide a link to ggforce in your comment (of course I was able to find it on google). I see the paginate features are in the `facets` branch, will it not work with the current CRAN version of ggplot2?

[2016-09-24 07:54] thomasp85 commented on #86
It was written from a phone - I've updated the comment with link.

The facet branch requires the GitHub version to work, but the next ggplot2 release is imminent

[2016-09-24 13:15] kimchpekr opened #1775 "I'm confusing about width(height) argument in geom_jitter()"
"width(height)" argument in geom_jitter() is described as [belows.](http://docs.ggplot2.org/current/geom_jitter.html)

Amount of vertical and horizontal jitter. The jitter is added in both positive and negative directions, so the total spread is `twice the value specified here`. If omitted, `defaults to 40% of the resolution of the data`: this means the `jitter values will occupy 80%` of the impli

[2016-09-24 17:31] NattyE opened #1776 "position_dodge for geom_boxplot should have an option to not drop missing levels"
I'm trying to create a series of boxplots using `fill` to create dodged boxplots. One of my levels has no data and so the single boxplot takes up the entire plotting space. See for example

http://stackoverflow.com/questions/12806260/how-to-enforce-ggplots-position-dodge-on-categories-with-no-data
http://stackoverflow.com/questions/15367762/include-space-for-missing-factor-level-used-in-fill-aesth

[2016-09-24 19:55] has2k1 commented on #1775
That is clearly a bug. I think the width is being treated as a substitute for the resolution, if that is the case then the effective amount is `0.4 * 0.4 = 0.16`

[2016-09-25 01:18] hadley commented on #1776
That's how dodging works. You might want to try facetting instead.

[2016-09-25 01:18] #1776 closed

[2016-09-25 03:07] kimchpekr commented on #1775
@has2k1 Thanks for comment.

data resolution at "`gear = 3`" is 1, so amount should be calculated `1 * 0.4 = 0.4` instead of `0.4 * 0.4 = 0.16`
[code]
but geom_jitter(width = 0.4) spreads points across a range you calculated 3±0.16 like below.
![width 0 16](https://cloud.githubusercontent.com/assets/22344554/18812689/ff86d590-8316-11e6-85f1-f6543bc373dc.png)

I'm still confusing....

[2016-09-25 03:12] has2k1 commented on #1775
I've since looked at the code and I'll submit a PR that fixes it.

[2016-09-25 03:19] kimchpekr commented on #1775
@has2k1
I'm looking forward to it.

[2016-09-25 05:08] jiho commented on #1585
That's great, thanks!
(The change wasn't so trivial in the end)

[2016-09-26 06:57] #1493 closed

[2016-09-26 07:59] #1718 closed

[2016-09-26 08:09] Plebejer opened #1780 "geom_vline: Dates as xintercept"
Right now, the value of the `xintercept` aesthetic of `geom_vline` must be numeric. At least, it throws an error an error if I do not convert the date - which I actually want to put there - into numeric:

![image](https://cloud.githubusercontent.com/assets/6517388/18827047/e43b50ee-83d0-11e6-8ca1-53aa48e20c7e.png)

This seems to be inconsistent to me, since the `aes()` in the `ggplot()` function a

[2016-09-26 08:16] thomasp85 commented on #1700
@hadley thinking about this, there is actually a value in the new approach even though it can look a bit odd, in that it communicate the range of the data clearly - do you want a complete roll-back to the old style (without reemerging the bug that caused the change) or what do you think..?

[2016-09-26 08:30] thomasp85 commented on #1568
@hadley I'm unsure why you closed #1575? This is how I was planning to fix this (without having looked into the PR)... It generally seems like a slip when implementing colorbar legends rather than an overarching design problem? In any way I think we should fix it as done in #1575 for now and wait with any grand changes to the legend system until the day they see a ggproto rewrite.

[2016-09-26 11:26] thomasp85 commented on #1584
Yeah - I just need to find the best way to fix this

[2016-09-26 12:09] thomasp85 commented on #1584
Hmm this problem really sits on an intersection between ranges, scales, and gems, in terms of where responsibility should be placed - lets talk about it in person to find out how it can be solved best...

[2016-09-26 12:33] hadley commented on #1700
The current dev version doesn't look right because it's truncated to early on one end and too late on another - I think it's probably just that the ranges need to be calculated per group, not overall.

[2016-09-26 12:35] hadley commented on #1568
Just that the code should be hoisted up at least one level higher so that the contents of `guide_geom.legend` aren't basically copied and pasted somewhere else.

[2016-09-26 15:17] dcangst opened #1781 "retrieving mapping of vars with shiny in ggplot 2.1.0.9000"
not sure whether this is the right place to post, but the bug only appears when using ggplot 2.1.0.9000 and not with the CRAN version (2.1.0) in R 3.3.1 (mac, 64bit)

i just noticed that with ggplot 2.1.0.9000 shiny is not able to get coordinates on click the example below reports (in my case at least) this with 2.1.0:

[code]
and this with 2.1.0.9000:
[code]

with error `Warning in seq_len(nrow(l

[2016-09-26 16:44] tdhock commented on #1694
Thanks! That solves this issue then.

I guess we could provide our own geom functions with extra parameters, but I did not want to have to copy all the geom code to animint, and make users have to learn new geom functions.

[2016-09-26 16:44] #1694 closed

[2016-09-26 18:42] thomasp85 commented on #1568
I think that is better done once/if guides are ported to ggproto. Currently, the optimal place to handles this is at the level it is currently handled in `guide_legend` as it is an operation that needs to be done for each layer in each guide... I'm not saying it can't be done - just that it wouldn't be pretty...

[2016-09-26 22:17] hadley commented on #1781
One for you @wch

[2016-09-26 22:19] hadley commented on #1568
It seems like at least you could have a function? Most of the work would be similar I think.   But if you think a quick copy-and-paste job is the way to go, that's fine too.

[2016-09-27 07:10] thomasp85 commented on #1781
@wch I expect this is due to the internal rewrite of panel and facets. There has been some renaming as the `panel` class has been removed and a `Layout` class has been added. The basic layout, scales, and ranges data is unchanged though but is found at different locations e.g. `plot$layout$panel_layout` for the layout defined by the facetting function...

[2016-09-27 10:55] thomasp85 commented on #1568
I've refactored a bit in #1782

[2016-09-27 11:29] krlmlr commented on #1603
`withAutoprint()` is now in R-devel, haven't tried it yet, though. I think examples should always auto-print indeed, at least that's probably what staticdocs should do.

[2016-09-27 16:58] xvrdm opened #1784 "Coord_flip also flip the axes side."
Since I went from ggplot2 CRAN version to the one hosted on Github, my "coord_flipped" bar plot have changed.

`+ coord_flip()` flip the axes just like before, but it also flip their position: the horizontal axis is above the chart and the vertical axis ends up on the right hand side (I tried with and without styling).

![image](https://cloud.githubusercontent.com/assets/3109069/18883613/2fd49132-

[2016-09-27 18:50] thomasp85 commented on #1784
Minimal repex

[code]
![rplot03](https://cloud.githubusercontent.com/assets/1775316/18887344/f6505ca6-84f3-11e6-8088-2f4b1b8aaee2.png)

[2016-09-27 19:03] #1775 closed

[2016-09-27 19:13] hadley commented on #1764
Probably we've changed something about the structure

[2016-09-27 19:13] #1764 closed

[2016-09-27 19:32] hadley commented on #1584
I think we should fix this for character vector by fixing `scales::clevels()` (which is a very simple change).

We then need to make sure there's some way to actually drop these NA values, because the `na.rm` to the layers can not work, because by the time the layer sees the data the missingness has been removed (as it's be converted to an integer position). This means we need a `na.rm` argument t

[2016-09-27 19:36] hadley commented on #1603
Let's move this discussion to staticdocs

[2016-09-27 19:36] #1603 closed

[2016-09-27 19:36] #1770 closed

[2016-09-27 19:48] schloerke opened #1785 "geom_boxplot fill passed onto outliers"
Is it possible to pass the fill value form geom_boxplot aesthetic to the outlier fill color?  This would allow the fill of the outlier points to match the fill of the box plot if the point is set to a shape that allows for a fill.

Line https://github.com/hadley/ggplot2/blob/master/R/geom-boxplot.r#L211 could be something like

[code]

The example would be

[code]
![screen shot 2016-09-27 at 3 46

[2016-09-27 19:52] hadley commented on #1785
Want to do a PR?

[2016-09-27 19:52] schloerke commented on #1785
Sure. I'll make one shortly. :-)
On Tue, Sep 27, 2016 at 3:52 PM Hadley Wickham <notifications@github.com>
wrote:

[2016-09-27 20:18] wch opened #1786 "Line weights/colors don't look right with theme_bw() and facets"
The panels have a bit of a raised, 3-D look to them. Also, the thinner/lighter lines on the left side look a bit off when the facet label box has a darker/heavier line.

[code]

![image](https://cloud.githubusercontent.com/assets/86978/18890061/55184728-84c5-11e6-914c-bbaf132310b0.png)

[2016-09-27 20:20] hadley commented on #1786
@jiho @thomasp85 any ideas?  Did clipping change?

[2016-09-27 20:22] thomasp85 commented on #1786
clipping might have changed, but I'm unable to reproduce the look on my computer... I'll go through the old clipping specs and see if I can find anything. but I might need you to verify...

[2016-09-27 20:24] wch commented on #1786
This is on my Ubuntu machine.

[2016-09-27 20:25] thomasp85 commented on #1786
Can you check with the CRAN version and see if the look is ok there?

[2016-09-27 20:43] wch commented on #1786
Hm, it looks different depending on the R version and graphics device. This is probably too much information, but here you go. For each of the code snippets, I'll include two screenshots: one for ggplot2 2.1.0 and one for the latest dev version, 2.1.0.9000 (1ee809a).

## Calling `png()` in a terminal

[code]
![test-terminal](https://cloud.githubusercontent.com/assets/86978/18890476/fa99b924-84c6-1

[2016-09-27 20:51] thomasp85 commented on #1786
Thanks - I'll dig into it tomorrow

[2016-09-27 21:05] wch opened #1788 "Should disable image dragging if any plot interactions are enabled"
If just clicking is enabled, it's distracting and annoying if you click and drag a little bit and the browser thinks you want to drag the image to a folder. (Currently, when brushing is enabled, the image dragging is disabled.)

[2016-09-27 21:07] thomasp85 commented on #1788
Is this ggplot2?

[2016-09-27 21:14] wch commented on #1788
Oops, I need to pay attention to which repo I'm in. :(

[2016-09-27 21:14] #1788 closed

[2016-09-27 21:55] jiho commented on #1786
The darker lines are my doing, so that they match the ticks. But the clipping definitely changed. For completeness here is the aspect with 2.1.0 (on left) and current master (on right) on OS X.

<img width="1227" alt="screen shot 2016-09-27 at 23 50 50" src="https://cloud.githubusercontent.com/assets/18445/18893236/41685d56-850d-11e6-8b4c-e95ecf15fe03.png">

The clipping of the sides of the panel

[2016-09-27 22:05] thomasp85 commented on #1786
Ok, it's clear that this is my wrongdoing :-)

[2016-09-28 06:52] jiho commented on #1786
That said, if you could clip the content of the background panel + the grid lines (which need to be clipped of course) but not the outline of the panel or axes, it would make it easier to design themes. For example matching the thickness of the axes with the thickness of the grid lines is difficult/impossible now because axes are clipped and grid lines are not (basically one has to make axes twice

[2016-09-28 07:51] thomasp85 commented on #1786
@wch Can you check out #1789. I did make an error with the new strip constructors so they weren't clipped, but apart from that I could not elicit any change by making stacking and clipping more explicit - I think the panel-border effect is simply an artefact of the new theme settings by @jiho and bad rendering...

[2016-09-28 08:54] #1700 closed

[2016-09-28 09:30] #1568 closed

[2016-09-28 15:33] Nodragem opened #1791 "Documentation on Density plot need improvement"
It seems to me that the user should be able to use easily the following parameters:

Indeed those parameters are quite important for density plots.

For now the documentation on `density` in geom_density is referring to the main page of Microsoft R Application Network (https://mran.microsoft.com/).
I did not find anything to help me when doing a search for "density" in the search box on that page.

[2016-09-28 15:41] Nodragem opened #1792 "Add an option to show the statistics on regression plots (geom_smooth)"
Hello,

To make things easier for the user, maybe ggplot could annotate (optionnal) the plot with the statistics of the regression lines/curves made by geom_smooth (e.g., r=0.7 , y=ax + b, polynomial coefficients: a, b, c).

What do you think?

[2016-09-28 17:20] #1781 closed

[2016-09-28 17:47] wch opened #1793 "Violin plots are not trimmed correctly"
Opening this so that it doesn't get forgotten. See discussion in  #1783.

[2016-09-28 18:32] thomasp85 opened #1795 "expand_limits throws warnings"
After the changes in befc4d00df94c4cfec852fdaffb68897a77684d5 where unused aesthetics throw a warning you now get a warning when using `expand_limits()` (that calls geom_blank() under the hood)

[code]

[2016-09-28 18:33] thomasp85 commented on #1795
@hadley can you look at this since you made the change?

[2016-09-28 19:09] hadley commented on #1792
It's not possible in general for any model.

[2016-09-28 19:09] #1792 closed

[2016-09-28 19:44] thomasp85 commented on #1793
It seemed from #1700 and the docs that trim governed whether the range should be calculated from all data or the group itself, not whether expansion should be applied. Your examples from v1 suggests otherwise and I think it is more sensible. @hadley should I change it?

[2016-09-29 04:56] zheguzai100 opened #1796 "how to code a special plot ???"
hi,master. can u show me how to code this plot??
[http://img.mp.itc.cn/upload/20160810/262b9e742c5444289e2f209efaa65fa7_th.jpg](url)

[2016-09-29 04:56] #1796 closed

[2016-09-29 05:26] GuangchuangYu opened #1797 "compute_group in ggplot2 (v 2.1.0)"
In ggplot2 (version 2.1.0), all `geom_` defined in `ggtree` are failed with the following error:

[code]

When I add a `compute_group` function:

[code]

 all of the `geom_` work fine again.

[2016-09-29 05:33] GuangchuangYu commented on #1797
If I change the `setup_data` to `compute_group`, it will also works.

[2016-09-29 06:30] Nodragem commented on #1792
I think that your answer is either really rude or lacks of explanation. It is at least not satisfying from a community that supports a novel grammar of graphics. And I feel sorry for that.

To get the statistics of your regression line  directly on the graph is a simple and practical improvement. That exists in matlab and statistical applications such as SPSS for instance.

For a tool that seeks t

[2016-09-29 06:41] thomasp85 commented on #1792
Still, it is not generally possible to do so - the default (loess) is not easily parameterised in the same way as you know for standard linear models.

If you feel this is simple (as you write) we are welcoming pull requests where we can then discus how you've chosen to implement it in more detail.

As for the shortness of the answer I think you should start watching all of Hadleys repositories an

[2016-09-29 06:43] thomasp85 commented on #1797
Are you sure you're not messing up between stats and geoms? `compute_group` is a `Stat` method and your call stack also suggests that the layer is calling a `Stat` object...

[2016-09-29 06:44] #1784 closed

[2016-09-29 07:12] GuangchuangYu commented on #1797
Sorry for confusing, `compute_group` need to be defined in `Stat` object even it did nothing.

[2016-09-29 07:15] thomasp85 commented on #1797
Sure - what is the purpose of your `Stat` classes if they do not modify data (i.e. overwrites either `compute_layer`, `compute_panel`, or `compute_group`). This is their prime responsibility...

If you don't need to modify data then use or subclass `StatIdentity` rather than `Stat`...

[2016-09-29 07:51] Tutuchan opened #1798 "Add the possibilty for show.legend to be a vector"
In `geom_*` functions, the `show.legend` parameter can be either TRUE or FALSE and applies to the whole layer.

When TRUE (the default), lines appear in the legends for `factor(vs)` (`colour`) and `factor(am)` (`linetype`):

[code]

![image](https://cloud.githubusercontent.com/assets/5540005/18944932/52acf86c-8628-11e6-8b7a-c010900c31ba.png)

When FALSE, lines do not appear in the legend at all:

[2016-09-29 07:53] GuangchuangYu commented on #1797
I do modify data in most of the `Stat` defined in `ggtree` for supporting `phyloseq` object.

[Here](https://guangchuangyu.github.io/2016/09/ggtree-for-microbiome-data/) is an example, that `geom_point` plots many points associated to each tip.

The underlying data.frame contains many duplicated entry for drawing tree structure (lines), tip labels etc. These duplicated entry should be removed and

[2016-09-29 08:02] thomasp85 commented on #1797
`Stat` classes have always needed either `compute_layer`, `compute_panel`, or `compute_group`. The `Stat` class is a virtual class that requires some specific methods to be overridden. If you have situations where the purpose of the `Stat` subclass is only to call `setup_data()` (and thus not do any statistical transformation of the data) you should define it as a subclass of `StatIdentity` rather

[2016-09-29 08:20] GuangchuangYu commented on #1797
Thank you @thomasp85 👍

[2016-09-29 08:20] #1797 closed

[2016-09-29 08:56] Nodragem commented on #1792
ho ok, I think that I misunderstood the point of Hadley, then. Sorry for that.
Shortness is good but to wrap it into few words of politeness can be even better for your interlocutor :)

Maybe the feature could be supported for only some of the models, such as lm and glm for instance?

What I am worried about is that the user, in order to get the coefficients of the model will have to write his own

[2016-09-29 11:16] dapper2dan opened #1799 "vjust = "inward" does not always place label inward on geom_bar"
`vjust = "inward"` does not always place all labels inward when used with `geom_bar`. Two examples (which are small modifications from the `geom_bar` and `geom_text` examples, respectively):

[code]
![inward_geom_bar](https://cloud.githubusercontent.com/assets/1423562/18951638/8307de1e-8646-11e6-946c-b36054c92c06.png)

[code]
![inward_geom_text](https://cloud.githubusercontent.com/assets/1423562/1

[2016-09-29 14:10] hadley commented on #1799
Inward and outward are relative to the physical middle of the plot, not where the 0 axes are

[2016-09-29 14:10] #1799 closed

[2016-09-29 17:25] titaniumtroop opened #1800 "ggmap Error in zero_range(from) : x must be length 1 or 2"
Attempting to use ggmap gives the subject error. Code works with CRAN version.

Code:

`library(ggplot2) # ggplot2_2.1.0.9000`
`library(ggmap) # ggmap_2.6.1`
`lat <- as.numeric("34.807085")`
`lng <- as.numeric("-92.233561")`
`gmap <- get_map(location = c(lon = lng, lat = lat), zoom = 7, maptype = 'roadmap', scale=2, color = "bw") # Map from URL : http://maps.googleapis.com/maps/api/staticmap?cente

[2016-09-29 17:30] thomasp85 commented on #1800
There has been quite a lot of internal changes which are bound to have an effect some of packages that extends ggplot2. Please report this to ggmap so they can look into it

[2016-09-29 19:33] huftis commented on #1669
@hadley I have a simplified (mostly) working version, but I’m really puzzled by some existing code in `scale-discrete-.r` (https://github.com/hadley/ggplot2/blob/master/R/scale-discrete-.r). This maintains separate continuous and discrete scales, and the `dimension()` function at around line 109 does separate calculations for discrete and continuous scales. That’s OK. But for a *combined* continuo

[2016-09-29 19:46] thomasp85 commented on #1669
Try to update to the latest version - this should have been fixed...

[2016-09-29 19:57] huftis commented on #1669
@thomasp85 I am using the latest version. That’s where I copied this piece of code from.

[2016-09-29 20:30] thomasp85 commented on #1669
Oh, sorry - was thinking about something else slightly related (a few lines up)

[2016-09-29 20:33] thomasp85 commented on #1669
Actually it is related - it is an oversight from when we fixed the other... Thanks for catching that

[2016-09-29 20:52] huftis commented on #1669
I think I understand it a bit better, but I still think it looks strange.

For

[code]

there will be three vertical bars, and c(1, length(d_range)) will be c(1,3). The continuous scale takes the bar widths into account, and so will be c(1-.9/2, 3+.9/2) == c(0.55, 3.45) (with the default bar width of .9). The range displayed must cover both, with a little extra space on each side.

Now, internally

[2016-09-30 02:52] GuangchuangYu opened #1801 "setdiff of aesthetics fail"
[code]

any idea?

[2016-09-30 03:22] titaniumtroop commented on #1800
dev version of ggmap has resolved this issue.

[2016-09-30 03:22] #1800 closed

[2016-09-30 08:03] thomasp85 commented on #1801
Don't you need to define a mapping for the layer?

[2016-09-30 08:32] GuangchuangYu commented on #1801
[code]

Just `NULL` by default.

[2016-09-30 08:44] thomasp85 commented on #1801
Just installed ggtree from GitHub - I cannot reproduce the error. Which versions are you using of both ggplot2 and ggtree?

[2016-09-30 08:54] #1786 closed

[2016-09-30 19:34] hadley opened #1803 "Weirdness with evaluation of facet vars"
[code]

[2016-09-30 19:38] hadley opened #1804 "Secondary axis fails with division"
[code]

@thomasp85 what am I doing wrong?

[2016-09-30 19:45] wch commented on #1781
@dcangst We just merged a fix in shiny.

[2016-10-01 02:18] SamBuckberry commented on #1768
@slowkow Installing the github master version of ggrepel corrected this issue for me

[2016-10-01 09:08] huftis commented on #1669
I’ve now added a new pull request. The code has been simplified, and all the calculations now happen in a `expand_range4()` utility function. Most of the diff is just changes in the documentation. :)

[2016-10-01 12:01] #1768 closed

[2016-10-01 13:23] emdelponte opened #1806 "ggplot2 with plotly fail"
Hadley,

The ggplotly function broke when knitting a document. I rolled back to the release version and it worked. Then, I installed the new version again and got this error when running this example code:

Error in gg2list(p, width = width, height = height, tooltip = tooltip,  :
  attempt to apply non-function

[2016-10-01 22:52] hadley commented on #1806
@cpsievert can you please take a look?

[2016-10-01 22:52] #1806 closed

[2016-10-01 23:17] cpsievert commented on #1806
plotly's current CRAN release is not compatible with ggplot2 >2.1.0...you have two options:

(1) Use the CRAN version of both packages
(2) Use the dev version of plotly, which now [requires ggplot2 >2.1.0](https://github.com/ropensci/plotly/blob/master/DESCRIPTION)

[2016-10-01 23:31] emdelponte commented on #1806
Thanks. I am using the dev version of plotly and everything is working fine.

[2016-10-02 00:39] AndyClifton commented on #1803
Is this related to / the same bug, that is causing

**Error in as.character(what): cannot coerce type 'closure' to vector of type 'character'**

on http://docs.ggplot2.org/dev/facet_wrap.html?

[2016-10-02 00:53] AndyClifton commented on #1803
Apologies for hijacking this issue, but my issue was related to the use of a faceting variable that has the same name as a built-in function; changing the name to something else fixed the problem. No idea if that will help here.

[2016-10-03 07:41] christianlindell opened #1807 "Conflict with ggmap"
With the current stable release of ggplot this command produces a map of Europe:

[code]

With ggplot2 v. 2.1.0.9001 the code doesn't show a map. Instead I got an error:

System: Windows 7.
R-version: 3.3.1
RStudio: 0.99.902
ggmap: 2.6.1

[2016-10-03 08:38] GuangchuangYu commented on #1801
just figure out that I need to re-install ggtree after upgrading ggplot2.

[2016-10-03 08:38] #1801 closed

[2016-10-03 11:57] hadley commented on #1807
cc @dkahle

[2016-10-03 11:57] #1807 closed

[2016-10-03 12:21] hadley opened #1808 "Error when using quoted labels"
[code]

[2016-10-03 12:31] #1808 closed

[2016-10-03 13:01] dkahle commented on #1807
Works for me.  You just need the dev version of ggmap (to be released on CRAN this week).

<img width="774" alt="2016-10-03_0800" src="https://cloud.githubusercontent.com/assets/424139/19038100/94b5c800-893f-11e6-9e12-fe86b5a960e8.png">

[2016-10-03 15:53] carbonmetrics opened #1809 "ggplot extensions stopped working"
My ggplot2 extensions stopped working since I installed `ggplot2_2.1.0.9001`.
All fail with `Error in as.vector(y) : attempt to apply non-function`.

Examples:

[code]

session info:

[code]

[2016-10-03 15:58] hadley commented on #1809
You'll need to report issues with ggplot2 extensions to the maintainer of the extension. Here it's

[2016-10-03 15:58] #1809 closed

[2016-10-03 16:00] carbonmetrics commented on #1809
Err...glad to hear that it has nothing to do with ggplot2 then.

[2016-10-03 16:28] hrbrmstr opened #1810 "Warning: Ignoring unknown aesthetics: x, y with geom_map"
Before I go a-hunting and "fixing" `ggalt::coord_proj()` I just wanted to make sure that (a) you knew that the examples for `geom_map()` toss `Warning: Ignoring unknown aesthetics: x, y` since, well, there are no aesthetics for it anymore and, (b) that this is a desired/designed change (so I know I should compensate for it).

If this is deliberate, I'll take care of the examples for mapping in the

[2016-10-03 16:48] hadley commented on #1810
It's an unanticipated change, but it is correct I believe.  I honestly don't remember much about `geom_map()` though. I trust your judgement.

[2016-10-03 16:53] hrbrmstr commented on #1810
I added more detail from some basic tests. I have some cycles in the next 48 hours to poke at this on the ggplot2 side if you and/or @thomasp85 want an extra set of hands on this.

[2016-10-03 16:57] thomasp85 commented on #1810
Much appreciated. I'm in "new job"-mode so I'll have less time in the next week or so but will be responding and advising. I'll deal with any facet related issues of course

[2016-10-03 17:13] hrbrmstr commented on #1810
Cool. I'm on this and will update prbly either very late tonight or tomorrow AM (EDT).

[2016-10-03 18:22] yilingcheng opened #1811 "Warning: Ignoring unknown aesthetics: show_guide"
Thanks a lot.

I've installed the tested the candidate version (2.2.0) accordingly (devtools::install_github("hadley/ggplot2")). When I check the version using "packageVersion("ggplot2"), it shows '[1] 2.1.0.9001'. Is this right?

when I run my codes "...geom_ribbon(aes(ymin=ll, ymax=ul, group=factor(by), show_guide=FALSE), alpha=0.15)...", the plot is fine but there is a warning note, "Warning: I

[2016-10-03 18:26] hadley commented on #1811
Yup, and that's because you put `show_guide` in the wrong place (and it's now called `show.legend`)`. So the warning is doing what it's supposed to do :)

[2016-10-03 18:26] #1811 closed

[2016-10-03 19:46] yilingcheng commented on #1811
Oops! Thanks! ^^

[2016-10-03 20:07] Eluvias opened #1812 "y axis line not shown in all facets"
[code]

[code]

 session info

R version 3.3.1 (2016-06-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1
attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] ggplot2_2.1.0.9000

[2016-10-03 20:20] schloerke opened #1813 "gtable axis names"
Hi,

I heavily depend upon the names of the gtable objects for `GGally`.  With the current master branch of `ggplot2`, I am getting strange axis gtable names.

[code]
![screen shot 2016-10-03 at 4 18 11 pm](https://cloud.githubusercontent.com/assets/93231/19052507/0e574cf2-8985-11e6-8f9a-0b4a877fe6e6.png)

`axis-l` is being called `axis-t`. `axis-b` is being called `axis-r`.

If these could be swi

[2016-10-03 20:44] thomasp85 commented on #1813
The layout and facet ting has been changed and along with that has come support for freely positioning of axis on either side. Because of this there is now `axis-l`, `-r`, `-t`, and `-b`, though some of them might be zeroGrobs depending on the plot settings. `axis-l` is still `axis-l` as before...

[2016-10-03 20:46] schloerke commented on #1813
I like the update, but `axis-l` is a zeroGrob when it shouldn't be in the example above.  And `axis-t` is a non-zeroGrob when it shouldn't be.

[2016-10-03 20:48] thomasp85 commented on #1813
Oh - thanks for that catch. That is me failing to convert a matrix to a vector in my head... Will be fixed!

Thanks

[2016-10-03 20:51] thomasp85 commented on #1812
I'm unsure it has ever been different - can you provide an example showing different behaviour in an earlier version...

[2016-10-03 20:59] #1813 closed

[2016-10-03 21:01] thomasp85 commented on #1804
How absolutely strange...

[2016-10-03 21:01] schloerke commented on #1813
thank you!

[2016-10-03 21:03] schloerke opened #1815 "title not centered in plot"
plot title is no longer centered (when it should be?)

[code]
![screen shot 2016-10-03 at 5 02 10 pm](https://cloud.githubusercontent.com/assets/93231/19053966/47ec0eac-898b-11e6-9d17-79f824b502f4.png)

Thank you!
-Barret

[2016-10-03 21:05] thomasp85 commented on #1815
This a deliberate change as described in the NEWS.md file

[2016-10-03 21:05] #1815 closed

[2016-10-03 21:06] schloerke commented on #1815
sorry about that.  thank you!

[2016-10-03 21:17] thomasp85 commented on #1815
No problem

[2016-10-03 21:17] Eluvias commented on #1812
Hi Thomas,

[code]

![p_2 10](https://cloud.githubusercontent.com/assets/22600883/19054302/b00a8ba0-89b6-11e6-9a02-c638c6798245.png)

[code]
![p_2 1 09](https://cloud.githubusercontent.com/assets/22600883/19054338/e63cde8a-89b6-11e6-9fad-17917e362618.png)

[2016-10-03 22:06] hadley commented on #1804
Maybe you're computing a range somewhere and it gets flipped?

[2016-10-03 22:18] daattali opened #1816 "Warning when using ggplot2 as output in shiny"
The following code is a minimal usecase of ggplot2 in shiny:

[code]

I get the following warning:

[code]

ggplot2 2.1.0.9001 shiny 0.14

[code]

When I use ggplot2 2.1.0 or if I use base `plot()` instead of ggplot2, I don't get the warning

[2016-10-03 22:20] #1812 closed

[2016-10-03 22:20] thomasp85 commented on #1812
That is not intended - it is fixed now. Thanks

[2016-10-03 22:22] thomasp85 commented on #1816
try installing the latest and greatest shiny from GitHub - they just made some changes in response to ggplot2' update

[2016-10-03 22:23] Eluvias commented on #1812
Thank you!

[2016-10-03 22:23] thomasp85 commented on #1804
No idea - will look into it tomorrow

[2016-10-03 22:26] daattali commented on #1816
Thanks @thomasp85 , yes shiny fixed it

Do you know if shiny is planning on releasing around the same time as ggplot2?

[2016-10-03 22:26] #1816 closed

[2016-10-03 22:28] thomasp85 commented on #1816
No, but I expect they will - there're some breaking changes to the ggplot2 locator as well

[2016-10-03 23:26] Eluvias opened #1818 "theme: strip.placement is not documented"
`strip.placement` is not documented in `theme`.  Do you also think it should default to ` outside`  when  we `switch` the labels to the left-hand side?  - This will be  consistent with the old behaviour.  Please see the example below.

[code]

[2016-10-03 23:58] wch commented on #1816
I submitted a new version to CRAN today that should work with both ggplot2 <=2.1.0 and >2.1.0.

[2016-10-04 00:01] daattali commented on #1816
Thanks Winston

[2016-10-04 02:28] wch commented on #1816
@hadley In the release announcement, we'll have to make sure to mention this.

[2016-10-04 12:00] Webkartet opened #1819 "Caption-argument missing in xlab() and scales"
Will the caption argument be added to xlab() and the scales as well?

WORKING: `+ labs(caption = "test") `
NOT WORKING: `+ scale_x_continuous(caption = "test") `,  `+ xlab(caption = "test")`

[2016-10-04 12:04] hadley commented on #1819
The caption is a property of the plot, not of individual scales.

[2016-10-04 12:04] #1819 closed

[2016-10-04 15:49] hadley opened #1820 "Suppress warning with expand_limits"
[code]

[2016-10-04 15:53] hadley commented on #1820
And in `geom_bar()`

[code]

[2016-10-04 16:02] dapper2dan opened #1821 "bug: geom_text in middle of stacked bar_plot not in the middle (v2.1.0.9001)"
The placement of geom_text in the middle of a stacked bar_plot is off. When I run the example from the help file of `geom_text` I get:

[code]

![stacked_text](https://cloud.githubusercontent.com/assets/1423562/19081941/65229a8c-8a5c-11e6-86da-13581e88c822.png)

I suppose this is [due to](https://blog.rstudio.org/2016/09/30/ggplot2-2-2-0-coming-soon/) "`position_stack()` and `position_fill()` now

[2016-10-04 16:05] dapper2dan commented on #1820
If I am wrong just ignore me, but isn't at least the first one #1795?

[2016-10-04 16:07] hadley commented on #1820
Oops yes,

[2016-10-04 16:07] #1820 closed

[2016-10-04 16:07] hadley commented on #1795
And `geom_bar()`

[code]

[2016-10-04 17:48] aosmith16 commented on #1821
The dataset will need to be arranged in the reverse order of the `fill` factor to calculate the positions correctly with `cumsum`.

`df <- transform(df[order(rev(df$grp)), ], mid_y = ave(y, x, FUN = function(val) cumsum(val) - (0.5 * val)))`

[2016-10-04 18:43] aosmith16 opened #1822 "Error adding all-data layer to facets"
Previously, you could add a background layer based on all the data to each facet by using a dataset with the faceting variable removed.

In ggplot2_2.1.0.9001:

[code]

[2016-10-04 21:04] behrman opened #1823 "Consider using viridis for default continuous color scale"
[This page](https://cran.r-project.org/web/packages/viridis/vignettes/intro-to-viridis.html) has a comparison of viridis with the current default ggplot2 continuous color scale.

viridis does much better than the current default for many different forms of color blindness.

For those without color blindness, in my opinion, viridis is better than the current default for distinguishing levels and is

[2016-10-04 21:35] singmann opened #1824 "rstan::stanplot fails with the development version"
I am not sure if this is the right place to report this, but it appears that the development version of `ggplot2` (2.2.0) fails with the rstan plotting function:

[code]
Gives:

[code]

Also:
[code]

I will also post this on the [rstan mailing list](https://groups.google.com/forum/#!forum/stan-users).

[2016-10-04 21:47] dkStevensNZed opened #1825 "Installation error"
package wouldn't install

Downloading GitHub repo hadley/ggplot2@master
from URL https://api.github.com/repos/hadley/ggplot2/zipball/master
Installing ggplot2
Installing 1 package: digest
Installing package into ‘C:/Users/David Stevens/Documents/R/win-library/3.3’
(as ‘lib’ is unspecified)
trying URL 'http://cran.at.r-project.org/bin/windows/contrib/3.3/digest_0.6.10.zip'
Content type 'application

[2016-10-04 21:48] hadley commented on #1824
Yeah, problems with ggplot2 extensions need to be reported to the maintainer of the package. Thanks!

[2016-10-04 21:48] #1824 closed

[2016-10-04 21:48] dapper2dan commented on #1821
That's a possibility, of course, but a bad one at that, IMHO. Because reversing the order of the grouping of the bars under the hood without reversing the order of the labels is a breaking change. After all the example from the geom_text help file is  working in v2.1 and will break, as it stands, in v2.2, and so will all similar bar charts created with ggplot2 v2.1 and before. So is there a chance

[2016-10-04 21:48] hadley commented on #1825
You'll need to install digest by hand.

[2016-10-04 21:48] #1825 closed

[2016-10-05 02:08] dkStevensNZed commented on #1825
I had installed it already. Then the ggplot2 installer overwrote it.
Then I tried to install digest again and was unable to. What should I do
from here?

On 10/4/2016 5:49 PM, Hadley Wickham wrote:

--
David K Stevens, P.E., Ph.D.
Professor and Head, Environmental Engineering
Civil and Environmental Engineering
Utah Water Research Laboratory
8200 Old Main Hill
Logan, UT  84322-8200
435 797 3229 -

[2016-10-05 02:23] wch commented on #1825
It sounds like it can't remove the old version of digest. It could be a permissions problem. You could try removing that directory manually and installing ggplot2 again.

[2016-10-05 07:01] aphalo opened #1826 "New error triggered in compute_group"
In both 'ggpmisc' and 'ggspectra' I was getting a rather cryptic error triggered in my compute_group functions.

**Error in as.vector(y) : attempt to apply non-function**

With the following traceback

[code]
It can be easily fixed by adding `force(data)` as the first statement in my compute_group function. I haven't seen this error the previous time I tested with 'ggplot2' from Github (some weeks

[2016-10-05 08:18] aphalo commented on #1826
I should have told above, that this error is triggered only in some stats, apparently depending on the code of the compute function.

[2016-10-05 09:23] emillykkejensen opened #1827 "Unicode donen't work on axis text but on geom_text?"
I can't seem to get the axis text showing unicode, but when i try it in geom_text it shows up just fine.

Is there a way to do this or...?

[code]

![rplot](https://cloud.githubusercontent.com/assets/8842355/19107766/1a3ec8be-8aee-11e6-9ca3-141207f9cc21.png)

[2016-10-05 11:51] hadley commented on #1826
Could you please try and create a minimal reprex that doesn't use any ggpmisc code?

[2016-10-05 12:11] hadley commented on #1827
It works for me, but you're probably on windows. Can you please confirm the simpler reprex below still illustrates the problem for you?

[code]

[2016-10-05 12:16] emillykkejensen commented on #1827
The problem is stil there. And yes, I'm one a Windows - just tried to run your code on a linux server I have, and there it worked fine.

![rplot](https://cloud.githubusercontent.com/assets/8842355/19112638/316695b8-8b06-11e6-8c39-fb560671a12a.png)

[2016-10-05 12:24] vzemlys opened #1828 "The size in geom_text is not a font size"
I am playing with the export of ggplot2 package and I need to control all the font sizes. It seems however that `size` in `geom_text` is not a fontsize. This is a bit confusing, since it is not clear what it is exactly.

The reproducible example is straight from `geom_text` help page:
[code]
The resulting labels are not font size 10. Here is my `devtools::session_info()`

[code]

[2016-10-05 12:25] hadley commented on #1828
Correct, it's mm.

[2016-10-05 12:25] #1828 closed

[2016-10-05 12:28] hadley commented on #1827
The root cause seems to be a buglet in R. On windows, I see:

[code]

😞

[2016-10-05 12:33] #1827 closed

[2016-10-05 12:34] hadley commented on #1827
Ok, pretty sure I fixed it, just by avoiding the use of `format()` (which I'm not sure why was necessary in most cases anyway). Please let me know if this doesn't fix the problem.

[2016-10-05 12:40] emillykkejensen commented on #1827
Works! Thanks :-)

[2016-10-05 13:08] hadley commented on #1818
@thomasp85 @lionel- I think this might be an interaction between two sets of work on strips

[2016-10-05 13:11] dkStevensNZed commented on #1825
Thanks - I'll give that a try

David

On 10/4/2016 10:23 PM, Winston Chang wrote:

--
David K Stevens, P.E., Ph.D.
Professor and Head, Environmental Engineering
Civil and Environmental Engineering
Utah Water Research Laboratory
8200 Old Main Hill
Logan, UT  84322-8200
435 797 3229 - voice
435 797 1363 - fax
david.stevens@usu.edu

[2016-10-05 13:16] #1804 closed

[2016-10-05 13:21] dkStevensNZed commented on #1825
All,

To get it to work I had to delete the digest folder, install digest
manually, then install the new ggplot2. That did the trick.

dks

On 10/4/2016 10:23 PM, Winston Chang wrote:

--
David K Stevens, P.E., Ph.D.
Professor and Head, Environmental Engineering
Civil and Environmental Engineering
Utah Water Research Laboratory
8200 Old Main Hill
Logan, UT  84322-8200
435 797 3229 - voice
435 797

[2016-10-05 13:26] hadley commented on #1822
@DanRuderman I think this bug was introduced by the changes to variable evaluation in facetting.

[2016-10-05 13:28] hadley commented on #1803
@DanRuderman this is the flip side to #1822 — the example that doesn't work actually fails with error from `cut_number` because there are insufficient values to produce 9 groups.

Resolving these two issues will require a little thought. I _think_ the right thing to do is rewrite `quoted_df` so that it drops missing variables silently, but always evaluates expressions. The only downside is that th

[2016-10-05 13:33] hadley commented on #1810
Ok, the problem with the examples is the use of `expand_limits()` (#1795). That's because `geom_map()` doesn't work in such a way that ggplot2 knows the extend of the map values, so you always have to expand it by hand yourself.

I think that means this is not a problem with `geom_map()` (since it hasn't changed), and is instead just a problem with `expand_limits()`.

[2016-10-05 13:33] #1810 closed

[2016-10-05 13:48] hadley opened #1829 "geom_bar with stat="identity" incorrect warns about y"
[code]

[2016-10-05 13:48] #1795 closed

[2016-10-05 13:50] hadley commented on #1829
Ok, this is just an mispecification because `geom_bar()` does actually require both `x` and `y` (it's just the y is normally supplied by the stat).

[2016-10-05 13:56] hadley commented on #1821
One possible resolution would be a new position adjustment that "stacks" text like this, including an optional parameter (0-1) that lets you control where the text appears within the rectangular region. That wouldn't fix existing code the relies on the specific stacking order, but it would provide a simple fix.

[2016-10-05 14:01] #1829 closed

[2016-10-05 15:03] paul-buerkner opened #1830 "geom_rug does not allow aesthetic x anymore"
This does not matter if aesthetics are inherited from the original `ggplot` object. However, I am not able anymore to add a rug plot for data other than the data used to create the plot (i.e. when using `data = <new data>` and `inherit.aes = FALSE`). Is there a way around that I have just overlooked?

[2016-10-05 15:39] hadley commented on #1780
Yeah, unfortunately this is a long standing problem that I've never figured out how to fix. The difference is the `geom_vline()` doesn't scale it's inputs, so you need to give numeric values.

[2016-10-05 15:39] #1780 closed

[2016-10-05 15:39] hadley commented on #1761
Can you please provide an inline minimal reprex?

[2016-10-05 15:46] #1752 closed

[2016-10-05 15:46] #1791 closed

[2016-10-05 15:46] hadley commented on #1830
Please provide a reproducible example. There are three things you need to include to make your example reproducible: required packages, data, and code.

1.  **Packages** should be loaded at the top of the script, so it's easy to
    see which ones the example needs. This is a good time to check that you're
    using the latest version of each package: it's possible you've discovered
    a bug that

[2016-10-05 15:51] thomasp85 commented on #1818
Lack of docs is an oversight. I don't think the theme should depend on plot settings. The rationale for putting it in theme is that for solid strips (e.g. theme_grey) it looks best with the strip in between the axis and panel, while for strips with no background the reverse is true...

[2016-10-05 15:53] thomasp85 commented on #1804
Thanks

[2016-10-05 15:54] thomasp85 commented on #1822
My thoughts too - I'll look into it

[2016-10-05 16:33] paul-buerkner commented on #1830
Sorry for not providing a reproducible example in the first place. Here we go:

[code]

That is, I can still produce the desired plot (contrary to what I said in my initial post), but it will throw a warning that I am not able to get rid of.

[2016-10-05 17:54] carloscinelli opened #1832 "Error in as.character(what) : cannot coerce type 'closure' to vector of type 'character'"
Hi, guys,

I just received Hadley's email about the new ggplot2 release and did some tests. This is a minimal reproducible example of the error I could come up with.

So first download this file with a ggplot object:

https://drive.google.com/file/d/0B176voaLE9E1bTVZQlJVYmVaelU/view?usp=sharing

And read it:

`p <- readRDS("p.rds")`

This plot works fine:
`print(p)`
![ggplotbug](https://cloud.gith

[2016-10-05 18:01] thomasp85 commented on #1832
Can you share how the ggplot2 object came into being?

[2016-10-05 18:13] carloscinelli commented on #1832
It's one of the tests I do for the sValues package: https://github.com/carloscinelli/sValues/blob/master/tests/testthat/test-sValues.R

[2016-10-05 18:13] carloscinelli commented on #1832
But I would guess the ggplot object has all meta information you guys need, right?

[2016-10-05 18:29] hadley commented on #1832
A minimal reprex would be better, but I'm almost 100% sure it's a duplicate of #1822

[2016-10-05 18:29] #1832 closed

[2016-10-05 18:41] hadley opened #1833 "Tweak default lineheight"
[code]

At least for axes text/text. Maybe plot title too?

[2016-10-05 18:53] #1830 closed

[2016-10-05 19:07] carloscinelli commented on #1832
Thanks, I will follow #1822

[2016-10-05 20:44] hadley commented on #1821
Here's a quick implementation:

[code]

[2016-10-05 22:41] DanRuderman commented on #1822
@thomasp85 @hadley I'm available to assist with this and/or #1803.

[2016-10-06 00:24] daattali opened #1834 "v2.2.0 error: can't add vline or hline to a faceted plot"
I didn't debug enough to figure out exactly when it does or doesn't happen, but I have a fairly minimal case where the bug shows.

[code]

The last line does not work in the new ggplot2 version.  It did previously.  I get the error

[code]

[2016-10-06 00:32] daattali opened #1835 "v2.2.0 error: cannot use facet_grid() when ggplot() call has no dataframe"
Previously, the following code worked:

[code]

Now I get an error

[code]

This one could potentially fall either under "bug" or "feature". I can see why that code SHOULD produce an error because I didn't explicitly tell facet_grid what data to use, but since ggplot2 is so popular, it might be worth it to still allow that code to work. Hard to tell how many people use code like this and will have

[2016-10-06 02:04] hadley commented on #1835
Dup of #1822

[2016-10-06 02:04] #1835 closed

[2016-10-06 06:00] DarioS opened #1836 "Setting Theme Cancels User-defined Title Placement"
The documentation shown by `?ggtheme` doesn't suggest that a theme would affect plot title placement, but it does.

    carsPlot <- ggplot(mtcars, aes(wt, mpg)) + geom_point() + ggtitle("Cars")

Left aligned:

    carsPlot + theme(plot.title = element_text(hjust = 0.5)) + theme_classic()

Centred:

    carsPlot + theme_classic() + theme(plot.title = element_text(hjust = 0.5))

[2016-10-06 07:39] thomasp85 commented on #1836
When adding a theme you're overriding all style settings set prior to adding it as `theme_*` is defining all styles (it is *complete*)

[2016-10-06 07:39] #1836 closed

[2016-10-06 08:09] dapper2dan commented on #1821
Well, provided that I am not too fond of breaking changes (ah, yes, I mentioned that already), judging from a (very) quick test this seems to work. BUT: If the goal is that the "default stack order match[es] the legend" shouldn't this also be true for a horizontal bar chart?

[code]

If I am not mistaken, the order of the bars in the chart is b, a in the stacked bars, but a, b in the legend (from

[2016-10-06 08:15] dapper2dan opened #1837 "Horizontal bar graphs: Match default stack order in legend as well"
According to the [v2.2.0 announcement](https://blog.rstudio.org/2016/09/30/ggplot2-2-2-0-coming-soon/): "position_stack() and position_fill() now stack values in the reverse order of the grouping, which makes the default stack order match the legend." IMHO this should also be true for horizontal bar graphs.

[code]

![horizontal_bar_graph_order](https://cloud.githubusercontent.com/assets/1423562/1

[2016-10-06 09:51] aphalo commented on #1826
I will try to make a reprex during the coming weekend. This is rather tricky as I am unable to set breakpoints in RStudio in the compute group function and adding a print(data) statement removes the error in the same way as force(data) does. Preparing a reprex will be just a question of trial and error unless you have a suggestion for how to more directly trace the problem. I get related errors fo

[2016-10-06 12:41] hadley commented on #1821
@dapper2dan deleted your comment here, just to keep the discussion on track

[2016-10-06 13:18] hadley commented on #1822
Interestingly this works:

[code]

[2016-10-06 13:19] aphalo commented on #1826
Having ggplot2 in depends: and importing the whole package seems to also solve the problem. Or maybe updating to scales 0.4.0.9002 helped as this happened automatically when I installed ggplot2 from Github today. I will not have time to explore this in more depth until the weekend.

[2016-10-06 13:20] hadley commented on #1822
Oh, because `class` is also a function in the globalenv. So this is exactly the same problem as #1803

[2016-10-06 13:20] #1822 closed

[2016-10-06 13:51] #1803 closed

[2016-10-06 13:51] hadley commented on #1834
Appears to be a duplicate of #1803 because after fixing that it now works :)

[2016-10-06 13:51] #1834 closed

[2016-10-06 13:52] hadley commented on #1837
@thomasp85 we forgot about this important case. Any ideas?  `forcats::fct_rev()` doesn't help as it flips order in both plot and legend.

[2016-10-06 13:57] #1818 closed

[2016-10-06 13:58] #1793 closed

[2016-10-06 14:14] hadley commented on #1584
I'll handle this one — I think it also needs some minor changes to non-positional discrete scales for consistency.

[2016-10-06 14:57] #1584 closed

[2016-10-06 14:57] hadley commented on #1584
@yutannihilation I know I didn't implement what you requested, but hopefully now the principles are obvious, and they're consistently implemented for the three types of discrete missing value and both types of scale.

[2016-10-06 15:33] mattbk commented on #791
Not just for `x` and `y`, but other aesthetics as well.

[2016-10-06 16:19] #791 closed

[2016-10-06 16:19] hadley commented on #791
No one supplied any reprexes apart from the initial, but I think this is fixed now.

[2016-10-06 21:27] #1785 closed

[2016-10-06 22:15] jgabry opened #1838 "calling theme_set within a function has side effects outside of the function"
Currently, calling `theme_set` within a function will change the theme for plots created outside of that function. For example if I do this

[code]
then the plot looks like I would expect. However I wouldn't expect `theme_classic` to now be the theme for all plots created _outside_ of `f`. For example if I call `f` and then afterwards execute
[code]
it will still use `theme_classic` despite the fa

[2016-10-06 22:29] has2k1 commented on #1838
That is the intended behaviour. It is the norm that for functions with side effects, the user is responsible for undoing the side effects at the end of the scope for which those effects are desired.

The documentation does show the `set` -`unset` idiom

[code]

[2016-10-06 22:30] hadley commented on #1838
Yes, that's the whole point of `theme_set()` ;)  If you want a temporary setting either do what @has2k1 suggested, or just add the theme to the plot.

[2016-10-06 22:30] #1838 closed

[2016-10-06 23:16] jgabry commented on #1838
Thanks again for the prompt reply! That makes total sense and I definitely should have noticed from the examples.

[2016-10-06 23:22] jgabry commented on #1838
@has2k1

It does show it and I should have noticed! But in general I would think that breaking with standard scoping inside functions and making global changes (even if idiomatic) would be mentioned in the documentation text itself as opposed to left for uncommented examples (at least uncommented in relation to this). That's a minor quibble though. Thanks again for your quick help.

[2016-10-07 09:32] sjPlot opened #1839 "`labels`-argument in `scale_*()`-functions does not accept labelled vectors."
Would be nice if, for named vectors, names-attributes would be ignored.

[code]

[2016-10-07 12:45] hadley commented on #1839
Yeah, because they're an alternative way of matching breaks and labels (instead of by position).

[2016-10-07 12:45] #1839 closed

[2016-10-07 14:11] hadley commented on #1821
I now think that this should be integrated with `position_stack` so it does the right thing for both points and bars

[2016-10-07 15:12] thomasp85 commented on #1821
We could have a `just` argument that could control that. It works fine for points as it is now (I.e. It stacks them) but this would give users even more control

[2016-10-07 15:14] thomasp85 commented on #1837
Honestly I don't think we can have it both ways, so we need to decide on the preferred default.

[2016-10-07 15:16] thomasp85 commented on #1837
We could add a `reverse` argument to the scale constructors that would make it easy to reverse legend order. An ugly "fix" but it would solve it partly

[2016-10-07 15:47] hadley commented on #1821
That's what I'm in the middle of implementing 😄

[2016-10-07 18:21] hmalmedal opened #1841 "Saving plot with latin1 text to PDF gives warning"
I have tested the dev version on Windows and I have found that plots with latin1 text give a warning when I save them to PDF.

Here's an example which I think is cross platform.

[code]

    ## Saving 7 x 5 in image

    ## Warning in grid.Call(L_stringMetric, as.graphicsAnnot(x$label)): font
    ## metrics unknown for character 0x1b

[2016-10-07 18:50] hadley commented on #1841
@pmur002 any thoughts on this? Seems like a graphics device issue to me.

[2016-10-07 18:53] hadley commented on #1837
Would reversing legend order work? It doesn't seem great to have labels "b", "a". And reversing the mapping between colour and letter would just flip the colours in both locations.

[2016-10-07 19:05] thomasp85 commented on #1837
Come to think of it the natural thing would be to have a switch in `position_stack`. We cannot make this automatic as neither `Coord`, `Scale`, nor `Position` is aware of each other's presence and it would thus degenerate into horrible `coord_flip` checks everywhere (we already have enough of those)

[2016-10-07 19:24] hadley commented on #1837
Agreed. Let me merge my stacking changes, and then one of us can add a `reverse` argument.

[2016-10-07 21:47] #1821 closed

[2016-10-07 21:48] hadley commented on #1826
It's possible that simply rebuilding your package might've fixed the problem. Could you please check to see if that's the case?

[2016-10-08 03:40] yutannihilation commented on #1584
@hadley Thanks for your great fix! (and sorry for being quiet as I couldn't follow this complicated discussion...) I love this consistency 👍

[2016-10-08 06:55] aphalo commented on #1826
Yes, this seems to be the case. I had started suspecting the same yesterday. The problem is that if built with the ggplot2 version from Github my package triggers errors when run if the CRAN version of ggplot2 is installed... So, the problem really only affects the binary. This complicates installation from binaries. I can release new versions of my packages and make them depend on ggplot2 2.2.0.

[2016-10-08 07:11] aphalo commented on #1826
I am not sure but I suspect that this is also the case for 'ggrepel': under some circumstances it triggers an error that vanishes when ggrepel is rebuilt or installed from sources.
'ggtern' is failing with a different error: object new_panel not found, which is not cured by a clean build of ggtern under ggplot2 from Github.

[2016-10-08 07:29] aphalo commented on #1826
The errors report by your automatic checks for my other packages photobiologyPlants and photobiologyInOut were just caused by package ggspectra being used in the vignettes.

[2016-10-08 14:09] hadley commented on #1826
I think the problem is with the way ggproto works. I'll need to talk this over with @wch to confirm. We might be able to avoid the problem just by asking CRAN to rebuild on release.

[2016-10-08 16:22] hadley opened #1842 "Horizontal legends"
Didn't this use to lay out the legends horizontally?

[code]

i.e. the same as:

[code]

[2016-10-08 16:41] thomasp85 commented on #1842
I don't think so. Hasn't it always been necessary to be explicit ?

[2016-10-08 19:01] hadley commented on #1842
But there's space to the left of the second legend - that doesn't seem right.

[2016-10-08 19:15] hadley commented on #1842
In any case, I think it should be changed, so I'll do it

[2016-10-09 10:41] sjPlot commented on #1839
Ok, I see. Didn't know that, but indeed seems to be practical.

[2016-10-09 13:56] #1842 closed

[2016-10-09 15:54] dschneiderch opened #1843 "geom_bar unknown aesthetic y"
I think there is a false warning message using geom_bar with the prerelease version

[code]
Warning: Ignoring unknown aesthetics: y

My Session Info:

R version 3.3.1 (2016-06-21)
Platform: x86_64-apple-darwin15.5.0 (64-bit)
Running under: OS X 10.11.6 (El Capitan)

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats     graphics  grDevices

[2016-10-09 23:57] daterdots opened #1844 "Unused subtitle argument"
`subtitle` doesn't seem to be working for me. Here are the specifics using RStudio:
[code]
Trying to use subtitles from your example [here](http://docs.ggplot2.org/dev/labs.html) yield this error message.
[code]
If I try adding a subtitle the other way using `labs()` there is no error message, but also no subtitle.
[code]

[2016-10-10 05:10] thomasp85 commented on #1844
You are using the CRAN version of ggplot2 - subtitles are only available in the release candidate from Github

[2016-10-10 05:10] #1844 closed

[2016-10-10 12:30] hadley commented on #1843
Can you please try reinstalling the dev version?

[2016-10-10 13:02] #1837 closed

[2016-10-10 13:03] hadley commented on #1837
@thomasp85 I also changed the default order to stack from inside-out (i.e. from close to axis to far away). That looks better to me eye because you get a mirror image if each `x` value has the same levels.

[2016-10-10 14:50] dschneiderch commented on #1843
the warning is gone now.

[2016-10-10 15:06] #1843 closed

[2016-10-10 15:06] thomasp85 commented on #1837
I'm unsure what you mean - skimming the diff it seems default behaviour is preserved (I.e. Stacking from top to bottom)

[2016-10-10 15:25] hadley commented on #1837
Negative values stack in the opposite direction now

[2016-10-10 16:03] wch commented on #1826
After some discussion with @hadley, I think the source of the problem is that ggproto's inheritance is implemented by saving the superclass object. When ggproto object in package B (call it `B::b`) inherits from an object in package A (call it `A::a`), the `B::b` object saves `A::a` in a field named `super`. This is a problem when package B is built with one version of A, and then A is upgraded --

[2016-10-11 02:13] pmur002 commented on #1841
It looks like a bug in the graphics engine - the calculation of string
metrics is ignoring the encoding.  I will look at a fix.

Paul

On 08/10/16 07:50, Hadley Wickham wrote:

--
Dr Paul Murrell
Department of Statistics
The University of Auckland
Private Bag 92019
Auckland
New Zealand
64 9 3737599 x85392
paul@stat.auckland.ac.nz
http://www.stat.auckland.ac.nz/~paul/

[2016-10-11 06:03] daterdots commented on #1844
thanks!

[2016-10-11 12:52] niklasvm opened #1846 "Integration with ggmap"
I am having an issue using the package _ggmap_ with the unreleased version of _ggplot2_. When I rollback to the previous released version it works fine.

Here's my example.

[code]
The following error is shown:
__Error in zero_range(from) : x must be length 1 or 2__

[2016-10-11 13:08] #1841 closed

[2016-10-11 13:10] hadley commented on #1846
Fixed in dev version of ggmap

[2016-10-11 13:10] #1846 closed

[2016-10-11 16:21] eliasdabbas opened #1847 "ggrepel not working with 2.1.0.9001"
I tried the below code with ggplot2 2.1.0 and it works fine. I'm getting the below error with the dev version. Might be a ggrepel issue. Not sure.

[code]
Error in zero_range(from) : x must be length 1 or 2
`sessionInfo()
`
R version 3.3.1 (2016-06-21)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: OS X 10.11.6 (El Capitan)

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-

[2016-10-11 16:58] juliasilge opened #1848 "issue with coord_flip() + facet_wrap() + free scales in one direction only"
Thank you so much to all the contributors for all the work on this package!

I have run into an issue when using `scales = "free_x"` or similar in just one direction with `coord_flip()` and `facet_wrap()`.

If I do something like this:
[code]
everything looks great and I get the result I would expect.
![unnamed-chunk-1-1](https://cloud.githubusercontent.com/assets/12505835/19280062/57ae9e4c-8fa1-1

[2016-10-11 20:14] hadley commented on #1847
You'll need to rebuild ggrepel from source. We're working on a more general solution.

[2016-10-11 20:14] #1847 closed

[2016-10-12 00:25] eliasdabbas commented on #1847
I did, and it's working. Thanks.

On Wed, Oct 12, 2016 at 12:14 AM, Hadley Wickham <notifications@github.com>
wrote:

[2016-10-12 07:21] micstr opened #1849 "install from github not working due to Rtools not working with R3.3.1"
Installing is failing due to Rtools missing.

`devtools::install_github("hadley/ggplot2")`

when I try fix this problem then I get

Installing package into ‘C:/Users/...../Documents/R/win-library/3.3’
(as ‘lib’ is unspecified)
Warning in install.packages :
  package ‘Rtools’ is not available (for R version 3.3.1)

Is there a way around this without downgrading R?

[2016-10-12 07:24] thomasp85 commented on #1849
Rtools is not a package but a separate suit of executables that allow you to build packages from source - these are required for Windows as the OS does not come with the necessary compilers etc...

Please use the provided link to download an installer...

[2016-10-12 07:24] #1849 closed

[2016-10-13 02:16] petersmp opened #1850 "shiny::brushedPoints fails to detect axis variables in dev version of ggplot2"
I am not sure whether this should be considered a bug in `ggplot2` or in `shiny`, so I am filing it in both places ([here is the issue at shiny](https://github.com/rstudio/shiny/issues/1420) )

When using the dev version of `ggplot2`, attempts to use `shiny::brushedPoints` leads to the error:

I reverted to the stable version of `ggplot2`, and the same code works. I am not clear enough on the stru

[2016-10-13 02:46] petersmp commented on #1850
This has already been fixed in shiny version 0.14.1. I was apparently still on version 0.14 and had not found the correct issue to tell me to update shiny.

[2016-10-13 02:46] #1850 closed

[2016-10-13 02:54] pmur002 commented on #1841
Hi

I have committed what I believe is a fix to r-devel (r71511).

It would be great to get confirmation of the fix from someone if possible.

Paul

On 11/10/16 15:13, Paul Murrell wrote:

--
Dr Paul Murrell
Department of Statistics
The University of Auckland
Private Bag 92019
Auckland
New Zealand
64 9 3737599 x85392
paul@stat.auckland.ac.nz
http://www.stat.auckland.ac.nz/~paul/

[2016-10-13 07:17] kornl commented on #1748
I'm for this change, but just want to remark that this change breaks (i.e. results in wrong positioning) also many scripts out there where labels or numbers for the slices were added manually.

[2016-10-13 11:39] lionel- opened #1851 "Failed tests"
Hi @thomasp85 and @hadley

I'm still looking into Travis failures, but I've run the visual tests and found the following discrepancies between 2.1.0 and 2.2.0.

With `coord_map()` 2.2.0 shows the x axis on top rather than at bottom:

[code]

In this violin plot, the y scales are not the same:

[code]

It looks like legend boxes don't have spacing anymore, I'm not sure this is intended:

[code]

[2016-10-14 08:42] Ax3man opened #1852 "geom_curve does not use lineend"
According to the documentation, `lineend` is a valid parameter for both `geom_segment` and `geom_curve`, but `geom_curve` does not change depending on `lineend`. This is true for both the CRAN version and the current dev version. Reprex:

[code]
![rplot03](https://cloud.githubusercontent.com/assets/15309336/19381223/eee0b362-91fa-11e6-8741-18f718404d28.png)

[2016-10-14 14:06] danilinares opened #1853 "coord_polar plot the y-axis label on the right"
This example:
pie <- ggplot(mtcars, aes(x = factor(1), fill = factor(cyl))) +
 geom_bar(width = 1)
pie + coord_polar(theta = "y")

from http://docs.ggplot2.org/current/coord_polar.html in the new version of ggplot2 plots the y-axis label on the right instead of on the left.

[2016-10-14 14:32] #1852 closed

[2016-10-14 14:34] hadley commented on #1851
The first problem is another example of #1853

What did the violins used to look like? We made some changes so it's possible the new display is correct.

I wondered about the spacing around legends too. I think this must've happened accidentally while refactoring the theme names.

[2016-10-14 15:15] lionel- commented on #1851
hmm I now see that the difference is in the truncation not the scale, so it seems the new version is better.

The violin plot before:

![before](https://cloud.githubusercontent.com/assets/4465050/19392413/9348a8ce-9228-11e6-93da-f449363a56d7.png)

and after:

![after](https://cloud.githubusercontent.com/assets/4465050/19392417/96f097c0-9228-11e6-90fe-dc787fe4e2a4.png)

[2016-10-15 08:27] pbiecek opened #1854 "Changes in the structure of gg objects between v2.0 - v2.1 and v2.1 - v2.2"
The plot function in v2.2 is not working on gg objects created with v2.1.
Same with v2.1 vs v2.0.

Do you plan to add support for gg objects created with older version of ggplot2 package?

If not, could you point out differences in structure between gg objects v2.2 and v2.1?

We could then create an ggconvert function that will convert objects created with older version of ggplot2 to the recent ve

[2016-10-15 13:36] Vickic22 opened #1855 "Change in facet_wrap"
The way facet_wrap() works has been changed and I would like to know how I can change it back for consistency reasons.  The old example shows that the labels of the different variables are on the same strip but separated by a comma, the new example shows that the labels of the different variables are now on different strips.
I cannot change any old plots I have conducted, so I need my new plots to

[2016-10-15 14:00] Vickic22 commented on #1855
I've finally discovered that I can work around this issue with:
facet_wrap(~ Operator + Machine, labeller = label_wrap_gen(multi_line = FALSE))

But obviously the defaults have been changed.

[2016-10-15 14:00] #1855 closed

[2016-10-17 07:20] thomasp85 commented on #1848
I *think* this is an easy fix and probably related to reuse of the scale for the first panel if the scale is fixed (`coord_flip()` messes up so much - we should consider how we can implement it better...)

[2016-10-17 07:55] thomasp85 commented on #1853
I know this is not the place for a discussion put just putting it out there - I think we need some way for Coords to modify the positional scales in the beginning of `plot_build()`. There are an increasing number of hoops to hop through to get coord_flip etc to work properly...

[2016-10-17 08:07] thomasp85 commented on #1854
There will not be support for this AFAIK - this would simply be too demanding with very little gain (most code will work fine so it would be better to regenerate the plot object)...

There are both changes to the structure of the plot object itself as well as a lot of internal changes in `plot_build`, `Scale`, `Coord`, `Facet`, etc.

The main change in the plot object itself is that the `panel` el

[2016-10-17 10:15] assaron commented on #1727
Hi,

Is it possible to keep `panel.margin` option too, but with throwing a deprecation warning? I have the package in Bioconductor that uses this option and I can't put dependence on the >=2.2.0 ggplot verision, as it's not yet realeased, and can't just ignore this, as it will break my package soon.

[2016-10-17 10:17] thomasp85 commented on #1727
This is how it works currently - It will throw a warning and reassign the value to panel.spacing

[2016-10-17 10:25] assaron commented on #1727
Oops, sorry, got wrong impression and didn't check properly.

Thanks!

[2016-10-17 12:59] hadley commented on #1727
You can include pick behaviour using an if statement and packageVersion

[2016-10-17 14:29] hadley commented on #1854
Yeah, unfortunately there was never any intent to make the "binary" representation of ggplot2 objects backward compatible.

[2016-10-17 14:29] #1854 closed

[2016-10-17 15:04] spadarian opened #1858 "Use of bquote() with coord_polar()"
There is a small inconsistency with the use of bquote.

This doesn't work
[code]

This does
[code]

[2016-10-17 15:28] hadley commented on #1858
Use `list()`, not `c()` in the first example.

[2016-10-17 15:28] #1858 closed

[2016-10-18 12:09] Vickic22 commented on #1755
I didn't know whether to open a new issue or just comment on this one, as I have tried plotting this data (and my own data), and now the x-axis seems completely misaligned.
Why do the bars not straddle the x values anymore?  For example in the plots above the bar for zero values has the zero label in the middle of the bar, on the plot now the bar is to the right of the zero.  I can't seem to find

[2016-10-18 12:14] thomasp85 commented on #1755
Unless you post the code used to produce the plot it is difficult to help - I've just rerun the examples in this thread and get identical results as @tklebel indicating that nothing has changed...

[2016-10-18 15:34] dapper2dan opened #1859 "geom_text() does not inherit from theme(text)? bug or feature?"
It is my understanding, that `theme(text = element_text(family = "serif")` should change all text elements to serif font. Apparently this is not the case for `geom_text`, though.

[code]

Is there a reason for `geom_text()` not inheriting from `theme(text)`?

[2016-10-18 15:39] hadley commented on #1859
Theme elements only affect the non-data components of the plot.

[2016-10-18 15:39] #1859 closed

[2016-10-19 01:20] wch opened #1860 "With facets, data order differs in vectors vs. data frame columns"
This is from rstudio/shiny#1432.

In this example, it plots small points on top of large points. The large points get their data from a vector. The small points get their data from a data frame column. The contents of the vector and df column are the same, containing 31 FALSEs and 1 TRUE, so there should be one small red point plotted at the same location as one large red point. But that's not wha

[2016-10-19 06:33] thomasp85 commented on #1860
Strange - I'll look into it

[2016-10-19 12:46] Ax3man opened #1861 "geom_spoke goes crazy when x or y are set instead of mapped."
Setting the `angle` and `radius` is fine, these all produce reasonable plots:

[code]
However, when `x` and/or `y` are set outside the `aes`, weird things happen:

`ggplot(data.frame(x = 0:1)) + geom_spoke(aes(x, radius = x, angle = x), y = 1)`

![rplot](https://cloud.githubusercontent.com/assets/15309336/19519115/b586a630-960a-11e6-8cf1-e992d29a552d.png)

`ggplot(data.frame(x = 0:1)) + geom_spoke

[2016-10-19 13:44] hadley commented on #1860
You can't mix data inside and outside data frames like this - there's no way for ggplot2 to reorder the vector in the same way that it reorders the data frame.

[2016-10-19 13:44] #1860 closed

[2016-10-19 14:15] has2k1 commented on #1860
It can be fixed by delaying the reordering action at [this line](
https://github.com/hadley/ggplot2/blob/170919680836605bdf01588727a79bf5ff5ddb55/R/facet-grid-.r#L262) and definitely the equivalent line in `facet_wrap`.

[2016-10-19 15:00] hadley commented on #1860
It might be possible to work around it, but generally, I don't think it's a good idea to mix data from a data frame and the environment, so I have no interest in supporting it.

[2016-10-19 15:38] azawalich opened #1862 "Adjusting title and caption to the left side of a whole picture"
I have a question on the plot created with ggplot2 package. Let's say we have such a plot:

[code]

Is there any better way to align title and caption to the left side of a picture (not plot, but picture, so in this case there where "The best brand in the world" starts), than making negative vjust values for title and caption?

It is not really the best solution for two reasons:
- if caption has \

[2016-10-19 15:44] hadley commented on #1862
Can you please ask on the ggplot2 mailing list? Github is more appropriate for reporting bugs.

[2016-10-19 15:44] #1862 closed

[2016-10-19 23:41] tiernanmartin commented on #1848
FWIW, here's an additional example that illustrates two things:

- the value of combining`coord_flip` with `facet_wrap` (moving the longish labels to the y-axis where they are easier to read)
- the failure of the `facet_wrap` to assign the correct labels to the "free" axis (`names` in this example)

[code]
![facet-wrap-bug](https://cloud.githubusercontent.com/assets/8197328/19541331/49dbd486-961a-

[2016-10-20 02:51] has2k1 opened #1864 "facet_grid with an expression cannot have margins"
A visual of the issue,

[code]

![grid-expression-margin](https://cloud.githubusercontent.com/assets/780341/19541501/5d879d1e-962c-11e6-883e-a7f5f739ecbc.png)

The column (expression variable) margin is missing data!

The problem arises because [these two lines](https://github.com/hadley/ggplot2/blob/170919680836605bdf01588727a79bf5ff5ddb55/R/facet-grid-.r#L231-L233) depend on each other. The marg

[2016-10-20 13:48] yonicd opened #1865 "class(theme_grey()$panel.background$color)=logical"
shouldnt the class of colour be text?

List of 4
 $ fill    : chr "grey92"
 $ colour  : logi NA
 $ size    : NULL
 $ linetype: NULL
 - attr(*, "class")= chr [1:2] "element_rect" "element"

[2016-10-20 14:23] hadley commented on #1865
Yes, but it really doesn't matter.

[2016-10-20 14:23] #1865 closed

[2016-10-20 15:13] R-kicker opened #1866 "qplot() error with parameters 'span' or 'method'"
One issue with qplot() discovered recently.
Following code from vignette (http://docs.ggplot2.org/dev/vignettes/qplot.html) causes and error "Error: Unknown parameters: span"

[code]

The same error is for the 'method' parameter or other.
Example below from the same vignette causes an error "Error: Unknown parameters: method, formula"

[code]

The source of error is inside the following loop of th

[2016-10-20 16:04] hadley commented on #1866
Fixed in dev version

[2016-10-20 16:04] #1866 closed

[2016-10-21 11:22] vmikk opened #1867 "Bug with size in geom_pointrange"
Hello!
I have run into an issue when using `size` in `geom_pointrange`. When `size` is specified the symbols becomes huge irrespectively the value you have chosen.

Here is a reproducible example:
[code]

ggplot2 v.2.1.0.9001 (17091968)
R version 3.3.1 (2016-06-21)
Platform: x86_64-pc-linux-gnu (64-bit)

[2016-10-21 11:42] thomasp85 commented on #1867
Try moving size out of the `aes()` call to avoid applying a scale to it..?

[2016-10-21 11:52] vmikk commented on #1867
My bad. Moving a `scale` out of the `aes` works perfectly.
@thomasp85 Thanks a lot for the fast answer!
I think we can close this issue.

[2016-10-21 11:52] #1867 closed

[2016-10-21 20:47] DanRuderman commented on #1864
The relevant code (in _facet-grid-.r_) seems to be:

[code]

The call to `quoted_df()` handles the expression evaluation needed to add the values that are missing, but this comes after the call to `add_margins()`.

The possible solution I found is to replace those lines with:

[code]

Since I don't have much facility with conversion from calls to expressions to quoted symbols, I'm sure there is a

[2016-10-23 15:14] has2k1 commented on #1864
@DanRuderman, you need to pull from master.

[2016-10-23 17:57] wmurphyrd opened #1869 "Cannot pass check.aes through geom_* to layer"
My colorplaner ggplot2 extension involves a scale which accepts an aesthetic unknown to the layer and maps that aesthetic to one the layer accepts (specifically, a secondary color/fill mapping translated through a bivariate color scale to `color` or `fill`).

With the changes in befc4d0 for issue #1585, a warning is now generated if that mapping is created at the layer level:

[code]

[code]

In t

[2016-10-24 07:30] DanRuderman commented on #1864
@has2k1  You're right. But why does `% git status` give output that makes it look like I'm up to date?
_On branch master
Your branch is up-to-date with 'hadley/master'._

The relevant output from `% git remote -v` is:
_hadley	https://github.com/hadley/ggplot2.git (fetch)
hadley	https://github.com/hadley/ggplot2.git (push)_

[2016-10-24 07:49] has2k1 commented on #1864
`git status` is only as accurate as the state created by last `git fetch`. `git status` on its own does not initiate a network connection an so it show "real time" information.

[2016-10-24 13:49] chamaoskurumi commented on #1642
I second @sschmitz . I am also desperatly trying to find a solution for the case where there is no `level == level2` edge observation in the data. Solving this issue would allow me to plot beautiful revenue vs. spending line graphs with a ribbon visualising the balance.

[2016-10-24 13:56] hadley commented on #1642
I think this is better fixed outside of ggplot2 - you need some way to generate split a single ribbon into multiple polygons. If someone can implement an elegant algorithm to do so, I'd consider adding to ggplot2.

[2016-10-24 13:59] hadley commented on #1642
That said, I'm surprised that these generate two different plots:

[code]

[2016-10-24 14:01] hadley commented on #1642
Oh because `geom_area()` uses `position_stack()` which is going to cause problems here because we haven't cut up into multiple pieces (and `position_stack()` assumes bars, which don't have the same problem).

[2016-10-24 14:03] zx8754 opened #1870 "color gets "stuck" after having a typo in color names"
Here is an example:

[code]

Only after restarting R, I can use ggplot again, here is related [SO post](http://stackoverflow.com/questions/40213918):

[code]

[2016-10-24 14:38] hadley commented on #1870
Unlikely to be a bug in ggplot2. Just close your graphics devices if it continues to be a problem.

[2016-10-24 14:38] #1870 closed

[2016-10-24 15:07] hadley commented on #1861
That's because set values aren't passed to the scale.

[code]

[2016-10-24 15:07] #1861 closed

[2016-10-24 15:09] hadley commented on #1869
I definitely don't want to go down that route because it makes `check.aes` and `check.param` behave differently to the other layer parameters.  Basically the problem is that you're trying to extend ggplot2 in a way that it wasn't designed to be extended, and you're going to keep running into these problems. I don't think there will be an elegant fix - you'll just need to figure out how to hack aro

[2016-10-24 15:09] #1869 closed

[2016-10-24 15:10] #1853 closed

[2016-10-24 15:10] #1848 closed

[2016-10-24 15:32] hadley commented on #1851
Closing this in favour of one new issue

[2016-10-24 15:32] #1851 closed

[2016-10-24 15:33] hadley opened #1871 "Legends have lost spacing"
[code]

[2016-10-24 15:33] hadley commented on #1871
@thomasp85 do you remember what might've caused this? It's the spacing between the an individual legend and its border.

[2016-10-24 16:41] #1826 closed

[2016-10-25 10:09] gbengaRic opened #1873 "ggplot 2 package load error.."
Am having this error any time i try to load ggplot2 package in r studio "Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :    there is no package called ‘colorspace’ Error: package or namespace load failed for ‘ggplot2’" can any one help please.

[2016-10-25 12:29] oatesch commented on #1873
Have you tried
`install.packages('colorspace') `

Try
`install.packages('ggplot2', dependencies = TRUE)`

[See also](http://stackoverflow.com/questions/31717850/error-package-or-namespace-load-failed-for-ggplot2-and-for-data-table)

[2016-10-25 14:52] #1873 closed

[2016-10-25 17:22] raematt opened #1875 "data labels in stacked bars."
Team ggplot: this code works differently on the cran and development versions.  The data-label series are inverse - in the first bar 4247 should be on top and 1543 on the bottom - which is what happens on the cran version but not the development version.

	library( plyr )
	library( ggplot2 )
	library( reshape2 )

	year <- 2016:1999
	one <- c(5277,4955,4823,4565,4316,4129,3997,3515,3354,3281,2973,2

[2016-10-25 18:13] hadley commented on #1875
Yes, this is a documented change. See the examples in `position_stack()` for how to get text labels to stack appropriately, without having to do the calculation yourself.

[2016-10-25 18:13] #1875 closed

[2016-10-25 18:44] raematt commented on #1875
Thank you!  Sorry for not catching that.  This is great.

On Tue, Oct 25, 2016 at 2:13 PM, Hadley Wickham <notifications@github.com>
wrote:

--
Matthew Rae
971-344-5751

[2016-10-25 21:03] sb452 opened #1876 "Bug in interaction between ggplot2 and plotly"
Minimal example:

library(ggplot2)
library(plotly)
generic_plot <- ggplot(data = NULL)
p <- plotly_build(generic_plot)

The plotly function "plotly_build" appears to no longer play nicely with ggplot2. It's unclear to me whether this is a bug with ggplot2, with plotly, or just an incompatibility that could be fixed by either side.

All best, Steve

[2016-10-25 21:13] hadley commented on #1876
Any incompatibilities with extension packages have be fixed by those packages.

[2016-10-25 21:13] #1876 closed

[2016-10-26 21:54] clauswilke opened #1877 "dup_axis() does not properly duplicate the axis name"
The following code should duplicate the x axis, including the name. However, that doesn't happen. The name is not duplicated.

[code]

Output:
![image](https://cloud.githubusercontent.com/assets/4210929/19746566/9a939cce-9b9c-11e6-8e7e-b5123641101a.png)

The problem seems to lie in the `derive()` function. The following also doesn't work:

[code]

(The output is exactly the same, so I'm not going

[2016-10-26 22:18] clauswilke opened #1878 "Rotated axis labels are not properly aligned"
In the following figure, the axis tick labels along the top x axis are not properly aligned. They all sit completely to the left of the axis tick rather than centered:

[code]

![image](https://cloud.githubusercontent.com/assets/4210929/19747216/f87c57b0-9b9f-11e6-9ebb-9b906ffd5fc4.png)

No setting of `vjust` that I can add changes this, as far as I can tell. E.g., the following code creates the e

[2016-10-26 22:41] hadley commented on #1878
Is this new in 2.2.0?

[2016-10-26 23:13] clauswilke commented on #1878
I think it's new to 2.2.0, because `vjust=0.5` works fine if I keep the x axis at the bottom of the plot (and different `vjust` settings move the text left and right in this case):

[code]
![image](https://cloud.githubusercontent.com/assets/4210929/19748502/a937e932-9ba7-11e6-8e1c-e5ae1c067ccd.png)

[code]

![image](https://cloud.githubusercontent.com/assets/4210929/19748512/d4b07642-9ba7-11e6-90b

[2016-10-27 13:03] hadley commented on #1878
Thanks, makes sense. This one's for you @thomasp85

[2016-10-27 13:20] dzion commented on #1669
Has this somehow been implemented yet? I generally agree with @huftis on the usefulness in bar plots, but also with @hadley on the inelegance of the solution provided here....
May I suggest to solve this analogous to the `limits()` solution, where `NA` can be specified as one of the parameters. This would provide perfect downward compatibility and is very easy to understand rather than adding 2 ad

[2016-10-27 14:12] huftis commented on #1669
@dzion I haven’t have time to implement it yet, but will do so (though obviously not in time for the next ggplot2 release). It will probably have the syntax `expand = expand_scale(mult=c(0, .1), add=c(0,0))` or something similar (which could be easily extended if ggplot2 is ever updated to support three scales/axes, i.e. 3D plots).

[2016-10-27 14:47] dzion commented on #1669
@huftis Don't you feel that simply adding the `NA` option would provide a good enough workaround, without adding further options, that would generally solve the problem in many of the cases?
I agree, that specifying a multiplicative value for expand instead of an additive value is more straight forward and for my case usually what is needed, but sometimes simply providing an absolute value (seems

[2016-10-27 15:15] thomasp85 commented on #1669
I would suggest adding the parameters `expand_lower` and `expand_upper` to the scale constructor. If provided they take precedence over the value passed to `expand` and you can provide only one of them to only override one side. This will also ensure backward compatibility...

[2016-10-27 15:23] hadley commented on #1669
We already have a reasonable API (that I like) in the PR, so I don't think we need to discuss it further.

[2016-10-27 15:39] thomasp85 commented on #1669
Ok - didn't know the API was settled. I'll show myself out then🙂

[2016-10-27 17:35] Enchufa2 opened #1879 "Different positioning for different factors"
Let's start with some data to illustrate the issue:

[code]

As you can see, there are several values per category `x`, and two factors `c` and `s`. Let's produce a basic plot:

[code]

![rplot](https://cloud.githubusercontent.com/assets/4542928/19777751/f2af7152-9c79-11e6-9925-c6031fdcdf1a.png)

The problem here is that I would like to dodge by colour `c`, but stack by shape `s`. If I'm not mista

[2016-10-27 18:27] hadley commented on #1879
That's unlikely to ever be built-in. I'd recommend doing it by hand.

[2016-10-27 18:27] #1879 closed

[2016-10-28 22:06] zkamvar opened #1880 "incompatibility of theme_void with theme_update"
I noticed some odd behavior that may be a bug (or a feature). Using `theme_update()` to modify axis labels messes with `theme_void()`:

[code]

[2016-10-29 04:01] baptiste opened #1881 "legend titles need more padding"
Not sure if it's a recent change (I'm using the dev version fresh from github), but with a large enough font the legend title collides with the legend and I  can't find any setting to move it.

MRE

[code]

With the default font size things are OK, albeit snug

![screen shot 2016-10-29 at 4 58 42 pm](https://cloud.githubusercontent.com/assets/18970/19827046/1cd40c1a-9df9-11e6-901d-ee00b6707366.png

[2016-10-29 04:08] baptiste commented on #1881
oops already #1871

[2016-10-29 04:21] baptiste commented on #1881
the relevant part seems to be in [guide-legend.r](https://github.com/hadley/ggplot2/blob/master/R/guide-legend.r#L442)

First, the text height is not accurately measured,

[code]

![screen shot 2016-10-29 at 5 19 04 pm](https://cloud.githubusercontent.com/assets/18970/19827126/d5e78d92-9dfb-11e6-966c-423aa884bd7e.png)

And second there isn't any setting to change the margin, [`vgap` is hard-coded

[2016-10-29 05:18] baptiste commented on #1881
oh, and I just had a quick look at `guide-colorbar.r`, it's the same problem, but the corresponding lines of code are slightly different, probably written by someone else.

[2016-10-31 09:21] adamkk commented on #1740
**Thanks for the arrows. They look great !**

Today, I have replicated the chart in RStudio with arrows using theme() and element_line(arrow=arrow()). Yet, while using **theme_bw()** it did not work. Is the element_line an attribute to one theme only, or all themes can make use of it?

Question: how I can get a **clear background** on the chart (without gray background and grid)?
See link: http://

[2016-10-31 12:48] hadley commented on #1740
@adamkk a better place for questions of that nature is the ggplot2 mailing list

[2016-11-01 20:19] thomasp85 commented on #1878
This is not a bug per se, but rather an inconvenience fostered by a wish for both theme inheritance and nice defaults...

`axis.text.x.top` inherits from `axis.text.x`, but in order to look good by default it sets margin and just explicitly deferent from `axis.text.x` and these are thus not inherited when `axis.text.x` is set in a call to `theme()`. Setting it directly (`theme(axis.text.x.top = el

[2016-11-01 20:19] #1878 closed

[2016-11-01 20:53] thomasp85 commented on #1877
This was an intended shortcoming of derive (it worked if you specified the scale name in the constructor e.g. `scale_x_continuous('mpg', sec.axis = dup_axis())`)

I've just made a PR that removes this restriction...

[2016-11-01 20:57] thomasp85 commented on #1871
Due to our wish to put legends flush with the top of the plotting area we removed the default margins around each legend - you can get it back by setting `legend.margin` e.g.

[code]

[2016-11-01 21:12] clauswilke commented on #1877
Yes, I can see that one could argue both ways. In many scenarios, maybe one wants the axis copied but not the axis name.

In either case, if you want the name to be missing by default, then I think having a default setting of `name = ''` in `dup_axis()` would be the cleaner implementation.

[2016-11-01 21:19] clauswilke commented on #1878
Perfect, thanks. Is this explained somewhere in the documentation?

[2016-11-02 22:47] danwwilson opened #1885 "Issue with reapplying theme attributes"
I am having an issue with themes in `2.1.0.9001`

I have a a custom theme called `theme_bm` that looks like the following (stripped out lots to identify minimal parts that are not behaving as I would expect)

[code]
I then have a plot that based on the following `data.table`

[code]
Code for the plot
[code]
When I attempt to display `p1` I get the message `Error in if (debug) { : argument is of le

[2016-11-02 23:24] danwwilson opened #1886 "stack order & legend position"
With the new stack order in `2.1.0.9001` it matches the legend order when the legend is on the right of the chart. When the legend is positioned at the bottom of the chart the ordering of the legend and the stacks don't seem to complement any more.

Example:
[code]
Would it be more practical to reverse either the stack order or the legend order when the legend is set to the top or bottom so that t

[2016-11-03 00:36] Eluvias commented on #1886
Is this what you are after?
[code]

![gg](https://cloud.githubusercontent.com/assets/22600883/19952450/4bece492-a15d-11e6-8b42-ad25660763e8.png)

[2016-11-03 00:58] Eluvias opened #1887 "Margins don't affect strip.text"
ggplot version: `2.1.0.9001`
[code]
![gg1](https://cloud.githubusercontent.com/assets/22600883/19952652/e50a01ae-a15e-11e6-8195-739ad37d486d.png)

The `hjust`  hack still works:
[code]
![gg2](https://cloud.githubusercontent.com/assets/22600883/19952658/ec2703f6-a15e-11e6-90d8-b4bf3edbf165.png)
__ref:__ #1502

[2016-11-03 01:00] danwwilson commented on #1886
While it makes it neater in this example keeping the legend on a single line, it doesn't address my concern.

Based on the stacking of the chart (J at the bottom and D at the top) I would prefer to see the legend go from J (on the left) to D on the right. Or alternately if the legend stays ordered D to J, then change the stacking of the chart to have D on the bottom and J on top.

Hope that makes

[2016-11-03 01:30] Eluvias commented on #1886
In that case,  you need to reverse the levels.

[code]
![gg4](https://cloud.githubusercontent.com/assets/22600883/19953317/6fa4c876-a164-11e6-827c-c4c190813ad5.png)

[2016-11-03 01:38] danwwilson commented on #1886
by reordering you've change both the stacking and the legend. My concern is that the far left item in the legend should associate with the item at the bottom of the stack. The item on the far right of the legend should sit on top of the stack.

[2016-11-03 01:40] Eluvias commented on #1886
Just figured it out.

[2016-11-03 01:43] Eluvias commented on #1886
I had tried `guides(col = guide_legend(reverse = TRUE))`, didn't work.

[2016-11-03 01:56] has2k1 commented on #1886
[code]

[2016-11-03 02:02] danwwilson commented on #1886
approach from @has2k1 addresses this concern

[2016-11-03 02:02] #1886 closed

[2016-11-03 11:16] hadley commented on #1887
What's the problem here?

[2016-11-03 11:40] Eluvias commented on #1887
Is the `margin()`  parameter of `element_text()` working in `strip.text`?  How do we achieve  horizontal/vertical adjustment ?

[code]

[2016-11-03 11:43] hadley commented on #1887
What do you expect a negative margin to do? But I see that there is a problem. Here's a better reprex:

[code]

[2016-11-03 11:51] Eluvias commented on #1887
re negative margin : similar to this example.

[code]

![gg5](https://cloud.githubusercontent.com/assets/22600883/19964815/d263fe26-a1bb-11e6-829c-9565b0a1bd15.png)

[2016-11-03 11:53] hadley commented on #1887
It's just a coincidence that that works. It should be an error.

[2016-11-03 12:03] Eluvias commented on #1887
If we want  to adjust the `strip.text` and get it closer to the bar columns, what is the preferred approach?
The old approch was via `vjust`.

See this pic.:

![gg5](https://cloud.githubusercontent.com/assets/22600883/19964999/ccc85740-a1bc-11e6-8e6a-1a95cae46917.png)

[2016-11-03 12:48] tdhock opened #1888 "option to turn off warnings?"
Dear ggplot2 developers, is there any option available to turn off warnings? For example

[code]

I tried using the default R mechanism, from `help(options)` it says "If ‘warn’ is negative all warnings are ignored." but that did not work for me.

Even better, could you please introduce some way to ignore all ggplot2-specific warnings? like `options(ggplot2.warn=-1)`

[2016-11-03 17:14] hobrien commented on #619
This has been sorted in the latest pre-release version: https://blog.rstudio.org/2016/09/30/ggplot2-2-2-0-coming-soon/

[2016-11-03 17:28] mavam commented on #619
Great, thanks for announcing this!

[2016-11-04 09:55] garcialeo opened #1891 "Title not cetered after x axis switch"
![rplot](https://cloud.githubusercontent.com/assets/23257338/20001668/93c03596-a27d-11e6-9937-0086e8910cee.png)
Hi,
Maybe it's not a major bug...but I just discovered that when switching x axes to the top, the title is not centered...
[code]
and after trying other things, it seems that labs() doesn't center titles anymore, event without switching axes.
It's strange because in your examples it seem

[2016-11-04 10:04] garcialeo commented on #1891
...and after trying other things, it seems that labs() doesn't center titles anymore, event without switching axes...

[2016-11-04 11:19] Eluvias commented on #1891
That will be the default in v2.2.0 - see [NEWS](https://github.com/tidyverse/ggplot2/blob/master/NEWS.md)

[2016-11-04 13:00] Eluvias opened #1892 "vjust not working in x facets"
`ggplot2 dev version`

It looks that `vjust` is not working within `strip.text.x `

[code]
![gg_fy](https://cloud.githubusercontent.com/assets/22600883/20005985/3d4f8774-a28d-11e6-8756-dec725d8eebd.png)

[code]

![gg_fx](https://cloud.githubusercontent.com/assets/22600883/20006011/644131c0-a28d-11e6-9ab8-cefd61782b89.png)

[2016-11-04 13:07] Eluvias commented on #1887
I opened a  separate issue re `vjust` in ` strip.text.x` #1892 .

[2016-11-04 13:16] #1891 closed

[2016-11-04 15:50] pierrelafortune commented on #1816
I'm having this problem still. I have both ggplot2_2.1.0.9000 and shiny_0.14.2.9000. Using OP's example, I get the warning

[2016-11-04 16:00] wch commented on #1816
@pierrelafortune Does it still happen if you update to the latest version of ggplot2?

[2016-11-04 18:22] pierrelafortune commented on #1816
It works thank you much

[2016-11-05 10:43] luke-a opened #1893 "Documentation of geom_boxplot: How does the weight aesthetic work?"
I did not find anything on how the `weight` aesthetic in `geom_boxplot` / `stat_boxplot` is working. Is it missing? Or did I look at the wrong place?

[code]

[2016-11-06 03:23] yonicd opened #1894 "change a value of an aesthetic that wasn't defined in the original layer/plot call"
is there a way to disconnect a layer from a ggplot object?

i am trying to run this function to create a new ggobject that has a different shape than the original plot.

[code]

which changes the layer in p and pnew.

i also tried

[code]

which again changes the layer in p

also tried changing the environment

[code]

Is there a way to disconnect a layer (ggproto) from the ggplot object environme

[2016-11-06 14:19] hadley commented on #1894
It's not intended that you should make this sort of transformation, sorry.

[2016-11-06 14:19] #1894 closed

[2016-11-06 16:33] yonicd commented on #1894
not intended but now possible

[cloneLayer](https://github.com/yonicd/ggedit/blob/master/ggedit/R/cloneLayer.R)

[2016-11-06 18:50] baptiste commented on #1894
Just for the sake of helping future developers though, could this be noted in a "writing ggplot2 extensions guide"?
It is *very* unexpected for R code to cause such non-local side-effects...

As a side-note, I wonder if instead of capturing the environment at the layer level, which is what seems to be happening, it wouldn't make sense to capture the whole environment required for the entire ggplot

[2016-11-06 19:54] hadley commented on #1894
If you're going to reach inside the internals of ggproto you can't expect anything. It's not recommended and I don't recommend messing with it unless you're already familiar with prototype based OO.

The environment is captured at the plot level, which is suboptimal. Ideally it should be captured by each component of the aesthetic mapping.

[2016-11-07 05:10] danwwilson commented on #1885
Turns out it is my lack of understanding of some changes made to the theming system. When looking at the structure (`str`) of the theme where I was encountering I noticed the `inherit.blank` attribute which is set to `FALSE` by default. I modified this and it resolved my issue.

[2016-11-07 05:10] #1885 closed

[2016-11-07 09:26] krlmlr opened #1897 "geom_tile() does not honor alpha value"
[code]

I see no difference when I omit `alpha = 0.5` in the `geom_tile()` call.

[2016-11-07 13:35] hadley commented on #1897
Because for geoms with both colour and fill, alpha applies only to fill.  (This may have been a mistake but we tried changing it previously and it caused a lot of problems)

[2016-11-07 13:35] #1897 closed

[2016-11-07 16:50] #1877 closed

[2016-11-07 16:52] hadley commented on #1893
It weights the computation of the quantiles.

[2016-11-07 16:54] hadley commented on #1871
But we decided against aligning them to the top, so I think we should change back to the default

[2016-11-07 17:00] #1871 closed

[2016-11-07 17:45] thomasp85 commented on #1871
My personal reason for keeping it was that it would avoid surprises when aligning to the top. It is easier to reason about margins when you can see them (e.g. When placed in plot area) vs when they are invisible (e.g. placed in gutter with same background colour.

Nothing I feel strongly about though

[2016-11-07 18:18] hadley commented on #1871
In general, I agree, but I think in this case it's better to stay backward compatible.

[2016-11-09 13:00] VincentGuyader opened #1898 "error during installation on a fresh new install"
On a totaly new fresh R installation

platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          3.2
year           2016
month          10
day            31
svn rev        71607
language       R
version.string R version 3.3.2 (2016-10-31)
nickname       Sincere Pumpkin Patch

[code]

`

it return an error
[co

[2016-11-09 13:55] hadley commented on #1898
You're just in an awkward time during the CRAN release process. Please try again in a day or two

[2016-11-09 13:55] #1898 closed

[2016-11-10 22:34] hadley opened #1899 "Need theme setting for right/top ticks"
So you can do (e.g.)

[code]

[2016-11-10 23:00] thomasp85 commented on #1899
Yeah, I ran into something similar a couple of days ago (not pink though😊)

[2016-11-10 23:30] hadley opened #1900 "Link to ggplot2 extensions site"
From readme (https://www.ggplot2-exts.org)

[2016-11-13 15:33] sfeuerriegel opened #1901 "scale_color_gray"
ggplot2 usually supports commands in both American and British English. I came across one exception: "scale_color_gray" that appears to be missing.

http://docs.ggplot2.org/0.9.2.1/scale_grey.html#

[2016-11-13 21:59] drsimonj opened #1902 "Ordering within facets"
[This post](https://drsimonj.svbtle.com/ordering-categories-within-ggplot2-facets) discusses a method for differently ordering categories that appear in multiple facets with different values on a continuous variable. As far as I'm aware, there isn't a simple method for achieving this, and @dgrtwo suggested it could be useful for others to have a neat wrapper function or new stat option to handle i

[2016-11-13 22:57] eejd commented on #1489
@oneillkza , Can't you just use the `theme()` for your needs?

[2016-11-13 23:13] orb16 opened #1903 "Length of legend title affects justification of legend keys/labels?"
This produces a nicely centred title (and centred legend text):

[code]

[code]

Here changing the length of the legend title appears to affect the justification of the legend text:

[code]

Using ggplot2_2.1.0 and R version 3.2.4 Revised

[2016-11-13 23:14] has2k1 commented on #1902
@drsimonj, I am surprised that your solution works. The scales do not know about the partitioning of the data done by the facets. So it is by happenstance that when you pass full size vectors as `breaks` and `labels` that they align with the parts created by the facets.

[2016-11-13 23:43] drsimonj commented on #1902
@has2k1 I could be wrong (you'll have a better understanding), but this unusual happenstance was behind my thinking! By combing `arrange` by facet variable and then adding `row_number`, we can be certain that a unique range of integers will correspond to each facet group. Therefore, the full vectors match perfectly.

For example, take a look at the example I give in [this post](https://drsimonj.sv

[2016-11-14 00:10] has2k1 commented on #1902
Indeed it does work, I was just not sure how stable of a solution it is. [Here](
https://github.com/tidyverse/ggplot2/blob/f442f321094a73a24224ef349d28f59f4e8ef7b4/R/scale-.r#L251-L258) the part in the code that hints at what may be edge cases. That is, the solution is relying on the alignment of `NA`s created at that instance because of facetting yet `NA`s may come from missing values or bad stat

[2016-11-14 04:01] drsimonj commented on #1902
Ah, I see what you mean. Thanks for the link! Perhaps there will be a way to handle it.

I'd prefer to find a more robust and generalizable solution if possible.

[2016-11-14 05:53] oneillkza commented on #1489
@eejd In a round-about way (see conversation above), but anyway this problem was solved in #1519 , so I can just use the current version of the package ;)

[2016-11-14 14:39] hadley commented on #1902
This is absolutely an edge case and I would be extremely nervous about relying on it in the long term.

[2016-11-14 15:19] gfiumara opened #1904 "Regression with width aesthetic in documentation"
A warning is omitted when using the `width` aesthetic, but still seems to produce identical plots.

Example from ggplot2 documentation for `geom_tile`:
[2.1 Documentation](http://docs.ggplot2.org/current/geom_tile.html), [Dev Documentation](http://docs.ggplot2.org/dev/geom_tile.html)

[code]

ggplot2 2.2:

ggplot2 2.1:

[2016-11-14 15:34] TomWien opened #1905 "2.2.0 breaks xmin aesthetic"
2.2.0 appears to not like the xmin aesthetic.  The following code works fine in 2.1.0 but fails in 2.2.0:

`
library("ggplot2")

t=data.frame(Name=c("Tom","Dick","Harry"), Start=c(4,5,6), End=c(7,8,9)   )

ggplot(t, aes(y=factor(Name), colour=Name)) +

geom_segment( aes(x=Start, xend=End, y=Name, yend=Name, xmin = 1 ), size=5, lineend="round" )
 `

The error message is:
`Warning: Ignoring unknown

[2016-11-14 16:00] hadley commented on #1905
`geom_segment` doesn't use `xmin`?

[2016-11-14 16:00] #1905 closed

[2016-11-14 18:39] zz77zz opened #1906 "facet_grid 'switch' move the strip in between axis line and axis text"
Hi,
it seems the switch does not work as nicely in the latest version of ggplot2 (2.2.0) as in the previous ones (2.1.x). I get the strip in between axis line and axis text (see the example below).
[code]
![rplot](https://cloud.githubusercontent.com/assets/19784084/20277672/df19c670-aaa1-11e6-815c-12a62cb70925.png)

[2016-11-14 18:43] dwanneruchi opened #1907 "theme_bw() not being recognized"
I was rerunning a script previously used, and am having issues with theme_bw().

For ggplot2_2.2.0, is theme_bw() still supported?

[2016-11-14 18:57] #1907 closed

[2016-11-14 18:57] dwanneruchi commented on #1907
never mind. I got it to work in a smaller sample so most likely something else going on.

[2016-11-14 19:16] samuel-rosa opened #1908 "Using `fortify` with `SpatialPolygonsDataFrame`"
I am using `fortify` with a `SpatialPolygonsDataFrame` so that I can plot the polygons on top of a gridded image. However, when I call `fortify`, I always get the following error:

    Error in get("rgeos", envir = .MAPTOOLS_CACHE) : object 'rgeos' not found

The error is gone if I load the `maptools`-package. I wonder why this is happening.

[2016-11-14 20:30] baptiste commented on #1906
`theme(strip.placement = "outside")`

[2016-11-14 21:13] drsimonj commented on #1902
Maybe there isn't a straightforward and reliable solution in that case. I'll play around with it and use my little hack for specific cases in the meantime.

[2016-11-14 21:48] wch opened #1909 "Warning when unsetting an aesthetic that's not used by a geom"
If you add a geom that uses a different data set, and it does *not* use an aesthetic set in the `ggplot()` call,

In the example below, I'm adding a `geom_linerange()` which uses a different data set from the one specified in the `ggplot()` call. The linerange doesn't have a `y` aesthetic. Its data set, `d2`, also doesn't have the `yval` column which was used in the aesthetic mapping for `y` at th

[2016-11-14 22:10] has2k1 commented on #1902
@drsimonj, I think your goal of facets with x-axis categorical values placed so as to show ascending/descending bar heights is common enough to warrant a general solution. I think the solution will be one of:

1. A function passed to the scale that does the reordering
2. An option to the facet to do the reordering
3. A new hook into the system that could be used for the reordering

Given the curre

[2016-11-15 00:01] hadley commented on #1909
Hmmm, maybe it should not warn for aesthetics set to `NULL`?

[2016-11-15 03:31] wch commented on #1909
Is it possible to have it not try to evaluate the unused aesthetic? I think that would be preferable.

[2016-11-15 05:59] drsimonj commented on #1902
Thanks @has2k1  for such great advice! I've made a start on the `geom` option. Will post updates with anything of value/potential.

[2016-11-15 12:39] zz77zz commented on #1906
OK, thanks. And sorry, that was not an issue!

[2016-11-15 12:39] #1906 closed

[2016-11-15 19:22] tshicelg opened #1910 "ggplot2 2.2.0 load failed"
Please see the error message below:

Thanks!

Error : object ‘f_eval’ is not exported by 'namespace:lazyeval'
In addition: Warning message:
package ‘ggplot2’ was built under R version 3.3.2
Error: package or namespace load failed for ‘ggplot2’

R version 3.3.0 (2016-05-03)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=Eng

[2016-11-15 22:35] hadley commented on #1909
I don't see how that work work and still preserve the intent of flagging problems like `aes(colur = blah)`

[2016-11-15 22:36] hadley commented on #1910
Run `install.packages("lazyeval")`

[2016-11-15 22:36] #1910 closed

[2016-11-15 23:29] andbarker commented on #1909
+1 for not warning when the aes is null.
Mainly because it forces you to explicitly stated when there's a dummy aes.

[2016-11-16 03:40] rcorty commented on #1353
I am making a plotting function.  I would love to be able to guarantee to the user that, e.g., the fill aesthetics will be above the shape aesthetic in the legend.  Seems like this is not possible, since the hash of the object will differ depending on the data the user is plotting?

[2016-11-16 12:52] modche opened #1911 "switch in facet_grid violates axis labels"
When I use switch="x" the facet labels are placed on the left hand side of the graph but between the axis labels and the graph. This isnt done on purpose, is it?
![screen shot 2016-11-16 at 13 50 10](https://cloud.githubusercontent.com/assets/13642619/20348027/eaf05c4e-ac03-11e6-948c-b4439b14e6f8.png)

[2016-11-16 18:17] hadley commented on #1353
@rcorty just set `order` as shown above

[2016-11-16 21:39] YourEconProf opened #1913 "Behavior change in 2.1.0->2.2.0"
I have plotting code that superimposes a line over a stacked bar chart. In ggplot2 2.1.0, this worked fine, and in the proper order (stocks on bottom). I upgraded to 2.2.0 and started receiving the message "Warning: Ignoring unknown aesthetics: factor, order" and  the stacking order changed. Code below demonstrates the issue:

[code]

[2016-11-16 22:15] Myles12345 opened #1914 "Faceting causes error using ggplot2 2.2.0 :"
When trying to facet_wrap, I am receiving the following error:
Error: 'as_tibble' is not an exported object from 'namespace:tibble'

Code below:

[2016-11-16 23:35] ADometrius opened #1915 "ggplotly throwing error when using ggplot2 2.2.0"
library(ggplot2)
library(plotly)

mtcars.p <- ggplot(data = mtcars, aes(x = disp, y = mpg, color = am))
mtcars.p + geom_point()
ggplotly()

Gives the following error:

"Error in gg2list(p, width = width, height = height, tooltip = tooltip,  :
  attempt to apply non-function"

[2016-11-17 01:34] drsimonj commented on #1902
UPDATE that far more experienced ggplot2 contributors might be able to advise on.

I've started by attempting to order data **within a single panel** (not facetting just yet). Here's what I've tried:

**Tried and failed**

1. _New Geom_. I found it relatively easy to create a new Geom that would order data (in `setup_data`), but not axis labels.
2. _New Coord_. In an attempt to solve (1), I create

[2016-11-17 02:58] hadley commented on #1913
I think this is probably what you want:

[code]

If that doesn't help, I'd recommend asking on the ggplot2 mailing list.

[2016-11-17 02:58] #1913 closed

[2016-11-17 02:58] hadley commented on #1914
You'll need to upgrade the tibble package.

[2016-11-17 02:58] #1914 closed

[2016-11-17 02:58] hadley commented on #1915
You need to report this to ggplotly.

[2016-11-17 02:58] #1915 closed

[2016-11-17 03:06] has2k1 commented on #1902
@drsimonj, You bring back memories. There used to be an `order` aesthetic that didn't work well and it met a [death-by-refactor](https://github.com/tidyverse/ggplot2/commit/f809b7b1f47325e713272cfe03b306d2dc56bd8c#diff-b6a51c1de2e5c72523422829ed3adaa6).

[2016-11-17 03:28] ADometrius commented on #1915
Hi Hadley,

I wasn't sure who to report this to as the error only began happening after
installing ggplot2 2.2.0.

Thank you for all of the work you do.

Kind Regards,

Alex Dometrius

On Wed, Nov 16, 2016 at 8:58 PM, Hadley Wickham <notifications@github.com>
wrote:

--
Alex Dometrius
Business Analyst / Laboratories Manager
Las Colinas Pharmacy

[2016-11-17 14:26] hadley commented on #1902
But `order` never affected the scales

[2016-11-17 15:52] tsilver83 commented on #1911
I'm having the same issue.  Even if I use the example at http://docs.ggplot2.org/current/facet_grid.html:

data <- transform(mtcars,
                  am = factor(am, levels = 0:1, c("Automatic", "Manual")),
                  gear = factor(gear, levels = 3:5, labels = c("Three", "Four", "Five"))
)
p <- ggplot(data, aes(mpg, disp)) + geom_point()
p + facet_grid(am ~ gear, switch = "both")

I get
![

[2016-11-17 19:52] luke-a commented on #1893
Thanks

[2016-11-17 19:52] #1893 closed

[2016-11-17 20:31] drsimonj commented on #1902
Thanks, @has2k1. I'm showing my (lack of) experience with that! Still, I can see that the previous `order_groups` just executed `data[order(data$order), ]`, which will order the rows but not the plot. What I've done converts non-numeric x or y to a factor with ordered levels (therefore being taken into account by scales, as @hadley pointed out). Do you think this is a direction worth pursuing?

[2016-11-17 21:19] modche commented on #1911
Yes, I tested some other cases, all the same, for me it is looking like a bug. I downgrade to ggplot 2.1 for now...

[2016-11-17 21:32] thomasp85 commented on #1911
As per the news file and docs the placement of the strip is now controlled with the `strip.placement` theme argument e.g. `theme(strip.placement = 'outside')`

[2016-11-17 21:32] #1911 closed

[2016-11-17 21:34] modche commented on #1911
Ok, thanks, please consider to use `'outside'` as standard (as before).

[2016-11-17 21:48] has2k1 commented on #1902
Yes it is worth pursuing. I think you should create a PR out of what you have so far that we can have an easy place to discuss the implementation. I have a suggestion on that front.

[2016-11-18 11:20] crj32 opened #1918 "The titles are off center in all my plots now"
Hi this simple code (and all my scripts from this morning) has started giving me a off center title in ggplot2

Ubuntu version: 16.04 R studio version: Version 0.99.896 R version: 3.3.2 GGPLOT2 version: 2.2.0

I have freshly installed the above this morning to try and fix this....

dat <- data.frame(
time = factor(c("Lunch","Dinner"), levels=c("Lunch","Dinner")),
total_bill = c(14.89, 17.23)
)

#

[2016-11-18 11:25] crj32 commented on #1918
If you can reply to me on chris.r.john86@gmail.com

[2016-11-18 11:50] thomasp85 commented on #1918
This is a documented change in v2.2.

[2016-11-18 11:50] #1918 closed

[2016-11-19 03:07] lgautier commented on #1826
@aphalo

I am experiencing this with latest R (3.3.2-patched) and ggplot2 (2.2.0). Do you know whether the fix for issue #1872 was meant to fix it ?

[2016-11-19 05:51] liuyadong opened #1919 "does not work when column name has space"
A minimal example here,
[code]
the output is
![rplot](https://cloud.githubusercontent.com/assets/7848019/20453411/308db746-ae67-11e6-804d-09be92cdefaa.png)

[2016-11-19 13:26] hadley commented on #1919
You need to use backticks not single quotes

[2016-11-19 13:26] #1919 closed

[2016-11-20 06:44] liuyadong commented on #1919
Aha, Thank you hadley! @hadley

[2016-11-21 07:56] grayskripko opened #1920 "Typos in NEWS for version 2.2.0"
"We have also added the following new fatures."
It will use the timezone attached to the varaible
If present, NAs are shown in discete
Only issue one warning when when
The documentation (including exampes)
annotation_x() now works in the absense

[2016-11-21 13:33] hadley commented on #1920
Can you please do a pull request?

[2016-11-21 13:33] #1920 closed

[2016-11-21 20:45] eipi10 opened #1922 "ggplot2 2.2.0 seems to break gtable::gtable_add_grob"
In plots with nested facet categories, ggplot2 repeats the facet label for the "outer" category, rather than having a single spanning facet across all the sub-categories. I have some code that I've been using to cover the outer facets with a single spanning facet strip using `gtable_add_grob` from the `gtable` package. However this code no longer works with ggplot2 2.2.0 (see below for details on

[2016-11-21 21:09] thomasp85 commented on #1922
This is not really a bug as ggplot2 has never promised any "consistency" in the intermediate gtable it creates. The facet rewrite has changed the construction and layout of the gtable object in many ways that could explain why your code no longer works, but there is nothing that hinders your code to be adapted to the new version...

[2016-11-21 21:09] #1922 closed

[2016-11-21 23:20] eipi10 commented on #1922
Thanks for your reply Thomas. I just compared the structure of the facet strip grobs of the original plot `p` (from code in my initial post) under v2.1 and v2.2 and I'm a bit mystified. I've pasted the grob structures in below for reference.

I figured that maybe I could just change the `t` and `l` arguments in `gtable_add_grob` to whatever the new row values are for the facet grobs. However, note

[2016-11-22 15:56] aphalo commented on #1826
@lgautier No it was not meant to fix it. 'ggtern' package's code needs an update before it will work. I do not know how big a rewrite is needed, but ggtern has code modifying ggplot2's internal functions, and redefines generics like ggplot. One of these functions has apparently been removed or renamed in ggplot. I think the maintainer plans an update but I have no idea when he will do it. The git

[2016-11-23 16:07] lgautier commented on #1826
@aphalo Thanks. I am asking the maintainer whether issue tracking could be enabled.

[2016-11-23 19:45] aphalo commented on #1826
@lgautier He made several commits today. Looks like he will soon submit the update to CRAN.

[2016-11-24 02:04] johnmutuma5 opened #1926 "Working with geom_polygon and distribution charts"
@hadley, while creating choropleth maps and using geom_polygon to visualize spatial data, I have been looking for a way to use ggplot2 to draw a bar/pie chart at the centroids of each/selected polygons with `stat = "identity"`

[code]

For instance, in this data df, how would you add a pie/bar to show Male against Female for each/selected observation(s)? I know that I could play around with the ba

[2016-11-24 12:57] tdhock commented on #1888
hey @hadley could you please consider adding support for the `ggplot2.warn` option?

[2016-11-25 00:17] miguelazo82 commented on #1068
I am having the same problem with different widths - has an option for constant width of errorbars been included in the mean time?

[2016-11-25 04:21] joe-bh commented on #1899
I also ran into a situation where the right/top axis and ticks need some customization.
Looking forward to see this feature in ggplot2 :+1:

[2016-11-25 14:12] jatinarora-upmc opened #1927 "New line character for annotate when parse = T"
Hi, I desperately need help.

I am plotting with ggplot2. I use annotate to insert text, in which:
~ inserts space
== inserts equal to
What should i use for new line character?

Thank you very much, Jatin

[2016-11-25 14:48] #1927 closed

[2016-11-25 18:02] tr8dr commented on #1635
I have pulled the latest from the official CRAN repo and also pulled the latest from source.   I see the same problem, getting the exact same behavior as seen above.

[2016-11-25 18:13] thomasp85 commented on #1635
As described in the release notes the left justification is intentional

[2016-11-27 20:47] vnijs opened #1928 "facet_grid(a ~ a) produces an error"
FYI The example from #1153 now produces the error below and does not create a plot

[code]

[2016-11-28 04:36] tobiasgerstenberg opened #1929 "clipping with facets"
It used to be possible to put text outside of the plots by turning off the clipping. This doesn't seem to be possible anymore in plots that use facets (but still works if no facets are used). It would be great if this could be fixed such that it's possible to put text outside of plots even when using facets.

Here is a minimal working example:
[code]

[2016-11-28 11:00] DarioS opened #1930 "Angled Axis labels Can Extend Beyond Plot But Perpendicular Labels Never Do"
The example below shows that long axis labels which are on a slope may be partly outside of the plotting areas. But, no matter how long the perpendicular axis labels are made to be (e.g. try `rpois(10, 1000000000)` instead), the plot adjusts to ensure they are always completely visible. Could this work for both kinds of angles by default? The example should be viewed in an approximately square plo

[2016-11-28 16:48] hadley commented on #1926
I'm not planning to add better pie chart support to ggplot2, so pursuing in a separate package (as you are doing) is the way to go.

[2016-11-28 16:48] #1926 closed

[2016-11-28 16:56] hadley commented on #1928
@thomasp85 can you please take a look?  I don't think we need to make this work, but it should give a more informative error message.

[2016-11-28 23:05] Ax3man opened #1931 "gam in geom_smooth doesn't use s() when manually specified:"
Consider:

    ggplot(diamonds, aes(price, carat)) + geom_smooth()

    ##`geom_smooth()` using method = 'gam'

![rplot](https://cloud.githubusercontent.com/assets/15309336/20689775/4476be26-b5c7-11e6-9194-5742d664d0f9.png)

But with manual specification of the method:

    ggplot(diamonds, aes(price, carat)) + geom_smooth(method = "gam")

![rplot04](https://cloud.githubusercontent.com/assets/1530

[2016-11-29 04:08] logworthy opened #1932 "Unable to use fixed alpha aesthetic when color is mapped to a factor"
I'm trying to use a fixed alpha aesthetic to manually highlight points in a plot.  It fails when color is mapped to a factor.

[code]

Tested on version 2.2.0

[2016-11-29 11:13] metanoid opened #1933 "Inconsistency in required aesthetics between errorbar and errorbarh"
In [the geom_errorbar code](https://github.com/tidyverse/ggplot2/blob/master/R/geom-errorbar.r),
the required aesthetics are
`required_aes = c("x", "ymin", "ymax"),`

However, in [the geom_errorbarh code](https://github.com/tidyverse/ggplot2/blob/master/R/geom-errorbarh.r),
the required aesthetics are
`required_aes = c("x", "xmin", "xmax", "y"),`

In other words, the `x` aesthetic is required for

[2016-11-29 18:58] kendonB commented on #1244
Making this explicit and separated by axis would be a welcome addition. For example, I'd like to be able to choose the x-value of an annotation explicitly and have the y-value 50% up the plot.

[2016-11-29 19:06] baptiste commented on #1244
@kendonB `qplot(1:10,1:10, geom="blank") + annotation_custom(textGrob("y centered"),xmin=3,xmax=3)`

[2016-11-29 19:26] kendonB commented on #1244
Thanks so much @baptiste. Is there any way to also have hjust/vjust in this?

[2016-11-30 14:28] hadley opened #1935 "Optional to use global width in position_dodge"
i.e. all bars are given the width needed by the x-level with the most group-levels.

[2016-11-30 18:45] bearloga opened #1936 "Secondary date/datetime axis (to show an alternative tz, for example)"
I'm trying to add a secondary axis to a datetime axis so the audience has a reference for the times in another timezone, but it appears`sec.axis` has not been implemented for date/datetime scales (yet).

Example:

[code]

which I envision yielding:

![tz](https://cloud.githubusercontent.com/assets/1807519/20765740/83f4c206-b6e8-11e6-83fa-208cea62524a.png)

which I faked via:

[code]

[2016-11-30 20:53] ericpgreen opened #1937 "Computation failed in stat_summary()"
As described [here](http://stackoverflow.com/questions/40880106/computation-failed-in-stat-summary-only-when-running-in-rstudio-project?noredirect=1#comment68992183_40880106), I received the following warning when I had an object in my environment called `mean`.

[code]

A more informative warning would be helpful if possible to implement.

[2016-12-01 03:09] sritchie73 opened #1938 "Draw order ignores group factor levels"
When plotting data with different groups, I had expected that the draw order of said groups to follow the factor levels. However, the draw order seems to be entirely dictated by the order of points in the data frame:

A basic example:

[code]

[2016-12-01 05:48] eipi10 commented on #1922
Just to close the loop for anyone else who ends up here, I asked a question about this on Stack Overflow and SO user Sandy Muspratt [provided code to create spanning facets](http://stackoverflow.com/a/40838827/496488) within the new grob structure of ggplot2 2.2.0.

[2016-12-01 13:04] Mait22 opened #1939 "geom_smooth() warning about ymin/ymax"

[2016-12-01 14:23] hadley commented on #1938
Yes

[2016-12-01 14:23] #1938 closed

[2016-12-01 14:34] hadley commented on #1939
Please provide a reproducible example. There are three things you need to include to make your example reproducible: required packages, data, and code.

1.  **Packages** should be loaded at the top of the script, so it's easy to
    see which ones the example needs. This is a good time to check that you're
    using the latest version of each package: it's possible you've discovered
    a bug that

[2016-12-01 19:01] cyberang3l commented on #1267
Is there any solution to the _cross_ problem demonstrated by @rdcomineor when using both geom_hline and geom_vline?

[2016-12-01 20:47] rietho opened #1940 "axis order for factor disordered by adding geoms with different subsets of the data"
When adding geoms to a ggplot with different subsets of the original data the order of the axis changes from factor level order to alphabetical order.

Here a minimal working example:
[code]

[2016-12-02 03:10] 0LEI0 commented on #1918
I also meet the same problem, and don't konw what to do! Have you solved the problem?

[2016-12-02 03:15] 0LEI0 commented on #1918
use ... + theme(plot.title = element_text(hjust = 0.5))
this is a method that work

[2016-12-02 07:22] cderv commented on #1918
@0LEI0 it is not a problem. It is on purpose in the last version v2.2 of ggplot2 as it was said.
Have a look at the documentation [on the new website](http://ggplot2.tidyverse.org/articles/releases/ggplot2-2.2.0.html) for more info and other changes.
The method you found is the good and documented one :

[2016-12-02 07:24] gaodianzhuo opened #1941 "facet_grid wrong"
R version 3.3.2 (2016-10-31) -- "Sincere Pumpkin Patch"
Copyright (C) 2016 The R Foundation for Statistical Computing
Platform: i386-w64-mingw32/i386 (32-bit)

错误: 'as_tibble'不是'namespace:tibble'内的出口对象：

[2016-12-02 11:56] Martin119 opened #1942 "Changed order in geom_bar in comparison with ggplot2 v1"
Hello, this small example produces chart with different order of items with ggplot2  1.0.1 and 2.2.0

Cannot see the reason - the old one seems correct the newer unexpected (legend is the same)

library(ggplot2)
library(data.table)

c1 <- c(1,2)
c2 <- c("first","second")
c2 <- factor(c2, levels = c("first","second"))
c3 <- c(0.7,0.3)
ct <- data.table(c1,c2,c3)

ggplot(ct, aes(x=1,y=c3,fill=c2))+ge

[2016-12-02 12:17] cderv commented on #1942
Look at the changes in new v2.2.0 version of ggplot2. It is explained what changed.
The website for documentation of v2.2 release [here](http://ggplot2.tidyverse.org/articles/releases/ggplot2-2.2.0.html). Look at the part on *Stacking Bars*

[2016-12-02 12:48] Martin119 commented on #1942
Thank you for explanation.

I am not happy with this kind of changes.

[2016-12-02 15:22] hadley commented on #1941
I can't read Chinese, but I'm guessing you need to update the tibble package.

[2016-12-02 15:22] #1941 closed

[2016-12-02 15:23] hadley commented on #1942
@cderv thanks for helping people out with these issues, it's much appreciated!

[2016-12-02 15:23] #1942 closed

[2016-12-02 16:07] cderv commented on #1942
@hadley No problem ! I am glad I can be helpful.  And if it is appreciated I will continue to do so!
If you need more from me, do not hesitate.

[2016-12-02 18:37] 0LEI0 commented on #1918
@cderv  thank you very much! ggplot2 is a very powerful plot machine!

[2016-12-05 11:54] simonrolph commented on #1939
I have also encountered this issue, here's an example:

[code]
  _
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          3.1
year           2016
month          06
day            21
svn rev        70800
language       R
version.string R version 3.3.1 (2016-06-21)
nickname       Bug in Your Hair

[2016-12-05 13:13] simonrolph commented on #1939
Just tried it (on a different computer) with ggplot2 2.1.0 and got no error, then with ggplot2 2.2.0 and got the error.

[2016-12-05 13:39] hadley commented on #1939
Can you please provide a _minimal_ example. You should be able to recreate the problem with ~4 lines of code

[2016-12-05 13:42] hadley opened #1943 "Update citation for 2nd edition of book"

[2016-12-05 16:32] simonrolph commented on #1939
[code]

[2016-12-05 20:04] twolodzko opened #1944 "ggplot 2.2.0 throws 'could not find function "facet_train_layout"' error"
In R 3.3.2 on Ubuntu linux ggplot 2.2.0 throws the following error on `example(ggplot)` and basically at any attempt to plot anything:

[code]

This error occurs when using from RStudio and after restarting R, clearing the environment, detaching all other packages etc. It appears also when running R from console from fresh session (no other libraries loaded etc.). It does _not_ appear only when la

[2016-12-05 20:49] matsepp opened #1945 "geom_bar on r 3.3.2, inverted order ?"
Hi,

I don't think this has been reported already...

Using R version 3.3.2 (on osx sierra) , compared to oldest version

the geom_bar categories are stacked from top to bottom instead of bottom to top... the following code

[code]
gives these two different results:

<img width="1074" alt="screen shot 2016-12-05 at 21 44 45" src="https://cloud.githubusercontent.com/assets/20416725/20901725/1fc62ca

[2016-12-05 20:58] hadley commented on #1945
Please see the release notes, blog post, etc.

[2016-12-05 20:58] #1945 closed

[2016-12-06 19:07] JoWi2 opened #1946 "title not centered anymore"
I'm using ggplot for a series of graphics, and I recently updated ggplot2.
The other day, I noticed that all my graphs (code unchanged) have their title alligned left, which has not been like that before.
Has this been changed as a new default? Can this be fixed/undone? How do I get my titles centered again?

[2016-12-06 19:24] hadley commented on #1946
Please see the blog post or release notes

[2016-12-06 19:24] #1946 closed

[2016-12-07 12:31] mbuttner opened #1947 "stacked barplot - heights add up inaccurately"
I want to the explained variance of a principal component analysis as bars - y-axis depicts the explained variance per component (and it is scaled by square root). Then, I computed how each PC correlates to a certain factor, i.e. I want to split the bars into two parts and after stacking, they are supposed to have exactly the same height than a single (non-split) stack.
However, what happens is th

[2016-12-07 18:25] hadley commented on #1947
Please provide a reproducible example. There are three things you need to include to make your example reproducible: required packages, data, and code.

1.  **Packages** should be loaded at the top of the script, so it's easy to
    see which ones the example needs. This is a good time to check that you're
    using the latest version of each package: it's possible you've discovered
    a bug that

[2016-12-08 14:38] yonicd opened #1949 "annotation_logticks not synched with minor grid line breaks"
[code]

![image](https://cloud.githubusercontent.com/assets/1755487/21013955/f69fe44c-bd29-11e6-9f27-82b32bf8cb3c.png)

[2016-12-08 18:07] infotroph opened #1950 "Should strip.placement use default when set to unknown value?"
[code]

In 2.2.0 the default strip placement appears to be "inside":

[code]

![screen shot 2016-12-08 at 12 50 07 pm](https://cloud.githubusercontent.com/assets/1256435/21021040/e8b4f726-bd44-11e6-9690-c3969b6b55e8.png)

But setting `strip.placement` to any value other than "inside" produces an outside placement:

[code]

![screen shot 2016-12-08 at 12 51 40 pm](https://cloud.githubusercontent.co

[2016-12-08 21:30] billdenney commented on #86
While the issue is closed, there are two good solutions.  I wonder if either @thomasp85 or @guiastrennec would perhaps suggest a pull request to ggplot that would enable your feature to provide a "page" argument to both `facet_wrap` and `facet_grid`?

[2016-12-08 22:57] guiastrennec commented on #86
Thank you for your interest @billdenney. Unfortunately `ggplus::facet_multiple()` is no longer compatible with ggplot in v2.2.0 unlike `ggforce`.

[2016-12-11 21:15] hfang-bristol opened #1952 "support hexagons in geom_point?"

[2016-12-11 21:34] hadley commented on #1952
geom_point is restricted to the shapes provided by base R/grid.

[2016-12-11 21:34] #1952 closed

[2016-12-12 01:03] duttashi commented on #1899
@hadley I am not able to reproduce the above code. I get the following error,  `Error in data.frame(yintercept = yintercept) :  object 'l_breaks' not found`
is there something I'm missing with? My environment variables are `> version
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          3.1
year

[2016-12-12 03:18] tobiasgerstenberg commented on #1929
replacing `gt$layout$clip[gt$layout$name=="panel"] = "off"` with `gt$layout$clip = "off"` solves the problem

[2016-12-12 03:18] #1929 closed

[2016-12-13 17:05] robertamezquita opened #1953 "Overlapping points in exporting via ggsave"
Saving as a PDF, ggplot2 exports all layers in the plot. While this usually is a good thing, in the case of very dense scatter plots this presents an issue of overplotting, and slows any vector graphics suite down to a crawl when there thousands of points. Might there be a way to simplify a dense scatter plot such that it only draws the top-most layers? Probably too specific of an issue that could

[2016-12-13 17:33] DarwinAwardWinner opened #1954 "ggplot2 pipe support proof of concept (with full backward-compatibility)"
**Edit: Look at the [comment below](https://github.com/tidyverse/ggplot2/issues/1954#issuecomment-266836115) for a better implementation.**

After reading somewhere that you (Hadley) wished you could have designed ggplot2 using the magrittr pipe instead of the plus sign, I wondered whether it was possible to add support for the pipe without breaking old code. After a good bit of tinkering, I came

[2016-12-13 17:59] DarwinAwardWinner commented on #1954
Here's an alternate way of achieving the same thing. I'll let you decide how evil this method is.

[code]

[2016-12-13 19:26] DarwinAwardWinner commented on #1954
Also, this seems to work:

[code]

[2016-12-13 19:55] minoo77777 opened #1955 "Error in plotting scatter plot using GGally package"
I want to plot a scatterplot using GGally package. My data frame contains these numbers

[code]
I wrote these code:

[code]
but I faced this error
[code]
I would be really grateful for your kind help.

[2016-12-13 23:07] minoo77777 commented on #1955
@schloerke Sorry to mentioned you, But I think you can help me to solve this problem.

[2016-12-13 23:12] schloerke commented on #1955
@minoo77777 np!  Go ahead and close this issue here as the problem lies with ggscatmat

Can you resubmit it to github.com/ggobi/ggally/issues ?  I'll take a look at it tonight or tomorrow.

Thank you

[2016-12-13 23:32] minoo77777 commented on #1955
@schloerke I resubmitted it. Thanks a lot.

[2016-12-13 23:33] #1955 closed

[2016-12-14 04:34] jakob-petereit commented on #1695
Is there any update on this ? I couldn't find the new question on this on stack overflow.
I would really need the staggering axis text. Cheers!

[2016-12-14 05:33] hadley opened #1956 "Autolayer"
S3 generic that generates a layer.

[2016-12-14 18:26] schloerke opened #1957 "error displaying VERY large numbers"
Hello,

@minoo77777 is trying to display numbers that are **very** large and ggplot2 is having problems displaying the plot object.

Small repro example:

[code]

Thank you for the help,
Barret

[2016-12-14 20:17] minoo77777 commented on #1957
@schloerke Thanks a lot for your attention. Really appreciate it.

[2016-12-15 14:02] minoo77777 commented on #1957
@hadley sorry for mentioning you. Would you please help me to solve this problem?

[2016-12-16 15:56] jakob-r opened #1958 "geom_hline breaks faceting functionality"
and `geom_vline` as well.

Try out the following code:
[code]

[2016-12-16 22:47] nteetor opened #1959 "layer quietly renames certain parameters"
Motivated by exercise 2 under section "Creating a new stat" of the "Extending ggplot2" vignette.

### case 1 (no warning generated)

Parameters named col, color, pch, cex, lty, lwd, srt, adj, bg, fg, min, or max (see `ggplot2:::.base_to_ggplot`) are renamed without warning when passed to layer(). Values do get passed to methods such as `setup_params()`, but as the renamed names. See the following

[2016-12-17 17:30] victorn1 opened #1960 "Rstudio crashes on a simple ggplot 2 graph Zoom out"
The commands:

require(plotly)
q=qplot(1:10,1:10)
ggplotly(q)

Then select an area with the default zoom tool, and then press Zoom out.

After that Rstudio crashes.

I use the latest versions of Rstudio (1.0.44) and R (3.3.2 64 bit - Windows). All the R packages are updated to the latest versions.

[2016-12-17 17:34] #1960 closed

[2016-12-18 18:24] DarwinAwardWinner commented on #1954
Admittedly, this modified pipe operator doesn't work for cases where a non-gg function follows a gg function, like this:

[code]

[2016-12-18 21:07] minoo77777 commented on #1957
@wch Excuse me, Could you please help me to solve this problem?

[2016-12-20 10:45] simonspr opened #1961 "Time plot renders differently under 2.2.0"
I have a important plot which used to render nicely in ggplot 2.1.0, but renders differently under the latest version 2.2.0. I'm running R 3/3/2, all other packages updated .Please take a look please advise if I can still render the same type of graph using ggplot 2.2.0.

Here's the R data.

[code]

This gives the plot below under ggplot 2.1.0. Note the bars are kept separate and are not aggregate

[2016-12-20 18:21] DaveCooper opened #1962 "no tick mark at y=0 with scale_y_sqrt()"
I cannot get a tick mark at y=0 when using scale_y_sqrt, even if I explicitly ask for a break at y=0.  Here's a simple example:

require(ggplot2)

d = data.frame(x=0:5, y=0:5)

ggplot(d, aes(x, y)) +
  geom_point() +
  scale_y_sqrt(breaks=0:5)

thanks,

Dave

my sessionInfo, in case it's useful:

R version 3.3.1 (2016-06-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (b

[2016-12-20 19:12] ckukunda opened #1963 "ScalesList was built with an incompatible version of ggproto."
I reinstalled R and R studio. The session info output looks like this:
----
sessionInfo()
R version 3.3.2 (2016-10-31)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=German_Germany.1252  LC_CTYPE=German_Germany.1252    LC_MONETARY=German_Germany.1252
[4] LC_NUMERIC=C                    LC_TIME=German_Germany.1252

attached base packag

[2016-12-20 20:26] hadley opened #1964 "coord_albers_usa"
Like d3 https://github.com/d3/d3-geo/blob/master/src/projection/albersUsa.js

[2016-12-20 21:27] nachiket commented on #258
This workaround seems to fail when using group=factor(BLAH) in the main aes() for ggplot2() call. I had to  move the group() into individual geom_line() and geom_point() calls intead of the main ggplot2() call.

[2016-12-21 05:20] mgruebsch opened #1965 "Change stacking behaviour in ggplot2 2.2.0 geom_bar collide with unchanged behaviour of geom_text"
According to the blog https://blog.rstudio.org/2016/11/14/ggplot2-2-2-0/ (and my own observations) the stacking behaviour of geom_bar has been reversed such that the order of items is the same as in the legend.

In some scenarios stacked bar charts (geom_bar) are combined with stacked text labels (geom_text). Because geom_text seems not to be changed accordingly, the charts are wrongly formatted n

[2016-12-21 14:18] flying-sheep opened #1966 "Add option for range ticks (tick labels between tick marks)"
Achieving this with built-in methods is [pretty hacky](http://stackoverflow.com/a/22221898/247482), and a more generic way on top of ggplot2 still involves combining a special scale and a special theme, none of which make sense in isolation. (the scale has every second tick labeled, and the theme hides the dummy ticks and grid lines.)

Idk how to do this best, as it deviates from the 1:1 relations

[2016-12-22 01:00] sjackman opened #1967 "geom_hex: Add weight parameter [feature request]"
Please consider adding a weight parameter to `geom_hex`, similar to `geom_bin2d`. Thanks!

[2016-12-25 07:08] AghaMehrdad commented on #1910
installing the "lazyeval" package didn't resolve the issue.

[2016-12-27 19:18] bgoodri opened #1968 "ggplot2::waiver throws a warning on r-devel"
The recent R commit r71841 deprecates what `ggplot2::waiver` does. In the development version of R,
[code]
yields

In structure(NULL, class = "waiver") :
  Calling 'structure(NULL, *)' is deprecated, as NULL cannot have attributes.
  Consider 'structure(list(), *)' instead.

This is leading to some largely spurious test failures in other packages that use `testthat::expect_silent()` but end up cal

[2016-12-28 16:42] Monduiz opened #1969 "wrong dates with a simple plot."
With a simple serie of dates, ggplot is wrongly plotting the entries after conversion to date. I am not sure I understand this behavior.

[code]

Shouldn't the entries appear correctly? A month is skipped and data points appear at the wrong date.
However, is using month(d$month), then it will work. Why cant the actual date be used in the plot? There is something I am missing.

[2016-12-28 20:45] EmanuelContreras commented on #1969
You have to change the datatype of "month" in ggplot() as character:
[code]
![rplot08](https://cloud.githubusercontent.com/assets/22753863/21531266/9877ba98-cd14-11e6-95ae-524add898039.png)

[2016-12-28 21:02] Monduiz commented on #1969
So the plot can only use characters or factors in this case?

[2016-12-29 15:14] analca3 opened #1970 "geom_smooth() discrepancy between "auto" and "gam" methods"
Hi! I'm not an expert with ggplot but I like it very much. I think I've found a bug.

ggplot version 2.2.0 from CRAN. R 3.3.2 from ArchLinux repos.

I've plotted `diamonds` dataset from ggplot and I don't understand this behaviour of geom_smooth.

[code]
It returns this as a warning

[code]

![image](https://cloud.githubusercontent.com/assets/3939991/21546752/77dc6fc2-cde1-11e6-9042-4821ef80c787.p

[2016-12-29 20:07] bbolker commented on #1968
just to follow up:

- occurs [here](https://github.com/tidyverse/ggplot2/blob/cb3bdde0e0ba65be3042083092eb397057af8e3f/R/utilities.r#L149)
- being discussed on `r-pkg-devel` [here](https://stat.ethz.ch/pipermail/r-package-devel/2016q4/001228.html)

[2016-12-29 21:42] ChandlerLutz commented on #1659
A workaround is to manually set the breaks to give the plot dimensions. For example, the following works:

ggplot(df, aes(x = date, y = n)) +
  geom_vline(xintercept = as.numeric(df$date[5])) +
    geom_point() +
    scale_x_datetime(breaks = df$date)

see ?scale_date

[2016-12-30 00:52] infotroph commented on #1969
You're specifying a continuous x-axis—Despite the name, "month" is actually a date with precision down to the day. This is no problem for geom_bar, but it doesn't do any rounding, so the second bar is centered on September 30th, exactly where the data specify!

To get the plot you were expecting, change `d$month <- ymd(d$month)` to `d$month <- month(d$month)`, optionally with `label=TRUE`.

[2016-12-30 03:28] sathishsrinivasank opened #1971 "ggplot2 add separate legend each for two Y axes in facet plot"
I posted this question on [stackoverflow here](http://stackoverflow.com/q/41390181/1691723)
I am trying to add legends next to axis titles. I followed [this stackoverflow answer][1] to get the plot.

**How to add legend on two y axes?**. I would like to have legend on both left and right Y-axes. In the plot below, the right y-axis lacks legend symbols.

**Also is it possible to give unique color f

[2016-12-30 07:54] swimmingsand opened #1972 "ggplot2 geom_bar graph label order is wrong,how to correct it?"
I an learning the ggplot2 graph system.  But there is something wrong.

## step 0, load library

[code]

## step1, print the data

[code]

## step 2, sorted data by Date and Cultivar

[code]

## step 3, draw a graph

[code]

![image](https://cloud.githubusercontent.com/assets/2804153/21561414/4ed95f24-cea7-11e6-86d1-0cd90b430892.png)

## error

in d20, the label is incorrect, is there something wr

[2016-12-30 17:11] #1968 closed

[2016-12-30 20:05] hadley opened #1974 "Implement geom_auto"
Should be S3 generic that dispatches on the type of the `data` argument, which will need to come first.

Helpful for forecast (@robjhyndman) and sf objects.

[2016-12-30 20:05] hadley commented on #1974
Possibly should be `auto_geom()` or `auto_layer()` since arguments will be rather different to most geoms.

[2016-12-30 20:57] hadley opened #1975 "Export and document scale_type"
So others can use it for there list-columns (and other S3 types)

[2016-12-31 03:54] robjhyndman commented on #1974
We are using `autolayer()` in the forecast package (github version). Could change to `auto_layer()` if you prefer, but we need to decide soon to avoid broken code down the track. I plan to push a new CRAN version of the forecast package in about a month.

[2017-01-02 23:40] hadley commented on #1972
You didn't supply a reproducible example, but I suspect this will fix the problem:

[code]

[2017-01-02 23:40] #1972 closed

[2017-01-02 23:40] hadley commented on #1971
It is not possible to have two legends.

[2017-01-02 23:40] #1971 closed

[2017-01-02 23:41] hadley commented on #1970
Duplicate of #1951

[2017-01-02 23:41] #1970 closed

[2017-01-02 23:43] hadley commented on #1969
The problem is that you have fat bars and coarse breaks on the x-axis:

[code]

[2017-01-02 23:43] #1969 closed

[2017-01-02 23:44] hadley commented on #1967
It's already supported?

[2017-01-02 23:44] #1967 closed

[2017-01-02 23:45] hadley commented on #1966
I really don't like this style of labelling (what _do_ the labels correspond to), and it would be a lot of work so it's unlikely to ever get implemented.

[2017-01-02 23:45] #1966 closed

[2017-01-02 23:45] hadley commented on #1965
Make sure to specifying the `group`ing for the text.

[2017-01-02 23:45] #1965 closed

[2017-01-02 23:46] hadley commented on #1963
I'd recommend re-installing all your packages.

[2017-01-02 23:46] #1963 closed

[2017-01-02 23:46] hadley commented on #1962
Duplicate of #980

[2017-01-02 23:46] #1962 closed

[2017-01-02 23:55] hadley commented on #1961
You can work around it by adding a unique identifier for each row and grouping by that:

[code]

The default stacking is now more aggressive than it used to be. I need to think about this a bit more.

Here's a minimal reprex:

[code]

[2017-01-02 23:57] hadley commented on #1958
Yes, this is a known limitation of facetting with a function - the variables you use have to be present on every layer.

[2017-01-02 23:57] #1958 closed

[2017-01-02 23:57] hadley commented on #1956
Duplicate of #1974

[2017-01-02 23:57] #1956 closed

[2017-01-02 23:57] hadley commented on #1954
I think this is fun to play around with, but I think there are too many reasons not to change ggplot2 in this way.

[2017-01-02 23:57] #1954 closed

[2017-01-02 23:58] hadley commented on #1953
I'd recommend using `geom_hex()` or similar instead.

[2017-01-02 23:58] #1953 closed

[2017-01-02 23:58] #1947 closed

[2017-01-02 23:59] hadley commented on #1944
You probably need to reinstall something. Sorry I can't be more specific 😞

[2017-01-02 23:59] #1944 closed

[2017-01-02 23:59] hadley commented on #1940
Use `scale_x_discrete(drop = FALSE)`

[2017-01-02 23:59] #1940 closed

[2017-01-03 03:09] DaveCooper commented on #1962
Thanks, Hadley.  Much more complicated than I had imagined!

Happy New Year!

Dave

[2017-01-03 08:20] mgruebsch commented on #1965
Here is an example:

    library(ggplot2)

    x <- data.frame(
      a=c("A", "A", "B", "B"),
      b=c("x", "y", "x", "y"),
      m=c(4, 8, 7, 3)
    )

    # Example 1: label at the top of the bar segment

    ggplot(x, aes(x=a, y = m)) +
      geom_bar(stat="identity", aes(fill=a, alpha=b)) +
      geom_text(position = "stack", aes(label=m), vjust=-0.3, size = 3) +
      scale_alpha_discrete(r

[2017-01-03 09:36] rietho commented on #1940
Thanks. Of course you are right, that I missed the `drop`-parameter.

[2017-01-03 14:21] hadley commented on #1965
As I said in my very brief comment, all you need to do is make sure that the grouping is consistent across the text and fill layers:

[code]

[2017-01-03 14:53] mgruebsch commented on #1965
This works perfectly with the first example; thank you.

However, I don’t see that it is a solution for the second example with centered text labels, because the label positions are precomputed. Is there a simpler way to center the labels without precomputed positions?

[2017-01-03 15:04] hadley commented on #1965
See the example in `?position_stack`

[2017-01-03 15:07] simonspr commented on #1961
Hi Hadley

Thanks for your reply. We are almost there as applying to my example now
gives:
df$id = 1:nrow(df)
x11(); ggplot(data=df, aes(x=day,y=dur,fill=type, group=id)) + geom_col() +
scale_fill_manual(name="type", values=col) + theme(panel.background =
element_blank()) + scale_y_continuous(expand = c(0, 0), limits=c(0, 24),
breaks=seq(1, 24, 1)) + coord_flip()

[image: Inline images 1]

However

[2017-01-03 15:12] hadley commented on #1961
Can you please format your question using markdown, and work to make it easily reproducible for me? (i.e. transform the plot so it's strikingly obvious what the problem is)

[2017-01-03 15:41] hadley opened #1980 "Non-x/y coordinate systems"
For sf, we want`aes(geometry = geometry)`, but currently there's no way for the coordinate system to get this information and generate the x and y positions from it.  To fix this, I think, the generation of x and y scales needs to be made primarily the responsibility of the coordinate system: we need to call `coord$train()` once for each layer with the full data, and allow it to generate the `x` a

[2017-01-03 16:47] simonspr commented on #1961
Hi Hadley

Thanks your original answer has showed me what to do, with a little
digging. In my case, I needed to reverse the id to get the representation I
was looking for, So I changed your line:

df$id = 1:nrow(df)

to

df$id = nrow(df):1

and now it works perfectly.

Thanks so much

Regards

Paul

On 3 January 2017 at 15:12, Hadley Wickham <notifications@github.com> wrote:

[2017-01-03 21:39] thomasp85 opened #1981 "Change way themes are added"
I've created a `textboxGrob` that allows for automatic wrapping of text etc. I'm trying to create an `element_textbox` as a subclass of `element_text` to allow people to use it for titles etc, but there are some problems in how themes are added that makes it impossible to subclass elements.

Specifically the class of the added elements are dropped if the element is already present, since `add_them

[2017-01-03 23:17] sathishsrinivasank commented on #1971
@hadley I got a solution on [Stack Overflow](http://stackoverflow.com/a/41452741/1691723) for this issue.

[2017-01-04 01:06] baptiste commented on #1981
sounds similar to https://github.com/tidyverse/ggplot2/issues/1240

[2017-01-04 02:15] mitchelloharawild commented on #1974
Note that I used `autolayer()` for consistency with `autoplot()`.
Happy for it to be `auto_layer()`, but if this is used, I'd suggest a similar change for `auto_plot()`.

[2017-01-04 14:43] hadley commented on #1974
You're right that it should be `autolayer()` for consistency. Want to do a PR?

[2017-01-04 23:02] elina800 opened #1982 "> library(tmap) Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) : there is no package called ‘digest’ Error: package or namespace load failed for ‘tmap’"
hey there.. R studio even if it can install tmap package cannot specifies and loads library.. I upadated all the packages in case of but without any desired result

Any suggestions?

Thnx

[2017-01-05 09:23] mdsumner opened #1985 "aspect() for sf is assuming longitude/latitude"
It's not appropriate to use the cosine-latitude-hack for projections that aren't in angular units, and currently we have to use `coord_sf()` manually to fix it.

Here's an example where the defaults give catastrophic results (map is flipped). (I haven't explored enough to know if this will behave with sensible defaults given other work that's going in. )

The following code gives a "y-flipped" map

[2017-01-05 13:13] svannoy opened #1986 "geom_violin draw_quantiles option does not match data (or geom_boxplot)??"
I'm trying to resolve a discrepancy between the lines drawn in geom_violin when the draw_quantiles=c(.25, .5, .75) option is used.

From the example below, the quantiles of my data are 1, 3, and 7 respectfully. The violin plot draws them at approximately 2, 4, and 7; the boxplot overlay in the second graph lines up with expectations (1, 3, 7).

Not sure if this is a bug or if I'm doing something w

[2017-01-05 14:38] ckuenne opened #1987 "Feature request: Integrated Dendrograms"
Hi,

first of all thanks for the beautiful ggplot2 package! You really brought plotting to a different level.

Now, I recently wanted to switch from heatmap.2 to ggplot2 for drawing heatmaps, but found that the latter does not natively support dendrograms. I am aware of a few hacks/packages including roughly arranging multiple plot layers or viewports to produce something like this, but that is no

[2017-01-05 15:16] wch commented on #1986
The difference probably occurs because the quantiles for the violin plot are computed on the density estimate, whereas the quantiles for boxplots are computed on the actual data.

[2017-01-05 15:36] svannoy commented on #1986
That makes sense.

Thanks
S

Peace is every moment

[2017-01-05 16:01] #1986 closed

[2017-01-05 16:29] ractingmatrix opened #1988 "facet_grid problem: line plots not fully shown in faceted plots"
i hope the two attached pictures are self-explanatory. I used the following code:

mt<-ggplot(data=SO2, aes(x=t, y=homeodds, group=HomeTeamName,col=HomeTeamName)) + geom_line()  +
ggtitle(SO2$LeagueName[1]) +
labs(x="Time", y="Odds")
mt+facet_grid(HomeTeamName~.,scale="free")

the first plot I got from mt is fine, with different lines on the same graph.  i want different lines on different graph.

[2017-01-06 05:49] sjackman commented on #1967
Ah, I was confused. Thanks. `weight` is not listed in the aesthetics for neither `geom_bin2d` nor `geom_hex`. Should it be?
http://docs.ggplot2.org/current/geom_bin2d.html
http://docs.ggplot2.org/current/geom_hex.html

[2017-01-06 13:38] hadley commented on #1967
Yes! Want to do a PR?

[2017-01-06 16:48] sjackman commented on #1967
Sure. Can do.

[2017-01-07 10:00] RMHogervorst opened #1989 "geom_map() needs extra argument when called in knitr but works fine interactively"
I'm building a map of the netherlands based on shapefiles.
I have fortified (or broom::tidy )  the spatialpolygonsdataframe to a tidy frame
that contains the polygon information.
When I plot this interactively it works.

[code]

However when I use knitr to knit to github markdown, I recieve the following error
[code]

It seems the map argument (which should be the data in the ggplot() argument sho

[2017-01-07 10:06] RMHogervorst commented on #1989
I;m really stupid. I needed to use coord_map()...

[2017-01-07 10:06] #1989 closed

[2017-01-09 11:38] flying-sheep commented on #1966
for time, lengths, … you usually have an origin and specify spans and points on the scale as distance from the origin. not so for dates. here you usually say 2017 to address the time span `[2017-01-01Z00:00; 2018-01-01Z00:00)`, and new year point is relatively meaningless for addressing dates. (happy new year by the way 🎉)

to generalise (although i don’t know where else this would be applicable)

[2017-01-10 20:55] izahn commented on #1939
@simonrolph it's a warning, not an error. And it does work despite the warning, correct?

The warning is annoying though.

[2017-01-11 13:31] patnol opened #1992 "sec.axis with scale_*_log10"
Hi,

I have been trying to plot continuous data with a log-scaled x-axis and a secondary x-axis in order to display ticks values in another unit.
It seems to me that the ticks positions of this secondary axis are not correctly computed.

Here is a reproducible example:
[code]
![sec_axis1](https://cloud.githubusercontent.com/assets/12899238/21850166/88cdd2da-d809-11e6-90aa-2df421be7c38.png)
Conside

[2017-01-12 01:57] sfirke opened #1993 "infinite loop in documentation for cut_interval"
`?cut_interval` documentation says "See also: cut_number" with a hyperlink - which takes you back to the top of the same page, `?cut_interval`.

[2017-01-12 09:15] wpetry opened #1994 "Expand guide_colourbar() tick options"
Enable 'tick' argument to take additional arguments to control colour and size as in element_line().  For example, the default tick color is incompatible with colour bars containing light greys:
[code]

[2017-01-13 10:03] jcrada opened #1995 "Rounded line ends not working under Mac OSX"
Hi,

first of all, thanks for the amazing library.

The problem I have is that the 'rounded' line ends are not working correctly in MacOSX Sierra under R 3.3.2 and 3.3.1. I have confirmed it works fine under Ubuntu Linux 16.

Given a `ggplot` with `aes` property `lineend='round'`
Then I expect the plot to have rounded line ends
But I get `butt` (or `square`) line ends

For example,
[code]

Produce

[2017-01-14 20:09] hadley commented on #1904
And

[code]

[2017-01-16 13:36] mgruebsch opened #2001 "geom_bar() needs example of position_stack(reverse = TRUE)"
The stacking behaviour of geom_bar has been reversed such that the order of items is the same as in the legend. This seems not to be suitable when bars are horizontal orientated (apply coord_flip()).

    library(ggplot2)

    x <- data.frame(
      a=c("A", "B", "A", "B"),
      b=c("x", "x", "y", "y"),
      m=c(4, 8, 7, 3)
    )

    ggplot(x, aes(x=a, y = m)) + geom_col(aes(x = a, y = m, fill

[2017-01-16 17:16] zhenglei-gao opened #2002 "geom_boxplot cannot take in `width=1.2` argument when used together with aes(group=1)"
I would like to overlay a whole box on top a boxplot. However, the produced bigger box is not covering the whole x-range. When I tried to adjust the box width, it seems that the argument was not considered. Is this an expected behavior?

see below for an example.

[code]

[2017-01-18 07:33] alberthkcheng opened #2004 "Customizing legend key for geom_text and geom_label"
Currently, the legend key is fixed to "a" because of the following code in legend-draw.r:

[code]

What i need to do is, when my label is showing numbers only, i would like to have a number, e.g. "1" on the legend key instead of "a".

I tried to use the following but it does not look beautiful (in terms of code clarity):
[code]

Is there any suggestion?

[2017-01-18 11:46] ibiris opened #2005 "coord_polar(): moving y axis to the right does not move the tickmarks and tick values"
Using the `scale_y_continuous(position="right")` I expected that the y axis (label + tickmarks and values) will move to the right. While this works with "normal" charts it does not seem to do the right thing with coord_polar().

Some example code. Point D is where I experience this issue

[code]

[2017-01-18 12:50] dipenpatel235 opened #2006 "Eror : x must be length 1 or X"
Hello...
i am using shiny R and get error when try to used pie chart
Eror : x must be length 1 or X

Below is mine code

`   this_base <- "fig02-05_three-dimensional-pie-data-two-dimensional-pie-chart"

    my_data <- data.frame(
      variable = c("A", "B", "C", "D"),
      value = c(0.2, 0.2, 0.2, 0.4))

    p <- ggplot(my_data, aes(x = factor(1), y = value, fill = variable)) +
      geom_bar(wi

[2017-01-18 17:58] MrAE commented on #1815
This helped me:  Here's how you'd put the title back in the center.

[code]

[2017-01-18 22:40] achalaacharya opened #2007 "Error in match.fun(FUN) : object 'scale_clone' not found"
I run this code and have been getting the 'object  scale_clone not found ' error. I have tried reinstalling ggplot2 and its dependencies and that did not work.

ggplot(df.plot, aes(x = decile)) + scale_x_discrete() +
    scale_y_continuous("Lift") + geom_line(aes(y = train),
    colour = "red4", linetype = 3, size = 1) + geom_point(aes(y = train),
    colour = "red4", shape = 18, size = 4) + geom_

[2017-01-19 13:06] zhenglei-gao commented on #2002
My question was answered on Stackoverflow by Axeman.

The solution is to use a numeric x instead without grouping.
[code]

[2017-01-19 13:06] #2002 closed

[2017-01-20 13:06] hansvancalster opened #2008 "problem with test for monotonous transformation (secondary axis)?"
[code]

[2017-01-21 08:51] DasHammett opened #2009 "Legend columns and rows"
Hi,

Customizing legend number of rows and columns as outlined [here](http://docs.ggplot2.org/current/guide_legend.html) is not working as expected.

Reproducible example:
[code]
The code above works as expected

[code]
The code above does not produce a 1 row legend as expected

Does it have to do with the `geom` used? Or the difference between `fill`and `colour` arguments to `aes()`?

R: 3.3.2
gg

[2017-01-21 11:24] aphalo opened #2010 "update_labels fails for "color" but works for "colour""
[code]
![image](https://cloud.githubusercontent.com/assets/2743159/22174026/5827ee2e-dfdc-11e6-91de-8a33b292120e.png)

The output is correct when using "colour" instead of "color" both in `aes()` and `update_labels()`.
This is with ggplot2 2.2.1.9000 (installed minutes ago).

[2017-01-21 22:45] aphalo opened #2011 "annotate with geoms "hline" and "vline" does not add a line"
I demonstrate the problem here only for `geom_hline`, but the same problem affects `geom_vline`.

[code]
![rplot](https://cloud.githubusercontent.com/assets/2743159/22178330/08da8416-e03c-11e6-916a-84462bd66447.png)

Adding an `y` argument produces the expected output, with a warning:
Warning: Ignoring unknown aesthetics: y

[code]
![rplot01](https://cloud.githubusercontent.com/assets/2743159/2217

[2017-01-23 16:57] hadley commented on #2011
Yes, unfortunately vline and hline are weird geoms that "self" annotate - just do `geom_hline(yintercept = 2.5)`

[2017-01-23 16:57] #2011 closed

[2017-01-24 08:38] vistep commented on #2007
I encountered the same error when I wanted to make a plot of a map which was downloaded with ggmap

[2017-01-24 23:41] #1933 closed

[2017-01-24 23:47] hadley commented on #2009
You need to set the guide for the `colour` or `fill` legends as appropriate

[2017-01-24 23:47] #2009 closed

[2017-01-24 23:49] hadley commented on #2007
Unfortunately I can't reproduce the problem.

[2017-01-24 23:49] #2007 closed

[2017-01-24 23:49] hadley commented on #2006
Can you please make your example more minimal? You have a lot going on there.

[2017-01-24 23:50] hadley commented on #2005
Can you please make a minimal reprex? You should be able to use a much simpler dataset and not require a bunch of other packages.

In general, please don't include `sessionInfo()` unless explicitly asked - it's not usually useful and takes a up a lot of space.

[2017-01-24 23:51] hadley commented on #2001
Use `position = position_stack(reverse = TRUE)`.  I need to add this to the examples.

[2017-01-24 23:52] hadley commented on #1995
If this doesn't work only on the mac, it's likely to be due to the graphics device, which is unfortunately outside of my control.

[2017-01-24 23:52] #1995 closed

[2017-01-24 23:53] hadley commented on #1994
Yes, this really should be a theme setting.

[2017-01-24 23:54] #1993 closed

[2017-01-24 23:54] hadley commented on #1988
Please provide a reproducible example. There are three things you need to include to make your example reproducible: required packages, data, and code.

1.  **Packages** should be loaded at the top of the script, so it's easy to
    see which ones the example needs. This is a good time to check that you're
    using the latest version of each package: it's possible you've discovered
    a bug that

[2017-01-24 23:55] hadley commented on #1987
Unfortunately this is out of scope for ggplot2.

[2017-01-24 23:55] #1987 closed

[2017-01-24 23:55] hadley commented on #1985
For in progress PRs, it'd be more useful to comment on the PR itself. This problem is now fixed.

[2017-01-24 23:55] #1985 closed

[2017-01-24 23:55] hadley commented on #1982
I'm not sure why you're asking here. This is the ggplot2 repo.

[2017-01-24 23:55] #1982 closed

[2017-01-24 23:56] hadley commented on #1981
Yes, I would be willing to consider a PR.

[2017-01-24 23:56] hadley commented on #1980
Extending to more than two scales is going to be too much work.

[2017-01-24 23:56] #1980 closed

[2017-01-24 23:57] hadley commented on #1980
The rest of the issue is dealt with in #2012

[2017-01-24 23:57] hadley commented on #1908
It's probably from some downstream package that ggplot2 uses.

[2017-01-24 23:57] #1908 closed

[2017-01-24 23:59] hadley commented on #1930
Unfortunately it's unlikely that I will ever have to work on this
This seems like a good idea, but unfortunately it's not high enough on my priority list that I will implement it myself. However, I'd be happy to review a PR.

[2017-01-24 23:59] #1930 closed

[2017-01-25 00:01] hadley commented on #1901
This seems like a good idea, but unfortunately it's not high enough on my priority list that I will implement it myself. However, I'd be happy to review a PR.

[2017-01-25 00:01] #1901 closed

[2017-01-25 03:20] JohnMount opened #2013 "coord_flip() seems to lose coord_cartesian() specifications when geom_bar() is present."
The simple graphs that show the behavior may seem silly so I am outlining a use case here.

Use case:

I was building a presentation with a facet-wrap where the units of each facet were different (say classifier measures such as accuracy, AUC, deviance, and so on ).  So I thought the best was to express that was to make sure there was a sale on each facetted element.  The only way I know how to do

[2017-01-25 13:54] #1974 closed

[2017-01-25 15:27] hadley commented on #2010
Thanks for providing some code that illustrates the problem — it's a great start 😄 However, your code is currently a bit too complicated: there's quite a bit of extraneous stuff in there that doesn't seem directly related to the problem. Can you please try and simplify your example some more? The more minimal you can make the reprex, the faster I can identify the problem and fix it.

[2017-01-25 15:28] hadley commented on #2008
I've cleaned up the issue title/comment thread to focus on key components of problem. Thanks for the correspondence so far :smile:

[2017-01-25 15:28] hadley commented on #2006
Thanks for providing some code that illustrates the problem — it's a great start 😄 However, your code is currently a bit too complicated: there's quite a bit of extraneous stuff in there that doesn't seem directly related to the problem. Can you please try and simplify your example some more? The more minimal you can make the reprex, the faster I can identify the problem and fix it.

[2017-01-25 15:30] hadley commented on #2005
Thanks for providing some code that illustrates the problem — it's a great start 😄 However, your code is currently a bit too complicated: there's quite a bit of extraneous stuff in there that doesn't seem directly related to the problem. Can you please try and simplify your example some more? The more minimal you can make the reprex, the faster I can identify the problem and fix it.

(Please don't

[2017-01-25 15:31] hadley commented on #2004
This seems like a good idea, but unfortunately it's not high enough on my priority list that I will implement it myself. However, I'd be happy to review a PR. The key challenge will be finding the right way to get the information to the legend - I suspect that the `guide_legend()` function would be the right place to set it.

[2017-01-25 15:31] #2004 closed

[2017-01-25 15:32] hadley commented on #1992
@thomasp85 can you take a look?

[2017-01-25 15:32] hadley commented on #1988
Please provide a minimal reprex, or reproducible example. The goal of a reprex is to make it as easy as possible for me to recreate your problem so that I can fix it: please help me, help you! If you've never heard of a reprex before, start by reading "[What is a reprex](https://github.com/jennybc/reprex#what-is-a-reprex)".

[2017-01-25 15:35] hadley commented on #1964
Should push off on sf, if possible.

[2017-01-25 15:35] #1961 closed

[2017-01-25 15:36] hadley commented on #1959
I think the right solution is to add a note to the vignette. This behaviour is important and long-standing and it's too late to change now.  Do you want to do a PR?

[2017-01-25 15:42] hadley commented on #1957
From the traceback, looks like this might be an issue in the labeling package.

[2017-01-25 15:42] hadley commented on #1950
This seems like a good idea, but unfortunately it's not high enough on my priority list that I will implement it myself. However, I'd be happy to review a PR.

[2017-01-25 15:42] #1950 closed

[2017-01-25 15:45] hadley commented on #1949
I think that's right - the minor breaks are evenly spaced between the major breaks.

[2017-01-25 15:45] #1949 closed

[2017-01-25 15:46] hadley commented on #1943
Done in #1984

[2017-01-25 15:46] #1943 closed

[2017-01-25 15:46] hadley commented on #1939
I've cleaned up the issue title/comment thread to focus on key components of problem. Thanks for the correspondence so far :smile:

[2017-01-25 15:46] hadley commented on #1937
Thanks for providing some code that illustrates the problem — it's a great start 😄 However, your code is currently a bit too complicated: there's quite a bit of extraneous stuff in there that doesn't seem directly related to the problem. Can you please try and simplify your example some more? The more minimal you can make the reprex, the faster I can identify the problem and fix it.

[2017-01-25 15:46] hadley commented on #1936
This seems like a good idea, but unfortunately it's not high enough on my priority list that I will implement it myself. However, I'd be happy to review a PR.

[2017-01-25 15:46] #1936 closed

[2017-01-25 15:47] hadley commented on #1935
Really needs a reprex @hadley 😳

[2017-01-25 15:48] yonicd commented on #1949
Shouldn't the log ticks also have minor grids connected to them?

[2017-01-25 17:08] nteetor commented on #1959
Certainly, I will put together a PR.

In the vignette, would you prefer an annotation or aside or an inline word of caution about the problematic names?

[2017-01-25 17:33] hadley commented on #1932
This was a tricky one - it turns out the problem was with the legend.

[2017-01-25 17:34] hadley commented on #1931
Will be fixed by #1951

[2017-01-25 17:34] #1931 closed

[2017-01-25 17:37] #1932 closed

[2017-01-25 17:38] hadley commented on #1949
No, they're completely independent.

[2017-01-25 17:40] hadley commented on #1959
Just a brief aside should be adequate

[2017-01-25 17:46] hadley commented on #1798
This seems like a good idea, but unfortunately it's not high enough on my priority list that I will implement it myself. However, I'd be happy to review a PR.

[2017-01-25 17:46] #1798 closed

[2017-01-25 17:49] hadley commented on #1902
This seems like a good approach: https://github.com/dgrtwo/drlib/blob/master/R/reorder_within.R

[2017-01-25 17:49] #1902 closed

[2017-01-25 17:50] hadley commented on #1888
I think options of this nature are a bad idea because they operate globally.

[2017-01-25 17:50] #1888 closed

[2017-01-25 17:51] hadley commented on #1880
(Please don't include session info unless it's explicitly asked for, or you've used `reprex::reprex(..., si = TRUE)` to hide it away. I've deleted it from your issue to avoid cluttering up the discussion)

[2017-01-25 17:52] hadley commented on #1880
I think that's due to the way that theme inheritance works.

Fixing it seems like a good idea, but unfortunately it's not high enough on my priority list that I will implement it myself. However, I'd be happy to review a PR.

[2017-01-25 17:52] #1880 closed

[2017-01-25 17:52] hadley commented on #1833
Not sure why I wanted this now

[2017-01-25 17:52] #1833 closed

[2017-01-25 17:55] hadley commented on #1761
I've closed this issue due to lack of requested reprex. If you still care about this bug, please open a new issue with a reprex.

[2017-01-25 17:55] #1761 closed

[2017-01-25 17:56] hadley commented on #1526
@huftis yup I'm aware of viridis, and I'm considering making it the default.

[2017-01-25 17:57] hadley commented on #1239
@baptiste any interest in finishing this off? Otherwise I'll close this issue as it's unlikely that I'll ever have time to do it.

[2017-01-25 19:13] baptiste commented on #1239
here's the latest version for reference, but it's unlikely I find motivation to come back to it

https://github.com/baptiste/gridextra/wiki/arranging-ggplot

let me know if you want the Rmd source

[2017-01-25 19:21] hadley commented on #1239
ccing @wilkelab and @thomasp85 in case they have any interest in leading on this.

[2017-01-25 19:25] thomasp85 commented on #1239
I think gtable should probably have some vignette of some sort (maybe with a short section on its tie to grid layouts)

I'm over my head in projects right now though so it's not something that will come from me anytime soon...

[2017-01-25 19:35] baptiste commented on #1239
here's what I started writing re gtable a few years ago:
https://github.com/baptiste/gridextra/wiki/gtable

[2017-01-25 22:59] logworthy commented on #1932
Thanks!

[2017-01-25 23:41] Abuamany commented on #1898
we have same problem,

Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :
  namespace ‘scales’ 0.4.0 is being loaded, but >= 0.4.1 is required
ERROR: lazy loading failed for package ‘ggplot2’
* removing ‘/Library/Frameworks/R.framework/Versions/3.2/Resources/library/ggplot2’
Warning in install.packages :
  installation of package ‘ggplot2’ had non-zero exit status

The do

[2017-01-25 23:45] hadley commented on #1898
@Abuamany `install.packages("scales")`

[2017-01-26 06:28] ibiris commented on #2005
Ok thanks I will give it a try (never done a reprex before)

[2017-01-26 09:29] ipofanes commented on #1910
Didn't for me either.

[code]

[2017-01-26 13:08] rubenarslan commented on #876
This just to confirm that my original motivating example no longer causes hangs, must be some special case.

[2017-01-26 13:28] hadley commented on #1823
Can do so using viridisLite.  Need to think about how to preserve backward compatible behaviour.

[2017-01-26 17:00] #1311 closed

[2017-01-26 21:23] AghaMehrdad commented on #1910
Actually that worked for me!
Just close R and re-open it Then it would work fine. It worked for me.
If there is any other missing package that is reported , install them ad well. I hope it resolve the issue for you as well.

[2017-01-26 23:01] hadley commented on #1964
Can use https://github.com/hrbrmstr/albersusa

[2017-01-26 23:01] #1964 closed

[2017-01-26 23:25] #1900 closed

[2017-01-26 23:35] #2001 closed

[2017-01-27 09:56] mgruebsch commented on #2001
Works perfectly. Thanks!

[2017-01-27 13:05] #1935 closed

[2017-01-27 13:14] #1975 closed

[2017-01-27 13:48] hadley commented on #1909
@wch maybe I misunderstood your question - there's no need to evaluate the aesthetics because `identical(quote(NULL), NULL)` is TRUE.

[2017-01-27 13:49] #1909 closed

[2017-01-27 13:54] hadley commented on #1957
Yeah, here's a minimal reprex:

[code]

I've reported the issue to the maintainer.

Here's two work arounds in ggplot2:

[code]

[2017-01-27 13:54] #1957 closed

[2017-01-27 14:10] hadley commented on #2008
This is the same root cause as #980 — the problem is that the transformation has to be monotonous over the range of the scales, not the range of the data.   You can work around it by eliminating the scale expansion:

[code]

![](http://i.imgur.com/JQ7Is3V.png)

[2017-01-27 14:10] #2008 closed

[2017-01-27 14:37] hadley commented on #1904
This is trickier than I thought. I think the key is that `width` and `height` are alternative parameterisations for these geoms — they're not necessary, but the `setup_data()` method will use them if available. It seems like adding a new `alternative_aes` should fix this, but when I plumb it up, setting the width as an aesthetic no longer works.

When I come back to this, I have work in local "alt

[2017-01-27 15:36] has2k1 commented on #1904
Isn't that what the "slightly hacky" `extra_params` is for? It is not properly checked against for the case of aesthetic mappings.

[code]

[2017-01-27 16:44] hadley commented on #1904
@has2k1 that's subtly different, I think, and I suspect wiring it up with parameters will have the same problems.

[2017-01-28 01:16] Abuamany commented on #1898
We have been install "scales" packages and the same result.

[2017-01-28 01:30] Abuamany commented on #1898
![screen shot 2017-01-28 at 8 22 25 am](https://cloud.githubusercontent.com/assets/16170999/22393091/ea4883c0-e533-11e6-8903-7ade50ee5a3a.png)

[2017-01-29 20:44] jwhendy opened #2016 "Unify the type required by geoms/layers when POSIXct values used"
I stumbled into a possible bug, or at least what I thought was odd behavior. Here's a reproducible example:

[code]

Is this a bug? It would seem nice if layers expected a unified class for the coordinate specifications, or at least this is what I expected. I don't think it matters too much what it is, per se, as long as `ggplot2` is clear about what it should be. In other words:

- regardless of

[2017-01-30 06:56] UweBlock opened #2018 "ggplot_gtable() throws error "zero-length inputs cannot be mixed with those of non-zero length""
With version 2.2.1 of `ggplot2`, `ggplot_gtable()` throws an error.
Reproducible example:

[code]

[2017-01-30 07:40] SteveMillard opened #2019 "Issues with extending ggplot2 in a package"
# Tips for Adding ggplot2 Functions to an R Package

1. In the vignette [Extending ggplot2](https://cran.r-project.org/web/packages/ggplot2/vignettes/extending-ggplot2.html), under the definition of the function `stat_chull`, you will see the text:

An important bit of information that is not present in the vignette is that if you are writing your own package, you need to call `ggplot2::ggproto` a

[2017-01-30 13:30] #1959 closed

[2017-01-30 13:44] hadley commented on #2018
(Please don't include session info unless it's explicitly asked for, or you've used `reprex::reprex(..., si = TRUE)` to hide it away. I've deleted it from your issue to avoid cluttering up the discussion)

[2017-01-30 13:46] hadley commented on #2018
I'm fairly certain that it always has - you have to call `ggplot_build()` first.

[2017-01-30 13:46] #2018 closed

[2017-01-30 13:49] hadley commented on #2019
You should _never_ use `package.skeleton()` to create a package for just reason.

I think most of your comments are outside the scope of this vignette. I'm assuming you already understand namespaces, but it might be adding a note on when you should export the Stat __objects__ that you create.

[2017-01-30 22:02] ibiris commented on #2005
I hope this is OK as a reprex
https://gist.github.com/ibiris/4f90fd67601a5fe8a885e4011a3a9af7

[2017-01-30 22:28] hadley commented on #2005
You need to run that code and then paste the results in here.  (You also need to work to make it a bit more minimal)

[2017-01-30 22:39] ibiris commented on #2005
[code]

![](http://i.imgur.com/gXVue7Z.png)

[2017-01-30 23:27] hadley commented on #2005
Thanks! I've made it a bit simpler still:

[code]

[2017-02-01 05:22] kenkcchew commented on #1444
when you create the list of dataframe, you must give a name to each dataframe within the list

[2017-02-01 05:46] dipenpatel235 commented on #2006
ok..let me paste complete code. you just need to run this code

`library(shiny)
library(plotly)
library(ggplot2)

ui <- fluidPage(
  plotlyOutput("plot"),
  verbatimTextOutput("event")
)

server <- function(input, output) {

output$plot <- renderPlotly({
    df <- data.frame(
      group = c("Male", "Female", "Child"),
      value = c(25, 25, 50)
    )
    head(df)
    p <- ggplot(df, aes(x=1, y=v

[2017-02-01 13:03] hadley commented on #2006
GitHub issues use [markdown](https://guides.github.com/features/mastering-markdown/) and they're much easier to read if you learn a little bit about it. The most important thing is to put your R code inside a block that starts with ```` ```R ```` and ends with ```` ``` ````.

[2017-02-01 13:12] hadley opened #2022 "Ensure travis tests across multiple R versions"

[2017-02-01 17:24] ben519 opened #2024 "geom_jitter() + facet_wrap() generates duplicate points"
Example below

[code]

<img width="478" alt="screen shot 2017-02-01 at 11 18 21 am" src="https://cloud.githubusercontent.com/assets/723099/22518061/de9ef2d0-e870-11e6-9f54-45bc36ab28ff.png">

What gives?

[2017-02-01 17:30] hadley commented on #2024
You have `geom_point()` and `geom_jitter()`?

[2017-02-01 17:30] #2024 closed

[2017-02-01 17:46] ben519 commented on #2024
Yes. (See my `ggplot()` call near the bottom of my code block.)

Did I do something stupid?

[2017-02-01 17:52] has2k1 commented on #2024
No need to use `geom_point` if you are using `geom_jitter`.

[2017-02-01 17:55] ben519 commented on #2024
Major *derp*!  Thank you guys.

[2017-02-01 19:18] EmanuelContreras commented on #1887
Hi, I pull a request: A fix
https://github.com/tidyverse/ggplot2/pull/2025

[2017-02-01 22:44] hadley commented on #1823
Moved in to #1526

[2017-02-01 22:44] #1823 closed

[2017-02-02 10:58] hansvancalster commented on #2008
Thanks! That explains what happened and the work-around is OK.

[2017-02-02 14:04] botaspablo opened #2026 "outliers supression in box_plot"
Hi!
I has been discussed in [a SO question](http://stackoverflow.com/questions/25124895/no-outliers-in-ggplot-boxplot-with-facet-wrap) that it is currently not possible to *supress* outliers in box plots . *Hiding* them is possible assigning no size, but they are just plotted with such empty symbol and so they still affect the plotting range. This is particularly painful to solve if using facets w

[2017-02-02 15:53] hadley commented on #2026
I think that's out of scope for ggplot2. If you want to create something like the boxplot that doesn't show outliers, it could go in a separate package.

[2017-02-02 15:53] #2026 closed

[2017-02-02 16:36] izahn opened #2028 "geom_smooth behaves like geom_path"
I noticed that `geom_smooth` behaves like `geom_path` rather than `geom_line`. For example,

[code]

produces
![smooth_example](https://cloud.githubusercontent.com/assets/321235/22558177/cab9539e-e93a-11e6-8738-3364e1467fd4.png)

Whereas ordering by the x-axis variable produces the desired result:

[code]
![smooth_example2](https://cloud.githubusercontent.com/assets/321235/22558263/12bcc69e-e93b-1

[2017-02-02 16:45] hadley commented on #2028
It probably just calls the draw method, not the `setup_data()` method.

[2017-02-02 18:24] izahn commented on #2028
Thanks, I've submitted https://github.com/tidyverse/ggplot2/pull/2029 to address this.

[2017-02-02 19:35] botaspablo commented on #2026
Ok, I see.
In my opinion a plotting package should provide flexibility above all. I understand ggplot2 is a bit more as it does statistics, however, there is the long lasting discussion of what is/is-not meaninful and that ultimately depends on the user. To my understanding boxplots generally provide the so-called *five number summary*. This summary is supposed to describe the shape of a distribut

[2017-02-02 19:49] hadley commented on #2026
I'm sorry, but I won't accept a PR for ggplot2. It's better to put it in an external package. There is a rich ecosystem of packages that extend ggplot2; there's no reason for everything to go in one package.

[2017-02-02 19:59] botaspablo commented on #2026
I just saw your comment, of course, feel free to delete the PR. Sorry for the inconvenience

[2017-02-03 00:47] EmanuelContreras commented on #1892
****Adding more info to this bug...****
 hjust not working in y facets

[2017-02-04 21:40] SteveMillard commented on #2019
Hi Hadley,  Thanks for your reply!

- It would be great if you could update the vignette with the information in comment 1.

- Regarding comment 2 and what to use to create a package, I think a lot of people still use `package.skeleton` (I used it because I created my package quite a while ago and had not had any issues with using it until I ran into this problem).  There are numerous posts and bo

[2017-02-06 16:26] hedjour opened #2032 "Warning when plot via plot_grid whith French Accent"
Hello
When I run this code :
ggplot(data.frame(a=1:5, b = 1:5), aes(a,b)) + geom_point() + labs(title = "é")

No problem
But this one make a Warning :
    toto<- ggplot(data.frame(a=1:5, b = 1:5), aes(a,b)) + geom_point() + labs(title = "é")
    plot_grid(toto)

Why ?
I use this in a knitr file and can not ignore them
Thank you for any help

[2017-02-06 23:00] DSLituiev opened #2033 "[enhancement] equal position_dodge for incomplete factor combinatios"
It has been often asked on stackoverflow and elsewhere how to plot bars /columns/ boxplots of even width when grouped by `x` and `fill` with some factor combinations missing, e.g. in following figure one wishes to have all bars of the same width:

![uneven width](https://cloud.githubusercontent.com/assets/8426290/22670165/d8baafd4-ec7c-11e6-9683-0fd3730195e5.png)
)

http://stackoverflow.com/questi

[2017-02-06 23:29] hadley commented on #2033
I implemented this 10 days ago 😄

#1935

[2017-02-06 23:29] #2033 closed

[2017-02-10 13:58] bhaskarvk opened #2036 "docs point to 2.1.0"
The ggplot2 docs still point to 2.1.0
http://docs.ggplot2.org/current/index.html, 2.2.x is accessible at
http://docs.ggplot2.org/dev/index.html

[2017-02-10 15:20] hadley commented on #2036
The long term plan is to move to http://ggplot2.tidyverse.org

[2017-02-10 15:48] bhaskarvk commented on #2036
Thanks!

[2017-02-10 15:48] #2036 closed

[2017-02-11 17:51] GreenStat opened #2037 "plotting points with geom_sf (simple features format)"
copied from https://github.com/edzer/sfr/issues/88

HI, I tried point and line geometry  with (the experimental) 'geom_sf' for plotting maps (in simple features format ):

[code]
this gives:
![tmp1](https://cloud.githubusercontent.com/assets/25354039/22854420/908cb48c-f06e-11e6-8d06-806e6e8340d6.png)

I am a bit confused by the behaviour of aes in geom_sf, with ```aes(size=cadmium)``` I expected v

[2017-02-11 17:53] GreenStat opened #2038 "plotting lines with geom_sf (simple features format)"
copied from https://github.com/edzer/sfr/issues/88

# lines
I took data from the trajectories package

[code]
check if file is oke
[code]
this gives :
![tmp4](https://cloud.githubusercontent.com/assets/25354039/22854564/a3b870de-f071-11e6-9990-7b928a897bae.png)

[code]
resulting in: (only first 2 plots)
![tmp5](https://cloud.githubusercontent.com/assets/25354039/22854601/8a6b4218-f072-11e6-9a4c-30

[2017-02-12 01:21] Pomido opened #2039 "cut_number breaks issue"
Hello.
I'm trying to make my own function which is similar to cut_number but I cant understand what actually 'breaks' is and how it works.
Could you please explain or provide some reference? Thx.
[code]

[2017-02-12 01:25] hadley commented on #2039
Please ask questions on the ggplot2 mailing list.

[2017-02-12 01:25] #2039 closed

[2017-02-13 01:56] luwei0917 opened #2040 "in geom_ref_line, only "colour" can be used, not "color"."
Error in geom_ref_line(h = 0, color = "red") :
  unused argument (color = "red")
Thanks.

[2017-02-13 13:14] hadley commented on #2040
`geom_ref_line()` doesn't appear to be a function in ggplot2.

[2017-02-13 13:14] #2040 closed

[2017-02-13 13:22] hadley commented on #2032
`plot_grid()` isn't a ggplot2 function. I'd suggest filing an issue with whatever package provides that function.

[2017-02-13 13:22] #2032 closed

[2017-02-13 13:25] hadley commented on #1937
I've closed this issue due to lack of requested reprex. If you still care about this bug, please open a new issue with a reprex.

[2017-02-13 13:25] #1937 closed

[2017-02-13 13:28] hadley commented on #2037
Could you help me about by making a very simple point dataset that I could include in a unit test?

[2017-02-13 13:28] hadley commented on #2038
Could you help me about by making a very simple line dataset that I could include in a unit test?

[2017-02-13 13:28] #1939 closed

[2017-02-13 13:28] hadley commented on #1988
I've closed this issue due to lack of requested reprex. If you still care about this bug, please open a new issue with a reprex.

[2017-02-13 13:28] #1988 closed

[2017-02-13 13:29] hadley commented on #2005
@thomasp85 can you take a quick look at this one please?

[2017-02-13 13:33] hadley commented on #2006
This reprex worked fine for me:

[code]

[2017-02-13 13:33] #2006 closed

[2017-02-13 13:33] hadley commented on #2010
I've closed this issue due to lack of requested reprex. If you still care about this bug, please open a new issue with a reprex.

[2017-02-13 13:33] #2010 closed

[2017-02-13 13:36] #2022 closed

[2017-02-13 13:38] hadley commented on #2013
Yes unfortunately the overriding coord knows nothing about the coord it replaces. You can, however, supply `xlim` and `ylim` to `coord_flip()`

[2017-02-13 13:38] #2013 closed

[2017-02-13 13:53] hadley commented on #2016
The behaviour you are seeing is consistent, although it's not particularly obvious. There are two rules:

* Mapped aesthetics should be supplied in the data space
* Set aesthetics should be supplied in the aesthetic space

`annotate()` automatically creates a data frame for you so you can specify values in the data space.

I think this is a "feature" (because it's consistent with how colour and ot

[2017-02-13 13:53] #2016 closed

[2017-02-13 13:56] thomasp85 commented on #2005
Yes

[2017-02-13 15:13] hadley opened #2042 "Revert use of aesthetic macro"
Because it doesn't work with oldrel.  Re-enable it in travis, once complete.

[2017-02-13 15:44] dipenpatel235 commented on #2006
Yes...but you have used renderplot
We are looking for renderplotly ..

Because we want hover event on that graph value..

And using render plot we get only x, y coordinate using hover ...

On Feb 13, 2017 7:03 PM, "Hadley Wickham" <notifications@github.com> wrote:

[2017-02-13 15:46] hadley commented on #2006
Then it sounds like a bug with ggplotly.

[2017-02-13 15:53] dipenpatel235 commented on #2006
Yes...then it is bug of ggplotly..

Anyway do u know any solutions using ggplot with pie chart with hover event
?

Thanks...

On Feb 13, 2017 9:17 PM, "Hadley Wickham" <notifications@github.com> wrote:

[2017-02-13 15:59] hadley commented on #2006
Unfortunately I don't know anything about ggplotly. I'd recommend asking one of the developers - @cpsievert might be able to help you out.

[2017-02-13 17:31] dipenpatel235 commented on #2006
Okay.. thanks.

On Feb 13, 2017 9:29 PM, "Hadley Wickham" <notifications@github.com> wrote:

[2017-02-13 20:58] GreenStat commented on #2037
sure,
maybe you can give me a pointer to the type of dataset you need. I could tweek  the meuse data by adding factor, posix(?), char column, is that the kind of file you need ?

[2017-02-13 21:02] hadley commented on #2037
It's more the opposite - I need a few lines of code to that create a dataset with ~4 points without any external dependencies

[2017-02-13 21:46] GreenStat commented on #2037
does this works ? (I am not very familiar with dput)
[code]

[2017-02-13 21:58] GreenStat commented on #2037
A simple script version:
[code]

[2017-02-13 22:02] hadley commented on #2037
Yeah, the script version is much better, thanks.

[2017-02-13 23:04] GreenStat commented on #2038
like point example, now with lines ...
[code]

[2017-02-13 23:24] ywebbvar commented on #1231
Hi! Thanks for making the 'switch' available! Is it possible to tinker with the code to have the label be outside of the y-axis?

[2017-02-14 00:18] hrabel opened #2043 "Control expression atop lineheight with ggplot theme element text lineheight"
Is it possible to override the minimum lineheight of plotmath expressions that use atop for line breaks?
[code]

I've tried searching everywhere and the only solution I could find was reverting to base graphics and mtext or maybe using arrangeGrob. Is there an easier solution that could be built in to ggplot?